/****** LEARN *******/

#learn-body-page {
	height: auto;
	width: 100%;

	.home-video-bg {
		height: 250px;
/*		background-image: url('images/backgrounds/background-learn.jpg');
*/
		video {
			position: relative;
			top: -100px;
			background-image: url('images/backgrounds/background-learn.jpg');
		}
	}

	.learn-header-title-video {
		position: absolute;
		left: 0;
		right: 0;
		width: 500px;
		text-align: center;
		margin: 0 auto;
		top: 80px;

		z-index: 100000000;
		h1 {
			font-family: 'FreigSem';
			color: white;
			font-size: 42px;
		}

		h3 {
			font-family: 'FreigMed';
			color: white;
			font-size: 21px;
			line-height: 28px;
		}
	}

	.learn-header {
		background: linear-gradient(
				      rgba(0, 0, 0, 0.5), 
				      rgba(0, 0, 0, 0.5)
				    ),
					url('/images/backgrounds/background-learn-mobile.jpg');
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		height: 250px;

		.learn-header-title {
			text-align: center;
			padding-top: 80px;
			max-width: 500px;
			margin: 0 auto;

			h1 {
				font-family: 'FreigSem';
				color: white;
				font-size: 42px;
			}
		}

		.learn-header-text {
			text-align: center;
			max-width: 500px;
			margin: 0 auto 10px auto;

			h3 {
				font-family: 'FreigMed';
				color: white;
				font-size: 21px;
				line-height: 28px;
			}
		}

		.learn-header-tag {
			text-align: center;
			max-width: 500px;
			margin: 0 auto;

			ul {
				li {
					display: inline-block;
					font-family: 'FreigMed';
					color: white;
					font-size: 16px;
					border: 1px solid white;
					opacity: 0.8;
					border-radius: 4px;
					padding: 1px 5px;
					margin: 4px 3px;
					cursor: pointer;
				}

				li:hover {
					background-color: white;
					border: 1px solid black;
					color: black;
				}
			}
		}
	}

	.learn-corp-article-article {
		margin-bottom: 35px;

		.lcaahead {
			margin-bottom: 25px;

			.lcaaheada {
				display: inline-block;

				.lcaaheadai {
					display: inline-block;
					margin-right: 10px;

					img {
						border-radius: 50%;
						width: 35px;
						height: auto;
					}
				}

				.lcaaheadan {
					display: inline-block;
					vertical-align: middle;
					
					h5 {
						font-family: 'FreigMed';
						font-size: 16px;
						color: black;
					}

					.lcaaheadans {
						span {
							font-family: 'FreigBook';
							font-size: 14px;
							color: black;
						}
					}
				}
			}

			.lcaaheadt {
				display: inline-block;
				float: right;
				text-align: right;

				.lcaaheadtt {
					.di {
						display: inline-block;
					}

					ul {
						margin-right: 10px;

						li {
							display: inline-block;
							font-family: 'FreigBook';
							color: #999999;
							font-size: 14px;
							margin-right: 5px;
						}
					}

					span {
						font-family: 'FreigBook';
						font-size: 14px;
/*						margin-right: 15px;
*/					}

					.fa-heart-red {
						color: rgba(255, 52, 52, 0.9);
						outline: none;
					}

					.fa-heart-white {
						color: #999999;
						outline: none;
					} 
				}

				.lcaaheadtb {
					a {
						font-family: 'FreigBook';
						font-size: 14px;
						color: black;
					}
					span {
						font-family: 'FreigBook';
						font-size: 14px;
/*						margin-right: 15px;
*/					}
				}
			}
		}

		.lcaadoc2 {
			h2 {
				font-family: 'FreigSem';
				margin-bottom: 15px;
				cursor: initial !important;
			}

			h2:hover {
				text-decoration: none !important;
			}
		}

		.lcaadoc {

			h2 {
				font-family: 'FreigSem';
				margin-bottom: 15px;
				cursor: pointer;
			}

			h2:hover {
				text-decoration: underline;
			}

			img {
				max-width: 600px;
				height: auto;
			}


			.lcaadocimg {
				height: 350px;
				overflow-y: hidden;

				img {
					width: 100%;
					height: auto;
				}
			}


			#latext {
				margin-top: 15px;

				p {
					margin-bottom: 0;
				}
			}

			.lcaadoctext {
				height: 195px;
				overflow-y: hidden;
				margin-top: 10px;
				margin-bottom: 15px;

				p {
					word-break: break-all;
					text-overflow: ellipsis;
					margin-bottom: 0;
				}

			}

			h4 {
				font-family: "FreigMed";
				font-size: 21px;
				color: black;
				margin: 15px 0 20px 0;
			}

			p {
				font-family: 'FreigBook';
				font-size: 19px;
				color: black;
				text-indent: 25px;
			}

			a {
				font-family: 'FreigMed';
				color: gray;
				font-size: 16px;
			}

			a:hover {
				color: black;
			}
		}
	}

	.learn-corp-aside {
		width: 30%;
		display: inline-block;
		margin-left: 60px;

		.learn-corp-aside-title {
			margin-bottom: 45px;

			h2 {
				padding-left: 20px;
			}
		}

		.learn-corp-aside-article {
			padding-left: 20px;
			margin-bottom: 20px;

			.lcaaimg {
				display: inline-block;
				margin-right: 10px;
				vertical-align: top;

				img {
					border-radius: 50%;
					width: 35px;
					height: auto;
				}
			}

			.lcaainfo {
				display: inline-block;

				h5 {
					font-family: 'FreigSem';
					color: black;
					font-size: 14px;
					width: 200px;
					max-height: 32px;
					overflow-y: hidden;
				}

				h5:hover {
					text-decoration: underline;
				}

				.lcaainfon {
					span {
						font-family: 'FreigBook';
						font-size: 14px;
						margin-right: 15px;
					}

					.fa-heart-red {
						color: rgba(255, 52, 52, 0.9);
						outline: none;
					}

					.fa-heart-white {
						color: #999999;
						outline: none;
					}
				}

				.lcaainfot {
					width: 200px;
					ul {
						li {
							display: inline-block;
							font-family: 'FreigBook';
							color: #999999;
							font-size: 14px;
							margin-right: 5px;
						}
					}
				}
			}
		}
	}

	#learn-article-page {
		width: 1000px;
		height: auto;
		margin: 35px auto 35px auto;


		h2 {
			font-family: 'FreigBook';
			color: black;
			font-size: 27px;
		}

		.learn-article {
			width: 60%;
			display: inline-block;
			vertical-align: top;

			.learn-article-header {
				margin-bottom: 45px;

				button {
					background-color: transparent;
					border: 1px solid black;
					color: black;
					margin-left: 10px;
				}

				a {
					img {
						vertical-align: initial;
					} 
				}

				button:hover {
					background-color: black;
					border: 1px solid white;
					color: white;
				}

				h2 {
					display: inline-block;
					margin-left: 10px;
				}

				ul {
					display: inline-block;
					float: right;
					margin-right: 5px;

					li {
						display: inline-block;
						margin: 0 6px;
						cursor: pointer;

						i {
							width: 32px;
							height: 32px;
							border-radius: 50%;
						}

						.fa-facebook {
							position: relative;
							color: white;
							font-size: 20px;
							background-color: #3B5998;
						}

						.fa-facebook:hover {
							background-color: #2f4779;
						}

						.fa-facebook:before {
							position: relative;
							left: 10px;
							top: 6px;
						}

						.fa-twitter {
							position: relative;
							color: white;
							font-size: 20px;
							background-color: #1dcaff;
						}

						.fa-twitter:hover {
							background-color: #1ab5e5;
						}

						.fa-twitter:before {
							position: relative;
							left: 7px;
							top: 6px;
						}

						.fa-linkedin {
							position: relative;
							color: white;
							font-size: 20px;
							background-color: #0076B6;
						}

						.fa-linkedin:hover {
							background-color: #005983;
						}

						.fa-linkedin:before {
							position: relative;
							left: 7px;
							top: 5px;
						}
					}
				}
			}

			.learn-article-text {
				margin-bottom: 45px;

				h2 {
					font-family: 'FreigSem';
				}

				.learn-corp-article-event {
					text-align: center;
					margin-bottom: 60px;

					h3 {
						display: inline-block;
						font-family: 'FreigSem';
						font-size: 21px;
						color: black;
						width: 58%;
						text-align: left;
						vertical-align: middle;
					}

					img {
						display: inline-block;
						width: 15%;
						border-radius: 50%;
						margin-right: 15px;
					}

					button {
						display: block;
						margin: 0 auto;
						margin-top: 15px;
					}

					i {
						margin-right: 10px;
					}

					p {
						font-family: 'FreigBook';
						font-size: 18px;
						color: black;
					}

					.lcaefa {
						background-color: #3B5998;
						padding: 10px 15px;
						border: 1px solid #3B5998;
						font-family: 'FreigMed';
					}

					.lcaetw {
						background-color: #4099FF;
						padding: 10px 20px;
						border: 1px solid #4099FF;
						font-family: 'FreigMed';
						margin-top: 10px;
					}
				}

				.learn-article-footer {
					h4 {
						display: inline-block;
						font-family: 'FreigBook';
						color: #999999;
						font-size: 18px;
					}

					h2 {
						display: inline-block;
						font-family: 'FreigBook';
						float: right;

						img {
							margin-right: 10px;
							vertical-align: initial;
						}
					}

					.lafcimg {
						display: inline-block;
						margin-right: 15px;

						img {
							border-radius: 50%;
							width: 35px;
							height: auto;
						}
					}

					.learn-article-footer-comments {
						margin-bottom: 20px;

						.lafcinfo {
							display: inline-block;
							vertical-align: top;
							max-width: 540px;

							.lafcinfot {
								margin-bottom: 10px;

								span {
									font-family: 'FreigBook';
									font-size: 16px;
									color: #999999;
								}
							}

							.lafcinfob {
								p {
									font-family: 'FreigBook';
									font-size: 17px;
								}
							}
						}
					}
				}

				.learn-article-footer-textarea {
					.lafta {
						display: inline-block;
						vertical-align: top;
						
						.laftacss {
							width: 540px;
						    border: 1px solid #e5e5e5;
						    border-radius: 4px;
						    resize: none;
						    outline: none;
						    font-family: 'FreigBook';
						    font-size: 16px;
						    color: black;
						    padding: 10px;
						    height: auto;
						    min-height: 100px;
						}
					}

					.lafbutton {
						text-align: right;
						margin-top: 25px;
						margin-right: 7px;
					}
				}
			}
		}

		.learn-aside {
			width: 30%;
			display: inline-block;
			margin-left: 60px;
		}
	}


	.learn-corp {
		width: 1000px;
		height: auto;
		margin: 35px auto 35px auto;

		h2 {
			font-family: 'FreigBook';
			color: black;
			font-size: 27px;
		}

		.learn-corp-article {
			width: 60%;
			display: inline-block;
			vertical-align: top;

			.learn-corp-article-title {
				margin-bottom: 45px;

				.lcat {
					display: inline-block;
				}

				.lcatl {
					h2 {
						display: inline-block;
					}

					a {
						display: inline-block;
						font-family: 'FreigSem';
						font-size: 18px;
						color: black;
						margin-left: 15px;
						border: 1px solid black;
						border-radius: 4px;
						padding: 3px 10px;
						-webkit-transition: all 100ms linear;
						-o-transition: all 100ms linear;
						-moz-transition: all 100ms linear;
						-ms-transition: all 100ms linear;
						-kthtml-transition: all 100ms linear;
					}

					a:hover {
						background-color: black;
						color: white;
					}
				}

				.lcatr {
					float: right;
					margin-top: 4px;
					cursor: pointer;

					h4 {
						display: inline-block;
						font-family: 'FreigBook';
						color: black;
					}

					img {
						display: inline-block;
						margin-left: 2px;
						-webkit-transition: all 150ms linear;
						-o-transition: all 150ms linear;
						-moz-transition: all 150ms linear;
						-ms-transition: all 150ms linear;
						-kthtml-transition: all 150ms linear;
					}

					.lcatr-dropdown {
						position: absolute;
						background-color: white;
						border: 1px solid #e5e5e5;
						border-radius: 4px;

						ul {
							padding: 5px;
							li {
								font-family: 'FreigBook';
								font-size: 16px;
								padding: 3px 15px 3px 10px;
							}

							li:hover {
								background-color: #f5f5f5;
								border-radius: 4px;
							}
						}
					}
				}
			}
		}
	}

	#learn-new-page {
		background-color: #f5f5f5;

		h2 {
			font-family: 'FreigMed';
			font-size: 27px;
			color: black;
		}

		.learn-new-head {
			width: 900px;
			margin: 0px auto 0px auto;
			padding: 35px 0;
			margin-bottom: 15px;
		}

		.learn-new-field {
			width: 900px;
			margin: 0px auto 0px auto;
			padding-bottom: 35px;

			label {
				display: block;
				font-family: 'FreigMed';
				font-size: 16px;
			}

			.lnfm {
				margin-bottom: 15px;
			}

			input {
				border: 1px solid #999999;
				border-radius: 4px;
				height: 30px;
				width: 300px;
			}

			select {
				border: 1px solid #999999;
				width: 150px;
				height: 30px;
			}

			.learn-new-field-picture {
				label {
					display: inline-block;
				}

				.learn-nf-picture-add {
					display: inline-block;

					button {
						margin-left: 15px;
						padding: 3px 10px;
					}
				}

				.learn-imgDisplay {
					margin-top: 15px;
					
					img {
						width: 500px;
						height: auto;
					}
				}
			}

			.learn-new-field-author {
				/*input {
					margin-bottom: 15px;
				}*/

				input {
					display: block;
				}

				.lnfadropdown {
					display: none;
					background-color: white;
					width: 300px;

					img {
						width: 36px;
						height: 36px;
						border-radius: 50%;
						margin-right: 10px;
					}

					ul {
						padding: 10px;
						border: 1px solid #e5e5e5;
						border-radius: 4px;

						li {
							padding: 5px 15px;
							cursor: pointer;
						}

						li:hover {
							background-color: #e5e5e5;
						}
					}
				}
			}

			.learn-new-field-text {
				.redactor-editor {
					height: 250px;
					p {
						margin-bottom: 0;
					}
				}
			}

			.learn-new-field-button {
				text-align: right;
			}

			.learn-new-field-button-remove {
				text-align: center;
			}
		}
	}
}
@media only screen and (min-width: 1025px) {
	#learn-body-page {

		.learn-header-title-video {
			display: block;
		}

		.learn-header {
			display: none;
		}
	}
}


/***** LEARN MOBILE *****/

@media only screen and (max-width: 736px) {

	#learn-body-page {

		.learn-header-title-video {
			display: none;
		}

		.learn-header {
			display: block;
			.learn-header-title {
				padding-top: 100px;

				h1 {
					font-size: 28px;
					margin-bottom: 10px;
				}
			}

			.learn-header-text {
				h3 {
					line-height: 22px;
					font-size: 21px;
				}
			}
		}

		.learn-corp {
			width: 100%;
			.learn-corp-article {
				display: block;
				width: 100%;
				padding: 0 25px;

				.learn-corp-article-title {
					.lcatl {
						a {
							display: none;	
						}
					}
				}

				.learn-corp-article-article {
					.lcaahead {
						.lcaaheada {
							display: block;
							margin-bottom: 10px;
						}

						.lcaaheadt {
							text-align: left;
							margin-bottom: 10px;
							float: none;
							display: block;
							
							.lcaaheadtt {
								float: none;

								/*ul {
									margin-right: 0;
								}*/

								span {
									float: right;
								}
							}

							.lcaaheadtb {
								display: block;
								text-align: right;

								a {
									margin: 0;
								}
							}
						}
					}

					.lcaadoc { 
						h2 {
							font-size: 21px;
						}

						p {
							font-size: 16px;
						}

						.lcaadocimg {
							height: auto;
						}

						.lcaadoctext {
							height: 400px;

							p {
								word-break: break-word;
							}
						}
					}
				}
			}

			.learn-corp-aside {
				display: none;
			}
		}

		#learn-article-page {
			display: block;
			width: 100%;
			padding: 0 25px;

			.learn-aside {
				display: none;
			}

			.learn-article {
				display: block;
				width: 100%;

				.learn-article-header {
					button {
						display: none;
					}

					h2 {
						font-size: 21px;
					}

					img {
						height: 12px;
					}

					ul {
						margin-right: 0;

						li {
							margin: 0 2px;
						}
					}
				}

				.learn-article-text {
					.learn-corp-article-article {
						.lcaahead {
							margin-bottom: 15px;

							.lcaaheada {
								display: block;
								margin-bottom: 15px;
							}

							.lcaaheadt {
								display: block;
								text-align: left;
								float: none;

								.lcaaheadtt {
									ul {
										text-align: left;
										width: auto;
									}

									span {
										float: right;
									}
								}

								.lcaaheadtb {
									text-align: right;
								}
							}
						}

						.lcaadoc { 
							h2 {
								font-size: 21px;
							}

							.lcaadocimg {
								height: auto;
							}

							.lcaadoctext {
								height: 400px;

								p {
									word-break: break-word;
								}
							}

							p {
								font-size: 17px;
							}
						}
					}

					.learn-corp-article-event {
						img {
							display: block;
							width: 80px;
							margin: 0 auto;
							margin-bottom: 20px;
						}

						h3 {
							width: 100%;
							font-size: 21px;
							margin-bottom: 10px;
							text-align: center;
						}

						.learnPostProject {
							height: 45px;
							border: none;
							border-radius: 3px;
							background-color: rgba(255, 52, 52, 0.8);
							color: white;
							font-family: 'FreigSem';
							font-size: 16px;
							padding: 5px 15px 5px 15px;
						}

						.lcaefa, .lcaetw {
							border-radius: 4px;
							color: white;

							i {
								color: white;
							}
						}
					}

					.learn-article-footer {
						h4 {
							font-size: 16px;
						}

						h2 {
							font-size: 21px;
						}

						img {
							height: 12px;
						}
					}

					.learn-article-footer-textarea {
						.lafcimg {
							display: none;
						}
						.lafta {
							display: block;

							.laftacss {
								width: 100%;
							}
						}

						.lafbutton {
							button {
								height: 45px;
								border: none;
								border-radius: 3px;
								background-color: rgba(255, 52, 52, 0.8);
								color: white;
								font-family: 'FreigSem';
								font-size: 16px;
								padding: 5px 15px 5px 15px;
							}
						}
					}
				}
			}

		}
	}
}

@media only screen and (max-width: 414px) {

}

@media only screen and (max-width: 375px) {

}

@media only screen and (max-width: 320px) {
	#learn-body-page #learn-article-page .learn-article .learn-article-text .learn-corp-article-event h3 {
		font-size: 17px;
	}

	#learn-body-page .learn-corp .learn-corp-article {
		padding: 0 15px;
	}

	#learn-body-page #learn-article-page {
		padding: 0 15px;
	}
}