html {
	height: auto;
}

/*********************** Main Filter **************************/

#page-wrap {
	position: absolute;
	background-color: rgba(33, 33, 33, 0.48);
	width: 100%;
	height: 100%;
	z-index: 499;
	display: none;
}

/*********************** Main SignUp LogIn Css *************************/

.fb-login, .fb-share {
	margin-bottom: 15px;

	button {
		background-color: #46629E;
		font-family: 'FreigSem';
		font-size: 18px;
		color: white;
		padding: 10px 20px 10px 15px;
		border: 1px solid #46629E;
		border-radius: 4px;

		i {
			padding: 0 15px 0 10px;
		}
	}

	button:hover {
		background-color: #344e7a;
		border: 1px solid #344e7a;
	}
}

.go-login {
	margin-bottom: 15px;
	margin-left: 0;

	button {
		text-align: left;
		background-color: white;
		font-family: 'FreigSem';
		font-size: 18px;
		color: #757575;
		padding: 10px 38px 10px 13px;
		border: 1px solid #999999;
		border-radius: 4px;
		margin: 0;
	}

	button:hover {
		background-color: #e9e9e9;
	}

	img {
		padding: 0 15px 0 10px;
		width: 40px;
	}
}

.tw-share {
	margin-bottom: 15px;

	button {
		text-align: left;
		background-color: #4099FF;
		font-family: 'FreigSem';
		font-size: 18px;
		color: white;
		padding: 10px 30px 10px 13px;
		border: 1px solid #4099FF;
		border-radius: 4px;
		margin: 0;
	}

	i {
		margin-right: 12px;
		margin-left: 13px;
	}

	button:hover {
		background-color: #0077FF;
		border: 1px solid #0077FF;
	}
}

.signup-login-header {
	background-color: #FAFAFA;
	border-bottom: 2px solid #e5e5e5;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;

	h2 {
		display: inline-block;
		font-family: 'FreigBook';
		font-size: 18px;
		color: #222222;
		padding: 15px 20px;
	}

	img {
		position: relative;
		display: inline-block;
		float: right;
		width: 15px;
		top: 16px;
		right: 20px;
	}
}

.signup-login-social {
	text-align: center;

	h4 {
		font-family: 'FreigBook';
		font-size: 16px;
		color: #999999;
		padding: 20px 0;
		margin-top: 20px;
	}
}

.signup-login-old {
	text-align: center;

	.old-dash {
		position: relative;
		display: inline-block;
		bottom: 4px;
		width: 15%;
		height: 20px;
		border-bottom: 1px solid #e5e5e5;
	}

	h4 {
		display: inline-block;
		font-family: 'FreigBook';
		font-size: 16px;
		color: #999999;
		padding: 5px 15px;
	}
}

.firstname-input {
	input {
		background-image: url('/images/littleman.svg');
		background-repeat: no-repeat;
		background-position: 5% 50%;
	}
}

.lastname-input {
	input {
		background-image: url('/images/littleman.svg');
		background-repeat: no-repeat;
		background-position: 5% 50%;
	}
}

.email-input {
	input {
		background-image: url('/images/mailbox-icon-b.svg');
		background-repeat: no-repeat;
		background-position: 2.5% 50%;
	}
}

.password-input {
	input {
		background-image: url('/images/password-icon.svg');
		background-repeat: no-repeat;
		background-position: 2.5% 50%;
	}
}

/*********************** Main Signup Modal **************************/

#main-signup-modal {
	position: fixed;
	background-color: white;
	max-width: 600px;
	margin: 0 auto;
	left: 0;
	right: 0;
	z-index: 10000000;
	border-radius: 4px;
	overflow: hidden;
	display: none;

	#closeCrossS2 {
		display: none;
	}

	.signup-modal-social {
		padding: 0 55px 25px 60px;

		.fb-login, .fb-share {
			display: inline-block;
			margin-right: 20px;

			button {
				padding: 10px 20px 10px 10px;
			}
		}

		.go-login {
			display: inline-block;

			button {
				padding: 10px 35px 10px 13px;
			}
		}
	}

	.signup-modal-old {
		text-align: center;
		padding: 0 30px;

		.old-dash {
			width: 30%;
		}
	}

	.signup-modal-field {
		text-align: center;
		padding: 20px 55px;
		p {
			font-family: 'FreigBook';
			font-size: 16px;
			margin-top: 3px;
			margin-bottom: 0;
			color: #ff4d4d;
		}

		.signup-firstname-field,
		.signup-lastname-field {
			display: inline-block;
			margin-top: 10px;
			text-align: left;

			input {
				width: 232px;
				margin: 0;
			}

			p {
				font-family: 'FreigBook';
				font-size: 16px;
				margin-top: 3px;
				margin-bottom: 0;
				color: #ff4d4d;
			}
		}

		.signup-firstname-field {
			float: left;
			margin-right: 20px;
		}

		input {
			display: block;
			width: 100%;
			margin: 15px auto 3px auto;
			font-family: 'FreigBook';
			font-size: 16px;
			color: #999999;
			padding: 10px 20px 10px 40px;
			border: 1px solid #bebebe;
			border-radius: 4px;
		}

		.signup-email-field,
		.signup-password-field {
			text-align: left;

			p {
				display: inline-block;
				font-family: 'FreigBook';
				font-size: 16px;
				margin-top: 3px;
				margin-bottom: 0;
				color: #ff4d4d;
			}

			.pw-week {
				position: absolute;
				right: 0;
				margin-right: 60px;
				font-family: 'FreigSem';
				font-size: 16px;
				color: red;
			}
			.pw-okey {
				position: absolute;
				right: 0;
				margin-right: 60px;
				font-family: 'FreigSem';
				font-size: 16px;
				color: #FF9933;
			}
			.pw-strong {
				position: absolute;
				right: 0;
				margin-right: 60px;
				font-family: 'FreigSem';
				font-size: 16px;
				color: #00FF00
			}
		}
	}

	.sign-modal-policy {
		text-align: center;
		padding: 0 60px;

		p {
			font-family: 'FreigBook';
			font-size: 16px;
			color: #999999;

			strong {
				color: #808080;
				cursor: pointer;
			}
		}
	}

	.signup-modal-button {
		text-align: center;
		padding: 10px 55px;

		button {
			background-color: #ff4d4d;
			width: 234px;
			font-family: 'FreigSem';
			font-size: 18px;
			color: white;
			padding: 8px 20px 10px 15px;
			border-radius: 4px;
			border: none;
			margin-top: 10px;
		}
	}

	.signup-modal-footer {
		text-align: center;
		padding: 20px 60px;

		h4 {
			border-top: 1px solid #e5e5e5;
			font-family: 'FreigBook';
			font-size: 16px;
			color: #999999;
			padding: 20px 15px 0 15px;

			u {
				cursor: pointer;
			}
		}
	}

}

/*********************** Main Login Modal **************************/

#main-login-modal {
	position: fixed;
	background-color: white;
	max-width: 400px;
	margin: 0 auto;
	left: 0;
	right: 0;
	z-index: 10000000;
	border-radius: 4px;
	overflow: hidden;
	display: none;

	#closeCrossL2 {
		display: none;
	}

	.login-modal-email {
		text-align: center;
		max-width: 300px;
		margin: 0 auto;

		input {
			display: block;
			width: 300px;
			margin: 10px auto;
			font-family: 'FreigBook';
			font-size: 16px;
			color: #999999;
			padding: 10px 20px 10px 40px;
			border: 1px solid #bebebe;
			border-radius: 4px;
		}

		p {
			font-family: 'FreigBook';
			font-size: 16px;
			margin-bottom: 3px;
			color: #ff4d4d;
		}

		span .validate-p {
			color: #222 !important;
		}

		.email-input,
		.password-input {
			text-align: left;

			p {
				position: relative;
				bottom: 8px;
				font-family: 'FreigBook';
				font-size: 16px;
				margin-bottom: 0;
				color: #ff4d4d;
			}
		}

		.forgot-password {
			text-align: right;

			p {
				font-family: 'FreigBook';
				font-size: 14px;
				color: black;
				text-decoration: underline;
				outline: none;
			}
		}
	}

	.signup-login-old {
		padding: 15px 0;
	}

	.login-modal-footer {
		text-align: center;

		button {
			background-color: #ff4d4d;
			width: 234px;
			font-family: 'FreigSem';
			font-size: 18px;
			color: white;
			padding: 6px 20px 10px 15px;
			border-radius: 4px;
			border: none;
			margin-top: 10px;
		}

		h4 {
			font-family: 'FreigBook';
			font-size: 16px;
			color: #999999;
			padding: 10px 15px;
			margin: 10px 0;

			u {
				cursor: pointer;
			}
		}
	}
}

/*********************** MEDIA QUERIES MOBILE WIDTH \*320px to 800px*\ **************************/

@media only screen and (max-width: 736px) {
	/* Media query signup modal */
	#main-signup-modal {
		position: absolute;
		border-radius: 0;

		header {
			display: none;
		}

		.signup-modal-social {
			padding: 0 15px 10px 15px;
			margin-top: 40px;

			h4 {
				padding: 0;
				margin: 15px 0 15px 0;
			}

			.fb-login, .fb-share {
				width: 231px;
				margin-right: 10px;
				margin-left: 14px;
				margin-bottom: 10px;

				i {
					position: relative;
					margin-right: 23px;
					padding: 0;
					left: 5px;
				}

				button {
					width: 231px;
					padding-right: 5px;
				}
			}
		}

		#closeCrossS2 {
			top: 10px;
			display: inline-block;
			position: relative;
			width: 60px;
			height: 40px;
			right: 5px;
			float: right;
			background-image: url('/images/cross-icon.svg');
			background-size: 15px;
			background-repeat: no-repeat;
			background-position: 50% ;
		}

		.signup-modal-old {
			text-align: center;
			padding: 0 30px;

			.old-dash {
				width: 10%;
			}
		}

		.signup-modal-field {
			padding: 15px 25px;
			.signup-firstname-field {
				width: 100%;
				margin-right: 0;

				input {
					width: 100%;
					background-position: 2.5% 50%;
				}
			}

			.signup-lastname-field {
				width: 100%;
				margin-top: 0px;

				input {
					width: 100%;
					margin-top: 15px;
					background-position: 2.5% 50%;
				}
			}

			input {
				width: 100%;
				margin-top: 15px;
			}
		}

		.sign-modal-policy {
			padding: 0 20px;
		}

		.signup-modal-button {
			padding: 10px 20px;
		}

		.signup-modal-footer {
			padding: 10px 30px;

			h4 {
				padding: 15px;
			}
		}
	}

	/* Media query login modal */
	#main-login-modal {
		max-width: 100%;
		position: absolute;
		top: 0px;
		
		#closeCrossL2 {
			display: inline-block;
			position: relative;
			width: 60px;
			height: 40px;
			right: 5px;
			float: right;
			background-image: url('/images/cross-icon.svg');
			background-size: 15px;
			background-repeat: no-repeat;
			background-position: 50% ;
		}

		header {
			display: none;
		}

		.login-modal-social {
			padding-bottom: 0px;
			margin-top: 40px;

			h4 {
				padding: 0;
				margin: 30px 0 20px 0;
			}

			.fb-login, .fb-share {
				margin-bottom: 15px;
			}
		}

		.signup-login-old {
			padding: 10px 0 15px 0;
		}

		.login-modal-email {
			margin: 0;
			max-width: 100%;
			padding: 0 200px;

			.email-input {
				input {
					width: 100%;
					margin: 15px 0;
				}
			}

			.password-input {
				input {
					width: 100%;
					margin: 15px 0;
				}
			}

		}

		.login-modal-footer {
			button {
				margin-top: 25px;
			}
		}
	}
}

@media only screen and (max-width: 667px) {

	#main-login-modal {

		.login-modal-email {
			padding: 0 150px;
		}
	}
}

@media only screen and (max-width: 480px) {

	#main-login-modal {

		.login-modal-email {
			padding: 0 30px;
		}

		.login-modal-footer {
			button {
				margin-top: 15px;
			}
		}
	}
}

@media only screen and (max-width: 320px) {

	#main-login-modal {

		.login-modal-social {
			padding-bottom: 0px;
			h4 {
				padding: 0;
				margin-top: 5px;
				margin-bottom: 15px;
			}

			.fb-login, .fb-share {
				margin-bottom: 10px;
			}
		}

		.login-modal-email {
			padding: 0 20px;

			.email-input {
				input {
					margin: 10px 0;
				}
			}

			.password-input {
				input {
					margin: 10px 0;
				}
			}
		}
	}
}
