$red: #FF4D4D;
$more-red: #D94242;
$bg-color-strokes: #F5F5F5;
$bg-color: #FAFAFA;
$secondary-text: #999999;
$font-h3: 'Open Sans', sans-serif;
$font-h3: 'Open Sans', sans-serif;
$blue: #416299;
/*** VIEW PROJECT PAGE ***/

#viewProject-page {
	#viewProject-header {
		position: relative;
		height: 390px;
		text-align: center;
		background-size: cover;
		//background-position: center center;
		background-repeat: no-repeat;
		-webkit-animation-duration: 0.6s;

		.viewProject-filter {
			position: absolute;
			width: 100%;
			height: 390px;
			background-color: rgba(0, 0, 0, 0.6);
		}

		.project-vote {
			display: inline-block;
			position: relative;
			padding: 6px 16px 8px 16px;
			border: 1px solid white;
			border-radius: 4px;
			cursor: pointer;
			webkit-transition: all 200ms linear;
			-o-transition: all 200ms linear;
			-moz-transition: all 200ms linear;
			-ms-transition: all 200ms linear;
			-kthtml-transition: all 200ms linear;
			transition: all 200ms linear;

			.tooltipw {
				display: block;
				background: rgba(0, 0, 0, 0.6);
				bottom: 38px;
				font-family: 'FreigSem';
				font-size: 13px;
				color: #fff;
				opacity: 0;
				width: 205px;
				padding: 5px 10px;
				border-radius: 4px;
				pointer-events: none;
				position: absolute;
				left: -76px;
				bottom: 58px;
				-webkit-transform: translateY(10px);
				-moz-transform: translateY(10px);
				-ms-transform: translateY(10px);
				-o-transform: translateY(10px);
				transform: translateY(10px);
				-webkit-transition: all .25s ease-out;
				-moz-transition: all .25s ease-out;
				-ms-transition: all .25s ease-out;
				-o-transition: all .25s ease-out;
				transition: all .25s ease-out;
				/*-webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
				-moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
				-ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
				-o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
				box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);*/
			}

			.tooltipw:before {
				bottom: -20px;
				content: " ";
				display: block;
				height: 20px;
				left: 0;
				position: absolute;
			}

			.tooltipw:after {
				border-left: solid transparent 6px;
				border-right: solid transparent 6px;
				border-top: solid rgba(0, 0, 0, 0.6) 6px;
				bottom: -6px;
				content: " ";
				height: 0;
				left: 50%;
				margin-left: -7px;
				position: absolute;
			}

			.project-vote-image {
				height: 9px;
				width: auto;
				margin-right: 5px;
			}

			span {
				position: relative;
				top: 1px;
				font-family: 'Arial';
				font-weight: 600;
				color: white;
			}
		}

		.project-vote:hover {
			background-color: white;
			.project-vote-image {
				content:url("/images/Upvote_Icon_b.svg")
			}

			.tooltipw {
				opacity: 1;
				pointer-events: auto;
				-webkit-transform: translateY(0px);
				-moz-transform: translateY(0px);
				-ms-transform: translateY(0px);
				-o-transform: translateY(0px);
				transform: translateY(0px);
			}

			span {
				color: black;
			}
		}

		.viewProject-title {
			position: relative;
			top: 125px;
			z-index: 50;

			h1 {
				font-family: 'FreigSem';
				font-size: 42px;
				color: white;
			}


			h4 {
				font-family: 'FreigMed';
				font-size: 21px;
				color: #fafafa;
				margin: 7px 0;
			}
		}

		.viewProject-info {
			padding: 20px 0;
/*			margin-bottom: 20px;
*/
			li {
				display: inline-block;
				margin-right: 20px;

				h5 {
					display: inline-block;
					font-family: 'FreigMed';
					font-size: 16px;
					color: white;

          img {
            outline: none;
          	margin-left: 5px;
            margin-right: 0px;
          }
				}
			}

			.stickers-icon {
				img {
					width: 20px;
					height: auto;
				}
			}

			.location-icon,
			.user-icon {
				img {
					width: 13px;
					height: auto;
				}
			}
		}

		.viewProject-mobile-options {
			display: none;
		}

		.viewProject-bottom {
			position: absolute;
			bottom: 0;
			width: 100%;
			background-color: rgba(0, 0, 0, 0.4);

			.viewProject-nav {
				max-width: 760px;
				margin: 0 auto;
				padding-right: 10px;
				text-align: left;

				.viewProject-category {
					display: inline-block;

					li {
						display: inline-block;
						padding: 20px 15px;
						font-family: 'FreigSem';
						font-size: 17px;
						color: white;
						webkit-transition: all 150ms linear;
						-o-transition: all 150ms linear;
						-moz-transition: all 150ms linear;
						-ms-transition: all 150ms linear;
						-kthtml-transition: all 150ms linear;
						transition: all 150ms linear;
					}

					li:hover {
						cursor: pointer;
						background-color: black;
					}
				}

				.viewProject-option {
					display: inline-block;
					float: right;

					li {
						padding: 20px 15px;
						display: inline-block;
						font-family: 'FreigBook';
						font-size: 17px;
						color: white;
						webkit-transition: all 200ms linear;
						-o-transition: all 200ms linear;
						-moz-transition: all 200ms linear;
						-ms-transition: all 200ms linear;
						-kthtml-transition: all 200ms linear;
						transition: all 200ms linear;
					}

					.shareSocialProject {
						position: relative;
						left: 4px;
						cursor: pointer;
					}

          #sharer {
            cursor: pointer;
          }
          #sharer:hover {
            .icon-share {
              display: block;
              position: absolute;
            }
          }

          .icon-share-social {
          	position: absolute;
          	width: 200px;
          	padding-top: 10px;

          	ul {
          		padding-top: 4px;
          		border: 1px solid #e5e5e5;
	          	border-radius: 4px;
	          	background-color: white;
	      		li {
	      			font-family: 'FreigBook';
	      			font-size: 16px;
	      			color: black;
	      			display: block;
	      			padding: 6px 15px 8px 15px; 

	      			i {
	      				display: inline-block;
	      			}

	      			.fa-facebook {
		              color: #3B5998;
		              font-size: 18px;
		              display: inline;
		              margin-right: 15px;
		            }
		            .fa-twitter {
		              color: #1dcaff;
		              -webkit-transition: all 100ms linear;
		              -o-transition: all 100ms linear;
		              -moz-transition: all 100ms linear;
		              -ms-transition: all 100ms linear;
		              -kthtml-transition: all 100ms linear;
		              transition: all 100ms linear;
		              margin-right: 15px;
		            }
	      		}
	      	}

      		li:hover {
      			background-color: #fafafa;
      		}

	          /*.icon-share {
	          	display: inline-block;
	          	margin: 0 5px;
	          	cursor: pointer;

	            .fa-lg {
	              font-size: inherit;
	            }

	            .fa-circle {
	              color: #3B5998;
	              font-size: 35px;
	              -webkit-transition: all 100ms linear;
	              -o-transition: all 100ms linear;
	              -moz-transition: all 100ms linear;
	              -ms-transition: all 100ms linear;
	              -kthtml-transition: all 100ms linear;
	              transition: all 100ms linear;
	            }
	            .fa-facebook {
	              color: white;
	              font-size: 18px;
	              display: inline;
	            }
	            .fa-circle-twitter {
	              color: #1dcaff;
	              -webkit-transition: all 100ms linear;
	              -o-transition: all 100ms linear;
	              -moz-transition: all 100ms linear;
	              -ms-transition: all 100ms linear;
	              -kthtml-transition: all 100ms linear;
	              transition: all 100ms linear;
	            }
	            .fa-twitter {
	              display: inline;
	              font-size: 18px;
	            }
	          }*/
	      }
	          .fa-stack:hover {
	            .fa-circle {
	              color: #2f4779;
	            }
	            .fa-circle-twitter {
	              color: #1ab5e5;
	            }
	          }

					button {
/*						width: 105px;
						margin-left: 15px;
						font-family: 'FreigSem';
						font-size: 15px;
						color: white;
						background-color: transparent;
						padding: 5px 10px 5px 0px;
						border: 1px solid white;
						border-radius: 4px;*/
						background-color: transparent;
						margin: 15px 7px 0 7px;
						border: 1px solid white;
						border-radius: 4px;
						padding: 6px 15px 7px 15px;
						color: white;
						font-family: 'FreigSem';
						font-size: 16px;
						-webkit-transition: all 200ms linear;
						-o-transition: all 200ms linear;
						-moz-transition: all 200ms linear;
						-ms-transition: all 200ms linear;
						-kthtml-transition: all 200ms linear;
						transition: all 200ms linear;

						.fa-plus {
							font-size: 14px;
						}

						.fa-check {
							font-size: 14px;
						}

						span {
							position: relative;
							top: 1px;
							margin-right: 10px;
						}

						img {
							width: 16px;
							height: auto;
							position: relative;
							bottom: 2px;
							margin-right: 4px;
						}
					}

					li:hover {
						background-color: black;
					}

					button:hover {
						background-color: white;
						color: black;
						img {
							content: url('/images/picto-edit-vb.svg');
						}
					}
				}
			}
		}
	}
}

/*** MY PROJECT PAGE ***/

#myProject-page {

	.card-title-space {
		height: 40px;
		margin-bottom: 4px;
		overflow: hidden;

		h4 {
			font-family: 'FreigSem';
			font-size: 18px;
			color: #222222;
			line-height: 20px;
			vertical-align: center;
		}
	}

	.no_feedbacks {
		margin: 50px 0px;

		.title_no_comments {
			font-family: 'FreigBook';
			font-size: 24px;
			color: #999999;
		}

		.text_no_comments {
			font-family: 'FreigBook';
			font-size: 18px;
			color: #999999;
		}

		.button_post_comment {
			margin-top: 20px;
			font-family: 'FreigSem';
			font-size: 18px;
			color: white;
			background-color: #FF4D4D;
			padding: 7px 20px;
			border: 2px solid #FF4D4D;
			border-radius: 4px;
		}

		.button_post_comment:hover {
			background-color: $more-red;
			border: 2px solid $more-red;
		}

	}

	.icon_location {
		margin-right: 8px !important;
	}

	.icon_status {
		margin-right: 5px !important;
	}

	/* GLOBAL CSS */
	h1 {
		font-family: 'FreigSem';
		font-size: 42px;
		margin-bottom: 20px;
	}

	h4 {
		font-family: 'FreigSem';
		font-size: 17px;
		color: #999999;
		//margin-bottom: 10px;
		-webkit-transition: all 200ms linear;
		-o-transition: all 200ms linear;
		-moz-transition: all 200ms linear;
		-ms-transition: all 200ms linear;
		-kthtml-transition: all 200ms linear;
		transition: all 200ms linear;
	}

  h3 {
    font-family: 'FreigSem';
    font-size: 17px;
    color: #999999;
    margin-bottom: 10px;
    -webkit-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    -kthtml-transition: all 200ms linear;
    transition: all 200ms linear;
  }


	.myProject-body-card {
		margin: 0 16px 40px 16px;
		display: inline-block;
		width: 287px;
		height: 418px;
		border: 1px solid #E5E5E5;
		border-radius: 5px;
		overflow: hidden;
		cursor: pointer;

		.card-picture {
			height: 180px;

			img {
				max-height: 100%;
				width: 100%;
        min-height: 100%;
			}
		}

		.card-tag {
			.card-tag-content {
				position: absolute;
				margin-top: 19px;
				margin-left: 20px;
				.card-tag-bg {
					position: absolute;
					background-color: #222222;
					border-radius: 5px;
					height: 22px;
					width: 100%;
					-webkit-transition: all 50ms linear;
					-o-transition: all 50ms linear;
					-moz-transition: all 50ms linear;
					-ms-transition: all 50ms linear;
					-kthtml-transition: all 50ms linear;
					transition: all 50ms linear;
				}
				img {
					position: relative;
					display: inline-block;
					margin-left: 10px;
					width: 16px;
					height: 16px;
					z-index: 100;
				}

				h5 {
					position: relative;
					display: inline-block;
					margin-right: 10px;
					font-family: 'FreigSem';
					font-size: 13px;
					text-transform: uppercase;
					z-index: 100;

				}
			}
		}

		.card-tag-content:hover > .card-tag-bg {
			transform: scale(1.02,1.1);
		}

		.card-info {
			padding: 20px;
			background-color: white;
			text-align: left;

			h4 {
				font-family: 'FreigSem';
				font-size: 18px;
				color: #222222;
				margin-bottom: 5px;
			}

			span {
				display: list-item;
				list-style-type: none;
				font-family: 'FreigBook';
				font-size: 14px;
				color: #999999;
			}

			p {
				height: 75px;
				margin: 10px 0;
				font-family: 'FreigBook';
				font-size: 14;
				color: #222222;
				line-height: 21px;
			}

			.card-info-by {
				.card-info-by-picture {
					border-radius: 50%;
					overflow: hidden;
					display: inline-block;
					width: 30px;
					height: 30px;

					img {
						max-height: 100%;
						width: 100%;
					}
				}

				h6 {
					display: inline-block;
					font-family: 'FreigBook';
					font-size: 14px;
					color: #999999;
					margin-left: 5px;
					position: relative;
					bottom: 10px;
				}
			}
		}
	}

	/* SECTION CSS */
	#myProject-header {
		height: 220px;
		text-align: center;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;

		.myProject-filter {
			position: absolute;
			width: 100%;
			height: 220px;
			background-color: rgba(0, 0, 0, 0.5);
		}

		.myProject-title {
			position: relative;
			top: 90px;
			z-index: 50;

			h1 {
				color: white;
			}

			h5 {
				font-family: 'FreigBook';
				font-size: 15px;
				color: white;
				margin: 7px 0;
			}
		}
	}

	#myProject-mp {
		border-bottom: 1px solid #e5e5e5;

		.myProject-body-mp {
			max-width: 1000px;
			margin: 0 auto;
			padding: 60px 0;

			.myProject-body-mpTitle {
				margin-bottom: 50px;
				margin-left: 16px;

				h1 {
					font-family: 'FreigLight';
					color: #222222;
          			z-index: 50;
				}
			}

			#discover-body-content {
				min-height: 0;
			}

		}
	}

	#myProject-pledge {
		border-bottom: 1px solid #e5e5e5;
		background-color: #fafafa;

		.myProject-body-pledge {
			max-width: 1000px;
			margin: 0 auto;
			padding: 60px 0;

			.myProject-body-pTitle {
				margin-bottom: 50px;
				margin-left: 16px;

				h1 {
					font-family: 'FreigLight';
					color: #222222;
				}
			}
		}
	}

	#myProject-followed {
		border-bottom: 1px solid #e5e5e5;

    .card-picture {
      img {
        min-height: 180px;
      }
    }

		.myProject-body-followed {
			max-width: 1000px;
			margin: 0 auto;
			padding: 60px 0;

			.myProject-body-fTitle {
				margin-bottom: 50px;
				margin-left: 16px;

				h1 {
					display: inline-block;
					font-family: 'FreigLight';
					color: #222222;
				}

				h6 {
					display: inline-block;
					font-family: 'FreigLight';
					font-size: 16px;
					color: #999999;
				}
			}
		}
	}

	#myProject-history {
		background-color: #fafafa;

		.myProject-body-history {
			max-width: 1000px;
			margin: 0 auto;
			padding: 60px 0;

			.myProject-body-hTitle {
				margin-bottom: 50px;
				margin-left: 16px;

				h1 {
					display: inline-block;
					font-family: 'FreigLight';
					color: #222222;
				}

				h6 {
					display: inline-block;
					font-family: 'FreigLight';
					font-size: 16px;
					color: #999999;
				}
			}

			.myProject-body-hContainer {
				margin: 0 16px;

				.myProject-body-hElement {
					cursor: pointer;
					padding: 20px 20px;
					border-bottom: 1px solid #e5e5e5;
					-webkit-transition: all 200ms linear;
					-o-transition: all 200ms linear;
					-moz-transition: all 200ms linear;
					-ms-transition: all 200ms linear;
					-kthtml-transition: all 200ms linear;
					transition: all 200ms linear;

					.myProject-body-hETitle {
						display: inline-block;

						.h-picture {
							display: inline-block;

							img {
								width: 60px;
								height: 60px;
								border-radius: 5px;
							}
						}

						.h-title-tag {
							display: inline-block;
							float: right;
							margin: 5px 15px 5px 15px;

							.card-tag {
								.card-tag-content {
									position: absolute;
									.card-tag-bg {
										position: absolute;
										background-color: #222222;
										border-radius: 4px;
										height: 22px;
										width: 100%;
										-webkit-transition: all 50ms linear;
										-o-transition: all 50ms linear;
										-moz-transition: all 50ms linear;
										-ms-transition: all 50ms linear;
										-kthtml-transition: all 50ms linear;
										transition: all 50ms linear;
									}
									img {
										position: relative;
										display: inline-block;
										margin-left: 10px;
										width: 16px;
										height: 16px;
										z-index: 100;
									}

									h5 {
										position: relative;
										display: inline-block;
										margin-right: 10px;
										font-family: 'FreigSem';
										font-size: 13px;
										text-transform: uppercase;
										z-index: 100;

									}
								}
							}

							.card-tag-content:hover > .card-tag-bg {
								transform: scale(1.02,1.1);
							}
						}
					}

					.myProject-body-hDate {
						display: inline-block;
						float: right;

						span {
							font-family: 'FreigMed';
							font-size: 16px;
							color: #999999;
						}
					}
				}

				.myProject-body-hElement:hover {
					background-color: #f5f5f5;

					h3 {
						color: #23527C;
					}
				}
			}
		}
	}
}

/*********************** MEDIA QUERIES MOBILE WIDTH \*320px to 736px*\ **************************/
@media only screen and (max-width: 736px) {

	#myProject-page {
		#myProject-header {
			height: 160px;

			.myProject-filter {
				height: 160px;
			}

			.myProject-title {
				display: none;
			}
		}

		#myProject-mp {
			.myProject-body-mp {
				padding: 20px;

				.myProject-body-mpTitle {
					margin-bottom: 20px;
					margin-left: 5px;
				}
			}
		}

		#myProject-followed {
			.myProject-body-followed {
				padding: 20px;

				.myProject-body-fTitle {
					margin-bottom: 20px;
					margin-left: 5px;

					h1 {
						margin-bottom: 0;
					}
				}
			}
		}

		#myProject-history {
			.myProject-body-history {
				.myProject-body-hTitle {
					margin-bottom: 20px;
				    margin-left: 25px;
				}

				.myProject-body-hContainer {
					margin: 0;
				}
			}
		}
	}

	#viewProject-page {
		#viewProject-header {
			height: 450px;
			background-position: center center !important;

			.viewProject-filter {
				height: 450px;
			}

			.viewProject-title {
				top: 105px;
				padding: 0 15px;

				.viewProject-title-info {
/*					min-height: 120px;
*/			
					padding: 0 10px;
					
					h1 {
						font-size: 34px;
					}

					h4 {
						font-size: 18px;
						text-align: left;
					}
				}
			}

			.viewProject-info {
				padding: 0 10px;
				padding-left: 15px;
				margin-top: 15px;
				margin-bottom: 15px;

				li {
					margin: 0;
					margin-right: 10px;
					margin-bottom: 10px;
				}

				.location-icon {

					img {
						position: relative;
						bottom: 2px;
						margin-right: 5px;
					}
				}
			}

			.viewProject-mobile-options {
				display: block;
				margin-top: 20px;

				button {
					margin: 0 5px;
					display: inline-block;
					font-family: 'FreigSem';
					font-size: 16px;
					color: white;
					padding: 4px 12px 6px 12px;
					border: 1px solid #416299;
					border-radius: 4px;
					background-color: #416299;

					i {
						margin-right: 8px;
						position: relative;
						top: 1px;
					}
				}

				#editButton {
					border: 1px solid white;
					background-color: transparent;
				}
			}

			.viewProject-bottom {

				.viewProject-nav {
					padding: 10px 0px;
					text-align: center;

					.viewProject-option {
						display: none;
					}

					.viewProject-category {
						li {
							font-family: 'FreigBook';
							padding: 10px 10px 10px 10px;
							border-right: 1px solid #222222;
						}

						li:hover {
							background-color: transparent;
						}

						.last-li {
							border-right: none;
						}
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 320px) {
	#viewProject-page {
		#viewProject-header {

			.viewProject-title {
				top: 105px;
				padding: 0 15px;

					h1 {
						font-size: 34px;
					}

					h4 {
						font-size: 18px;
					}
			}

			.viewProject-info {
				padding: 0 10px;
				text-align: center;
				margin-top: 15px;

				li {
					display: block;
					margin-right: 0px;
					margin-bottom: 5px;
				}
			}
		}
	}
}
