/****** Presentation Global ******/

.discover-image-bg {
	display: none;
}

.presentation-forced {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0%;
	width: 500px;
	z-index: 100000;
	margin: 0 auto;
	text-align: center;

	.presentation-forced-signup {
		display: inline-block;
		margin-bottom: 30px;
		text-align: center;
		background-color: rgba(0, 0, 0, 0.8);
		padding: 12px 60px;
		border-radius: 6px;

		h5 {
			font-family: 'FreigMed';
			font-size: 15px;
			margin-bottom: 10px;
		}

		ul {
			li {
				display: inline-block;
				padding: 3px 30px 5px 30px;
				margin: 0 5px;
				-webkit-transition: all 150ms linear;
				-o-transition: all 150ms linear;
				-moz-transition: all 150ms linear;
				-ms-transition: all 150ms linear;
				-kthtml-transition: all 150ms linear;
				transition: all 150ms linear;

				img {
					width: 15px;
				}
			}

			.presentation-forced-signup-mail {
				border: 1px solid white;
				border-radius: 4px;
			}

			.presentation-forced-signup-google {
				background-color: white;
				border: 1px solid white;
				border-radius: 4px;
			}

			.presentation-forced-signup-facebook {
				background-color: #46629E;
				border: 1px solid #46629E;
				border-radius: 4px;
			}

			.presentation-forced-signup-facebook:hover {
				background-color: #344e7a;
				border: 1px solid #344e7a;
			}

			.presentation-forced-signup-google:hover {
				background-color: #E0E0E0;
				color: #404040;
			}
		}
	}
}

.presentation-component {
	position: absolute;
	width: 1000px;
	z-index: 20;
	text-align: left;
	top: 160px;
	left: 0;
	right: 0;
	margin: 0 auto;
	padding-left: 30px;

	h2 {
		font-family: 'FreigLight';
		font-size: 32px;
		color: white;
	}

	.discover-search2-textarticle {
		display: inline-block;
	}	

	.searchbox {
		border-radius: 4px;
		cursor: pointer;
		background-color: rgba(20, 20, 20, 0.5);
		h2 {
			padding-top: 6px;
			padding-bottom: 6px;
		}
	}

	img {
		display: inline-block;
		width: 14px;
		margin: 5px 10px 15px 10px;
		-webkit-transition: all 150ms linear;
		-o-transition: all 150ms linear;
		-moz-transition: all 150ms linear;
		-ms-transition: all 150ms linear;
		-kthtml-transition: all 150ms linear;
		transition: all 150ms linear;
		-webkit-transform: translateZ(0);
		-moz-transform: translateZ(0);
		-ms-transform: translateZ(0);
		-o-transform: translateZ(0);
		transform: translateZ(0);
		-webkit-perspective: 1000;
		-moz-perspective: 1000;
		-ms-perspective: 1000;
		-o-perspective: 1000;
		perspective: 1000;	
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		-o-backface-visibility: hidden;
		backface-visibility: hidden;
	}

	.presentation-title {
		padding-top: 15px;
		padding-bottom: 20px;
		h2 {
			font-family: 'FreigSem';
			font-size: 36px;
		}
	}

	.inputfield {
		input {
			width: 140px;
			padding-right: 10px;
			padding-left: 10px;
			color: #999999;
			font-size: 32px;
			font-family: 'FreigLight';
			border: none;
			border-radius: 5px;
			background-color: rgba(20, 20, 20, 0.5);
			cursor: pointer;
			-webkit-transition: all 100ms linear;
			-o-transition: all 100ms linear;
			-moz-transition: all 100ms linear;
			-ms-transition: all 100ms linear;
			-kthtml-transition: all 100ms linear;
			transition: all 100ms linear;
			-webkit-transform: translateZ(0);
			-moz-transform: translateZ(0);
			-ms-transform: translateZ(0);
			-o-transform: translateZ(0);
			transform: translateZ(0);
			-webkit-perspective: 1000;
			-moz-perspective: 1000;
			-ms-perspective: 1000;
			-o-perspective: 1000;
			perspective: 1000;	
			-webkit-backface-visibility: hidden;
			-moz-backface-visibility: hidden;
			-ms-backface-visibility: hidden;
			-o-backface-visibility: hidden;
			backface-visibility: hidden;
		}

		input:focus {
			color: white;
		}
	}

	.downbox {
		position: absolute;
		background-color: white;
		z-index: 1000;
		border: 1px solid #999999;
		border-radius: 8px;
		width: 240px;

		li {
			padding: 5px 20px 5px 20px;
			font-family: 'FreigBook';
			color: #222222;
			font-size: 18px;
		}

		li:hover {
			border-radius: 8px;
			background-color: #F5F5F5;
		}

		ul {
			padding-bottom: 10px;
			margin-top: 8px;
		}
	}

	label {
		position: absolute;
		font-family: 'FreigLight';
		pointer-events: none;
		font-weight: 300;
		font-size: 32px;
		color: rgba(255, 255, 255, 0.9);
		margin-top: -47px;
		margin-left: 10px;
		-webkit-animation-duration: 0.4s;
		-moz-animation-duration: 0.4s;
		-o-animation-duration: 0.4s;
		-ms-animation-duration: 0.4s;
		-webkit-transform: translateZ(0);
		-moz-transform: translateZ(0);
		-ms-transform: translateZ(0);
		-o-transform: translateZ(0);
		transform: translateZ(0);
		-webkit-perspective: 1000;
		-moz-perspective: 1000;
		-ms-perspective: 1000;
		-o-perspective: 1000;
		perspective: 1000;	
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		-o-backface-visibility: hidden;
		backface-visibility: hidden;
	}
}

.presentation-body-container {
	max-width: 1000px;
	margin: 0 auto;
}

.presentation-body-title {
	text-align: center;
	padding: 45px 20px 60px 20px;

	h4 {
		font-family: 'FreigSem';
		font-size: 18px;
		color: #222222;

		strong {
			color: #ff4d4d;
		}

		span {
			color: #ff4d4d;
		}
	}
}

.meet-body-found {
	h3 {
		font-family: 'FreigBook';
		font-size: 16px;
		color: black;
	}
}

.presentation-body-loadmore {
	padding: 50px 20px 90px 20px;
	text-align: center;

	button {
		display: inline-block;
		padding: 5px 20px 7px 20px;
		border: 2px solid #222222;
		border-radius: 5px;
		font-family: 'FreigSem';
		font-size: 16px;
		color: #222222;
		background-color: white;
	}

	button:hover {
		background-color: #222222;
		color: white;
	}
}

/****** Discover ******/

#discover-body-page {
	.body-page {
		   height: auto;
		   width: 100%;
		background-image: url('/images/poster/poster_discover.jpg');
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;

        .home-video-bg {
        	background-image: url('/images/poster/poster_discover.jpg');

        	video {
        		background-image: url('/images/poster/poster_discover.jpg');
        	}
        }
	}	
}
.discover-component {
	.discover-search1 {

		.discover-search1-text {
			display: inline-block;
			margin: 0px 10px;
		}

		.discover-search1-dropdown {
			display: inline-block;
			margin: 10px 0px;
			h2 {
				display: inline-block;
				padding: 5px 15px 5px 10px;
			}

			.discover-search1-downbox1 {
				position: absolute;
				z-index: 50;
				background-color: white;
				border: 1px solid white;
				border-radius: 8px;
				width: 200px;

				ul {
					margin-top: 10px;
					margin-bottom: 20px;
				}

				li {
					padding: 10px 20px 0px 20px;
					font-family: 'FreigLight';
					color: #222222;
					font-size: 18px;
				}

				li:hover {
					background-color: #F5F5F5;
				}
			}

			.discover-search1-downbox2 {
				position: absolute;
		        background-color: white;
		        border: 1px solid white;
		        z-index: 99999;
		        border-radius: 8px;
		        margin-left: 5px;

				ul {
					-webkit-column-count: 3;
					-moz-column-count: 3;
					column-count: 3;
					margin-top: 10px;
					margin-bottom: 20px;
					margin-right: 10px;
				}

				li {
					padding: 10px 20px 0px 20px;
					font-family: 'FreigLight';
					color: #222222;
					font-size: 18px;
				}

				li:hover {
					background-color: #F5F5F5;
				}
			}
		}

	}

	.discover-search2 {

		#input-dsa::-webkit-input-placeholder {
			color: white;
		}

		#input-dsa2::-webkit-input-placeholder {
			color: rgba(255, 255, 255, 0.5);
		}

		.discover-search2-text {
			display: inline-block;
			margin-right: 10px;
			-webkit-transition: all 400ms linear;
			-o-transition: all 400ms linear;
			-moz-transition: all 400ms linear;
			-ms-transition: all 400ms linear;
			-kthtml-transition: all 400ms linear;
			transition: all 400ms linear;
			-webkit-transform: translateZ(0);
			-moz-transform: translateZ(0);
			-ms-transform: translateZ(0);
			-o-transform: translateZ(0);
			transform: translateZ(0);
			-webkit-perspective: 1000;
			-moz-perspective: 1000;
			-ms-perspective: 1000;
			-o-perspective: 1000;
			perspective: 1000;	
			-webkit-backface-visibility: hidden;
			-moz-backface-visibility: hidden;
			-ms-backface-visibility: hidden;
			-o-backface-visibility: hidden;
			backface-visibility: hidden;
			
		}

		.discover-search2-text-mobile {
			display: none;
		}

		#dsdrop1m {
			display: none;
		}
		.discover-search2-dropdown {
			display: inline-block;
			margin-right: 10px;

			h2 {
				display: inline-block;
				padding: 5px 15px 5px 10px;
			}

			.discover-search2-downbox {
				position: absolute;
				z-index: 50;
				background-color: white;
				border: 1px solid white;
				border-radius: 8px;
			}
			ul {
				-webkit-column-count: 3;
				-moz-column-count: 3;
				column-count: 3;
				margin-top: 10px;
				margin-bottom: 20px;
				margin-right: 10px;
			}

			li {
				padding: 10px 20px 0px 20px;
				font-family: 'FreigLight';
				color: #222222;
				font-size: 18px;
			}

			li:hover {
				background-color: #F5F5F5;
			}

		}

		.discover-skill-list {
			display: inline-block;
			margin-right: 10px;
			margin-bottom: 10px;
			-webkit-animation-duration: 0.4s;
			-moz-animation-duration: 0.4s;
			-o-animation-duration: 0.4s;
			-ms-animation-duration: 0.4s;
			-webkit-transform: translateZ(0);
			-moz-transform: translateZ(0);
			-ms-transform: translateZ(0);
			-o-transform: translateZ(0);
			transform: translateZ(0);
			-webkit-perspective: 1000;
			-moz-perspective: 1000;
			-ms-perspective: 1000;
			-o-perspective: 1000;
			perspective: 1000;	
			-webkit-backface-visibility: hidden;
			-moz-backface-visibility: hidden;
			-ms-backface-visibility: hidden;
			-o-backface-visibility: hidden;
			backface-visibility: hidden;

			.discover-skill-tag {
				display: inline-block;
				h2 {
					display: inline-block;
					padding: 5px 5px 5px 10px;
				}

				.discover-skill-cross {
					display: inline-block;
					padding-top: 10px;
					img:focus {
						outline: 0;
					}
				}
			}

			span {
				display: inline-block;
				font-family: 'FreigBook';
				font-size: 30px;
				color: white;
				margin-bottom: 0;
			}
		}

		.discover-search2-dropdown2 {
			display: inline-block;
			margin: 0px 10px 10px 0px;

			h2 {
				display: inline-block;
				padding: 8px 5px 8px 10px;
			}

			.discover-search2-anyskill {
				input {
					background-color: rgba(20, 20, 20, 0.5);
					width: 130px;
					-webkit-transition: all 200ms linear;
					-o-transition: all 200ms linear;
					-moz-transition: all 200ms linear;
					-ms-transition: all 200ms linear;
					-kthtml-transition: all 200ms linear;
					transition: all 200ms linear;
					-webkit-transform: translateZ(0);
					-moz-transform: translateZ(0);
					-ms-transform: translateZ(0);
					-o-transform: translateZ(0);
					transform: translateZ(0);
					-webkit-perspective: 1000;
					-moz-perspective: 1000;
					-ms-perspective: 1000;
					-o-perspective: 1000;
					perspective: 1000;	
					-webkit-backface-visibility: hidden;
					-moz-backface-visibility: hidden;
					-ms-backface-visibility: hidden;
					-o-backface-visibility: hidden;
					backface-visibility: hidden;
				}

			}

			.discover-search2-popularskills {
				h3 {
					font-family: 'FreigBook';
					color: #999999;
					font-size: 18px;
					padding: 8px 20px;
				}
			}

			.discover-search2-downbox1 {
				max-height: 340px;
				min-height: 50px;
				overflow: scroll;

				span {
					padding: 10px;
					font-family: 'FreigBook';
					font-style: italic;
					font-size: 16px;
					color: #999999;
				}
			}
		}

		.discover-search2-anylocation {
			display: inline-block;
			-webkit-transition: all 400ms linear;
			-o-transition: all 400ms linear;
			-moz-transition: all 400ms linear;
			-ms-transition: all 400ms linear;
			-kthtml-transition: all 400ms linear;
			transition: all 400ms linear;
			-webkit-transform: translateZ(0);
			-moz-transform: translateZ(0);
			-ms-transform: translateZ(0);
			-o-transform: translateZ(0);
			transform: translateZ(0);
			-webkit-perspective: 1000;
			-moz-perspective: 1000;
			-ms-perspective: 1000;
			-o-perspective: 1000;
			perspective: 1000;	
			-webkit-backface-visibility: hidden;
			-moz-backface-visibility: hidden;
			-ms-backface-visibility: hidden;
			-o-backface-visibility: hidden;
			backface-visibility: hidden;

			input {
				width: 200px;
			}

			input:focus {
				color: white;
				::-webkit-input-placeholder {
					color: white;
				}
			}
		}

		.discover-search2-anylocation-mobile {
			display: none;
		}

		.inputfield {
			input {
				color: white;
			}
		}
	}
}

#discover-body-content {
	min-height: 400px;
	
	.discover-body-container {
		.discover-body-list {
			text-align: left;
			padding-left: 20px;

			.discover-body-card {
				margin: 0 16px 40px 16px;
				display: inline-block;
				width: 287px;
				height: 418px;
				border: 1px solid #E5E5E5;
				border-radius: 5px;
				cursor: pointer;
				overflow: hidden;
			}
		}
	}	
	.loader {
		margin: 45px auto;
	}
}

/****** Meet ******/

#meet-body-page {
	.body-page {
		   height: auto;
		   width: 100%;
		background-image: url('images/poster/poster_meet.jpg');
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;

		.home-video-bg {
			background-image: url('images/poster/poster_meet.jpg');

			video {
				background-image: url('images/poster/poster_meet.jpg');
			}
		}
	}
}

.meet-component {
	li {
		padding: 10px 20px 5px 20px;
		font-family: 'FreigBook';
		color: #222222;
		font-size: 18px;
	}

	li:hover {
		border-radius: 8px;
		background-color: #F5F5F5;
	}

	ul {
		padding-bottom: 10px;
		margin-top: 8px;
	}

	#meet-search1 {

		.meet-search1-dropdown-mobile {
			display: none;
		}

		.meet-search1-dropdown {
			display: inline-block;
			margin: 0px 10px 10px 0px;

			h2 {
				display: inline-block;
				padding: 6px 5px 6px 10px;
			}
		}

		.meet-search1-anyskill {
			input {
				width: 130px;
				-webkit-animation-duration: 0.4s;
				-moz-animation-duration: 0.4s;
				-o-animation-duration: 0.4s;
				-ms-animation-duration: 0.4s;
			}
		}

		#input-msa::-webkit-input-placeholder {
			color: white;
		}

		#input-msa2::-webkit-input-placeholder {
			color: rgba(255, 255, 255, 0.3);
		}

		.meet-search1-text {
			display: inline-block;
			margin: 0px 10px 0px 0px;
		}

		.meet-search1-text2 {
			display: inline-block;
			margin: 0px 10px 0px 0px;
		}

		.meet-skill-list {
			display: inline-block;
			margin-right: 10px;
			margin-bottom: 10px;
			-webkit-animation-duration: 0.4s;
			-moz-animation-duration: 0.4s;
			-o-animation-duration: 0.4s;
			-ms-animation-duration: 0.4s;
			-webkit-transform: translateZ(0);
			-moz-transform: translateZ(0);
			-ms-transform: translateZ(0);
			-o-transform: translateZ(0);
			transform: translateZ(0);
			-webkit-perspective: 1000;
			-moz-perspective: 1000;
			-ms-perspective: 1000;
			-o-perspective: 1000;
			perspective: 1000;	
			-webkit-backface-visibility: hidden;
			-moz-backface-visibility: hidden;
			-ms-backface-visibility: hidden;
			-o-backface-visibility: hidden;
			backface-visibility: hidden;

			.meet-skill-tag {
				display: inline-block;
				h2 {
					display: inline-block;
					padding: 6px 5px 6px 10px;
				}

				.meet-skill-cross {
					display: inline-block;
					padding-top: 10px;
					img:focus {
						outline: 0;
					}
				}
			}

			span {
				display: inline-block;
				font-family: 'FreigBook';
				font-size: 30px;
				color: white;
				margin-bottom: 0;
			}
		}

		.meet-search1-popularskills {
			h3 {
				font-family: 'FreigBook';
				color: #999999;
				font-size: 19px;
				padding: 8px 20px;
			}

		}

		.meet-search1-downbox1 {
			max-height: 340px;
			min-height: 50px;
			overflow: scroll;

			span {
				padding: 10px;
				font-family: 'FreigBook';
				font-style: italic;
				font-size: 16px;
				color: #999999;
			}
		}

		.meet-search1-downbox2 {

		}

		.meet-search2-anylocation {
			display: inline-block;
			position: relative;
			right: 10px;

			input {
				width: 200px;
			}
			input:focus {
				color: white;
			}
		}
		
		.inputfield {
			input {
				color: white;
			}
		}

		.meet-search2-text2 {
			display: inline-block;
			margin: 0px 10px 0px 0px;
		}
	}

	.meet-search2 {
		margin: 5px 0;

		.meet-search2-text1 {
			display: inline-block;
		}

		.meet-search2-dropdown {
			display: inline-block;
			h2 {
				display: inline-block;
				padding: 10px 15px 10px 10px;
			}

			.meet-search2-anyskills {
				margin-left: 20px;
				margin-right: 10px;
			}
		}

		.meet-search2-anylocation {
			display: inline-block;

			input {
				width: 200px;
			}
		}

		.meet-search2-text2 {
			display: inline-block;
			margin: 0px 10px 0px 0px;
		}
	}
}
#meet-body-content {
	min-height: 700px;

	.meet-body-container {
		max-width: 1000px;
		margin: 0 auto;
		padding-left: 10px;
		-webkit-transition-delay: all 500ms linear;
		-o-transition-delay: all 500ms linear;
		-moz-transition-delay: all 500ms linear;
		-ms-transition-delay: all 500ms linear;
		-kthtml-transition-delay: all 500ms linear;
		transition-delay: all 500ms linear;
		-webkit-transform: translateZ(0);
		-moz-transform: translateZ(0);
		-ms-transform: translateZ(0);
		-o-transform: translateZ(0);
		transform: translateZ(0);
		-webkit-perspective: 1000;
		-moz-perspective: 1000;
		-ms-perspective: 1000;
		-o-perspective: 1000;
		perspective: 1000;	
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		-o-backface-visibility: hidden;
		backface-visibility: hidden;

		.meet-body-cards {
			text-align: left;
			display: inline-block;
			// margin-bottom: 20px;

			.meet-body-card {
				display: inline-table;
				text-align: center;
				width: 207px;
				height: 260px;
				margin: 0px 16px 50px 16px;
				border: 1px solid #E5E5E5;
				border-radius: 5px;
			}
		}

		.meet-search-found {
			h2 {
				font-family: 'FreigLight';
				color: black;
				padding: 45px 20px 45px 16px;
				line-height: 38px;
			}
		}
	}
}

/****** Work ******/

.work-component {
	.wst {
		display: inline-block;
		margin: 0px 5px;
	}
	.work-search1{
		margin: 10px 0px;
		.work-search1-dropdown {
			display: inline-block;
			margin-right: 10px;

			h2 {
				display: inline-block;
				padding: 10px 15px 10px 10px;
			}
		}

		.work-search1-textmin {
			margin: 0;
		}
	}

	.work-search2 {
		margin: 15px 0px;

		.work-search2-location {
			margin: 0;
			.work-search2-anylocation {
				input {
					width: 200px;
				}

				input:focus {
					color: white;
				}
			}
		}

		.work-search2-dropdown {
			display: inline-block;
			margin-left: 20px;
			h2 {
				display: inline-block;
				padding: 10px 15px 10px 10px;
			}
		}
	}
}

@media only screen and (max-width: 1024px) {

	.presentation-image-bg {
		display: block;
		width: 100%;
	}

	.discover-image-bg {
		height: 480px;
		background-image: url("/images/bg_mobile/bg_discover_mobile.jpg");
		background-size: cover;
		background-position: center center;
		-webkit-filter: brightness(0.6);
		-moz-filter: brightness(0.6);
		-o-filter: brightness(0.6);
		-ms-filter: brightness(0.6);
		filter: brightness(0.6);
		-webkit-transform: translateZ(0);
		-moz-transform: translateZ(0);
		-ms-transform: translateZ(0);
		-o-transform: translateZ(0);
		transform: translateZ(0);
		-webkit-perspective: 1000;
		-moz-perspective: 1000;
		-ms-perspective: 1000;
		-o-perspective: 1000;
		perspective: 1000;	
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		-o-backface-visibility: hidden;
		backface-visibility: hidden;
	}

	.meet-image-bg {
		height: 480px;
		background-image: url("/images/bg_mobile/bg_meet_mobile.jpg");
		background-size: cover;
		background-position: center center;
		-webkit-filter: brightness(0.7);
		-moz-filter: brightness(0.7);
		-o-filter: brightness(0.7);
		-ms-filter: brightness(0.7);
		filter: brightness(0.7);
		-webkit-transform: translateZ(0);
		-moz-transform: translateZ(0);
		-ms-transform: translateZ(0);
		-o-transform: translateZ(0);
		transform: translateZ(0);
		-webkit-perspective: 1000;
		-moz-perspective: 1000;
		-ms-perspective: 1000;
		-o-perspective: 1000;
		perspective: 1000;	
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		-o-backface-visibility: hidden;
		backface-visibility: hidden;
	}

}

/*********************** MEDIA QUERIES MOBILE WIDTH \*320px to 736px*\ **************************/
@media only screen and (max-width: 736px) {

	/*** Presentation Mobile ***/
	.presentation-component {
		width: auto;
		top: 95px;
		padding-left: 20px;

		.presentation-title {
			padding-top: 15px;
			padding-bottom: 20px;
			h2 {
				font-family: 'FreigSem';
				font-size: 24px;
			}
		}

		img {
			margin: 5px 10px 13px 0px;
		}

		h2 {
			font-family: 'FreigLight';
			font-size: 27px;
			color: white;
		}

		.searchbox {
			background-color: rgba(20, 20, 20, 0.6);
			h2 {
				padding-top: 6px;
				padding-bottom: 6px;
			}
		}
	}
	.presentation-body-title {
		padding: 25px 20px 20px 20px;

		h4 {
			font-family: 'FreigBook';
			font-size: 16px;
		}
	}

	.presentation-body-loadmore {
		padding: 0px 20px 20px 20px;

		button:hover {
			background-color: none;
			color: none;
		}
	}

	.presentation-body-loadmore {
		button {
			-webkit-transform: translateZ(0);
			-moz-transform: translateZ(0);
			-ms-transform: translateZ(0);
			-o-transform: translateZ(0);
			transform: translateZ(0);
			-webkit-perspective: 1000;
			-moz-perspective: 1000;
			-ms-perspective: 1000;
			-o-perspective: 1000;
			perspective: 1000;	
			-webkit-backface-visibility: hidden;
			-moz-backface-visibility: hidden;
			-ms-backface-visibility: hidden;
			-o-backface-visibility: hidden;
			backface-visibility: hidden;
		}

		button:hover {
			background-color: transparent;
			color: #222222;
		}

		button:focus {
			background-color: #222222;
			color: white;
		}
	}

	/****** Discover mobile ******/

	#discover-body-content {
		-webkit-transform: translateZ(0);
		-moz-transform: translateZ(0);
		-ms-transform: translateZ(0);
		-o-transform: translateZ(0);
		transform: translateZ(0);
		-webkit-perspective: 1000;
		-moz-perspective: 1000;
		-ms-perspective: 1000;
		-o-perspective: 1000;
		perspective: 1000;	
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		-o-backface-visibility: hidden;
		backface-visibility: hidden;

		.discover-body-container {
			.discover-body-list {
				text-align: center;
				margin: 10px auto;
				padding-left: 0px;

				.discover-body-card {
					display: inline-block;
					width: 287px;
					height: 418px;
					margin: 0;
					margin-bottom: 20px;
				}
			}
		}	
		.loader {
			margin: 25px auto;
		}
	}

	.discover-component {
		.discover-search1 {

			.discover-search1-text {
				display: inline-block;
				margin: 0px 10px;
			}

			.discover-search1-dropdown {
				display: block;
				margin: 0;
				margin-bottom: 10px;
			}

			.discover-search1-dropdown1-mobile {
				display: table;
			}

			.discover-search1-dropdown2-mobile {
				display: inline-block;
			}
		}

		.discover-search2 {
			border-spacing: 0;
			padding-right: 10px;

			#dsdrop1m {
				display: inline-block;
				max-width: auto;

				h2 {
					display: inline-block;
					padding: 6px 10px 7px 10px;
				}
/*
				.discover-skillList {

					h2 {
						font-size: 21px;
						padding: 0;
						padding-left: 5px;
					}
				}*/

				img {
					display: inline-block;
				}
			}

			.discover-search2-text {
				margin-bottom: 10px;
			}

			.discover-search2-text-mobile {
				display: table-cell;
				h2 {
					margin-right: 10px;
				}
			}

			.discover-search2-dropdown {
				margin-bottom: 10px;
			}

			.discover-search2-dropdown2-mobile {
				margin-bottom: 10px;
			}

			.bomobi {
				display: table-cell;
				padding-right: 10px;
			}

			.discover-search2-anylocation {
				display: table-cell;

				input {
					font-size: 27px;
					padding: 2px 10px;
				}
			}

			#dsdrop1 {
				display: none;
			}
		}
	}

	/****** Meet mobile ******/
	#meet-body-content {
		min-height: 400px;
		
		.meet-body-container {


			.meet-body-cards {
				padding: 0;
				text-align: center;
				margin: 10px 0;

				.meet-body-card {
					margin: 0px 14px 25px 14px
				}
			}
		}
	}

	.meet-component {
		.meet-title {
			padding: 15px 0 10px 0;
		}

		#meet-search1 { 
			.meet-search1-text {
				margin-bottom: 10px;
			}

			#msdrop1 {
				display: none;
			}

			.meet-search1-dropdown-mobile {
				display: inline-block;
				margin-bottom: 10px;
				margin-right: 20px;
				padding-bottom: 1px;

				h2 {
					display: inline-block;
					padding: 6px 10px 7px 10px;
				}

				.meet-skillList {

				}

				.meet-cross-bg {
					display: inline-block;
					vertical-align: middle;
					background-image: url('/images/arrow-down-icon-w.svg');
					background-repeat: no-repeat;
					background-position: 45% 28%;
					background-size: 14px;
					height: 30px;
					width: 26px;
				}
			}

			.meet-search1-text2 {
				display: table;
				padding-right: 10px;
				padding-bottom: 10px;
			}

			.meet-search1-dropdown {
				display: table;
			}

			.meet-search2-text2 {
				margin-bottom: 10px;
			}

			.meet-search2-anylocation {
				input {
					font-size: 27px;
					height: 42px;
					width: 170px;
				}
			}
		}
	}
}

@media only screen and (max-width: 320px) {

}

@media only screen and (max-width: 320px) {

	/****** Discover mobile ******/
	#discover-body-content {
		.discover-body-container {
			.discover-body-list {
				.discover-body-card {
					width: 270px;
				}
			}
		}	
		.loader {
		}
	}

	/****** Meet mobile ******/
	#meet-body-content {
		min-height: 400px;
		
		.meet-body-container {

			.meet-body-cards {
				padding: 0;
				text-align: center;
				margin: 10px 0;

				.meet-body-card {
					margin: 0px 16px 25px 16px
				}
			}
		}
	}
}
