$red: #FF4D4D;
$more-red: #D94242;
$bg-color-strokes: #F5F5F5;
$bg-color: #FAFAFA;
$secondary-text: #999999;
$font-h3: 'Open Sans', sans-serif;
$font-h3: 'Open Sans', sans-serif;

.tempo3-class, .tempo4-class {
  display: inline-block;
}

#formNewAskTextarea, 
#textareaAskReply,
#textareaQuestionReply {
  .redactor-editor {
    font-family: 'FreigBook';
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 4px;
    border: 1px solid #e5e5e5;
    color: black;
    line-height: 26px;
    height: 160px;
  }
}

.tempo3-class {
  margin: 15px 10px 5px 30px;
}

.tempo4-class {
  width: 80%;
  margin-top: 15px;
  vertical-align: top;
}

.circle_number {
  position: relative;
  margin-left: 5px;
  width: auto;
  font-family: 'Arial';
  font-weight: 600;
  font-size: 11px;
  border-radius: 10px;
  text-align: center;
  padding: 1px 7px;
  color: white;
  background-color: #ff4d4d;
  display: inline-block;
}


.text-number {
  padding: 10px 0px !important;
  font-family: 'Arial';
  font-weight: 700;
  font-size: 50%;
}

.header-project-2 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background: rgba(0,0,0,0.1);
  margin-top: -80px;
  height: 220px;
  position: relative;
  z-index: 10 !important;

  .header-name {
    padding-top: 100px;

    h1 {
      font-family: FreigMed;
      font-size: 36px;
    }

    h5 {
      padding-top: 10px;
      font-family: FreigLight;
      color: white;
      font-size: 15px;
    }
  }
}

#footer-projects {
  color: white;
  background-color: rgba(0,0,0,0.5);
  height: auto;
  width: 100%;
  position: absolute;
  bottom: 0 !important;

  .discover-button {
    width: auto;
    //height: 50px;
    height: auto;
    font-family: FreigSem;
    font-size: 15px;
    background-color: transparent;
    padding: 10px 20px;
    border-style: solid;
    border-color: white;
    border-radius: 4px;
    border-width: 3px;
    margin: 17px 0px;
    -webkit-transition: all 100ms linear;
      -o-transition: all 100ms linear;
      -moz-transition: all 100ms linear;
      -ms-transition: all 100ms linear;
      -kthtml-transition: all 100ms linear;
      transition: all 100ms linear;

      i {
        //background-color: none;
        margin-right: 5px;
      }
  }

  .discover-button:hover {
    color: black;
    background-color: white;
  }

  .nav-project .li-hovered:hover {
    background-color: rgba(0,0,0, 0.6);
    -webkit-transition: all 100ms linear;
      -o-transition: all 100ms linear;
      -moz-transition: all 100ms linear;
      -ms-transition: all 100ms linear;
      -kthtml-transition: all 100ms linear;
      transition: all 100ms linear;
  }

  .nav-project a:hover {
    color: #fff;
    background-color: transparent;
    cursor: pointer;
  }

  .link-footer {
    color: #fafafa;
    width: auto;
    height: auto;
    font-family: FreigLight;
    font-size: 19px;
    //padding: 10px 10px;
    margin: 17px 0px;
  }

  .link-footer-left {
    color: #fff;
    width: auto;
    height: auto;
    font-family: FreigSem;
    font-size: 19px;
    //padding: 10px 20px !important;
    margin: 17px 0px;
  }

  .link-footer-left:visited {
    background-color: inherit;
  }

  .vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
  }

}

.row-cards {
  width: 1300px;
}

.cards-project {
  //height: 400px;
  padding: 0px;
  width: 318px;
  //min-width: 280px;
  //min-width: 200px;
  margin: 20px 5px;
  border: solid 1px #ddd;
  border-radius: 5px;
  margin-right: 20px;

  .info {
    padding: 15px;
    background-color: white;

    .desc {
      height: 50px;
    }
  }

}

.pdt-tp-bt-75 {
  .col-md-11 {
    padding-left: 0;
  }
}

.container-projects {
  max-width: 1000px;
}

#normal_container {
  background-color: white;
  padding: 60px 0px;
  border-bottom: 1px solid #eee;
}

#followed_container {
  background-color: #fafafa;
  padding: 60px 0px;
  border-bottom: 1px solid #eee;
}

.title-myprojects {
  font-family: FreigLight;
  font-size: 100%;
  color: #222;
  font-size: 40px;
}

.subtitle {
  color: #999;
  font-size: 13px;
}

.filter-banner {
  background-color: rgba(0,0,0,0.2);
  height: inherit;
}

.tets1 {
  height: 180px;
  width: 316px;
  background-repeat: no-repeat;
  background-size: cover;
}

.tets1:hover {
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.category_tag {
  position: absolute;
  background-color: #222;
  color: white;
  padding: 5px 10px;
  //margin: 40px;
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 4px;
  font-family: FreigSem;
  font-size: 13px;
}

.category_tag:hover {
  transform: scale(1.03);
  font-size: 13px;
}

.rounded-img-history {
  width: 60px;
  height: 60px;
  border-radius: 5px;
}

.row-project-history {
  //margin: 20px 0px;
  padding: 30px 20px;
  border-bottom: 1px solid #ddd;
  -webkit-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  -ms-transition: all 400ms linear;
  -kthtml-transition: all 400ms linear;
  transition: all 400ms linear;
}

.row-project-history:hover {
  background-color: #f6f6f6;
  cursor: pointer;
}

.rounded-bg {
  width: 60px;
  height: 60px;
  border-radius: 4px;
  background-size: cover;
}

.history-text-title {
  font-family: FreigSem;
  font-size: 17px;
  color: #999;
  font-weight: 600;
  -webkit-transition: all 100ms linear;
  -o-transition: all 100ms linear;
  -moz-transition: all 100ms linear;
  -ms-transition: all 100ms linear;
  -kthtml-transition: all 100ms linear;
  transition: all 100ms linear;
}

.history-text-title:hover {
  color: #416299;
}

.history-text-date {
  font-family: FreigSem;
  font-size: 18px;
  color: #999;
}

.category_tag_history {
  position: absolute;
  background-color: #222;
  color: white;
  padding: 5px 10px;
  margin-top: 10px;
  margin-left: 0px;
  margin-bottom: 20px;
  border-radius: 4px;
  font-family: FreigSem;
  font-size: 13px;
  /*-webkit-transition: all 100ms scale;
  -o-transition: all 100ms scale;
  -moz-transition: all 100ms scale;
  -ms-transition: all 100ms scale;
  -kthtml-transition: all 100ms scale;
  transition: all 100ms scale;*/
  transition: all .200ms ease-in-out;
}

.category_tag_history:hover {
  transform: scale(1.03);
  font-size: 13px;
}


// FEEDBACKS //
.projects-container {
  background-color: #fafafa;
}

.subtitle-feedbacks {
  color: #999;
  font-family: FreigLight;
  font-size: 36px;
  font-weight: 200;
}

.project-post-nodetail {  
  h2 {
    padding: 30px 0 170px 0;
    font-family: "FreigBook";
    color: #999999;
  }
}

.project-post-container {
  text-align: center;
  min-height: 200px;
  padding: 20px 0px 40px 0;

  .project-contributor-show {
    width: 740px;
    text-align: left;
    margin: 0 auto;
    margin-bottom: 20px;

    h4 {
      display: inline-block;
      font-family: 'FreigBook';
      font-size: 16px;
      color: black;
      margin-right: 10px;
      vertical-align: top;
      margin-top: 8px;
    }

    ul {
      display: inline-block;
      width: 600px;

      li {
        display: inline-block;
        margin-right: 5px;
        margin-bottom: 5px;

        img {
          width: 34px;
          border-radius: 50%;
        }
      }
    }
  }

  .video-container {
    iframe {
      width: 738px;
      height: 416px;
    }
  }

}

/*.project-post-video {
  max-width: 800px;
  margin: 0px auto;
  padding: 30px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
}
*/

.project-post-video {
  border: none !important;
  background-color: transparent !important;
  padding: 0 2px !important;
}

.project-post-box,
.project-post-video {
  max-width: 740px;
  padding: 0 2px;
  margin: 0px auto;
  margin-bottom: 40px;
  background-color: white;
  overflow: hidden;


  // Custom VideoJs
  .video-js {
    width: 736px;
    height: 414px;
    margin: 0 auto;

    .vjs-big-play-button {
      left: 0;
      right: 0;
      margin: 0 auto;
      top: 45%;
      border: none;
      border-radius: 4px;
    }

    .vjs-control:before {
      font-size: 2.3em;
    }

    .vjs-control-bar {
      height: 4.0em;
    }

    .vjs-time-control {
      font-size: 1.3em;
    }

    .vjs-remaining-time {
      top: 1px;
    }

    .vjs-volume-bar {
      margin: 1.8em 1em;
    }

    .vjs-volume-menu-button {
      right: 7px;
    }

    .vjs-slider {
      margin-bottom: 2px;
    }

    .vjs-progress-holder {
      transition: all 80ms;
    }

    .vjs-control-bar {
      background-color: rgba(0, 0, 0, 0.4);
    }
  }

  vg-overlay-play .play {
    font-size: 50px;
    color: #999999;
  }

  videogular {
    background-color: transparent;
  }

  videogular vg-controls,
  [videogular] vg-controls {
    height: 55px !important;
  }

  videogular vg-overlay-play, [videogular] vg-overlay-play {
    left: 0;
  }

  videogular {
	height: 419px;
    margin-bottom: 40px;

    vg-time-display {
      font-size: 14px;
    }
  }

  videogular .iconButton:focus, [videogular] .iconButton:focus {
    border: none;
  }
  videogular vg-volume-bar .verticalVolumeBar, [videogular] vg-volume-bar .verticalVolumeBar{
    background-color: transparent;
  }
  videogular vg-scrub-bar-current-time, [videogular] vg-scrub-bar-current-time {
        transition: all 100ms linear;
  }

  pre {
    text-align: left;
  }

  blockquote {
    font-family: 'FreigLightIt';
    font-size: 18px;
    text-align: left;
    color: #646964;
    border-left: 1px solid #ddd;
  }

  ul {
    list-style: circle;
    list-style-type: disc;
    margin-left: 20px;

    li {
      list-style-type: disc;
      font-family: 'FreigBook';
      font-size: 18px;
      line-height: 27px;
      color: #222;
      text-align: left;
    }
  }
}

.custom-project-post {
  width: inherit;

  ul {
    margin-bottom: 10px;
    font-family: 'FreigBook';
    font-size: 18px;
    text-align: left;
  }

  ul,li {
    list-style-type: none !important;

  }

  figure {
    width: inherit;
  }

  img {
    width: 100%;
    height: auto;
  }

  p {
    font-family: 'FreigBook';
    font-size: 19px;
    line-height: 24px;
    color: #222;
    text-align: left;
    word-spacing: 1px;
    margin-bottom: 0;
  }

  h1 {
    font-size: 28px;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'FreigSem';
    color: #222;
    margin-bottom: 25px;
    text-align: left;
  }

  a {
    font-family: 'FreigBook';
    font-size: 16px;
    color: #256bc9;
  }

  a:hover {
    color: #999999;
  }
}

//////////////////////////
// FEEDBACK TAB PROJECT //
//////////////////////////

.nomargin {
  margin: 0px;
  padding: 0px;
}

#feedback_project {

  .cards_openings {
    width: 33%;
    margin-bottom: 30px;
    border-radius: 4px;
    overflow: hidden;
  }

  .cards_openings_body {
    border: 1px solid #eee;
    border-radius: 4px;
    overflow: hidden;
  }

  .project-card .card-picture {
    height: 100px ;
    border-top-right-radius: 4px;
    overflow: hidden;
  }

  .project-card .card-info .card-description-text {
    //min-height: 180px;
    //max-height: 180px;
    height: auto;
    margin-bottom: 0;
  }

  .need_tags {

    .tag_text {
      background-color: #222;
      width: auto;
      display: inline-block;
      padding: 2px 4px;
      font-family: 'FreigSem';
      font-size: 13px;
      text-transform: uppercase;
      color: white;
      border-radius: 4px;
      margin-right: 4px;
      margin-bottom: 5px;
    }
  }

  .cards_openings_footer {
    padding: 15px 0px;
    background-color: #f9f9f9;
    border-top: 1px dashed #ddd;

    .no_padding {
      padding: 0px;
    }

    .img_footer {
      //fill: red;
      //height: 18px;
    }

    .footer_text {
      font-family: 'FreigSem';
      color: #6e6e6e;
      margin: 0px;
      cursor: pointer;
    }
    .footer_text:hover {
      text-decoration: underline;
      color: #555555;
    }

    .icon_footer {
      cursor: pointer;
      color: #bbb;
      font-size: 18px;
      position: relative;
      bottom: 1px;
      outline: none;
      -webkit-transition: all 100ms linear;
        -o-transition: all 100ms linear;
        -moz-transition: all 100ms linear;
        -ms-transition: all 100ms linear;
        -kthtml-transition: all 100ms linear;
        transition: all 100ms linear;
    }
    .icon_footer:hover {
      color: $red;
      -webkit-transition: all 100ms linear;
        -o-transition: all 100ms linear;
        -moz-transition: all 100ms linear;
        -ms-transition: all 100ms linear;
        -kthtml-transition: all 100ms linear;
        transition: all 100ms linear;
    }
    .icon_footer_2 {
      //padding-top: 12px;
      cursor: pointer;
      color: #bbb;
      font-size: 17px;
      outline: none;
      -webkit-transition: all 100ms linear;
        -o-transition: all 100ms linear;
        -moz-transition: all 100ms linear;
        -ms-transition: all 100ms linear;
        -kthtml-transition: all 100ms linear;
        transition: all 100ms linear;
    }
    .icon_footer_2:hover {
      color: $red;
      -webkit-transition: all 100ms linear;
        -o-transition: all 100ms linear;
        -moz-transition: all 100ms linear;
        -ms-transition: all 100ms linear;
        -kthtml-transition: all 100ms linear;
        transition: all 100ms linear;
    }

    .showMess {
      color: #ccc;
      font-family: 'FreigSem';
      font-size: 16px;
      margin: 0px;
    }
  }

  .mgr-bt-20 {
    margin-bottom: 20px;
  }

  .mgr-bt-40 {
    margin-bottom: 80px !important;
  }

  .mgr-tp-40 {
    margin-top: 40px !important;
  }

  .container_header_question {
    padding: 0px;
    margin: 0px;
    width: 100%;
  }

  .no_feedbacks {
    margin: 50px 0px;

    .title_no_comments {
      font-family: 'FreigBook';
      font-size: 24px;
      color: #999999;
    }

    .text_no_comments {
      font-family: 'FreigBook';
      font-size: 18px;
      color: #999999;
    }
  }

  .number_replies {
    //font-family: Arial;
    font-size: 14px; //or 12 freigsem
    //font-weight: 600;
  }

  p {
    outline: none;
  }

  .feedback_textarea_question {
    margin: 15px 15px 0px 0px;
    .pd-20 {
      padding: 15px;
    }

    .col-md-11 {
      padding: 0;
    }
  }

  .view-project-feedback-ask {
    display: inline-block;
    width: 85%;
  }

  .feedback_description {
    margin: 0px;
    cursor: default;

    .mgr-bt-20 {
      margin-bottom: 20px;
      margin-left: 15px;
      margin-right: 15px;
    }

    .pd-20 {
      padding: 15px;
    }

    .col-md-11 {
      padding-left: 47px;
    }

    .feedback-reply-field {
/*      border: 1px solid #e5e5e5;
*/      border-radius: 4px;
        padding: 15px 15px 5px 65px;
    }
  }

  .feedback_textarea {
    margin-top: 15px;

    .mgr-bt-20 {
      margin-bottom: 20px;
      margin-left: 15px;
      margin-right: 15px;
    }

    .pd-20 {
      padding: 15px;
    }

    .col-md-11 {
      padding-left: 15px;
    }
  }

  .cards-feedbacks-two {
  p {
      font-size: 16px;
      font-family: 'FreigBook';
      color: #222222;
      margin-bottom: 5px;

/*    a {
      font-family: 'FreigBook';
      color: #256bc9;
    }*/
  }
}
  .title {
    color: #999999;
    font-size: 14px;
    margin-bottom: 5px;
    font-family: 'FreigBook';
  }

  .row-custom-feed {
    margin: 0px;

    .replies_container {
      //background-color: yellow;
      width: inherit;
    }

    .nested_replies {
      width: 91%;
      margin-left: 70px;
      height: auto;
      margin-bottom: 20px;
      padding: 10px;
      border: 1px solid #e5e5e5;
      border-radius: 4px;

      .try-lol {
        height: auto;
        border-left: 3px solid #ddd;
      }
    }

    .nested_replies_2 {
      background-color: #fafafa;
      padding: 15px 0;
      border-radius: 4px;
      border: 1px solid #e5e5e5;


      .col-md-1 {
        padding: 0;
      }
    }
  }

  .animate-if.ng-enter, .animate-if.ng-leave {
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  }

  .animate-if.ng-enter,
  .animate-if.ng-leave.ng-leave-active {
    opacity:0;
  }

  .animate-if.ng-leave,
  .animate-if.ng-enter.ng-enter-active {
    opacity:1;
  }

  .text_description_feed {

    p {
      font-family: 'FreigBook';
      color: #222222;
      font-size: 16px;
    }
  }

  .textarea_new_reply {
    width: 100%;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    resize: none;
    outline: none;
    font-family: 'FreigBook';
    font-size: 16px;
    color: black;
    padding: 10px;
    height: auto;
    min-height: 100px;
  }

  .button_post_comment {
    font-family: 'FreigSem';
    font-size: 16px;
    color: white;
    background-color: #FF4D4D;
    padding: 6px 10px;
    border: 1px solid #FF4D4D;
    border-radius: 4px;
  }

  .post_comment_reply {
    font-family: 'FreigSem';
    font-size: 16px;
    color: white;
    background-color: #FF4D4D;
    padding: 6px 10px;
    border: 1px solid #FF4D4D;
    border-radius: 4px;
    margin: 20px 0;
  }

  .button_ask {
    margin: 20px 0;
  }

  .button_post_comment:hover {
    background-color: $more-red;
    border: 1px solid $more-red;
  }

  .replies_title {
    color: #1a1a1a;
    text-decoration: underline;
  }

  .container-custom-project {
    max-width: 780px;
    padding: 0 20px;
    float: none;
    margin: 0 auto;
  }

  .feedback_container {
    max-width: 780px;
    padding: 0 20px;
  }

  h3 {
    margin-bottom: 20px;
  }

  .link_top {
    font-family: 'FreigMed';
    font-size: 16px;
    padding-top: 10px;
    color: $red;
    cursor: pointer;

    .fa-plus {
      position: relative;
      font-size: 14px;
      top: 1px;
      margin-right: 2px;
    }
  }
  .link_top:hover {
    color: $more-red;
  }

  .cards-feedbacks-two {
    padding: 10px 10px 0 0;
    padding-bottom: 10px;
    background-color: white !important;
   // border: 1px solid #e5e5e5;
    border-radius: 5px;
    //border: solid 1px #DDD;
    margin-bottom: 10px;
    height: auto;
    -webkit-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    -o-transition: all 100ms linear;
    -ms-transition: all 100ms linear;
    transition: all 100ms linear;

    .from_text {
      font-family: 'FreigBook' !important;
      margin-bottom: 5px;
      span {
        font-size: 14px;
      }
    }

    .underline_user {
      color: #999999;
      font-size: 16px;
      cursor: pointer;
      text-decoration: underline;
      -moz-text-decoration-style: dotted;
      -webkit-text-decoration-style: dotted;
      text-decoration-style: dotted;
    }

    .underline_user:hover {
      color: black;
    }

    .img-feedback {
      display: inline-block;
      padding: 10px 10px 10px 15px;
      float: left;
    }

    .text-feedback {
      display: inline-block;
      width: 80%;
    }

    .tempo-class, .tempo2-class {
      display: inline-block;
      margin-right: 10px;
    }
    .tempo2-class {
    	width: 80%;
	vertical-align: top;
    }   

    .tempo-class, .tempo2-class {
      display: inline-block;
      margin-right: 10px;
    }

    .img-responsive {
      margin: 0 auto;
    }

    .picto_delete {
      text-align: right;
      padding-top: 20px;
      outline: none;
    }

    .feedback_badge {
      font-family: 'FreigSem' !important;
      font-size: 10px !important;
      background-color: #999999;
      color: white;
      padding: 0px 5px;
      border: 1px solid #999999;
      border-radius: 3px;
      margin-left: 5px;
    }

    .delete_icon {
      color: #ddd;
      font-size: 20px;
      outline: none;
      -webkit-transition: all 200ms linear;
      -moz-transition: all 200ms linear;
      -o-transition: all 200ms linear;
      -ms-transition: all 200ms linear;
      transition: all 200ms linear;
    }

    .delete_icon:hover {
      color: $red;
      -webkit-transition: all 200ms linear;
      -moz-transition: all 200ms linear;
      -o-transition: all 200ms linear;
      -ms-transition: all 200ms linear;
      transition: all 200ms linear;
    }

    .fadein,
    .fadeout {
      -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 300ms;
      -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 300ms;
      -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 300ms;
      transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 300ms;
    }

    .fadein.ng-hide-remove,
    .fadeout.ng-hide-add.ng-hide-add-active {
      opacity: 0;
      display: block !important;
    }

    .fadeout.ng-hide-add,
    .fadein.ng-hide-remove.ng-hide-remove-active {
      opacity: 1;
      display: block !important;
    }
  }

  .cards-feedbacks-two:hover {
    cursor: pointer;
    border-color: #C9C9C9;
  }

  #asks {

    .input_new_ask {
      padding: 7px 15px;
      width: 100%;
      border: 1px solid #ddd;
      border-radius: 4px;
      font-family: 'FreigBook';
      font-size: 16px;
      color: black;
    }

    .mgr-bt-20 {
      //margin-left: 0;
      margin-bottom: 20px;
      margin-top: 20px;
    }

    .no-padding {
      padding-right: 0px;
    }

  }

}

@media only screen and (max-width: 736px) {
  .project-post-box, .project-post-video {
    border: none;
  }

  .project-post-container {
    text-align: center;
    padding: 40px 20px;
  }

  #feedback_project .cards-feedbacks-two .img-responsive {
    margin: 0;
  }

  #feedback_project .cards-feedbacks-two {
    padding: 0;
    border: none;
  }

  #feedback_project .feedback_description {
    border-radius: 4px;
  }

  #feedback_project .cards-feedbacks-two {
    border-radius: 4px;
  }

  #feedback_project .feedback_reply_text {
    font-family: 'FreigMed';
  }

  #feedback_project .text_description_feed p {
    font-family: 'FreigMed';
  }

  #feedback_project .feedback_description .feedback-reply-field {
    border: none;
    padding-right: 0;
  }

  #feedback_project .feedback_description .feedback-reply-field .col-md-1 {
    padding: 0 15px 0 10px;
    display: inline-block;
  }

  #feedback_project .feedback_description .col-md-11 {
    padding-right: 0;
    display: inline-block;
    padding-top: 0;
  }

  #feedback_project .feedback_description .mgr-bt-20 {
    margin-bottom: 0;
  }

  #feedback_project .text_description_feed {
    margin-left: 10px;
  }

  #feedback_project #asks .mgr-bt-20 {
    margin: 0;
  }

  #feedback_project #asks .mgr-bt-20 {
    padding-left: 15px;
  }

  #feedback_project .cards_openings {
    width: 100%;
  }

  #feedback_project {

    .pdt-tp-bt-75 {
      padding: 30px 10px 50px 10px;
    }

    h3 {
      font-size: 27px;
    }

    h4 {
      font-size: 21px;
    }

    .feedback_container {
      padding: 0 0px;
    }

    .container-custom-project {

    }

    .no_feedbacks {
      margin: 20px 0;

      .title_no_comments {
        font-size: 21px;
        margin-bottom: 6px;
      }

      .text_no_comments {
        font-size: 16px;
      }
    }

    .link_top {
      font-family: 'FreigMed';
      font-size: 14px;
      padding-top: 0px;
      color: $red;
      cursor: pointer;

      .fa-plus {
        position: relative;
        font-size: 14px;
        top: 1px;
        margin-right: 5px;
      }
    }
    .link_top:hover {
      color: $red;
    }

    .cards_openings_body {
      width: 260px;
      margin: 0 auto;
    }

    .cards_openings_footer {
      .footer_text {
        display: none;
      }
    }

    .mgr-bt-40 {
      margin-bottom: 0 !important;
    }

  }

}

@media only screen and (max-width: 736px) {
  
  .project-post-box,
  .project-post-video {
    .video-js {
      width: 100%;
      height: 250px;
    }
  }
   
}

@media only screen and (max-width: 320px) {
  
  #feedback_project {
    .pdt-tp-bt-75 {
      padding: 30px 10px 30px 15px;
    }

    .cards_openings_body {
        width: 240px;
        margin: 0 auto;
      }

    .cards_openings_footer {
      .footer_text {
        display: none;
      }
    }
  }

  .project-post-box,
  .project-post-video {
    .video-js { 
      width: 100%;
      height: 250px;
    }
  }

}
