<div class="main-signup-page-bg">
<div class="fake-page" style="position: absolute; width: 100vw; height: 100vh; top: 0; background-image: url('images/bg-test.png'); background-position: center center; background-size: cover">
    <div style="width: inherit; height: inherit; background-color: rgba(0, 0, 0, 0.6)" >
        
    </div>
</div>
<section id="main-signup-page" data-ng-controller="Signup_modalCtrl" style="position: relative; z-index: 100; padding-bottom: 0; overflow: none">
    <div class="signup-modal-social signup-login-social" style="padding: 0">
        <div style="padding: 15px 0 15px 0">
            <hr style="position: absolute; z-index: -1; width: 100%; margin-top: 30px; box-shadow: 0px 1px 1px #e5e5e5"/>
        	<img src="{{info.profile_picture}}" style="width: 55px; border-radius: 50%; margin: 0 auto">
        	<h4 style="font-size: 18px; font-family: 'FreigBook'; color: black; margin-top: 0">{{info.first_name}} will increase his ranking and get 24% more exposure thanks to you.</h4>
        </div>
        <div class="fb-login">
            <a href="/auth/facebook" target="_self" ng-click="saveInvite(info.user_id)">
                <button><i class="fa fa-facebook" style="color: white"></i>Log in with Facebook</button>
            </a>
        </div>
        <div class="go-login">
            <a href="/auth/google" target="_self" ng-click="saveInivite()">
                <button class="go-login"><img src="/images/social_media/newgoogle-logo.svg">Log in with Google</button>
            </a>
        </div>
    </div>
    <div class="signup-modal-old signup-login-old">
        <div class="old-dash"></div>
        <h4>Let's get you started</h4>
        <div class="old-dash"></div>
    </div>
    <div class="signup-modal-field">
        <p ng-if="eat">Email is already taken</p>
        <div class="signup-firstname-field firstname-input">
            <input type="text" ng-model="formData.first_name" placeholder="Enter your first name" />
            <p ng-if="!fnf">This is a required field</p>
        </div>
        <div class="signup-lastname-field lastname-input">
            <input type="text" ng-model="formData.last_name" placeholder="Enter your last name"/>
            <p ng-if="!lnf">This is a required field</p>
        </div>
        <div class="signup-email-field email-input">
            <input type="email" ng-model="formData.email" placeholder="Enter your email address"/>
            <p ng-if="!emf">Address must be valid</p>
        </div>
        <div class="signup-password-field password-input">
            <input type="password" ng-model="formData.password" placeholder="Enter your password (minimum 6 characters)"/>
            <p ng-if="!pwf">This is a required field</p>
            <span ng-if='week' class='pw-week'>Weak</span>
            <span ng-if='okey' class='pw-okey'>Medium</span>
            <span ng-if='strong' class='pw-strong'>Strong</span>
        </div>
    </div>
    <div class="sign-modal-policy">
        <p>By creating an account, I accept Wittycircle's <br /> <a href="/terms" target="_blank"><strong><u>Terms of Services</u></strong></a>,
        and <a href="/privacy" target="_blank"><strong><u>Privacy Policy</u></strong></a>.
        </p>
    </div>
    <div class="signup-modal-button">
        <button type="submit" ng-click="signupto(info.user_id)">Sign Up</button>
    </div>

    <div class="signup-modal-footer">
        <h4>Already have an account? <strong><u><a href="/login">Sign in</a></u></strong></h4>
    </div>
</section>
</div>
<script>
$(document).ready(function() {
    $('#footer-page').css('op')
});
</script>
