<div id="form-project-1">
  
  <section class="create-project-invite-modal">
    <div id="sinvitem" class="setting-invite-modal-block" style="display: none">
      <div class="setting-invite-modal-head">
        <h4>Invite friends</h4>
      </div>
      
      <div class="setting-invite-modal-body">
        <input type="email" placeholder="name@mail.com" ng-model="emailInvite" ng-keyup="addEmailToList($event.keyCode, emailInvite)"/>
        <p class="simbpress">Press enter to send an invitation</p>
        <p ng-if="errorMail">Email address not valid</p>
      </div>

      <div class="setting-invite-modal-list" ng-if="mailList.length">
        <div class="setting-invite-modal-list-email">
          <li ng-repeat="mail in mailList track by $index" >{{mail}} <img src="/images/cross-icon.svg" ng-click="removeMailFromList($index)"></li>
        </div>

        <button type="button" ng-click="sendInvitation()">{{inviteW}} <i class="fa fa-check" ng-if="sended"></i></button>
      </div>
    </div>
  </section>

  <div class="container-fluid container-custom-project">
    <div class="row pdt-tp">
      <div class="col-md-12">
        <h5>Invite your teammates</h5>
        <p class="p-book">
          Inviting users to your team allow them to edit your project.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="people-add-users text-center" ng-click="findandadduser()">
          <img src="images/users.png">
          <h5 class="text-red">
            <img src="/images/search-icon-r.svg" />Search for Wittycircle users
          </h5>
          <p>
            They will be added to your team
          </p>
        </div>

        <div class="create-project-ranking-invitation">
          <div class="sri-box">
            <div class="sri-box-illustre-img" ng-if="pRank.successInvitation">
              <span ng-repeat="inviteUser in pRank.inviteUsers" ><a ng-href="{{inviteUser.username}}"><img ng-src="{{ resizePic(inviteUser.profile_picture, 34, 34, 'fill') }}" alt="profile_picture"/></a></span>
            </div>
            <span id="srpsib" class="srpsi-button"> <img src="/images/mailbox-icon-b-3.svg" />Invite by mail</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 team">
        <h4 class="team_members">Already part of your team</h4>
        <div class="row pdt-20 hovered-texture-list">
          <div class="col-md-2">
            <img height="50px" width="50px" class="img-circle" ng-src="{{currentUser.profile_picture_icon}}" ng-show="profile.profile_picture !== null" />
          </div>
          <div class="col-md-7 pull-left">
            <h5>{{currentUser.first_name}} {{currentUser.last_name}}</h5>
            <p>
              {{currentUser.location_city !== null ? currentUser.location_city : "Unknow City"}} {{currentUser.location_country !== null ? currentUser.location_country : "Unknow Country"}} {{currentUser.location_state !== null ? currentUser.location_state : "Unknow Country"}}
            </p>
          </div>
          <div class="col-md-3">
            <img class="picto_delete pull-right" src="images/picto_lock.png">
          </div>
        </div>
        <div class="row pdt-20 hovered-texture-list" ng-repeat="profile in involved_users | toArray:false | filter:usersearched | limitTo:5">
          <div class="col-md-2">
            <img height="50px" width="50px" class="img-circle" ng-src="{{profile.profile_picture}}" ng-show="profile.profile_picture !== null" />
          </div>
          <div class="col-md-7 pull-left">
            <h5>{{profile.first_name}} {{profile.last_name}}</h5>
            <p>
              Pending...
            </p>
            <p>
              {{profile.location_city !== null ? profile.location_city : "Unknow City"}} {{profile.location_country !== null ? profile.location_country : "Unknow Country"}} {{profile.location_state !== null ? profile.location_state : "Unknow Country"}}
            </p>
          </div>
          <div class="col-md-3">
            <!--<button class="go-button mgr-tp-10 center-block" ng-click="deleteInvolvedUser(project.id, profile.id, involved_users)">Delete</button>-->
            <img class="picto_delete pull-right" src="images/picto_close_thin.png" ng-click="deleteInvolvedUser(project.id, profile.id, involved_users)">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div id="form-project-1">
  <div class="row">
    <div class="container-fluid container-custom-project">
      <div class="row state-project">
        <div class="col-md-12 text-center">
          <button class="back-button" ng-click="back()">Back</button>
          <button class="go-button" ui-sref="createproject.needs">Next</button>
        </div>
      </div>
    </div>
  </div>
</div> -->

<script>

$(function() {
  $(document).ready(function() {
    window.scrollTo(0, 0);

    $(this).click(function(e) {
      if (e.target.id === "srpsib") {
        $("#sinvitem").fadeIn(200);
      } else {
        if (!$("#sinvitem").is(e.target) && $("#sinvitem").has(e.target).length === 0) {
          $("#sinvitem").fadeOut(200);
        }
      }
    });

    $("#srpsib")
      .mouseover(function() { 
          $("#srpsib img").attr("src", "/images/mailbox-icon-w-5.svg");
      })
      .mouseout(function() {
          $("#srpsib img").attr("src", "/images/mailbox-icon-b-3.svg");
      });
  });
});

</script>
