<section id="learn-body-page">

<div class="learn-header-title-video" style="z-index: 100">
	<h1>Learn</h1>
	<h3>Ressources, stories, interviews & curated content from our community</h3>
</div>
<div id="hvbg" class="home-video-bg">
	<video poster="/images/backgrounds/background-learn.jpg" loop muted autoplay>
		<source src="/images/videos/Learn.mp4" type="video/mp4" />
	</video>
</div>

<div class="learn-header">
	<div class="learn-header-title">
		<h1>Learn</h1>
	</div>
	<div class="learn-header-text">
		<h3>Ressources, stories, interviews & curated content from our community</h3>
	</div>
	<!-- <div class="learn-header-tag">
		<ul>
			<li ng-repeat="headTag in headTags" ng-click="getArticleByTag(headTag)">#{{headTag}}</li>
		</ul>
	</div> -->
</div>

<section id="learn-article-page">
	<div class="learn-article">
		<div class="learn-article-header">
			<a href="learn"><img src="images/arrow-back-01.svg" alt="arrow" /><h2>Back to all stories</h2></a>
			<button ng-click="modifyArticle()" ng-if="logUser.moderator || logUser.ambassador">Modify article</button>

			<ul data-ng-controller="PopUpCtrl">
				<li><a href="https://twitter.com/intent/tweet?text=Need help to develop your project? Want to discover cool ideas? Join now &url=https://www.wittycircle.com"><i class="fa fa-twitter" ></i></a></li>
				<li><i class="fa fa-facebook" ng-click="facebookShare(uArticle.title, lLink, uArticle.picture, aDes)"></i></li>
<!-- 				<li><i class="fa fa-linkedin"></i></li>
 -->			</ul>
		</div>

		<article class="learn-article-text">
			<div class="learn-corp-article-article">
				<section class="lcaahead">
					<div class="lcaaheada">
						<div class="lcaaheadai">
							<a ng-href="/{{uArticle.username}}"><img ng-src="{{uArticle.profile.profile_picture}}">
						</div></a>

						<div class="lcaaheadan">
							<a ng-href="/{{uArticle.username}}"><h5>{{uArticle.profile.first_name}} {{uArticle.profile.last_name}}</h5></a>
							<div class="lcaaheadans">
								<span ng-bind="uArticle.creation_date"></span>
								<span style="margin-left: 5px">{{uArticle.read_time}} mins read</span>
							</div>
						</div>
					</div>

					<div class="lcaaheadt">
						<div class="lcaaheadtt">
							<ul class="di">
								<li ng-repeat="tag in uArticle.tags">#{{tag.tag_name}}</li>
							</ul>

							<span class="di"><i class="fa fa-heart" ng-class="uArticle.likedArticle ? 'fa-heart-red' : 'fa-heart-white'" ng-click="postSingleLikeArticle(uArticle.id)" aria-hidden="true"></i> {{uArticle.numberOfLike}}</span>
						</div>

						<div class="lcaaheadtb">
							<span>{{uArticle.numCom}} comments</span>
						</div>
					</div>
				</section>

				<article class="lcaadoc lcaadoc2">
					<h2 ng-bind="uArticle.title"></h2>
					<div class="lcaadocimg"><img ng-src="{{uArticle.picture}}"></div>
					<div id="latext" ng-bind-html="uArticle.text"></div>
				</article>
			</div>

			<section class="learn-corp-article-event" ng-if="event">
				<img src="https://res.cloudinary.com/dqpkpmrgk/image/upload/c_scale,h_85,w_85/v1478021343/1098263_10151896325062317_1452756933_n_k52i2w.jpg">
				<h3>Want to talk to Nish? Post your project<br /> and spread the word!</h3>

				<div ng-if="!shareProject">
					<button class="learnPostProject" ng-click="postProject()">Post a project</button>
				</div>

				<div ng-if="shareProject">
	 				<p>Share your project on:</p>
	 				<button ng-controller="PopUpCtrl" class="lcaefa"  ng-click="facebookShare(project.title, projectUrl, project.picture, project.description)"><i class="fa fa-facebook"></i> Share on Facebook</button>
	 				<a ng-href="https://twitter.com/intent/tweet?text={{project.title}} is now live on @wittycircle, where the world meets future entrepreneurs&hashtags={{project.title}} {{ShortProjectUrl}}"><button class="lcaetw"><i class="fa fa-twitter"></i> Share on Twitter</button></a>
				</div>
			</section>

			<div class="learn-article-footer">
				<h4 style="margin-bottom: 45px">Comments <span ng-if="nome">({{nome}})</span></h4>
				<a href="/learn"><h2><img src="images/arrow-back-01.svg" alt="arrow" />Back to all stories</h2></a>

				<div class="learn-article-footer-comments" ng-repeat="userMessage in userMessages">
					<div class="lafcimg">
						<img ng-src="{{userMessage.profile.profile_picture}}" atl="profile-img">
					</div>

					<div class="lafcinfo">
						<div class="lafcinfot">
							<span style="margin-right: 5px;"><u>{{userMessage.profile.first_name}} {{userMessage.profile.last_name}}</u></span>
							<span ng-bind="userMessage.creation_date"></span>
						</div>

						<div class="lafcinfob">
							<p ng-bind="userMessage.message"></p>
						</div>

					</div>
				</div>

				<div ng-if="logUser" class="learn-article-footer-textarea">
					<div class="lafcimg">
						<img src="{{logUser.profile_picture_icon}}" alt="profile-img">
					</div>

					<div class="lafta">
						<textarea class="laftacss" placeholder="Enter your comment..." ng-model="artcl.message" ></textarea>
					</div>
					<div class="lafbutton">
						<button type="button" ng-click="sendArticleMessage(uArticle)">Post comment</button>
					</div>
				</div>
			</div>

		</article>
	</div>

	<aside class="learn-aside learn-corp-aside">
			<div class="learn-corp-aside-title">
				<h2>Similar stories</h2>
			</div>

			<div class="learn-corp-aside-article" ng-repeat="sArticle in sArticles track by $index">
				<div class="lcaaimg">
					<img ng-src="{{sArticle.profile.profile_picture}}" atl="profile-img">
				</div>

				<div class="lcaainfo">
					<h5 ng-bind="sArticle.title"></h5>
					<div class="lcaainfon">
						<span>{{sArticle.profile.first_name}} {{sArticle.profile.last_name}}</span>
						<span><i class="fa fa-heart" ng-class="sArticle.likedArticle ? 'fa-heart-red' : 'fa-heart-white'" ng-click="postSimilarLikeArticle($index, sArticle.id)" aria-hidden="true"></i> {{sArticle.numberOfLike}}</span>
					</div>

					<div class="lcaainfot">
						<ul>
							<li ng-repeat="tag in uArticle.tags">#{{tag.tag_name}}</li>
						</ul>
					</div>
				</div>
			</div>

		</aside>
</section>
</section>
