<section id="learn-new-page" ng-init="loadRedactor()">
	<div class="learn-new-head">
		<h2>New article</h2>
	</div>

	<div class="learn-new-field" ng-init="loadTime()">
		<form>
			<div class="learn-new-field-title lnfm">
				<label for="ntitle">Title</label>
				<input type="text" id="ntitle" ng-model="learn.title"/>
			</div>

			<div class="learn-new-field-picture lnfm">
				<label>Article Picture</label>
				<div class="learn-nf-picture-add">
					<button ngf-select="uploadProfilePicture(learn.picture)" ng-model="learn.picture" ngf-multiple="false" ngf-allow-dir="false"
		            accept="image/*"
		            ngf-pattern="'image/*'">Add picture</button>
				</div>
				<figure class="learn-imgDisplay">
					<img ng-if="learn.picture" ng-src="{{learn.picture}}" />
				</figure>
			</div>

			<div class="learn-new-field-author" style="margin-bottom: 15px;">
				<label>Author</label>
				<input id="lnfainput" type="text" ng-model="learn.searchAuthor" />
				<div class='lnfadropdown'>
					<ul id="lnfaul">
						<li ng-repeat="author in authors | filter: learn.searchAuthor | limitTo: 10" ng-click="getAuthorId(author.user_id, author.first_name, author.last_name)"><img ng-src="{{author.profile_picture}}"/> {{author.first_name}} {{author.last_name}}</li>
					</ul>
				</div>
			</div>

			<div class="learn-new-field-tag lnfm">
				<label>Tag</label>
				<input type="text" ng-model="learn.tags" />
				<span> Multiple tag separated by comma</span>
			</div>

			<div class="learn-new-field-time lnfm">
				<label>Time to read</label>
				<select ng-model="learn.read_time">
					<option value="">Select time</option>
					<option ng-repeat="time in times" value="{{time}}">{{time}} mins</option>
				</select>
			</div>
			
			<div class="learn-new-field-text lnfm">
				<textarea ng-model="learn.text" redactor="{buttons: ['format', 'bold', 'italic', 'deleted', 'lists', 'image', 'video', 'file', 'link', 'horizontalrule'], plugins: ['source', 'imagemanager']}"></textarea>
			</div>

			<div class="learn-new-field-button lnfm">
				<button ng-click="publishArticle()">Publish article</button>
			</div>

			<div class="learn-new-field-button-remove" ng-if="removeA">
				<button ng-click="removeArticle(article_id)">Remove article</button>
			</div>
		</form>
	</div>
</section>
<script>
	$(document).ready(function() {
		$('#lnfainput').click(function() {
			$('.lnfadropdown').slideToggle();
		});

		$('#lnfaul').click(function() {
			$('.lnfadropdown').slideUp();
		});
	});
</script>