<section id="learn-article-page">
	<div class="learn-article">
		<div class="learn-article-header">
			<a href="learn"><h2>Back to all stories</h2></a>

			<ul data-ng-controller="PopUpCtrl">
				<li><a href="https://twitter.com/intent/tweet?text=Need help to develop your project? Want to discover cool ideas? Join now &url=https://www.wittycircle.com"><i class="fa fa-twitter" ></i></a></li>
				<li><i class="fa fa-facebook" ng-click="facebookShare(uArticle.title, lLink, uArticle.picture, aDes)"></i></li>
				<li><i class="fa fa-linkedin"></i></li>
			</ul>
		</div>

		<article class="learn-article-text">
			<div class="learn-corp-article-article">
				<section class="lcaahead">
					<div class="lcaaheada">
						<div class="lcaaheadai">
							<img src="https://res.cloudinary.com/dqpkpmrgk/image/upload/w_154,h_154,c_fill/v1457649179/tp4f4nre7dci6xlsvz2l.jpg" atl="profile-img">
						</div>

						<div class="lcaaheadan">
							<h5>{{uArticle.profile.first_name}} {{uArticle.profile.last_name}}</h5>
							<div class="lcaaheadans">
								<span ng-bind="uArticle.creation_date"></span>
								<span style="margin-left: 5px">{{uArticle.read_time}} mins read</span>
							</div>
						</div>
					</div>

					<div class="lcaaheadt">
						<div class="lcaaheadtt">
							<ul class="di">
								<li ng-repeat="tag in uArticle.tags">#{{tag.tag_name}}</li>
							</ul>

							<span class="di"><i class="fa fa-heart" aria-hidden="true"></i> 64</span>
						</div>

						<div class="lcaaheadtb">
							<span>{{uArticle.numCom}} comments</span>
						</div>
					</div>
				</section>

				<article class="lcaadoc">
					<h2 ng-bind="uArticle.title"></h2>
					<div class="lcaadocimg"><img ng-src="{{uArticle.picture}}"></div>
					<h4>"It really takes {{uArticle.read_time}} mins no more."</h4>
					<div id="latext" ng-bind-html="uArticle.text"></div>
				</article>
			</div>

			<div class="learn-article-footer">
				<h4 style="margin-bottom: 45px">Comments <span ng-if="nome">({{nome}})</span></h4>
				<a href="learn"><h2>Back to all stories</h2></a>

				<div class="learn-article-footer-comments" ng-repeat="userMessage in userMessages">
					<div class="lafcimg">
						<img ng-src="{{userMessage.profile.profile_picture}}" atl="profile-img">
					</div>

					<div class="lafcinfo">
						<div class="lafcinfot">
							<span style="margin-right: 5px;"><u>{{userMessage.profile.first_name}} {{userMessages.profile.last_name}}</u></span>
							<span ng-bind="userMessage.creation_date"></span>
						</div>

						<div class="lafcinfob">
							<p ng-bind="userMessage.message"></p>
						</div>

					</div>
				</div>

				<div ng-if="logUser" class="learn-article-footer-textarea">
					<div class="lafcimg">
						<img src="{{logUser.profile_picture_icon}}" atl="profile-img">
					</div>

					<div class="lafta">
						<textarea class="laftacss" placeholder="Enter your comment..." ng-model="artcl.message"></textarea>
					</div>
					<div class="lafbutton">
						<button type="button" ng-click="sendArticleMessage(uArticle)">Post comment</button>
					</div>
				</div>
			</div>
		</article>
	</div>

	<aside class="learn-aside learn-corp-aside">
			<div class="learn-corp-aside-title">
				<h2>Similar stories</h2>
			</div>

			<div class="learn-corp-aside-article">
				<div class="lcaaimg">
					<img src="https://res.cloudinary.com/dqpkpmrgk/image/upload/w_154,h_154,c_fill/v1457649179/tp4f4nre7dci6xlsvz2l.jpg" atl="profile-img">
				</div>

				<div class="lcaainfo">
					<h5>How I founded a multi billion company with a pend and a ...</h5>
					<div class="lcaainfon">
						<span>Sarah Ho</span>
						<span><i class="fa fa-heart" aria-hidden="true"></i> 24</span>
					</div>

					<div class="lcaainfot">
						<ul>
							<li>#business</li>
							<li>#startups</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="learn-corp-aside-article">
				<div class="lcaaimg">
					<img src="https://res.cloudinary.com/dqpkpmrgk/image/upload/w_154,h_154,c_fill/v1457649179/tp4f4nre7dci6xlsvz2l.jpg" atl="profile-img">
				</div>

				<div class="lcaainfo">
					<h5>How I founded a multi billion company with a pend and a ...</h5>
					<div class="lcaainfon">
						<span>Jean Colmane</span>
						<span><i class="fa fa-heart" aria-hidden="true"></i> 12</span>
					</div>

					<div class="lcaainfot">
						<ul>
							<li>#business</li>
							<li>#startups</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="learn-corp-aside-article">
				<div class="lcaaimg">
					<img src="https://res.cloudinary.com/dqpkpmrgk/image/upload/w_154,h_154,c_fill/v1457649179/tp4f4nre7dci6xlsvz2l.jpg" atl="profile-img">
				</div>

				<div class="lcaainfo">
					<h5>How I founded a multi billion company with a pend and a ...</h5>
					<div class="lcaainfon">
						<span>Quentin Vrr</span>
						<span><i class="fa fa-heart" aria-hidden="true"></i> 64</span>
					</div>

					<div class="lcaainfot">
						<ul>
							<li>#business</li>
							<li>#startups</li>
						</ul>
					</div>
				</div>
			</div>
		</aside>
</section>