<section id="learn-body-page">
	<div class="learn-header">
		<div class="learn-header-title">
			<h1>Learn</h1>
		</div>
		<div class="learn-header-text">
			<h3>Ressources, stories, interviews & curated content from our community</h3>
		</div>
		<div class="learn-header-tag">
			<ul>
				<li ng-repeat="headTag in headTags" ng-click="getArticleByTag(headTag)">#{{headTag}}</li>
			</ul>
		</div>
	</div>

	<div ui-view>
		<div class="learn-corp">
			<article class="learn-corp-article">
				<div class="learn-corp-article-title">
					<div class="lcatl lcat">
						<h2>All stories</h2>
						<a data-ui-sref=".new">Add new article</a>
					</div>

					<div class='lcatr lcat'>
						<h4>most recent</h4>
						<img src="/images/arrow-down-icon-b.svg" alt="arrow">
					</div>
				</div>

				<div class="learn-corp-article-article" ng-repeat="article in articles track by $index">
					<section class="lcaahead">
						<div class="lcaaheada">
							<div class="lcaaheadai">
								<img ng-src="{{article.profile.profile_picture}}" atl="profile-img">
							</div>

							<div class="lcaaheadan">
								<h5>{{article.profile.first_name}} {{article.profile.last_name}}</h5>
								<div class="lcaaheadans">
									<span ng-bind="article.creation_date"></span>
									<span style="margin-left: 5px">{{article.read_time}} mins read</span>
								</div>
							</div>
						</div>

						<div class="lcaaheadt">
							<div class="lcaaheadtt">
								<ul class="di">
									<li ng-repeat="tag in article.tags">#{{tag.tag_name}}</li>
								</ul>

								<span class="di"><i class="fa fa-heart" aria-hidden="true"></i> 64</span>
							</div>

							<div class="lcaaheadtb">
								<span>{{article.numCom}} comments</span>
							</div>
						</div>
					</section>

					<article class="lcaadoc">
						<h2 ng-bind="article.title"></h2>
						<div class="lcaadocimg"><img ng-if="article.picture" ng-src="{{article.picture}}"></div>
						<h4>"It really takes {{article.read_time}} mins no more."</h4>
						<div class="lcaadoctext" ng-bind-html="article.text"></div>
						<a style="margin-top: 10px" ng-click="loadArticle($index)" ng-href="/learn/id/{{article.article_id}}">Read more...</a>
					</article>
				</div>
			</article>

			<aside class="learn-corp-aside">
				<div class="learn-corp-aside-title">
					<h2># trending</h2>
				</div>

				<div class="learn-corp-aside-article">
					<div class="lcaaimg">
						<img src="https://res.cloudinary.com/dqpkpmrgk/image/upload/w_154,h_154,c_fill/v1457649179/tp4f4nre7dci6xlsvz2l.jpg" atl="profile-img">
					</div>

					<div class="lcaainfo">
						<h5>How I founded a multi billion company with a pend and a ...</h5>
						<div class="lcaainfon">
							<span>Sarah Ho</span>
							<span><i class="fa fa-heart" aria-hidden="true"></i> 24</span>
						</div>

						<div class="lcaainfot">
							<ul>
								<li>#business</li>
								<li>#startups</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="learn-corp-aside-article">
					<div class="lcaaimg">
						<img src="https://res.cloudinary.com/dqpkpmrgk/image/upload/w_154,h_154,c_fill/v1457649179/tp4f4nre7dci6xlsvz2l.jpg" atl="profile-img">
					</div>

					<div class="lcaainfo">
						<h5>How I founded a multi billion company with a pend and a ...</h5>
						<div class="lcaainfon">
							<span>Jean Colmane</span>
							<span><i class="fa fa-heart" aria-hidden="true"></i> 12</span>
						</div>

						<div class="lcaainfot">
							<ul>
								<li>#business</li>
								<li>#startups</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="learn-corp-aside-article">
					<div class="lcaaimg">
						<img src="https://res.cloudinary.com/dqpkpmrgk/image/upload/w_154,h_154,c_fill/v1457649179/tp4f4nre7dci6xlsvz2l.jpg" atl="profile-img">
					</div>

					<div class="lcaainfo">
						<h5>How I founded a multi billion company with a pend and a ...</h5>
						<div class="lcaainfon">
							<span>Quentin Vrr</span>
							<span><i class="fa fa-heart" aria-hidden="true"></i> 64</span>
						</div>

						<div class="lcaainfot">
							<ul>
								<li>#business</li>
								<li>#startups</li>
							</ul>
						</div>
					</div>
				</div>

			</aside>
		</div>
	</div>
</section>