<section id="modal-meet-invite" class="meet-modal-invite-main">
	<div class="meet-modal-invite-modal">
		<h4>Your ranking will grow by 789% and get </br>you 42 times more exposure, instantly.</h4>

		<div class="meet-modal-invite-box">
			<div class="mmi-box-title">
				<h3>Time to be a little bit social</h3>
			</div>

			<div class="mmi-box-list">
				<div class="mmi-box-list-element">
					<img src="{{globals.currentUser.profile_picture_icon}}" alt="profile_picture" />
					<div class="mmibl-element-info">
						<h5>Jay Ho</h5>
						<h6>jayho@wittycircle.com</h6>
					</div>
					<div class="mmibl-element-checkbox">
						<i class="fa fa-check"></i>
					</div>
				</div>
				<div class="mmi-box-list-element">
					<img src="{{globals.currentUser.profile_picture_icon}}" alt="profile_picture" />
					<div class="mmibl-element-info">
						<h5>Jay Ho</h5>
						<h6>jayho@wittycircle.com</h6>
					</div>
					<div class="mmibl-element-checkbox">
						<i class="fa fa-check"></i>
					</div>
				</div>
				<div class="mmi-box-list-element">
					<img src="{{globals.currentUser.profile_picture_icon}}" alt="profile_picture" />
					<div class="mmibl-element-info">
						<h5>Jay Ho</h5>
						<h6>jayho@wittycircle.com</h6>
					</div>
					<div class="mmibl-element-checkbox">
						<i class="fa fa-check"></i>
					</div>
				</div>
				<div class="mmi-box-list-element">
					<img src="{{globals.currentUser.profile_picture_icon}}" alt="profile_picture" />
					<div class="mmibl-element-info">
						<h5>Jay Ho</h5>
						<h6>jayho@wittycircle.com</h6>
					</div>
					<div class="mmibl-element-checkbox">
						<i class="fa fa-check"></i>
					</div>
				</div>
				<div class="mmi-box-list-element">
					<img src="{{globals.currentUser.profile_picture_icon}}" alt="profile_picture" />
					<div class="mmibl-element-info">
						<h5>Jay Ho</h5>
						<h6>jayho@wittycircle.com</h6>
					</div>
					<div class="mmibl-element-checkbox">
						<i class="fa fa-check"></i>
					</div>
				</div>
				<div class="mmi-box-list-element">
					<img src="{{globals.currentUser.profile_picture_icon}}" alt="profile_picture" />
					<div class="mmibl-element-info">
						<h5>Jay Ho</h5>
						<h6>jayho@wittycircle.com</h6>
					</div>
					<div class="mmibl-element-checkbox">
						<i class="fa fa-check"></i>
					</div>
				</div>
			</div>

			<div class="mmi-box-button">
				<button>Invite 693 selected</button>
				<p>More than 47% of invitations get accepted 🙈</p>
			</div>
		</div>
	</div>
</section>