<div class="body-page">
	<div class="home-video-bg">
		<video class="home-video-bg" loop muted autoplay>
			<source src="videos/work.mp4" type="video/mp4">  
			</video>
		</div>

		<div class="work-component presentation-component">
			<div class="work-title presentation-title">
				<h2>What do you want to work on ?</h2>
			</div>

			<div class="work-search1">
				<div class="work-search1-dropdown searchbox">
					<div class="work-search1-allmissions">
						<h2>All missions</h2>
						<img id="wsam" src="/images/arrow-down-icon-w.svg">
					</div>
					<aside class="work-search1-downbox">
						
					</aside>
				</div>
				<div class="work-search1-textmin wst">
					<div class="work-search1-text wst">
						<h2>from</h2>
					</div>
					<div class="work-search1-min wst inputfield">
						<input type="text" placeholder="$- min">
					</div>
				</div>
				<div class="work-search1-textmax wst">
					<div class="work-search1-text wst">
						<h2>to</h2>
					</div>
					<div class="work-search1-max wst inputfield">
						<input type="text" placeholder="$- max">
					</div>
				</div>
			</div>

			<div class="work-search2">
				<div class="work-search2-location wst">
					<div class="work-search2-text wst">
						<h2>in</h2>
					</div>
					<div class="work-search2-anylocation wst inputfield">
						<input type="text" places-auto-complete types="['geocode']"placeholder="any location">
					</div>
				</div>
				<div class="work-search2-textany wst">
					<div class="work-search2-text wst">
						<h2>requiring</h2>
					</div>
					<div class="work-search2-dropdown searchbox">
						<div id="" class="work-search2-anyskills">
							<h2 id="" >Any skills</h2>
							<img id="" src="/images/arrow-down-icon-w.svg">
						</div>
						<aside>
							
						</aside>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div data-ng-include="'views/bfooter/bfooter-4.view.client.html'"></div>