<section id="footer-page" style="visibility: hidden">
    <div class="footer-global">
        <div class="footer-info-section">
            <div id="fta" class="footer-about footer-size">
                <h5>About Wittycircle</h5>
                <ul id="ftal" class="footer-list">
                    <li><a href="/terms">Terms of use</a></li>
                    <li><a href="/privacy">Privacy settings</a></li>
                </ul>
            </div>
            <div id="fte" class="footer-explore footer-size">
                <h5>Explore Projects</h5>
                <div id="ftel" class="footer-list">
                    <ul>
                        <li><a ui-sref="discover({tagParams: 'Art'})">Art</a></li>
                        <li><a ui-sref="discover({tagParams: 'Craft'})">Craft</a></li>
                        <li><a ui-sref="discover({tagParams: 'Design'})">Design</a></li>
                        <li><a ui-sref="discover({tagParams: 'Fashion'})">Fashion</a></li>
                        <li><a ui-sref="discover({tagParams: 'Film & Video'})">Film & Video</a></li>
                        <li><a ui-sref="discover({tagParams: 'Food'})">Food</a></li>
                        <li><a ui-sref="discover({tagParams: 'Games'})">Games</a></li>
                        <li><a ui-sref="discover({tagParams: 'Green'})">Green</a></li>
                    </ul>

                    <ul class="footer-explore-more">
                        <li><a ui-sref="discover({tagParams: 'Heritage'})">Heritage</a></li>
                        <li><a ui-sref="discover({tagParams: 'Charity'})">Charity</a></li>
                        <li><a ui-sref="discover({tagParams: 'Music'})">Music</a></li>
                        <li><a ui-sref="discover({tagParams: 'Pubashing'})">Publishing</a></li>
                        <li><a ui-sref="discover({tagParams: 'Science'})">Science</a></li>
                        <li><a ui-sref="discover({tagParams: 'Sport'})">Sport</a></li>
                        <li><a ui-sref="discover({tagParams: 'Technology'})">Technology</a></li>
                        <li><a ui-sref="discover">More...</a></li>
                    </ul>
                </div>
            </div>
            <div id="ftm" class="footer-meet footer-size">
                <h5>Meet...</h5>
                <div id="ftml" class="footer-list">
                    <ul>
                        <li><a ui-sref="meet({skillParams: [{'sName': 'Graphic Design'}, {'sName': 'Product Design'}]})">Designers</a></li>
                        <li><a ui-sref="meet({skillParams: [{'sName': 'Content Writing'}]})">Writers</a></li>
                        <li><a ui-sref="meet({skillParams: [{'sName': 'Web Development'}, {'sName': 'Computer Engineering'}]})">Developers</a></li>
                        <li><a ui-sref="meet({skillParams: [{'sName': 'Manufacturing Design'}, {'sName': 'Electronics'}]})">Engineers</a></li>
                    </ul>

                    <ul class="footer-meet-more">
                        <li><a ui-sref="meet({skillParams: [{'sName': 'Entrepreneurship'}, {'sName': 'Business Development'}]})">Business developers</a></li>
                        <li><a ui-sref="meet({skillParams: [{'sName': 'Civil Law'}, {'sName': 'Contract Law'}]})">Legal advisors</a></li>
                        <li><a href="/meet">More...</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="footer-brand-copyright">
            <div class="footer-brand-logo">
                <figure>
                    <img src="https://res.cloudinary.com/dqpkpmrgk/image/upload/v1457893080/footer-logo_rzbse8.png" alt="footer-brand-logo">
                </figure>
            </div>
            <div class="footer-copyright">
                <span class="copyright">&copy; 2016 Wittycircle Inc. &nbsp 169th 11th St San Francisco, CA.</span>
            </div>
            <div class="footer-social-media">
                <ul>
                    <li class="fb"><a href="https://www.facebook.com/wittycircle" class="fb-logo" target="_blank"></a></li>
                    <li class="tw"><a href="https://twitter.com/wittycircle" class="tw-logo" target="_blank"></a></li>
                </ul>
            </div>
        </div>
    </div>
    <script>
        var x = $(window).width();
        if (x < 736) {
            $(document).ready(function() {
        setTimeout(function() {
                $("#footer-page").css('visibility', 'visible');
                }, 1000);

                var container1  = $("#fta"),
                    container2  = $("#fte"),
                    container3  = $("#ftm"),
                    list1       = $("#ftal"),
                    list2       = $("#ftel"),
                    list3       = $("#ftml")

                container1.on('click', function() {
                    list3.slideUp(200);
                    list2.slideUp(200);
                    list1.slideToggle(200);
                });

                container2.on('click', function() {
                    list3.slideUp(200);
                    list1.slideUp(200);
                    list2.slideToggle(200);
                });

                container3.on('click', function() {
                    list1.slideUp(200);
                    list2.slideUp(200);
                    list3.slideToggle(200);
                });
            });
        } else {
            $(document).ready(function() {
        setTimeout(function() {
                $("#footer-page").css('visibility', 'visible');
        }, 2000);
            });
        }
    </script>
</section>
