<header id="header-section" data-ng-controller="HeaderCtrl">
    <section id="header-content" class="cbp-spmenu-push">
        <div id="hsmobile" class="header-searchBar-mobile">
            <figure>
                <img src="/images/search-icon-w.svg">
            </figure>
        </div>

        <div class="header-brand" role="navigation">
            <figure class="header-brand-picture">
                <a href="/"><img id="hbp" src="https://res.cloudinary.com/dqpkpmrgk/image/upload/v1457892593/witty-logo-icon-w_qtyz0j.svg" alt="wittycircle-logo"></a>
            </figure>
        </div>

        <div class="header-navigation">
            <ul id='hnl' class="header-nav-list">
                <li class="normal" ><a href="/discover">Discover</a></li>
                <li class="normal"><a href="/meet" >Meet</a></li>
                <div class="list-soon">
                    <li class="normal"><a>Work<sup>soon</sup></a></li>
                </div>
                <div class="strong-start">
                    <li ng-click="goToStart()"><a><strong>Start</strong></a></li>
                </div>
            </ul>

            <div id='hsb' class="header-searchBar">
                <label for="iff"></label>
                <input id="iff" type="search" placeholder="Search for projects and people..." name="search" ng-model="searchName" oninput="showFindField()" autocomplete="off">
            </div>
        </div>

        <div id="showRightPush" class="header-log-off-mobile">
            <div ng-if="notifBubble || numberNotif" class="header-mobile-bubble"></div>
            <img src="/images/littleman.svg">
        </div>
        <nav class="header-log-aside cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
<!--            <h3>Menu</h3> -->
            <div class="log-of" ng-hide="log">
                <a id="mologin" href="">Log In</a>
                <a id="mosignup" href="">Sign Up</a>
            </div>
            <div class="log-on" ng-hide="!log">
                <div class="log-on-list">
                    <h2>{{user.first_name}} {{user.last_name}}</h2>
                    <figure ng-if="user.profile_picture" class="header-log-avatar">
                        <img ng-src="{{ resizePic(user.profile_picture, 90, 90, 'fill') }}" alt="profile-avatar">
                    </figure>
                    <div class="log-on-notifs">
                        <div id="loma" class="log-on-mail">
                            <div ng-if="notifBubble" class="log-mobile-buble">{{notifBubble}}</div>
                            <img src="https://res.cloudinary.com/dqpkpmrgk/image/upload/v1457892593/mailbox-icon-b_lbsllf.svg" alt="notif-mail" />
                        </div>
                        <div id="lono" class="log-on-notif">
                            <div ng-if="numberNotif" class="log-mobile-buble">{{numberNotif}}</div>
                            <img src="https://res.cloudinary.com/dqpkpmrgk/image/upload/v1457892593/waves-icon-b_swhyaz.png" alt="notif-notif" />
                        </div>
                    </div>
                    <ul id="hmmenu" class="header-mobile-menu">
                        <li><a href="" data-ui-sref="profile({username: user.username})">My Profile</a></li>
                        <li><a href="/my-projects">Projects</a></li>
                        <li><a href="/setting">Settings</a></li>
                        <li><a ng-click="logout()">Log out</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <nav class="header-log-off" ng-hide="log">
            <ul id='hnlog' class="header-nav-log">
                <li class="lsu"><a id="mologin" href="">Log In</a></li>
                <li class="lsu"><a id="mosignup" href="" ng-click="opensignup('lg')">Sign Up</a></li>
            </ul>
        </nav>
        <hr />

        <nav id="hlon" class="header-log-on" ng-hide="!log">
            <div class="header-notif-mail">
                <div id="hlogn" class="header-log-notif header-notification" ng-click="getNotifListOnClick()">
                    <img id="notif-w-i" src="https://res.cloudinary.com/dqpkpmrgk/image/upload/v1457892593/waves-icon-w_wslyzh.png" alt="notif-waves">
                    <div id="notifBubble" class="header-bubble">{{notifBubble}}</div>
                </div>
                <div id="hlogm" class="header-log-mailbox header-notification" ng-click="getMesssageListOnClick()">
                    <img id="notif-m-i" src="https://res.cloudinary.com/dqpkpmrgk/image/upload/v1457892593/mailbox-icon-w_sji3lw.png" alt="notif-mailbox">
                    <div id="notifMailbox" class="header-bubble-mailbox">{{numberNotif}}</div>
                </div>
            </div>
            <div id="hlo" class="header-user" ng-class="{'header-user2': !user.profile_picture}">
                <figure ng-if="user.profile_picture" id="hlo" class="header-log-avatar">
                    <img id="hlo" ng-src="{{ resizePic(user.profile_picture, 36, 36, 'fill') }}" alt="profile-avatar">
                </figure>
                <a id="hlo" class="header-log-dropdown" id="dropdownMenu1">
                {{user.first_name}} {{user.last_name}}
                    <span class="caret-home"><img id="c-img" src="https://res.cloudinary.com/dqpkpmrgk/image/upload/v1457892593/arrow-down-icon-w_csniet.svg" alt="caret-icon"></span>
                </a>
                <ul id="hdmenu" class="header-dropdown-menu" style="display: none;">
                    <li><a href="" data-ui-sref="profile({username: user.username})">My Profile</a></li>
                    <li><a href="/my-projects">Projects</a></li>
                    <li><a href="/setting">Settings</a></li>
                    <li><a ng-click="logout()">Log out</a></li>
                </ul>
            </div>
            <div id="hdropm" class="header-dropdown-mailbox header-dropdownBox" onmouseover="preventScroll()" onmouseout="allowScroll()" style="display: none;">
                <div class="header-dropdown-head">
                    <h4>Inbox</h4>
                    <a href="/messages">Write A New Message</a>
                </div>
                <div class="header-dropdown-lists">
                    <div ng-if="!dialogues.length" class="header-noMessage-text">
                        <p>No message yet</p>
                    </div>
                    <div class="header-dropdown-list" href ng-click="showMessagePage(dialogue)" class='mnd-all' ng-class="{ 'unread-active' : !dialogue.read && dialogue.sender != currentUsername }" ng-repeat="dialogue in dialogues track by $index">
                        <div class="header-list-picture">
                            <img ng-if="dialogue.pic" ng-src="{{ resizePic(dialogue.pic, 48, 48, 'fill') }}" alt="header-message-avatar">
                        </div>
                        <div class="header-list-message">
                            <h4>{{dialogue.to_username}}</h4>
                            <p>{{dialogue.last_message}}</p>
                            <span>{{dialogue.date}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="hdropn" class="header-dropdown-notif header-dropdownBox" onmouseover="preventScroll()" onmouseout="allowScroll()" style="display: none;">
                <div class="header-dropdown-head">
                    <h4>Notifications</h4>
                    <h4 ng-if="notifBubble">({{notifBubble}})</h4>
                    <h5 id="hmaar" ng-click="getAllRead()">Mark As All Read <i ng-if="checkRead" class="fa fa-check"></i></h5>
                </div>
                <div class="header-dropdown-lists">
                    <div ng-if="!listNotifs.length" class="header-noNotif-text">
                        <p>Nothing happened yet</p>
                    </div>
                    <div class="header-dropdown-list" href ng-click="showUserProfile(listNotif.user_notif_id, listNotif.user_followed_id, listNotif.type_notif, listNotif.project_id, listNotif.n_read)" ng-repeat="listNotif in listNotifs" ng-class="{ 'unread-active' : !listNotif.n_read }">
                        <div class="header-list-picture">
                            <img ng-src="{{ resizePic(listNotif.pic, 48, 48, 'fill') }}" alt="header-notif-avatar">
                        </div>
                        <div class="header-list-message">
                            <h4>{{listNotif.user_notif_username}}</h4>
                            <h5 ng-if="listNotif.type_notif === 'u_follow'">is now following you.</h5>
                            <h5 ng-if="listNotif.type_notif === 'view'">viewed your profile.</h5>
                            <h5 ng-if="listNotif.type_notif === 'p_follow'">followed <strong>{{listNotif.project_title}}</strong></h5>
                            <h5 ng-if="listNotif.type_notif === 'p_user_follow'">followed <strong>{{listNotif.project_title}}</strong> </h5>
                            <h5 ng-if="listNotif.type_notif === 'u_user_follow'">is now following <strong>{{listNotif.user_followed_name}}</strong></h5>
                            <h5 ng-if="listNotif.type_notif === 'p_involve'">invited you to join <strong>{{listNotif.project_title}}</strong></h5>
                            <p>{{listNotif.date_of_view | wittyDateFilter}}<p>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <div class="header-navigation-mobile">
            <ul class="header-nav-list">
                <li class="left" ><a href="/discover">Discover</a></li>
                <li class="normal"><a href="/meet" >Meet</a></li>
                <li class="normal"><a>Work<sup>soon</sup></a></li>
                <li class="right" ng-click="goToStart()"><a><strong>Start</strong></a></li>
            </ul>
        </div>
    </section>
    <section id="header-findField" class="animated fadeInDown">
        <div class="header-find-projects">
            <div class="header-find-title">
                <h1>Projects</h1>
            </div>
            <div class="header-find-list" ng-repeat="projectHit in projectHits | limitTo : 5" ng-if="projectHit.project_visibility" ui-sref="viewproject({public_id: projectHit.public_id, title: encodeUrl(projectHit.title)})">
                <div class="header-findProject-picture" ng-style="{'background-image': 'url({{ resizePic(projectHit.picture_card, 60, 60, 'fill') }})'}"></div>
                <div class="header-findProject-content">
                    <div class="header-findProject-title">
                        <h2>{{projectHit.title}}</h2>
                    </div>
                    <div class='header-findProject-tag'>
                        <img src="https://res.cloudinary.com/dqpkpmrgk/image/upload/v1457892593/tag-icon_ruk5r2.png" alt="tag-icon">
                        <h3>{{projectHit.category_name}}</h3>
                    </div>
                </div>
            </div>
            <div class="header-find-seemore">
                <a href="/discover">See more projects</a>
            </div>
        </div>

        <div class="header-find-people">
            <div class="header-find-title">
                <h1>People</h1>
            </div>
            <div class="header-find-list" ng-repeat="peopleHit in peopleHits | limitTo : 5" ng-click="goToProfile(peopleHit.id)">
                <div class="header-findPeople-picture" ng-style="{'background-image': 'url({{ resizePic(peopleHit.profile_picture_icon, 60, 60, 'fill') }})'}"></div>
                <div class="header-findPeople-content">
                    <div class="header-findPeople-name">
                        <h4>{{peopleHit.first_name}} {{peopleHit.last_name}}</h4>
                    </div>
                    <div class="header-findPeople-location">
                        <h6>{{peopleHit.location_city}}<i ng-hide="!peopleHit.location_country">,</i> {{peopleHit.location_country}}</h6>
                    </div>
                </div>
            </div>
            <div class="header-find-seemore">
                <a href="/meet">See more people</a>
            </div>
        </div>
    </section>

    <script src="js/header.dom.js"></script>
</header>