<section id="main-login-modal" data-ng-controller="LoginCtrl">
    <header class="login-modal-header signup-login-header">
        <h2>Log In</h2>
        <img id="closeCrossL" src="/images/cross-icon.svg" style="cursor: pointer">
    </header>

    <div id="closeCrossL2"></div>
    <div class="login-modal-social signup-login-social">
        <h4>Log in with a social network:</h4>
        <div class="fb-login">
            <a href="/auth/facebook" target="_self">
                <button><i class="fa fa-facebook" style="color: white"></i>Log in with Facebook</button>
            </a>
        </div>
        <div class="go-login">
            <a href="/auth/google" target="_self">
                <button class="go-login"><img src="/images/social_media/newgoogle-logo.svg">Log in with Google</button>
            </a>
        </div>
    </div>
    <div class="login-modal-old signup-login-old">
        <div class="old-dash"></div>
        <h4>Or the old-fashioned way:</h4>
        <div class="old-dash"></div>
    </div>
    <form>
        <div class="login-modal-email">
            <p ng-if="!lf">Incorrect password/email</p>
            <div class="email-input">
                <input type="text" class="modal-input" ng-model='email' placeholder="E-mail address"/>
                <p ng-if='!lef'>This is a required field</p>
            </div>
            <div class="password-input">
                <input type='password' class="modal-input" ng-model='password' placeholder="Password"/>
                <p ng-if='!lpf'>This is a required field</p>
            </div>
            <div class="forgot-password">
                <p data-ng-click="showResetPassword()" data-ng-bind="TextReset"></p>
            </div>
            <div class="email-input" data-ng-show="showReset">
                <input type="text" ng-model='ereset' placeholder="E-mail used for your account"/>
            </div>
            <div data-ng-show="validateReset === true">
                <span class="validate-p" data-ng-bind="textValidateReset">
            </div>
            <div data-ng-show="validateReset === 2">
                <p class="validate-p" data-ng-bind="textValidateReset"></p>
            </div>
        </div>
        <div class="login-modal-footer">
            <button ng-click='login()' data-ng-bind="textButton"></button>
            <h4>Don't have an account yet? <strong><u id="switchToS">Sign up</u></strong></h4>
        </div>
    </form>
    <script>
        $(document).ready(function() {

            var y           = $(window).width(),
                x           = $(window).height(),    
                mlogmodal   = $("#main-login-modal"),
                msigmodal   = $("#main-signup-modal"),
                filter      = $("#page-wrap"),
                margeS       = (x - 600)/2/2,
                margeL       = (x - 550)/2/2,
                container   = $(this);

            $(this).on('click', function(e) {
                var eTarget = e.target;

                if (eTarget.id === "mologin" || eTarget.id === "closeCrossL" || eTarget.id === "closeCrossL2" || mlogmodal.is(eTarget) || mlogmodal.has(eTarget).length || mlogmodal.css('display') === "block") {
                    if ((!mlogmodal.is(eTarget) && !mlogmodal.has(eTarget).length && eTarget.id !== "mologin") || eTarget.id === "closeCrossL" || eTarget.id === "closeCrossL2") {
                        filter.fadeOut(400);
                        if (y > 736) {
                            mlogmodal.animate({top: '-700px'}, 400, function() {
                                mlogmodal.hide(100, function() {
                                    mlogmodal.css({'top': margeL.toString() + "px"});
                                });
                            });
                        } else {
                            $('#body-section').show();
                            mlogmodal.hide();
                        }
                    } else {
                        if (y > 736) {
                            filter.fadeIn(200);
                            mlogmodal.css({'top': margeL.toString() + "px"});
                            mlogmodal.fadeIn();
                        } else {
                            $('#body-section').hide();
                            mlogmodal.fadeIn(100);
                        }
                    }
                }

                if (eTarget.id === "mosignup" || eTarget.id === "closeCrossS" || eTarget.id === "closeCrossS2" || msigmodal.is(eTarget) || msigmodal.has(eTarget).length || msigmodal.css('display') === "block") {
                    if ((!msigmodal.is(eTarget) && !msigmodal.has(eTarget).length && eTarget.id !== "mosignup") || eTarget.id === "closeCrossS" | eTarget.id === "closeCrossS2") {
                        filter.fadeOut(500);
                        if (y > 736) {
                            msigmodal.animate({top: '-700px'}, 400, function() {
                                msigmodal.hide(100, function() {
                                    msigmodal.css({'top': margeS.toString() + "px"});
                                });
                            });
                        } else {
                            $('#body-section').show();
                            msigmodal.hide();
                        }
                    } else {
                         if (y > 736) {
                            filter.fadeIn(200);
                            msigmodal.css({'top': margeS.toString() + "px"});
                            msigmodal.fadeIn();
                        } else {
                            msigmodal.show();
                            $('#body-section').hide();
                        }
                    }
                }

                // Login modal * Switch to sign up
                if (eTarget.id === "switchToS" && (mlogmodal.css('display') === "block")) {
                    msigmodal.css({'top': margeL.toString() + "px"});
                    msigmodal.fadeIn();
                    mlogmodal.fadeOut();
                }

                // Signup modal * Switch to log in 
                if (eTarget.id === "switchToL" && msigmodal.css('display') === "block") {
                    mlogmodal.css({'top': margeS.toString() + "px"});
                    mlogmodal.fadeIn();
                    msigmodal.fadeOut();
                }

                // Login mobile modal * Close modal
                if (eTarget.id === "closeCrossL2") {
                    $('#headerCore').show();
                    $('#bodyCore').show();
                    $('#footerCore').show();
                    container.hide();
                }

                // SignUp mobile modal * Close modal
                if (eTarget.id === "closeCrossS2") {
                    $('#headerCore').show();
                    $('#bodyCore').show();
                    $('#footerCore').show();
                    container.hide();
                }
            });

            // Login modal * Enter to go
            $(".login-modal-email").keypress(function(e) {
                if (e.which === 13 || e.keycode === 13) {
                    $('.login-modal-footer button').click();
                }
            });

            // Signup modal * Enter to go
            $('.signup-modal-field').keypress(function(e) {
                if (e.which === 13 || e.keycode === 13) {
                    $('.signup-modal-button button').click();
                }
            });

        });
    </script>
</section>
