<md-bottom-sheet class="md-grid custom-popover" data-ng-controller="PopUpCtrl" layout="column">
<section id="popover-share">
	<div class="crossPopover" ng-click="closePopover()">
		<img src="/images/cross-icon-w.svg" />
	</div>
	<div class="popover-container">
		<div class="popover-text">
			<h1 ng-if="!shareSuccess">hello, we need you.</h1>
			<p ng-if="!shareSuccess">One day we'll monetize some of our features. Spread the word and you'll be offered them <strong>for free</strong>, <strong>for ever</strong>.</p>
			<h1 ng-if="shareSuccess" class="animated fadeIn">Thank you !</h1>
		</div>
		<div ng-if="!shareSuccess" class="popover-button">
			<div id="fshare" class="fb-share" ng-click="facebookShare()">
			  <a target="_self">
			    <button><i class="fa fa-facebook" style="color: white"></i>Share on Facebook</button>
			  </a>
			</div>
			<div id="twshare" class="tw-share">
			  <a href="https://twitter.com/intent/tweet?text=Need help to develop your project? Want to discover cool ideas? Join now &url=https://www.wittycircle.com">
			    <button class="tw-share"><i class="fa fa-twitter"></i> Share on Twitter</button>
			  </a>
 			</div>
		</div>
	</div>
</section>
</md-bottom-sheet>
