<div id="main-body-page" class="termprivacy">
  <div class="body-page">
    <div id="hvbg" class="header_reset">
      <img src="images/cover_terms.jpg" />
    </div>

    <section class="header-reset-text">
      <div class="row">
          <div class="main-title-market">
            <h1>Set a new password</h1>
          </div>
      </div>
    </section>

  </div>
  <section id="main-body-content">
    <div class="main-body-container">
        <div class="input-area-reset">
            <h2 class="title-page">Please enter a password that is at least 8 characters long.</h2>
            <div class="row">
                <div class="col-md-2">
                    <h2 class="title-input">New password</h2>
                </div>
                <div class="col-md-10">
                    <input type="password" class="" data-ng-model="new_password" placeholder="Enter your new password"/>
                    <p class="p-error" data-ng-if="error1 !== null" data-ng-bind="error1"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <h2 class="title-input">Confirm your password</h2>
                </div>
                <div class="col-md-10">
                    <input type="password" class="" data-ng-model="new_password_two" placeholder="Re-enter your new password"/>
                    <p class="p-error" data-ng-if="error2 !== null" data-ng-bind="error2"></p>
                </div>
            </div>
            <div class="col-md-12 text-center">
                <button class="buttonsave" data-ng-click="savePassword(new_password, new_password_two)">Save</button>
                <p data-ng-if="textValidateOk" data-ng-bind="textValidateOk">
                </p>
            </div>
        </div>

    </div>
  </section>
</div>

<script>
$(function() {
        $(document).ready(function() {
            window.scrollTo(0, 0);
        });
    });
</script>
