<section id="main-signup-modal" data-ng-controller="Signup_modalCtrl">
	<header class="signup-modal-header signup-login-header">
		<h2>Sign Up</h2>
		<img id="closeCrossS" src="/images/cross-icon.svg" style="cursor: pointer">
	</header>
    <div id="closeCrossS2"></div>
	<div class="signup-modal-social signup-login-social">
        <h4>Log in with a social network:</h4>
        <div class="fb-login">
            <a href="/auth/facebook" target="_self">
                <button><i class="fa fa-facebook" style="color: white"></i>Log in with Facebook</button>
            </a>
        </div>
        <div class="go-login">
            <a href="/auth/google" target="_self">
                <button class="go-login"><img src="/images/social_media/newgoogle-logo.svg">Log in with Google</button>
            </a>
        </div>
    </div>
    <div class="signup-modal-old signup-login-old">
        <div class="old-dash"></div>
        <h4>Let's get you started</h4>
        <div class="old-dash"></div>
    </div>
    <div class="signup-modal-field">
        <p ng-if="eat">Email is already taken</p>
    	<div class="signup-firstname-field firstname-input">
    		<input type="text" ng-model="formData.first_name" placeholder="Enter your first name" />
            <p ng-if="!fnf">This is a required field</p>
    	</div>
    	<div class="signup-lastname-field lastname-input">
    		<input type="text" ng-model="formData.last_name" placeholder="Enter your last name"/>
            <p ng-if="!lnf">This is a required field</p>
    	</div>
    	<div class="signup-email-field email-input">
    		<input type="email" ng-model="formData.email" placeholder="Enter your email address"/>
            <p ng-if="!emf">Address must be valid</p>
    	</div>
    	<div class="signup-password-field password-input">
    		<input type="password" ng-model="formData.password" placeholder="Enter your password (minimum 6 characters)"/>
            <p ng-if="!pwf">This is a required field</p>
            <span ng-if='week' class='pw-week'>Weak</span>
            <span ng-if='okey' class='pw-okey'>Medium</span>
            <span ng-if='strong' class='pw-strong'>Strong</span>
    	</div>
    </div>
    <div class="sign-modal-policy">
    	<p>By creating an account, I accept Wittycircle's <br /> <a href="/terms" target="_blank"><strong><u>Terms of Services</u></strong></a>,
    	and <a href="/privacy" target="_blank"><strong><u>Privacy Policy</u></strong></a>.
    	</p>
    </div>
    <div class="signup-modal-button">
        <button type="submit" ng-click="signupto()">Sign Up</button>
    </div>

    <div class="signup-modal-footer">
    	<h4>Already have an account? <strong><u id="switchToL" >Sign in</u></strong></h4>
    </div>
    <script>

        $(function() {
            var filter = $("#page-wrap");
            var x = $(window).height();
            var margeS = (x - 605)/2/2;

            $(document).mouseup(function (e) {
                var container2 = $("#main-signup-modal");

                if (e.target.id === "mosignup" || e.target.id === "closeCrossS" || e.target.id === "closeCrossS2" || container2.is(e.target) || container2.has(e.target).length || container2.css('display') === "block") {
                    if ((!container2.is(e.target) && !container2.has(e.target).length && e.target.id !== "mosignup") || e.target.id === "closeCrossS" || e.target.id === "closeCrossS2") {
                        filter.fadeOut(500);
                        if (y >= 736) {
                            container2.animate({top: '-700px'}, 400, function() {
                                container2.hide(100, function() {
                                    container2.css({'top': margeS.toString() + "px"});
                                });
                            });
                        } else {
                            $('#body-section').show();
                            container2.hide();
                        }
                    } else {
                        if (y >= 736) {
                            filter.fadeIn(300);
                            container2.css({'top': margeS.toString() + "px"});
                            container2.fadeIn();
                        } else {
                            $('#body-section').hide();
                            container2.fadeIn(100);
                        }
                    }
                }
            });

            $('.signup-modal-field').keypress(function(e) {
                if (e.which === 13 || e.keycode === 13) {
                    $('.signup-modal-button button').click();
                }
            });

            $(document).ready(function(){
                $('#switchToL').on('click', function() {
                    var x = $('#main-signup-modal');
                    var y = $("#main-login-modal");
                    if (x.css('display') === "block") {
                        y.css({'top': margeS.toString() + "px"});
                        y.fadeIn();
                        x.fadeOut();
                    }
                });
            });
        });

    </script>
</section>
