<div id="main-body-page">
	<div data-ng-include="'views/mobiles/main-mobile-modal.view.client.html'"></div>
	<div class="body-page body-main-page">
		<div id="hvbg" class="home-video-bg" ng-if="!mobile">
			<video poster="/images/poster/poster_home_signup.jpg" loop muted autoplay>
				<source src="/images/videos/Home.mp4" type="video/mp4" />
			</video>
		</div>
		<div id="hibg" class="home-image-bg"></div>

		<section id="main-discover" ng-show="!main.isstartclicked">
			<!-- <div class="row" ng-if="mobile">
				<div class="main-title-market-mobile">
					<h1>Meet Nish, first head of marketing & community at Yelp!</h1>
				</div>
				<div class="main-title-text-mobile">
					<h4>Nobody can build great things alone. Share your idea or project to our community, get instant feedback and be connected to the right people, at the right time.</h4>
				</div>
				<div class="main-button-discover">
					<div class="button-start-project">
						<button data-ui-sref="discover">Explore our projects</button>
					</div>
					<div class="button-discover">

						<button data-ui-sref="meet">Meet our community</button>
					</div>
				</div>
				<div onclick="scrollToBf()" class="main-info">
					<p>How can we help?</p>
				</div>
			</div> -->
			<slick-main class="main-discover-slick" init-onload=true ng-show="!main.isstartclicked">
<!--				<div class="main-carousel-slick">
					<div class="main-title-market">
						<h1>Meet Nish, first head of marketing & community at Yelp!</h1>
					</div>
					<div class="main-title-text-meet-people">
						<a href="/learn/article/id/62993/Introducing-weekly-mentoring-sessions-with--Nish,-1st-brand-and-community-director-at-Yelp"><img src="https://res.cloudinary.com/dqpkpmrgk/image/upload/c_scale,h_85,w_85/v1478021343/1098263_10151896325062317_1452756933_n_k52i2w.jpg"></a>
						<h4>This week, get <b>personal feedback</b> on your project from <b>Nish Nadaraja</b>. He'll talk with you about community building, branding, customer experience and much more.</h4>
					</div>
					<div class="main-button-discover" ng-if="!mobile">
						<div class="button-start-project">
							<a href="/learn/article/id/62993/Introducing-weekly-mentoring-sessions-with--Nish,-1st-brand-and-community-director-at-Yelp"><button>Learn more</button></a>
						</div>
					</div>
					<div class="main-button-discover" ng-if="mobile">
                                                <div class="button-start-project">
                                                        <a href="/learn/article/id/62993/Introducing-weekly-mentoring-sessions-with--Nish,-1st-brand-and-community-director-at-Yelp"><button>Meet Nish</button></a>
                                                </div>
                                        </div>
				</div> -->

				<div class="main-carousel-slick">
					<div class="main-title-market">
						<h1>Where the world meets future entrepreneurs</h1>
					</div>
					<div class="main-title-text">
						<h4>Nobody can build great things alone. Share your idea or project to our community, get instant feedback and be connected to the right people, at the right time.</h4>
					</div>
					<div class="main-button-discover">
						<div class="button-start-project">
							<button ng-click="main.goforstarter()">Post a project</button>
						</div>
					</div>
				</div>

				<div class="main-carousel-slick">
					<div class="main-title-market">
						<h1>Need a helping hand?</h1>
					</div>
					<div class="main-title-text">
						<h4>They are designers, engineers, product lovers, artists, programmers, entrepreneurs, writers, students, marketers, investors, business developers, and much more.</h4>
					</div>

					<div class="main-button-discover">
						<div class="button-discover">
							<button data-ui-sref="meet">Meet our community</button>
						</div>
					</div>
				</div>

				<div class="main-carousel-slick">
					<div class="main-title-market">
						<h1>Get inspired, find the next big thing</h1>
					</div>
					<div class="main-title-text">
						<h4>Ideas, products, side projects: they all need people like you to be turned into real things. Discover thousands of them and see how you can help.</h4>
					</div>
					<div class="main-button-discover">
						<div class="button-start-project">
							<button data-ui-sref="discover">Explore our projects</button>
						</div>
					</div>
				</div>
			</slick-main>
		</section>

		<section id="main-start-project" class="animated fadeInRightBig" ng-hide="!main.isstartclicked">
			<div class="main-title-sp">
				<h1>What are you working on?</h1>
			</div>
			<div class="row main-start-component">
				<div class="col-md-12 main-project-component">
					<h2 ng-if="main.statusProject === 'Idea'" class="main-first-text">I have an</h2>
					<h2 ng-if="main.statusProject !== 'Idea'" class="main-first-text">I have a</h2>
					<div class="dropdown-projects">
						<div id="apoc" class="main-projects-component" ng-click="main.openmamodal(1)">
							<h2 id="apoc" ng-bind="main.statusProject"></h2>
							<img id="apoc" src="/images/arrow-down-icon-w.svg">
						</div>
						<aside id="dbp" class="main-downBoxProject" style="display: none">
							<ul>
								<li ng-click="main.getProject('Idea')" >Idea</li>
								<li ng-click="main.getProject('Drafted project')" >Drafted project</li>
								<li ng-click="main.getProject('Beta project')" >Beta project</li>
								<li ng-click="main.getProject('Live project')" >Live project</li>
							</ul>
						</aside>
					</div>
					<div class="main-second-text">
						<h2>about</h2>
					</div>
					<div class="dropdown-categories">
						<div id="acoc" class="main-categories-component" ng-click="main.openmamodal(2)">
							<h2 id="acoc" ng-bind="main.ctgName.name"></h2>
							<img id="acoc" src="/images/arrow-down-icon-w.svg">
						</div>
						<aside id="dbc" class="main-downBoxCategories" style="display: none">
							<ul>
								<li ng-repeat="category in main.categories" ng-click="main.getCategory(category)" >{{category.name}}</li>
							</ul>
						</aside>
					</div>
				</div>
				<div class="col-md-12 main-location-component">
					<div class="main-called">
						<h2>called</h2>
					</div>
					<div class="main-project-title">
						<input id="mptitle" type="text" oninput="changeInputWidth()" ng-model="main.selectedname" placeholder="project title"maxlength="35">
					</div>
					<div class="main-fourth-text">
						<h2>in</h2>
					</div>
					<div class="main-geolocation">
						<input id="searchTextField" type="text" ng-value="displayLocation" google-place="" onmouseover="changePlaceholder()" onmouseout="resetPlaceholder()" ng-model="selectedlocation" placeholder="Boston, MA">
					</div>
				</div>
			</div>
			<div class="main-button-project">
				<p class="main-back-discover" ng-click="main.backtocta(); tog=0">Back</p>
				<div class="main-button-start" ng-click="main.savedata($event)">
					<button type="button">Start</button>
				</div>
			</div>
		</section>
	</div>
	<section id="main-body-content">
		<div class="main-body-container">

			<div class="main-body-contents">
				<div class="main-body-show">
					<div class="main-body-sLine">
						<h2>Show me the best</h2>
						<div id="mbdown" class="main-body-dropdown">
							<div class="main-body-search">
								<h2 ng-hide="main.shuffleStatus">{{main.cardInfo.status}}</h2>
								<h2 ng-show="main.shuffleStatus">{{main.shuffleStatus}}</h2>
								<img src="/images/arrow-down-icon-b.svg">
							</div>
							<aside id="mbbox" class="main-body-downBox" style="display: none">
								<ul>
									<li ng-click="main.getShuffleProject('Idea', main.cardInfo.category_name)" >Idea</li>
									<li ng-click="main.getShuffleProject('Drafted projects', main.cardInfo.category_name)" >Drafted project</li>
									<li ng-click="main.getShuffleProject('Beta projects', main.cardInfo.category_name)" >Beta project</li>
									<li ng-click="main.getShuffleProject('Live projects', main.cardInfo.category_name)" >Live project</li>
									<li ng-click="main.getShuffleProject('All projects', main.cardInfo.category_name)" >project</li>
								</ul>
							</aside>
						</div>
					</div>
					<div class="main-body-sLine">
						<h2>about</h2>
						<div id="mbdown2" class="main-body-dropdown">
							<div id="mbdown2" class="main-body-search">
								<h2 id="mbdown2" ng-show="!main.shuffleCag">{{main.cardInfo.category_name}}</h2>
								<h2 id="mbdown2" ng-show="main.shuffleCag">{{main.shuffleCag}}</h2>
								<img id="mbdown2" src="/images/arrow-down-icon-b.svg">
							</div>
							<aside id="mbbox2" class="main-body-downBox2" style="display: none">
								<ul>
									<li ng-repeat="category in main.categories" ng-click="main.getShuffleCag(category.name, main.cardInfo.status)">{{category.name}}</li>
								</ul>
							</aside>
						</div>
					</div>
					<div class="main-body-sLocation main-body-sLine">
						<h2>near</h2>
						<input id="mbsLocation" type="text" ng-value="shufflerLocation" ng-model="shufflerLocation" google-place="" placeholder="any location" ng-click="main.stopInterval()">
					</div>
				</div>

				<div class="main-body-cardList" ng-if="!main.newCardDisplay">
					<div id="mbcardList_{{$index}}" class="main-body-card project-card" ng-repeat="cardsDisplay in main.cardsDisplays track by $index" style="display: none">
						<div class="card-tag" ng-click="main.goToDiscover(cardsDisplay.category_name)">
							<div class="card-tag-content">
								<div class="card-tag-bg">
								</div>
								<img src="/images/tag-icon.png">
								<h5>{{cardsDisplay.category_name}}</h5>
							</div>
						</div>
						<div class="card-vote" ng-click="main.voteProjectCardShuffle(cardsDisplay.public_id, $index)">
							<div class="card-vote-bg"></div>
							<img ng-if="!cardsDisplay.check_vote" src="/images/Upvote_Icon_w.svg">
							<img ng-if="cardsDisplay.check_vote" src="/images/Upvote_Icon.svg">
							<span ng-bind="cardsDisplay.vote"></span>
						</div>
						<a class="card-project-page" ng-href="/project/{{cardsDisplay.public_id}}/{{main.encodeUrl(cardsDisplay.title)}}">
							<div class="card-picture">
								<img ng-src="{{ resizePic(cardsDisplay.picture_card, 285, 180)}}" alt="card-picture">
							</div>
							<div class="card-info">
								<div class="card-title-space">
									<h4>{{cardsDisplay.title}}</h4>
								</div>
								<div class="card-status">
									<span>
										<img ng-if="cardsDisplay.status == 'Live project'" src="images/live-picto.svg" alt="status-picture"/>
										<img ng-if="cardsDisplay.status == 'Idea'" src="images/idea-picto.svg" alt="status-picture"/>
										<img ng-if="cardsDisplay.status == 'Drafted project'" src="images/drafted-picto.svg" alt="status-picture"/>
										<img ng-if="cardsDisplay.status == 'Beta project'" src="images/beta-picto.svg" alt="status-picture"/>
										{{cardsDisplay.status}}
									</span>
								</div>
								<div class="card-location">
									<span><img src="/images/location-picto.svg" alt="location-picture" />{{cardsDisplay.location_city}}<i ng-hide="!cardsDisplay.location_country">,</i> {{cardsDisplay.location_country}}</span>
								</div>
								<div class="card-description-text">
									<p>{{cardsDisplay.description}}</p>
								</div>
								<div class="card-info-by">
									<figure class="card-info-by-picture">
										<img ng-src="{{cardsDisplay.pic}}" alt="card-foot-picture">
									</figure>
									<h6>{{cardsDisplay.creator_user_name}}<h6 ng-if="cardsDisplay.usersIn.length">& {{cardsDisplay.usersIn.length}} more</h6></h6>
								</div>
							</div>
						</a>
					</div>
				</div>

				<div class="main-body-cardList" ng-if="main.newCardDisplay">
					<div id="mbcardList_{{$index}}" class="main-body-card project-card">
						<div class="card-tag" ng-click="main.goToDiscover(main.newCardDisplay.category_name)">
							<div class="card-tag-content">
								<div class="card-tag-bg">
								</div>
								<img src="/images/tag-icon.png">
								<h5>{{main.newCardDisplay.category_name}}</h5>
							</div>
						</div>
						<div class="card-vote" ng-click="main.voteProjectCardShuffle(main.newCardDisplay.public_id, $index)">
							<div class="card-vote-bg"></div>
							<img ng-if="!main.newCardDisplay.check_vote" src="/images/Upvote_Icon_w.svg">
							<img ng-if="main.newCardDisplay.check_vote" src="/images/Upvote_Icon.svg">
							<span ng-bind="main.newCardDisplay.vote"></span>
						</div>
						<a class="card-project-page" ng-href="/project/{{main.newCardDisplay.public_id}}/{{main.encodeUrl(main.newCardDisplay.title)}}">
							<div class="card-picture">
								<img ng-src="{{ resizePic(main.newCardDisplay.picture_card, 285, 180)}}" alt="card-picture">
							</div>
							<div class="card-info">
								<div class="card-title-space">
									<h4>{{main.newCardDisplay.title}}</h4>
								</div>
								<div class="card-status">
									<span>
										<img ng-if="main.newCardDisplay.status == 'Live project'" src="images/live-picto.svg" alt="status-picture"/>
										<img ng-if="main.newCardDisplay.status == 'Idea'" src="images/idea-picto.svg" alt="status-picture"/>
										<img ng-if="main.newCardDisplay.status == 'Drafted project'" src="images/drafted-picto.svg" alt="status-picture"/>
										<img ng-if="main.newCardDisplay.status == 'Beta project'" src="images/beta-picto.svg" alt="status-picture"/>
										{{main.newCardDisplay.status}}
									</span>
								</div>
								<div class="card-location">
									<span><img src="/images/location-picto.svg" alt="location-picture" />{{main.newCardDisplay.location_city}}<i ng-hide="!main.newCardDisplay.location_country">,</i> {{main.newCardDisplay.location_country}}</span>
								</div>
								<div class="card-description-text">
									<p>{{main.newCardDisplay.description}}</p>
								</div>
								<div class="card-info-by">
									<figure class="card-info-by-picture">
										<img ng-src="{{main.newCardDisplay.pic}}" alt="card-foot-picture">
									</figure>
									<h6>{{main.newCardDisplay.creator_user_name}}<h6 ng-if="main.newCardDisplay.usersIn.length">& {{main.newCardDisplay.usersIn.length}} more</h6></h6>
								</div>
							</div>
						</a>
					</div>
				</div>

			</div>
		</div>
	</section>

		<section id="main-body2-content">
			<div class="main-body2-container">

				<div class="main-body2-contents">
					<div class="main-body2-head">
						<div class="main-body2-title">
							<h1>Trending projects.</h1>
							<h6>Most upvoted projects of the last 24 hours.</h6>
						</div>
						<div class="main-body2-option">
							<a href="/discover">See all</a>
						</div>
					</div>
					<div class="main-body2-body">
						<div class="main-body2-card project-card" ng-repeat="projectCard in main.projectCards | limitTo: 3 track by $index">
							<div class="card-tag" ng-click="main.goToDiscover(projectCard.category_name)">
								<div class="card-tag-content">
									<div class="card-tag-bg">
									</div>
									<img src="/images/tag-icon.png">
									<h5>{{projectCard.category_name}}</h5>
								</div>
							</div>

							<div class="card-vote" ng-click="main.voteProjectCard(projectCard.public_id, $index)">
								<div class="card-vote-bg"></div>
								<img ng-if="!projectCard.check_vote" src="/images/Upvote_Icon_w.svg">
								<img ng-if="projectCard.check_vote" src="/images/Upvote_Icon.svg">
								<span ng-bind="projectCard.vote"></span>
							</div>
							<a class="card-project-page" ng-href="/project/{{projectCard.public_id}}/{{main.encodeUrl(projectCard.title)}}">
								<div class="card-picture" ng-style="{'background-image': 'url({{ projectCard.picture_card }})'}">
									<!-- <img ng-src="{{projectCard.picture}}" alt="card-picture"> -->
								</div>
								<div class="card-info">
									<div class="card-title-space">
										<h4>{{projectCard.title}}</h4>
									</div>
									<div class="card-status">
										<span>
											<img ng-if="projectCard.status == 'Live project'" src="/images/live-picto.svg" alt="status-picture"/>
											<img ng-if="projectCard.status == 'Idea'" src="/images/idea-picto.svg" alt="status-picture"/>
											<img ng-if="projectCard.status == 'Drafted project'" src="/images/drafted-picto.svg" alt="status-picture"/>
											<img ng-if="projectCard.status == 'Beta project'" src="/images/beta-picto.svg" alt="status-picture"/>
											{{projectCard.status}}
										</span>
									</div>
									<div class="card-location">
										<span><img src="/images/location-picto.svg" alt="location-picture" />{{projectCard.location_city}}<i ng-hide="!projectCard.location_country">,</i> {{projectCard.location_country}}</span>
									</div>
									<div class="card-description-text">
										<p>{{projectCard.description}}</p>
									</div>
									<div class="card-info-by">
										<figure class="card-info-by-picture">
											<img ng-src="{{ resizePic(projectCard.pic, 30, 30, 'fill') }}" alt="card-foot-picture">
										</figure>
										<h6>{{projectCard.creator_user_name}}<h6 ng-if="projectCard.usersIn.length">& {{projectCard.usersIn.length}} more</h6></h6>
									</div>
								</div>
							</a>
						</div>
					</div>

					<slick class="main-body2-body-mobile" init-onload=true data="main.projectCards" media="screen and (max-width: 735px)" ng-if="mobile">

						<div class="main-body2-card project-card" ng-repeat="projectCard in main.projectCards | limitTo: 3">
							<div class="card-tag" ng-click="main.goToDiscover(projectCard.category_name)">
								<div class="card-tag-content">
									<div class="card-tag-bg">
									</div>
									<img src="/images/tag-icon.png">
									<h5>{{projectCard.category_name}}</h5>
								</div>
							</div>
							<a class="card-project-page" ng-href="/project/{{projectCard.public_id}}/{{main.encodeUrl(projectCard.title)}}">
								<div class="card-picture" ng-style="{'background-image': 'url({{ projectCard.picture_card }})'}">
									<!-- <img ng-src="{{projectCard.picture}}" alt="card-picture"> -->
								</div>
								<div class="card-info">
									<div class="card-title-space">
										<h4>{{projectCard.title}}</h4>
									</div>
									<div class="card-status">
										<span>
											<img ng-if="projectCard.status == 'Live project'" src="/images/live-picto.svg" alt="status-picture"/>
											<img ng-if="projectCard.status == 'Idea'" src="/images/idea-picto.svg" alt="status-picture"/>
											<img ng-if="projectCard.status == 'Drafted project'" src="/images/drafted-picto.svg" alt="status-picture"/>
											<img ng-if="projectCard.status == 'Beta project'" src="/images/beta-picto.svg" alt="status-picture"/>
											{{projectCard.status}}
										</span>
									</div>
									<div class="card-location">
										<span><img src="/images/location-picto.svg" alt="location-picture" />{{projectCard.location_city}}<i ng-hide="!projectCard.location_country">,</i> {{projectCard.location_country}}</span>
									</div>
									<div class="card-description-text">
										<p>{{projectCard.description}}</p>
									</div>
									<div class="card-info-by">
										<figure class="card-info-by-picture">
											<img ng-src="{{ resizePic(projectCard.pic, 30, 30, 'fill') }}" alt="card-foot-picture">
										</figure>
										<h6>{{projectCard.creator_user_name}}<h6 ng-if="projectCard.usersIn.length">& {{projectCard.usersIn.length}} more</h6></h6>
									</div>
								</div>
							</a>
						</div>
					</slick>

					<div class="main-body2-seemore">
						<a href="/discover">See more projects</a>
					</div>
				</div>
			</div>
		</section>
		<section id="main-body3-content">
			<div class="main-body3-container">

				<div class="main-body3-contents">
					<div class="main-body3-head">
						<div class="main-body3-title">
							<h1>Around you.</h1>
							<h6>#sayhi</h6>
						</div>
						<div class="main-body3-option">
							<a href="/meet">See more</a>
						</div>
					</div>
					<main-body3 class="main-body3-body" data="main">
						<div class="main-body3-card profile-card" ng-repeat="cardProfile in main.cardProfiles track by $index" ng-if="!cardProfile.fake">
							<div class="card-click-zone" ng-click="main.goToProfile(cardProfile.id)">
								<div class="card-rank" ng-if="cardProfile.myRank">
									<span>#{{cardProfile.myRank}}</span>
								</div>
								<div class="card-picture" ng-style="{'background-image': 'url({{ resizePic(cardProfile.cover_picture, 205, 40, 'fill') }})'}">
									<!-- <img ng-src="{{cardProfile.cover_picture}}"> -->
									<div class="card-profile-picture" ng-style="{'background-image': 'url({{ resizePic(cardProfile.profile_picture, 60, 60) }})'}">
										<!-- <img ng-src="{{cardProfile.profile_picture}}"> -->
									</div>
								</div>
								<div class="card-info">
									<h4>{{cardProfile.first_name}} {{cardProfile.last_name}}</h4>
									<div class="card-location">
										<h6>{{cardProfile.location_city}}<i ng-hide="!cardProfile.location_country">,</i> {{cardProfile.location_country}}</h6>
									</div>
									<div class="card-description">
										<p ng-bind-html="cardProfile.description | cut:true:56:' ...'"></p>
									</div>
									<div class="card-profile-skills">
                                        <ul>
                                            <li ng-repeat="profileSkill in cardProfile.skills">{{profileSkill.skill_name | cut:true:20:' ...'}}</li>
                                        </ul>
                                    </div>
								</div>
							</div>
							<div class="card-follow">
								<div class="card-followers card-follow-square">
									<p ng-bind="cardProfile.followers"></p>
									<h6>followers</h6>
								</div>
								<div class="card-following card-follow-square">
									<p ng-bind="cardProfile.following"></p>
									<h6>following</h6>
								</div>
								<div id="cfs{{$index}}" class="card-plus card-follow-square" ng-click="main.followUserFromCard(cardProfile.id, $index, $event)">
									<div ng-show="!main.followed[$index]" class="tooltipw">Follow?</div>
									<div ng-show="main.followed[$index]" class="tooltipw">Unfollow?</div>
									<i id="fop{{$index}}" ng-show="!main.followed[$index]" class="fa fa-plus"></i>
									<i id="foc{{$index}}" ng-hide="!main.followed[$index]" class="fa fa-check"></i>
								</div>
							</div>
						</div>
					</main-body3>

					<slick class="main-body3-body-mobile" init-onload=true data="main.cardProfiles" media="screen and (max-width: 735px)" ng-if="mobile">
						<div class="main-body3-card profile-card" ng-repeat="cardProfile in main.cardProfiles track by $index">
							<div class="card-click-zone" ng-click="main.goToProfile(cardProfile.id)">
								<div class="card-picture" ng-style="{'background-image': 'url({{ resizePic(cardProfile.cover_picture, 205, 40, 'fill') }})'}">
									<div class="card-profile-picture" ng-style="{'background-image': 'url({{ resizePic(cardProfile.profile_picture, 60, 60) }})'}">
									</div>
								</div>
								<div class="card-info">
									<h4>{{cardProfile.first_name}} {{cardProfile.last_name}}</h4>
									<div class="card-location">
										<h6>{{cardProfile.location_city}}<i ng-hide="!cardProfile.location_country">,</i> {{cardProfile.location_country}}</h6>
									</div>
									<div class="card-description">
										<p ng-bind-html="cardProfile.description | cut:true:56:' ...'"></p>
									</div>
									<div class="card-profile-skills">
                                        <ul>
                                            <li ng-repeat="profileSkill in cardProfile.skills">{{profileSkill.skill_name | cut:true:20:' ...'}}</li>
                                        </ul>
                                    </div>
								</div>
							</div>
							<div class="card-follow">
								<div class="card-followers card-follow-square">
									<p ng-bind="cardProfile.followers"></p>
									<h6>followers</h6>
								</div>
								<div class="card-following card-follow-square">
									<p ng-bind="cardProfile.following"></p>
									<h6>following</h6>
								</div>
								<div id="cfs{{$index}}" class="card-plus card-follow-square" ng-click="main.followUserFromCard(cardProfile.id, $index, $event)">
									<div ng-show="!main.followed[$index]" class="tooltipw">Follow?</div>
									<div ng-show="main.followed[$index]" class="tooltipw">Unfollow?</div>
									<i id="fop{{$index}}" ng-show="!main.followed[$index]" class="fa fa-plus"></i>
									<i id="foc{{$index}}" ng-hide="!main.followed[$index]" class="fa fa-check"></i>
								</div>
							</div>
						</div>
					</slick>

					<div class="main-body3-seemore">
						<a href="/meet">Find more users around you</a>
					</div>
				</div>

			</div>
		</section>
	<script>
		var x = $(window).width();

		$(document).ready(function() { 

			if (x >= 736) {	

		        var y,
		            mbdown  = $('#mbdown'),
		            mbbox   = $('#mbbox'),
		            mbb2    = $('.main-body2-body'),
		            mbb3    = $('.main-body3-body'),
		            dbc     = document.getElementById('dbc'),
		            dbp     = document.getElementById('dbp'),
		            mbbox2D = document.getElementById('mbbox2'),
		            mbdown2 = document.querySelectorAll("#mbdown2 img"),
		            apocIT  = document.querySelectorAll("#apoc img"),
		            acocIT  = document.querySelectorAll("#acoc img");

		        if (screen.height > 1280 && document.getElementById('hvbg'))
		            document.getElementById('hvbg').style.height = "650px"; 

		        $('.main-discover-slick').slick({
		        	dots: true,
		        	arrows: true,
		        	infinite: true,
		        	speed: 500,
		        	autoplay: true,
		        	autoplaySpeed: 8000,
		        	swipeToSlide: false,
		        	prevArrow:"<img class='a-left control-c prev slick-prev' src='images/arrow-back-w-01.svg'>",
    				nextArrow:"<img class='a-right control-c next slick-next' src='images/arrow-back-w-02.svg'>",
		        });

		        $('#main-body-page').on('click', function(e) {

		            /*** section shuffler ***/
		            // if (e.target.id === "mbdown" && document.getElementById('mbbox').style.display == "none") {
		            //   document.getElementById('mbbox').style.display = "block"
		            //   document.querySelectorAll("#mbdown img")[0].style.transform = "rotate(-180deg)";
		            // } else {
		            //     document.getElementById('mbbox').style.display = "none"
		            //     document.querySelectorAll("#mbdown img")[0].style.transform = "rotate(0deg)";
		            // }
		            if (e.target.id === 'mbdown' || mbdown.is(e.target) || mbdown.has(e.target).length) {
		                if (mbdown.is(e.target) || mbdown.has(e.target).length)
		                    mbbox.toggle();
		                else
		                    mbbox.toggle();
		            } else
		                mbbox.hide();

		            if (e.target.id === "mbdown2"  && mbbox2D.style.display === "none") {
		                mbbox2D.style.display = "block";
		                mbdown2[0].style.transform = "rotate(-180deg)";
		            } else {
		                mbbox2D.style.display = "none";
		                mbdown2[0].style.transform = "rotate(0deg)";
		            }
		            /*** section main page project ***/
		            if (e.target.id == 'apoc' && dbp.style.display == "none") {
		                dbp.style.display = "block";
		                apocIT[0].style.transform = "rotate(-180deg)";
		            } else {
		                if (dbp) {
		                    dbp.style.display = "none";
		                    apocIT[0].style.transform = "rotate(0deg)";
		                }
		            }
		            if (e.target.id == 'acoc' && dbc.style.display == "none") {
		                dbc.style.display = "inline-block";
		                acocIT[0].style.transform = "rotate(-180deg)";
		            } else {
		                if (dbc) {
		                    dbc.style.display = "none";
		                    acocIT[0].style.transform = "rotate(0deg)";
		                }
		            }
		        });

		        $(this).scroll(function() {
		            y = $(this).scrollTop();
		            if (mbb2.css('display') !== "none" && y > 400) {
		                mbb2.fadeTo("slow", 1);
		            }
		            if (mbb3.css('display') !== "none" && y > 1000) {
		                mbb3.fadeTo("slow", 1);
		            }
		        });
		    } else {

		        var val = {};

		        $('.main-discover-slick').slick({
		        	dots: true,
		        	arrows: false,
		        	infinite: true,
		        	speed: 500,
		        	autoplay: true,
		        	autoplaySpeed: 8000,
		        	swipeToSlide: false,
		      //   	prevArrow:"<img class='a-left control-c prev slick-prev' src='images/arrow-back-w-01.svg'>",
    				// nextArrow:"<img class='a-right control-c next slick-next' src='images/arrow-back-w-02.svg'>",
		        });

		        $("#searchTextField").focus(function() {
		            if ($(this).val()) {
		                val.text = $(this).val();
		                val.width = Number($(this).width()) + 20;
		                $(this).val("");
		                $(this).css("width", "200px");
		            }
		        });
		    }
		});

		if (x >= 736) {

		    function changeInputWidth() {
		        $("#mptitle").css('width', function() {
		            var el = $('<span />', {
		                text : this.value,
		                css  : {left: -9999, position: 'relative', 'font-family': 'FreigLight', 'font-size': '32px'}
		            }).appendTo('body');
		            var w = parseInt(el.css('width').replace(/[^-\d\.]/g, '')) + 30;
		            el.remove();
		            if (w > 179)
		                return w.toString() + "px";
		            else
		                return '179px';
		        });
		    };

		    /* Scroll to the top at the beginning */
		    // function initPage() {
		    //  $(window).scrollTop(0);
		    // }; setTimeout(function() {initPage()}, 800);

			function changePlaceholder() {
				if (document.getElementById('searchTextField')) {
					$('#searchTextField').attr("placeholder", "Add location");
				}
			};

			function resetPlaceholder() {
				if (document.getElementById('searchTextField')) {
				    $('#searchTextField').attr("placeholder", "Boston, MA").fadeIn();
				}
			};
		}
		function scrollToBf() {
		        $('html, body').animate({
		            scrollTop: $(".bf-info").offset().top
		        }, 500);
		    };
	</script>
</div>
<div data-ng-include="'views/bfooter/bfooter-1.view.client.html'"></div>
