<section id="profile-header">
	<profile-message-modal></profile-message-modal>
	<profile-help-need></profile-help-need>
	<div ng-if="!profileVm.imageCoverLoading" class="filter"></div>
	<div ng-if="profileVm.imageCoverLoading" class="spinner-load">
		<div class="spinner__item1 spinner-item"></div>
		<div class="spinner__item2 spinner-item"></div>
		<div class="spinner__item3 spinner-item"></div>
	</div>
	<div ng-if="profileVm.canUploadCover && profileVm.randomCover" class="profile-cover-first">
		<p>Your profile can look awesome</p>
		<div class="profile-cover-text">
			<a ngf-select="profileVm.uploadProfileCover(coverProfile)" ng-model="coverProfile"><i class="fa fa-camera"></i> Update cover picture</a>
		</div>
	</div>
	<div class="profile-contents">
		<div class="profile-info">
			<div id="pip" ng-class="{'profile-info-picture2': !profileVm.profile.profile_picture}" class="profile-info-picture">
				<div ng-if="profileVm.imageProfileLoading" class="spinner-load">
					<div class="spinner__item1 spinner-item"></div>
					<div class="spinner__item2 spinner-item"></div>
					<div class="spinner__item3 spinner-item"></div>
				</div>
				<div ng-if="!profileVm.imageProfileLoading && profileVm.canUpload" id="pupe" class="profile-update-picture" ngf-drop="profileVm.uploadProfilePicture(imagecoveruploaded)" ngf-select="profileVm.uploadProfilePicture(imagecoveruploaded)" ng-model="imagecoveruploaded"
			            ngf-drag-over-class="dragover" ngf-multiple="false" ngf-allow-dir="false"
			            accept="image/*"
			            ngf-pattern="'image/*'">
				    	<i id="pipi" class="fa fa-camera animated bounceIn"></i>
				</div>
				<img ng-src="{{ resizePic(profileVm.profile.profile_picture, 154, 154, 'fill') }}" alt="profile-picture">
				<div class="profile-info-top-rank">
					<div class="tooltipw"><p style="margin-bottom: 0">{{profileVm.profile.first_name}} ranks among the {{topRank}} most influent users of the community</p></div>
					<h5 ng-if="topRank">#{{topRank}}</h5>
				</div>
			</div>
			<div class="profile-info-cv">
				<div class="name info-line">
					<h1>{{profileVm.profile.first_name}} {{profileVm.profile.last_name}}</h1>
				</div>

				<!-- <div class="info-about">
					<h3>Looking to {{profileVm.profile.about | lowercase}}</h3>
				</div> -->

				<div id="location-input" class="location" ng-mouseover="profileVm.showEditL()" ng-mouseleave="profileVm.hideEditL()">
					<img ng-if="profileVm.profile.location_city" src="/images/location-picto-w.svg" alt="location-icon" />
					<div class="location-name">
						<div class="location-name-city" ng-if="!profileVm.modifyLocation">
							<h5 >{{profileVm.profile.location_city}}<i ng-hide="!profileVm.profile.location_country">,</i></h5> <h5>{{profileVm.profile.location_state}}</h5>
							 <h5 ng-if="!profileVm.profile.location_state">{{profileVm.profile.location_country}}</h5>
						</div>
						<input ng-if="profileVm.modifyLocation" type="text" placeholder="Search for a place" profile-location-search="" ng-model="displayLocation2"/>
					</div>
					<img id="location-input2" ng-if="profileVm.showEditLocation" src="/images/picto-edit-w.svg" alt="edit-icon" ng-click="profileVm.editLocation()" />
					<div class="profile-info-rank" ng-if="myRank >= 1">
						<div class="tooltipw">Improve your ranking and gain exposure. Visit your <a href="/statistics"><u>statistics</u></a> page.</div>
						<h4># {{myRank}}</h4>
						<img ng-if="myCompareRank" src="/images/Upvote_Icon.svg" alt="rank-up-down"/>
					</div>
				</div>

			<!--	<div class="profile-influencer" ng-if="profileVm.currentUser.moderator && profileVm.profile.founder > 0 && profileVm.profile.founder <= 100">
					<p>Influencer #{{profileVm.profile.founder}}</p>
				</div>
				<div class="profile-influencer" ng-if="profileVm.currentUser.moderator && profileVm.profile.founder === 246">
					<p>Master</p>
				</div>
				<div class="profile-influencer" ng-if="profileVm.currentUser.moderator && profileVm.profile.founder === 206">
					<p>Founder</p>
				</div>
				<div class="profile-influencer" ng-if="profileVm.currentUser.moderator && profileVm.profile.founder === 999">
					<p>Priest</p>
				</div> -->

				<div id="location-input-mobile" class="location">
					<img ng-if="profileVm.profile.location_city" src="/images/location-picto-w.svg" alt="location-icon" />
					<div class="location-name">
						<div class="location-name-city" ng-if="!profileVm.modifyLocation">
							<h5 >{{profileVm.profile.location_city}}<i ng-hide="!profileVm.profile.location_country">,</i></h5> <h5>{{profileVm.profile.location_state}}</h5>
							 <h5 ng-if="!profileVm.profile.location_state">{{profileVm.profile.location_country}}</h5>
						</div>
						<input ng-if="profileVm.modifyLocation" type="text" placeholder="Search for a place" profile-location-search="" ng-model="displayLocation2"/>
					</div>
					<img id="location-input2" ng-if="profileVm.trueUser" src="/images/picto-edit-w.svg" alt="edit-icon" ng-click="profileVm.editLocation()" />
				</div>
			</div>

			<div class="profile-follow-mobile">
				<div class="follow-project follower">
					<h2 data-ng-bind="profileVm.projectsFollow.length"></h2>
					<h5>Upvoted<br /> projects</h5>
				</div>
				<div class="followed follower">
					<h2 ng-bind="profileVm.usersFollow.length"></h2>
					<h5>following</h5>
				</div>
				<div class="follow follower">
					<h2 ng-bind="profileVm.followers.length"></h2>
					<h5>Followers</h5>
				</div>
			</div>
			<!-- <div id="pebutton" ng-if="profileVm.trueUser" class="profile-edit-mobile" ng-click="profileVm.openMobileEdit()">
				<button type="submit">Edit my profile</button>
			</div> -->

			<div class="profile-mobile-user-options">
				<div ng-if="!profileVm.trueUser" class="profile-mobile-connect">
					<div class="profile-text-link">
						<a ng-click="profileVm.goToMessage(profileVm.profile.id, 0)">Message</a>
					</div>
					<button class="profile-follow-link" type="button" ng-click="profileVm.followUser()"><i ng-if="profileVm.followText === 'Following'" class="fa fa-check"></i><i ng-if="profileVm.followText === 'Follow'" class="fa fa-plus"></i>{{profileVm.followText}}</button>
				</div>
				<button id="pmepb" ng-if="profileVm.trueUser" class="profile-mobile-edit-photo"><i class="fa fa-camera"></i> Update picture</button>
			</div>
		</div>

		<div id="puc" ng-if="profileVm.canUploadCover && !profileVm.randomCover && !profileVm.imageCoverLoading" class="profile-upload-cover" ngf-select="profileVm.uploadProfileCover(coverProfile)" ng-model="coverProfile">
			<i class="fa fa-camera"></i> <p>Update Cover Picture</p>
		</div>

	</div>

	<div class="profile-bottom">
		<div class="profile-bottom-info">
			<div class="profile-follow">
				<div class="follow-project follower">
					<h2 data-ng-bind="profileVm.projectsFollow.length"></h2>
					<h5>Upvoted<br /> projects</h5>
					<div id="pfdd1" class="profile-follow-dropdown" style="display: none" ng-if="profileVm.projectsFollow.length !== 0">
						<a class="profile-pfollow-list" ng-repeat="pFollow in profileVm.projectsFollow" ng-href="/project/{{ pFollow.public_id }}/{{ profileVm.encodeUrl(pFollow.title) }}">
							<div class="profile-pfollow-picture" ng-style="{'background-image': 'url(' + pFollow.picture_card + ')'}"></div>

							<div class="profile-pfollow-info">
								<h4 ng-bind="pFollow.title"></h4>
								<span>{{pFollow.location_city}}</span><span ng-if="pFollow.location_state">, {{pFollow.location_state}}</span><span ng-if="!pFollow.location_state && pFollow.location_country">, {{pFollow.location_country}}</span>
							</div>
						</a>
					</div>
				</div>
				<div class="followed follower">
					<h2 ng-bind="profileVm.usersFollow.length"></h2>
					<h5>Following</h5>
					<div id="pfdd2" class="profile-follow-dropdown profile-follow-dropdown2" style="display: none" ng-if="profileVm.usersFollow.length !== 0">
						<a class="profile-followed-list follow-list-dd" ng-repeat="followed in profileVm.usersFollow" ng-click="goToProfile(followed.id)">
							<div class="profile-followed-picture" ng-style="{'background-image': 'url(' + followed.profile_picture_icon + ')'}"></div>

							<div class="profile-follow-info">
								<h4>{{followed.first_name}} {{followed.last_name}}</h4>
								<span>{{followed.location_city}}</span><span ng-if="followed.location_state">, {{followed.location_state}}</span><span ng-if="!followed.location_state && followed.location_country">, {{followed.location_country}}</span>
							</div>
						</a>
					</div>
				</div>
				<div class="follow follower">
					<h2 ng-bind="profileVm.followers.length"></h2>
					<h5>Followers</h5>
					<div id="pfdd3" class="profile-follow-dropdown profile-follow-dropdown2" style="display: none" ng-if="profileVm.followers.length !== 0">
						<a class="profile-follower-list follow-list-dd" ng-repeat="follower in profileVm.followers" ng-click="goToProfile(follower.id)">
							<div class="profile-followed-picture" ng-style="{'background-image': 'url(' + follower.profile_picture_icon + ')'}"></div>

							<div class="profile-follow-info">
								<h4>{{follower.first_name}} {{follower.last_name}}</h4>
								<span>{{follower.location_city}}</span><span ng-if="follower.location_state">, {{follower.location_state}}</span><span ng-if="!follower.location_state && follower.location_country">, {{follower.location_country}}</span>
							</div>
						</a>
					</div>
				</div>
			</div>
			<div ng-if="profileVm.inProjects.length" class="profile-user-projects" onclick="getDropdownProfile()">
				<div class="profile-projects-text">
					<h6>Involved in <strong>{{profileVm.inProjects.length}} <span ng-if="profileVm.inProjects.length > 1">projects</span><span ng-if="profileVm.inProjects.length == 1">project<span></strong></h6>
				</div>
				<div class="profile-projects-picture">
					<figure ng-if="inProject.picture" class="profile-pp" ng-repeat="inProject in profileVm.inProjects | limitTo: 3 track by $index">
						<img ng-src="{{ resizePic(inProject.picture, 40, 40, 'fill') }}" alt="project-picture" style="vertical-align: middle; text-align: center">
					</figure>
					<figure class="profile-arrow">
						<img id="ppa" src="/images/arrow-down-icon-w.svg" alt="arrow">
					</figure>
				</div>
			</div>
			<div ng-if="!profileVm.cannotFollow" class="profile-user-options">
				<div class="profile-text-link">
					<a id="ptlaska">Ask for help</a>
					<div id="ptlask" class="ptl-ask" style="display: none">
						<li ng-repeat="iPrj in profileVm.askProjects" ng-if="profileVm.askProjects.length" ng-click="getToNeed(iPrj.public_id, iPrj.status, iPrj.title, iPrj.picture_card)">
							<img ng-if="iPrj.picture_card" ng-src="{{ resizePic(iPrj.picture_card, 40, 40, 'fill') }}" alt="project-picture">
			                <img ng-if="!iPrj.picture_card && iPrj.status === 'Idea'" src="/images/Thumbnail_Idea.svg">
			                <img ng-if="!iPrj.picture_card && iPrj.status === 'Drafted project'" src="/images/Thumbnail_Drafted.svg">
			                <img ng-if="!iPrj.picture_card && iPrj.status === 'Beta project'" src="/images/Thumbnail_Beta.svg">
			                <img ng-if="!iPrj.picture_card && iPrj.status === 'Live project'" src="/images/Thumbnail_Live.svg">
							<h4>{{iPrj.title}}</h4>
						</a></li>

						<li style="max-width: 200px; font-family: 'FreigBook';" ng-if="!profileVm.askProjects.length">You must <u style="color: red" ng-click="goToStart()">create a project</u> and share your needs to ask for contributions.</li>
					</div>
				</div>
				<div id="pmpm" class="profile-text-link">
					<a id="pmpma" ng-click="profileVm.goToMessage(profileVm.profile.id)">Message</a>
				</div>
				<button class="profile-follow-link" type="button" ng-click="profileVm.followUser()"><i ng-if="profileVm.followText === 'Following'" class="fa fa-check"></i><i ng-if="profileVm.followText === 'Follow'" class="fa fa-plus"></i>{{profileVm.followText}}</button>
			</div>
		</div>
	</div>

	<div id="inprom" ng-if="profileVm.inProjects.length" class="profile-bottom-mobile">
		<div class="profile-mobile-user-projects">
			<h5>Involved in <b>{{profileVm.inProjects.length}} <span ng-if="profileVm.inProjects.length > 1">projects</span><span ng-if="profileVm.inProjects.length === 1">project<span></b></h5>
		</div>
		<div class="profile-mobile-projects-picture" ng-click="profileVm.getSlideProjects()">
			<div class="profile-pp" ng-repeat="inProject in profileVm.inProjects | limitTo: 3 track by $index" ng-style="{'background-image': 'url({{ resizePic(inProject.picture, '', 35, 'fill') }})'}">
			</div>
			<div class="profile-pp-arrow"></div>
		</div>
	</div>
</section>

<div id="pmephotos" class="profile-mobile-edit-photos" ng-if="profileVm.trueUser">
	<div class="profile-mobile-edit-cover" ngf-select="profileVm.uploadProfileCover(coverProfile)" ng-model="coverProfile">
		Change your cover picture
	</div>

	<hr />
	<div class="profile-mobile-edit-profile" ng-if="!profileVm.imageProfileLoading && profileVm.canUpload" id="pupe" ngf-select="profileVm.uploadProfilePicture(imagecoveruploaded)" ng-model="imagecoveruploaded" ngf-multiple="false" ngf-allow-dir="false"
            accept="image/*"
            ngf-pattern="'image/*'">
		Upload a new profile photo
	</div>
</div>

<!-- <section id="psmb" class="profile-save-mobile">
	<span ng-click="profileVm.closeMobileEdit()">Cancel</span>
	<button type="submit"><i class="fa fa-check"></i> Save changes</button>
</section> -->

<section id="profile-mobile-slideDown" ng-if="mobile">
	<div class="profile-mobile-cardProject" data="profileVm.inProjects" check="profileVm.initSlide" slick-slider='{dots: true, speed: 200, initialSlide: 0, mobileFirst: true, centerMode: true, centerPadding: "30px", variableWidth: true,}'>
		<div class="profile-slideDown-card project-card" ng-repeat="cardProject in profileVm.inProjects track by $index">
			<div class="card-tag" ng-click="goToDiscover(cardProject.category_name)">
				<div class="card-tag-content">
					<div class="card-tag-bg">
					</div>
					<img src="/images/tag-icon.png">
					<h5>{{cardProject.category_name}}</h5>
				</div>
			</div>
			<a class="card-project-page" ng-href="/project/{{cardProject.public_id}}/{{profileVm.encodeUrl(cardProject.title)}}">
				<div class="card-picture" ng-style="{'background-image': 'url({{ resizePic(cardProject.picture, 285, 180, 'fill') }})'}">
				<!-- <img ng-src="{{cardProject.picture}}" alt="card-picture"> -->
				</div>
				<div class="card-info">
					<div class="card-title-space">
						<h4>{{cardProject.title}}</h4>
					</div>
					<div class="card-status">
						<span>
							<img ng-if="cardProject.status == 'Live project'" src="/images/live-picto.svg" alt="status-picture"/>
							<img ng-if="cardProject.status == 'Idea'" src="/images/idea-picto.svg" alt="status-picture"/>
							<img ng-if="cardProject.status == 'Drafted project'" src="/images/drafted-picto.svg" alt="status-picture"/>
							<img ng-if="cardProject.status == 'Beta project'" src="/images/beta-picto.svg" alt="status-picture"/>
							{{cardProject.status}}
						</span>
					</div>
					<div class="card-location">
						<span><img src="/images/location-picto.svg" alt="location-picture" />{{cardProject.location_city}}<i ng-hide="!cardProject.location_country">,</i> {{cardProject.location_country}}</span>
					</div>
					<div class="card-description-text">
						<p>{{cardProject.description}}</p>
					</div>
					<div class="card-info-by">
						<figure class="card-info-by-picture">
							<img ng-src="{{ resizePic(cardProject.pic, 30, 30) }}" alt="card-foot-picture">
						</figure>
						<h6>{{cardProject.creator_user_name}} <h6 ng-if="cardProject.usersIn.length">& {{cardProject.usersIn.length}} more</h6></h6>
					</div>
				</div>
			</a>
		</div>
	</div>
	<div id="pmsc" class="profile-mobile-slideDown-close" ng-click="profileVm.getSlideProjects()">
		<p>Close this panel</p>
	</div>
</section>



<section id="profile-slideDown" style="display: none">
	<div class="profile-slideDown-container">
		<div class="profile-slideDown-project">

			<article class="profile-slideDown-article">
				<div class="profile-slideDown-card project-card" ng-repeat="cardProject in profileVm.inProjects track by $index" ng-click="">
					<div class="card-tag" ng-click="goToDiscover(cardProject.category_name)">
						<div class="card-tag-content">
							<div class="card-tag-bg">
							</div>
							<img src="/images/tag-icon.png">
							<h5>{{cardProject.category_name}}</h5>
						</div>
					</div>
					<a class="card-project-page" ng-href="/project/{{cardProject.public_id}}/{{profileVm.encodeUrl(cardProject.title)}}">
						<div class="card-picture" ng-style="{'background-image': 'url({{ resizePic(cardProject.picture, 285, 180, 'fill') }})'}">
						<!-- <img ng-src="{{cardProject.picture}}" alt="card-picture"> -->
						</div>
						<div class="card-info">
							<div class="card-title-space">
								<h4>{{cardProject.title}}</h4>
							</div>
							<div class="card-status">
								<span>
									<img ng-if="cardProject.status == 'Live project'" src="/images/live-picto.svg" alt="status-picture"/>
									<img ng-if="cardProject.status == 'Idea'" src="/images/idea-picto.svg" alt="status-picture"/>
									<img ng-if="cardProject.status == 'Drafted project'" src="/images/drafted-picto.svg" alt="status-picture"/>
									<img ng-if="cardProject.status == 'Beta project'" src="/images/beta-picto.svg" alt="status-picture"/>
									{{cardProject.status}}
								</span>
							</div>
							<div class="card-location">
								<span><img src="/images/location-picto.svg" alt="location-picture" />{{cardProject.location_city}}<i ng-hide="!cardProject.location_country">,</i> {{cardProject.location_country}}</span>
							</div>
							<div class="card-description-text">
								<p>{{cardProject.description}}</p>
							</div>
							<div class="card-info-by">
								<figure class="card-info-by-picture">
									<img ng-src="{{ resizePic(cardProject.pic, 30, 30) }}" alt="card-foot-picture">
								</figure>
								<h6>{{cardProject.creator_user_name}} <h6 ng-if="cardProject.usersIn.length">& {{cardProject.usersIn.length}} more</h6></h6>
							</div>
						</div>
					</a>
				</div>
			</article>

		</div>
		<div class="profile-slideDown-close" onclick="getDropdownProfile()">
			<p>Close this panel</p>
		</div>
	</div>
</section>

<section id="profile-corps">
	<div class="profile-contents">
		<aside class="profile-aside">
			<div ng-mouseover="profileVm.showEditS()" ng-mouseleave="profileVm.hideEditS()" class="profile-first-aside">
				<h2>Skills</h2>
				<img ng-if="profileVm.showEditSkill" ng-click="profileVm.openEditS()" class="profile-edit-skills" src="/images/picto-edit-b.svg">
				<div class="profile-aside-skills">
					<ul data-ng-if="profileVm.profileSkills.length > 0">
						<li ng-repeat="profileSkill in profileVm.profileSkills">{{profileSkill.skill_name}}</li>
					</ul>
					<p class="profile-no-data" data-ng-if="profileVm.profileSkills.length == 0">
						No skills added, yet.
					</p>
				</div>
			</div>
			<div ng-mouseover="profileVm.showEditI()" ng-mouseleave="profileVm.hideEditI()" class="profile-second-aside">
				<h2>Interests</h2>
				<img ng-if="profileVm.showEditInterest" ng-click="profileVm.openEditI()" class="profile-edit-interest" src="/images/picto-edit-b.svg">
				<div class="profile-aside-interests">
					<ul data-ng-if="profileVm.profileInterests.length > 0">
						<li ng-repeat="profileInterest in profileVm.profileInterests"><a href="">{{profileInterest.interest_name}}</a></li>
					</ul>
					<p class="profile-no-data" data-ng-if="profileVm.profileInterests.length == 0">
						No interests added, yet.
					</p>
				</div>
			</div>
		</aside>
		<div class="profile-main">
			<div ng-mouseover="profileVm.showEditA()" ng-mouseleave="profileVm.hideEditA()" class="profile-main-about">
				<h2>About</h2>
				<img ng-if="profileVm.showEditAbout" ng-click="profileVm.openEditA()" class="profile-edit-about" src="/images/picto-edit-b.svg">
				<p data-ng-if="profileVm.profile.description" ng-bind-html="profileVm.profile.description"></p>
				<p class="profile-no-data" data-ng-if="!profileVm.profile.description">
					No story to show, yet.
				</p>
			</div>

			<div class="profile-main-experience">
				<div ng-mouseover="profileVm.showAddE()" ng-mouseleave="profileVm.hideAddE()" class="profile-experience-header">
					<h2>Experience</h2>
					<i ng-if="profileVm.showAddExp" class="fa fa-plus" ng-click="profileVm.openAddE()"><span>Add position</span></i>
				</div>
				<div class="profile-exp-list">
					<div class="profile-exp" ng-mouseover="profileVm.showEditE($index)" ng-mouseleave="profileVm.hideEditE()" ng-repeat="profileExp in profileVm.profileExps track by $index">
						<div class="profile-exp-post">
							<h3 ng-bind="profileExp.title"></h3>
							<h4 ng-bind="profileExp.company"></h4>
							<div class="profile-exp-option" ng-if="profileVm.showEditExp == $index">
								<img ng-click="profileVm.openEditE($index)" class="profile-edit-exp" src="/images/picto-edit-b.svg">
								<i class="fa fa-trash" ng-click="profileVm.removeExp(profileExp.id)"></i>
							</div>
						</div>
						<div class="profile-exp-period">
							<span class="exp-period"><i class="fa fa-calendar"></i> {{profileExp.date_from | wittyDateFilterEx}} - {{profileExp.date_to | wittyDateFilterEx}}</span>
							<span ng-if="!profileExp.location_state" class="exp-location"><img src="/images/location-picto.svg"> {{profileExp.location_city}}, {{profileExp.location_country}}</span>
							<span ng-if="profileExp.location_state" class="exp-location"><img src="/images/location-picto.svg"> {{profileExp.location_city}}, {{profileExp.location_state | uppercase}}</span>
						</div>
						<p class="profile-exp-description" ng-bind-html="profileExp.description">
						</p>
					</div>
					<p class="profile-no-data" data-ng-if="profileVm.profileExps.length == 0">
						No experience to show, yet.
					</p>
				</div>
			</div>

			<!-- <div class="profile-main-portfolio">
				<h2>Portfolio</h2>
			</div> -->
		</div>
	</div>

	<div class="profile-mobile-contents">
		<div class="profile-mobile-about">
			<h2>About</h2>
			<img ng-if="profileVm.trueUser" ng-click="profileVm.openEditA()" class="profile-edit-about" src="/images/picto-edit-b.svg">
			<p ng-bind-html="profileVm.profile.description"></p>
		</div>

		<div class="profile-mobile-skills">
			<h2>Skills</h2>
			<img ng-if="profileVm.trueUser" ng-click="profileVm.openEditS()" class="profile-edit-skills" src="/images/picto-edit-b.svg">
			<div class="profile-mobile-skills-list">
				<ul>
					<li ng-repeat="profileSkill in profileVm.profileSkills">{{profileSkill.skill_name}}</li>
				</ul>
			</div>
		</div>

		<div class="profile-mobile-interests">
			<h2>Interests</h2>
			<img ng-if="profileVm.trueUser" ng-click="profileVm.openEditI()" class="profile-edit-interest" src="/images/picto-edit-b.svg">
			<div class="profile-mobile-interests-list">
				<ul>
					<li ng-repeat="profileInterest in profileVm.profileInterests">{{profileInterest.interest_name}}</li>
				</ul>
			</div>
		</div>

		<div class="profile-mobile-experience">
			<div class="profile-experience-header">
				<h2>Experience</h2>
				<i ng-if="profileVm.trueUser" class="fa fa-plus" ng-click="profileVm.openAddE()"><span>Add position</span></i>
			</div>
			<div class="profile-exp-list">
				<div class="profile-exp" ng-mouseover="profileVm.showEditE($index)" ng-mouseleave="profileVm.hideEditE()" ng-repeat="profileExp in profileVm.profileExps track by $index">
					<div class="profile-exp-post">
					<h3>{{profileExp.title}} <span>| &nbsp;{{profileExp.company}}</span></h3>
					<div class="profile-exp-option" ng-if="profileVm.showEditExp == $index">
						<img ng-click="profileVm.openEditE($index)" class="profile-edit-exp" src="/images/picto-edit-b.svg">
						<i class="fa fa-trash" ng-click="profileVm.removeExp(profileExp.id)"></i>
					</div>
					</div>
					<div class="profile-exp-period">
						<span class="exp-period"><i class="fa fa-calendar"></i> {{profileExp.date_from | wittyDateFilterEx}} - {{profileExp.date_to | wittyDateFilterEx}}</span>
						<span ng-if="!profileExp.location_state" class="exp-location"><img src="/images/location-picto.svg"> {{profileExp.location_city}}, {{profileExp.location_country}}</span>
						<span ng-if="profileExp.location_state" class="exp-location"><img src="/images/location-picto.svg"> {{profileExp.location_city}}, {{profileExp.location_state | uppercase}}</span>
					</div>
					<div class="profile-exp-description">
						<h6>{{profileExp.description}}</h6>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script>
	// $(document).ready(function() {
	// 	$('#profile-header').on('click', function(e) {
	// 		var scope = angular.element($("#profile-header")).scope();
	// 		var container1 = $('#location-input');
	// 		var container2 = $('#location-input2');

	// 		if (container1.is(e.target) || container1.has(e.target).length ||container2.is(e.target))
	// 			console.log("OK");
	// 		else
	// 			scope.profileVm.editLocation();
	// 	});
	// });

	var x = $(window).width();

	function initPage() {
      $(window).scrollTop(0);
    }; initPage();

    if (x >= 736) {

    	$(document).ready(function() {
			document.getElementById('footer-page').style.visibility = "visible";

			$('#profile-header').mouseover(function() {
				$('#puc').fadeIn(300);
			});

			$('#profile-header').mouseleave(function() {
				$('#puc').fadeOut(300);
			});

			$('#pip').mouseover(function() {
				$('#pupe').fadeIn(300);
			});

			$('#pip').mouseleave(function() {
				$('#pupe').fadeOut(200);
			});

			// function displayText() {
			// 	$('.profile-update-text').fadeIn();
			// };

			// function hideText() {
			// 	$('.profile-update-text').fadeOut();
			// };
	
			$(this).unbind('click');
			$(this).click(function(e) {
				var target 		= e.target.id,
					container 	= $("#profile-modal-newMessageArea"),
					container2 	= $("#php-need");

				if (target === "pmpm" || target === "pmpma") {
					$('#profile-modal-newMessageArea').fadeIn(200);
					return ;
				}
				if ($('#profile-modal-newMessageArea').css('display') === "block") {
					if(!container.is(e.target) && container.has(e.target).length === 0) {
						if ($('#profile-m-text').val()) {
			               		var r = confirm("You haven't finished your message yet. Do you want to leave without finishing?");
			               		if (r == true) {
									$('#profile-modal-newMessageArea').fadeOut(100);
									$('#profile-m-text').val("");
								}
						} else 
							$('#profile-modal-newMessageArea').fadeOut(100);
					}
				}
				if ($("#ptlask").is(e.target) || $("#ptlask").has(e.target).length > 0) {
					container2.fadeIn(200);
					$("#ptlask").fadeOut(100);
					// $('#profile-modal-newMessageArea').fadeOut(100);
					return ;
				}

				if ($('#php-need').css('display') === "block") {
					if((!container2.is(e.target) && container2.has(e.target).length === 0) || target === "phpnb-button") {
						container2.fadeOut(100);
						if (target === "phpnb-button")
							$('#profile-modal-newMessageArea').fadeIn(300);
						return ;
					}
				}
				if (target === "ptlaska") {
					$('#ptlask').fadeIn(200);
					return ;
				} else {
					$('#ptlask').fadeOut(200);
					return ;
				}
			});


			$('.follow-project').mouseover(function() {
				$('#pfdd1').fadeIn(300);
			});

			$('.follow-project').mouseleave(function() {
				$('#pfdd1').fadeOut(200);
			});

			$('.followed').mouseover(function() {
				$('#pfdd2').fadeIn(300);
			});

			$('.followed').mouseleave(function() {
				$('#pfdd2').fadeOut(200);
			});

			$('.follow').mouseover(function() {
				$('#pfdd3').fadeIn(300);
			});

			$('.follow').mouseleave(function() {
				$('#pfdd3').fadeOut(200);
			});
		});

		function getDropdownProfile() {
				if ($('#profile-slideDown').css('display') === "none") {
					$('#ppa').css({
						'-webkit-transform': 'rotate(-180deg)',
						'-o-transform': 'rotate(-180deg)',
						'-moz-transform': 'rotate(-180deg)',
						'-ms-transform': 'rotate(-180deg)',
						'-kthtml-transform': 'rotate(-180deg)',
						'transform': 'rotate(-180deg)'
					});
				}
				if ($('#profile-slideDown').css('display') === "block") {
					$('#ppa').css({
						'-webkit-transform': 'rotate(0)',
						'-o-transform': 'rotate(0)',
						'-moz-transform': 'rotate(0)',
						'-ms-transform': 'rotate(0)',
						'-kthtml-transform': 'rotate(0)',
						'transform': 'rotate(0)'
					});
				}
				$('#profile-slideDown').slideToggle();

		};

		// function getAskProjectdd() {
		// 	$('#ptlask').fadeToggle(200);
		// };

	} else {

		$(document).ready(function() {
			if (document.getElementById('footer-page'))
				document.getElementById('footer-page').style.visibility = "visible";
			
			$('body').click(function(e) {

				if (!$('#pmephotos').hasClass('animate-pmep-close') && $('#pmephotos').css('display') === "block") {
					$('#pmephotos').removeClass('animate-pmep-open');
					$('#pmephotos').addClass('animate-pmep-close');
				} else {
					if (e.target.id === "pmepb") {
						if ($('#pmephotos').hasClass('animate-pmep-close')) {
							$('#pmephotos').removeClass('animate-pmep-close');
						}
						$('#pmephotos').addClass("animate-pmep-open");
					}
				}
			});

			$('#inprom').on('click', function() {
				$('#profile-slideDown').slideToggle();
			});

		});

	}
</script>
