<div id="main-body-page" class="termprivacy">
  <div class="body-page">
    <div id="hvbg" class="header_reset">
      <img src="images/cover_terms.jpg" />
    </div>

    <section class="header-reset-text">
      <div class="row">
          <div class="main-title-market">
          </div>
      </div>
    </section>

  </div>
  <section id="main-body-content">
    <div class="main-body-container">
        <div class="input-area-reset">
            <h1>Account verified !</h1>
        </div>

    </div>
  </section>
</div>

<script>
$(function() {
        $(document).ready(function() {
            window.scrollTo(0, 0);
        });
    });
</script>
