/********* Before Footer Home 1**********/
.bf-filter {
  position: absolute;
  height: 391px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6); }

.bf2-filter {
  position: absolute;
  height: 300px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5); }

.bf3-filter {
  position: absolute;
  height: 270px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5); }

.bf4-filter {
  position: absolute;
  height: 302px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5); }

button {
  padding: 6px 18px 8px 18px; }

.bf-info {
  background-image: url("/images/backgrounds/background-footer1-desktop.jpg");
  background-position: center center;
  background-size: cover;
  padding: 70px 0;
  text-align: center; }
  .bf-info .bf-component {
    position: relative;
    z-index: 20;
    display: inline-block;
    margin: 0 10px;
    width: 326px;
    color: #fff; }
    .bf-info .bf-component h4 {
      font-family: 'FreigSem';
      font-size: 32px;
      margin: 10px 0px; }
    .bf-info .bf-component h6 {
      text-align: left;
      margin-left: 10px;
      font-family: 'FreigMed';
      font-size: 16px;
      padding: 10px 16px;
      line-height: 21px;
      color: #fafafa; }
    .bf-info .bf-component button {
      clear: both;
      margin-top: 15px;
      margin-bottom: 10px;
      background-color: transparent;
      height: 46px;
      border: 2px solid white;
      border-radius: 4px;
      font-family: 'FreigSem';
      font-size: 18px; }
    .bf-info .bf-component button:hover {
      background-color: white;
      color: #222222; }
  .bf-info .bf-projects {
    margin-left: 20px; }

/********* Before Footer Discover 2**********/
.bf2-info {
  background-image: url("https://res.cloudinary.com/dqpkpmrgk/image/upload/v1456926920/footer_discover_tzxces.jpg");
  background-position: center center;
  background-size: cover;
  padding: 95px 0px;
  text-align: center; }
  .bf2-info .bf2-component {
    color: white;
    position: relative;
    z-index: 20; }
    .bf2-info .bf2-component h3 {
      font-family: 'FreigLight';
      font-size: 36px; }
    .bf2-info .bf2-component button {
      margin-top: 15px;
      margin-bottom: 10px;
      background-color: #FF4D4D;
      width: 230px;
      height: 46px;
      border: 2px solid #FF4D4D;
      border-radius: 4px;
      font-family: 'FreigSem';
      font-size: 18px; }
    .bf2-info .bf2-component button:hover {
      background-color: #D94242;
      border: 2px solid #D94242; }

/********* Before Footer Meet 3**********/
.bf3-info {
  background-image: url("/images/backgrounds/background-footer3-desktop.jpg");
  background-position: center center;
  background-size: cover;
  padding: 39px 0px;
  text-align: center; }
  .bf3-info .bf3-component {
    color: white;
    position: relative;
    z-index: 20; }
    .bf3-info .bf3-component h4 {
      font-family: 'FreigLight';
      font-size: 36px;
      			/*-webkit-font-smoothing: antialiased;
        			-moz-osx-font-smoothing: grayscale;*/ }
    .bf3-info .bf3-component button {
      margin-top: 15px;
      margin-bottom: 10px;
      background-color: #FF4D4D;
      width: 230px;
      height: 46px;
      border: 2px solid #FF4D4D;
      border-radius: 4px;
      font-family: 'FreigSem';
      font-size: 18px; }
    .bf3-info .bf3-component button:hover {
      background-color: #D94242;
      border: 2px solid #D94242; }
    .bf3-info .bf3-component .bf3-text {
      padding: 15px 0;
      margin: 15px 0; }
      .bf3-info .bf3-component .bf3-text a {
        font-family: 'FreigSem';
        text-decoration: underline;
        font-size: 16px; }
      .bf3-info .bf3-component .bf3-text a:hover {
        text-decoration: none;
        color: white; }

/********* Before Footer Work 4**********/
.bf4-info {
  background-image: url("/images/backgrounds/background-footer4.jpg");
  background-position: center center;
  background-size: cover;
  padding: 30px 0px;
  text-align: center; }
  .bf4-info .bf4-component {
    color: white;
    position: relative;
    z-index: 20; }
    .bf4-info .bf4-component h4 {
      font-family: 'FreigLight';
      line-height: 50px;
      font-size: 36px; }
    .bf4-info .bf4-component button {
      margin-top: 10px;
      margin-bottom: 10px;
      background-color: #FF4D4D;
      width: 230px;
      height: 46px;
      border: 2px solid #FF4D4D;
      border-radius: 4px;
      font-family: 'FreigSem';
      font-size: 18px; }
    .bf4-info .bf4-component button:hover {
      background-color: #D94242;
      border: 2px solid #D94242; }
    .bf4-info .bf4-component .bf4-text {
      padding: 15px 0;
      margin: 12px 0; }
      .bf4-info .bf4-component .bf4-text a {
        font-family: 'FreigSem';
        text-decoration: underline;
        font-size: 16px; }
      .bf4-info .bf4-component .bf4-text a:hover {
        text-decoration: none;
        color: white; }

/*********************** MEDIA QUERIES MOBILE WIDTH \*320px to 800px*\ **************************/
/* Exception media query width */
@media only screen and (max-width: 1024px) {
  .bf-info {
    background-image: none; }

  #bfooter-1 .bf-filter {
    position: absolute;
    background-image: url("/images/backgrounds/background-footer1-mobile.jpg");
    background-position: center center;
    background-size: cover;
    background-color: none;
    height: 394px;
    -webkit-filter: blur(2px) brightness(0.5);
    -moz-filter: blur(2px) brightness(0.5);
    -o-filter: blur(2px) brightness(0.5);
    -ms-filter: blur(2px) brightness(0.5);
    filter: blur(2px) brightness(0.5);
    overflow: hidden; } }
@media only screen and (max-width: 736px) {
  .bf2-info {
    background-image: none; }

  #bfooter-2 {
    height: 184px; }
    #bfooter-2 .bf2-filter {
      position: absolute;
      background-image: url("https://res.cloudinary.com/dqpkpmrgk/image/upload/v1456926920/footer_discover_tzxces.jpg");
      background-position: center center;
      background-size: cover;
      background-color: none;
      height: 185px;
      -webkit-filter: blur(2px) brightness(0.6);
      -moz-filter: blur(2px) brightness(0.6);
      -o-filter: blur(2px) brightness(0.6);
      -ms-filter: blur(2px) brightness(0.6);
      filter: blur(2px) brightness(0.6); }
    #bfooter-2 .bf2-info {
      background-image: none;
      padding: 40px 0; }
    #bfooter-2 h3 {
      font-family: 'FreigLight';
      font-size: 27px;
      padding: 0 15px; }
    #bfooter-2 button {
      width: auto;
      height: auto;
      margin-top: 15px;
      margin-bottom: 10px;
      border-radius: 4px;
      padding: 5px 25px 7px 25px; }

  #bfooter-3 {
    height: 220px; }
    #bfooter-3 .bf3-info {
      background-image: none; }
    #bfooter-3 .bf3-filter {
      position: absolute;
      background-image: url("/images/backgrounds/background-footer3-mobile.jpg");
      background-position: center center;
      background-size: cover;
      background-color: none;
      height: 221px;
      -webkit-filter: blur(2px) brightness(0.6);
      -moz-filter: blur(2px) brightness(0.6);
      -o-filter: blur(2px) brightness(0.6);
      -ms-filter: blur(2px) brightness(0.6);
      filter: blur(2px) brightness(0.6); }
    #bfooter-3 h4 {
      font-size: 27px; }
    #bfooter-3 button {
      width: 164px;
      height: auto;
      margin-top: 15px;
      margin-bottom: 10px;
      border-radius: 4px;
      padding: 5px 25px 7px 25px; }
    #bfooter-3 .bf3-info .bf3-component .bf3-text {
      margin: 0; } }
@media only screen and (max-width: 635px) {
  .bf1-info {
    background-image: none; }

  #bfooter-1 .bf-filter {
    position: absolute;
    background-image: url("/images/backgrounds/background-footer1-mobile.jpg");
    background-position: center center;
    background-size: cover;
    background-color: none;
    height: 882px; }
  #bfooter-1 .bf-info {
    padding: 25px 0;
    background-image: none; }
    #bfooter-1 .bf-info .bf-component {
      width: auto;
      margin-bottom: 20px;
      margin-left: 0; }
      #bfooter-1 .bf-info .bf-component h4 {
        font-size: 28px;
        padding-left: 5px; }
      #bfooter-1 .bf-info .bf-component button:active {
        background-color: white;
        color: black; }
    #bfooter-1 .bf-info .bf-network h6 {
      padding: 0 30px 10px 24px; }
    #bfooter-1 .bf-info .bf-network button {
      padding: 6px 18px 8px 18px; }
    #bfooter-1 .bf-info .bf-projects h6 {
      padding: 0 35px 10px 28px; }
    #bfooter-1 .bf-info .bf-projects button {
      width: 200px; }
    #bfooter-1 .bf-info .bf-work h6 {
      padding: 0 35px 10px 30px; }
    #bfooter-1 .bf-info .bf-work button {
      width: 200px; } }
@media only screen and (max-width: 414px) {
  #bfooter-1 .bf-filter {
    height: 756px; } }
@media only screen and (max-width: 375px) {
  #bfooter-1 .bf-filter {
    height: 820px; } }
@media only screen and (max-width: 320px) {
  #bfooter-1 .bf-filter {
    height: 882px; } }

/*# sourceMappingURL=bfooter.css.map */
