#footer-page {
  background-color: #222222;
  height: 100%;
  width: 100%;
  border-top: 1px solid #767373;
  text-align: center; }
  #footer-page .footer-global {
    max-width: 955px;
    margin-left: auto;
    margin-right: auto; }
    #footer-page .footer-global .footer-info-section {
      margin-top: 45px;
      border-bottom: 1px solid black;
      text-align: left; }
      #footer-page .footer-global .footer-info-section .footer-about {
        display: inline-block;
        text-align: left;
        width: 220px;
        margin-right: 40px; }
      #footer-page .footer-global .footer-info-section .footer-explore {
        display: inline-block;
        text-align: left; }
        #footer-page .footer-global .footer-info-section .footer-explore ul {
          display: inline-block;
          width: 150px; }
        #footer-page .footer-global .footer-info-section .footer-explore .footer-explore-more {
          float: right; }
      #footer-page .footer-global .footer-info-section .footer-meet {
        display: inline-block;
        text-align: left; }
        #footer-page .footer-global .footer-info-section .footer-meet ul {
          display: inline-block;
          width: 150px; }
        #footer-page .footer-global .footer-info-section .footer-meet .footer-meet-more {
          float: right; }
      #footer-page .footer-global .footer-info-section .footer-size {
        position: initial;
        margin-top: 20px;
        margin-bottom: 40px;
        vertical-align: top;
        padding-left: 15px;
        padding-right: 15px; }
        #footer-page .footer-global .footer-info-section .footer-size h5 {
          font-family: 'FreigSem';
          margin-bottom: 10px;
          font-size: 18px; }
        #footer-page .footer-global .footer-info-section .footer-size li {
          cursor: pointer;
          color: white;
          font-family: 'FreigLight';
          font-size: 14px; }
        #footer-page .footer-global .footer-info-section .footer-size li:hover {
          text-decoration: underline; }
    #footer-page .footer-global .footer-brand-copyright {
      padding: 0 15px 60px 15px;
      margin-top: 20px;
      text-align: left; }
      #footer-page .footer-global .footer-brand-copyright .footer-brand-logo {
        display: inline-block;
        margin-right: 10px; }
        #footer-page .footer-global .footer-brand-copyright .footer-brand-logo figure img {
          width: 76px;
          height: auto; }
      #footer-page .footer-global .footer-brand-copyright .footer-copyright {
        display: inline-block;
        padding-right: 10px;
        padding-left: 10px; }
        #footer-page .footer-global .footer-brand-copyright .footer-copyright span {
          font-family: 'FreigLight';
          font-size: 14px;
          color: white; }
      #footer-page .footer-global .footer-brand-copyright .footer-social-media {
        display: inline-block;
        position: relative;
        top: 6px;
        float: right;
        margin-right: 10px;
        margin-left: 10px; }
        #footer-page .footer-global .footer-brand-copyright .footer-social-media li {
          display: inline-block; }
          #footer-page .footer-global .footer-brand-copyright .footer-social-media li a {
            width: 24px;
            height: 24px;
            margin-right: 6px;
            margin-left: 6px; }
          #footer-page .footer-global .footer-brand-copyright .footer-social-media li a.fb-logo {
            display: block;
            background-image: url("/images/social_media/facebook-logo.png");
            background-size: 11px;
            background-repeat: no-repeat;
            background-position: center; }
          #footer-page .footer-global .footer-brand-copyright .footer-social-media li a.tw-logo {
            display: block;
            position: relative;
            top: 2px;
            background-image: url("/images/social_media/twitter-logo.png");
            background-size: 100%;
            background-repeat: no-repeat; }
          #footer-page .footer-global .footer-brand-copyright .footer-social-media li a.gp-logo {
            display: block;
            background-image: url("/images/social_media/googleplus-logo.png");
            background-size: 100%;
            background-repeat: no-repeat; }
          #footer-page .footer-global .footer-brand-copyright .footer-social-media li a.ln-logo {
            display: block;
            background-image: url("/images/social_media/linkedin-logo.png");
            background-size: 100%;
            background-repeat: no-repeat; }

/*********************** MEDIA QUERIES MOBILE WIDTH \*320px to 800px*\ **************************/
@media only screen and (max-width: 736px) {
  #footer-page .footer-global .footer-info-section {
    margin-top: 0px;
    padding: 0 20px;
    text-align: left;
    border-bottom: none; }
    #footer-page .footer-global .footer-info-section h5 {
      background-image: url("/images/arrow-down-icon-w.svg");
      background-repeat: no-repeat;
      background-position: 99% 50%; }
    #footer-page .footer-global .footer-info-section .footer-about {
      margin-right: 0; }
    #footer-page .footer-global .footer-info-section .footer-explore ul {
      width: 130px; }
    #footer-page .footer-global .footer-info-section .footer-explore .footer-explore-more {
      float: none; }
    #footer-page .footer-global .footer-info-section .footer-meet ul {
      width: 130px; }
    #footer-page .footer-global .footer-info-section .footer-meet .footer-meet-more {
      position: relative;
      float: none;
      bottom: 17.5px; }
    #footer-page .footer-global .footer-info-section .footer-size {
      width: 100%;
      margin-top: 0px;
      margin-bottom: 0px;
      border-bottom: 1px solid black;
      padding: 0; }
      #footer-page .footer-global .footer-info-section .footer-size h5 {
        margin: 20px 0; }
    #footer-page .footer-global .footer-info-section .footer-list {
      display: none;
      margin-bottom: 20px; }
  #footer-page .footer-global .footer-brand-copyright {
    text-align: center;
    padding: 0 15px 20px 15px; }
    #footer-page .footer-global .footer-brand-copyright .footer-brand-logo {
      display: block;
      margin: 0 0 10px 0; }
    #footer-page .footer-global .footer-brand-copyright .footer-copyright {
      display: block;
      margin-bottom: 10px; }
    #footer-page .footer-global .footer-brand-copyright .footer-social-media {
      display: block;
      float: none; } }

/*# sourceMappingURL=footer.css.map */
