#header-section {
  position: absolute;
  width: 100%;
  z-index: 101;
  /*** Find Field ***/ }
  #header-section li {
    display: inline-block;
    padding: 0 15px;
    font-family: 'FreigMed';
    font-size: 16px; }
  #header-section #header-content {
    padding: 12px 20px 0px 20px;
    -webkit-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    -kthtml-transition: all 200ms linear;
    transition: all 200ms linear; }
    #header-section #header-content hr {
      display: none; }
    #header-section #header-content .header-searchBar-mobile {
      display: none; }
    #header-section #header-content .header-brand {
      display: inline-block;
      float: left;
      margin: 6px 10px 0 0; }
      #header-section #header-content .header-brand img {
        width: 32px;
        height: auto; }
    #header-section #header-content .header-navigation {
      display: inline-block;
      position: relative;
      bottom: 3px;
      /*** search bar ***/ }
      #header-section #header-content .header-navigation input {
        border: none;
        width: 300px;
        background-repeat: no-repeat;
        background-position: 3% 50%;
        padding: 12px 10px 12px 40px;
        background-color: transparent;
        font-size: 17px;
        font-family: 'FreigBook';
        color: white;
        -webkit-transition: all 100ms linear;
        -o-transition: all 100ms linear;
        -moz-transition: all 100ms linear;
        -ms-transition: all 100ms linear;
        -kthtml-transition: all 100ms linear;
        transition: all 100ms linear; }
      #header-section #header-content .header-navigation .header-nav-list {
        display: inline-block; }
        #header-section #header-content .header-navigation .header-nav-list li a {
          color: white; }
        #header-section #header-content .header-navigation .header-nav-list li a:focus {
          color: #999999; }
        #header-section #header-content .header-navigation .header-nav-list li:focus a {
          color: #999999; }
        #header-section #header-content .header-navigation .header-nav-list .list-soon {
          display: inline-block; }
          #header-section #header-content .header-navigation .header-nav-list .list-soon sup {
            position: absolute;
            color: #999999;
            padding-left: 5px;
            top: 14px; }
        #header-section #header-content .header-navigation .header-nav-list .strong-start {
          display: inline-block;
          margin-left: 10px;
          -webkit-transition: all 300ms linear;
          -o-transition: all 300ms linear;
          -moz-transition: all 300ms linear;
          -ms-transition: all 300ms linear;
          -kthtml-transition: all 300ms linear;
          transition: all 300ms linear; }
          #header-section #header-content .header-navigation .header-nav-list .strong-start a {
            padding-bottom: 0px;
            border-bottom: 1px solid white; }
        #header-section #header-content .header-navigation .header-nav-list .strong-start:hover a {
          border-bottom: none; }
      #header-section #header-content .header-navigation .header-nav-list2 {
        display: inline-block; }
        #header-section #header-content .header-navigation .header-nav-list2 li a {
          color: #999999; }
        #header-section #header-content .header-navigation .header-nav-list2 .list-soon {
          display: inline-block; }
          #header-section #header-content .header-navigation .header-nav-list2 .list-soon sup {
            position: absolute;
            color: #999999;
            padding-left: 5px;
            top: 14px; }
        #header-section #header-content .header-navigation .header-nav-list2 .strong-start {
          display: inline-block;
          margin-left: 10px; }
      #header-section #header-content .header-navigation .header-searchBar {
        position: relative;
        display: inline-block; }
        #header-section #header-content .header-navigation .header-searchBar input {
          background-image: url("/images/search-icon-b.svg");
          color: white; }
        #header-section #header-content .header-navigation .header-searchBar input:focus {
          background-image: url("/images/search-icon-w.svg"); }
        #header-section #header-content .header-navigation .header-searchBar ::-webkit-input-placeholder {
          color: #999999; }
        #header-section #header-content .header-navigation .header-searchBar :-moz-placeholder {
          color: #e5e5e5; }
      #header-section #header-content .header-navigation .header-searchBar2 {
        position: relative;
        display: inline-block; }
        #header-section #header-content .header-navigation .header-searchBar2 input {
          background-image: url("/images/search-icon-b.svg");
          color: black; }
        #header-section #header-content .header-navigation .header-searchBar2 ::-webkit-input-placeholder {
          color: #999999; }
        #header-section #header-content .header-navigation .header-searchBar2 :-moz-placeholder {
          color: #999999; }
    #header-section #header-content .header-navigation-mobile {
      display: none; }
    #header-section #header-content #cbp-spmenu-s2 {
      display: none; }
    #header-section #header-content .header-log-off-mobile {
      display: none; }
    #header-section #header-content .header-log-off {
      display: inline-block;
      float: right;
      margin-top: 8px; }
      #header-section #header-content .header-log-off .header-nav-log {
        display: inline-block; }
        #header-section #header-content .header-log-off .header-nav-log li {
          padding: 0 10px; }
          #header-section #header-content .header-log-off .header-nav-log li a {
            color: white; }
          #header-section #header-content .header-log-off .header-nav-log li #mosignup {
            padding: 3px 15px 5px 15px;
            background-color: transparent;
            border: 2px solid white;
            border-radius: 4px;
            font-family: 'FreigSem';
            color: white;
            -webkit-transition: all 100ms linear;
            -o-transition: all 150ms linear;
            -moz-transition: all 150ms linear;
            -ms-transition: all 150ms linear;
            -kthtml-transition: all 150ms linear;
            transition: all 150ms linear; }
          #header-section #header-content .header-log-off .header-nav-log li #mosignup:hover {
            background-color: white;
            color: #222; }
      #header-section #header-content .header-log-off .header-nav-log2 {
        display: inline-block; }
        #header-section #header-content .header-log-off .header-nav-log2 li {
          padding: 0 10px; }
          #header-section #header-content .header-log-off .header-nav-log2 li a {
            color: #999999; }
    #header-section #header-content .header-log-on {
      display: inline-block;
      float: right; }
      #header-section #header-content .header-log-on .header-notif-mail {
        display: inline-block;
        position: relative; }
        #header-section #header-content .header-log-on .header-notif-mail .header-notification {
          display: inline;
          cursor: pointer;
          padding: 0 15px; }
          #header-section #header-content .header-log-on .header-notif-mail .header-notification img {
            width: 20px;
            height: auto; }
          #header-section #header-content .header-log-on .header-notif-mail .header-notification .header-bubble {
            position: absolute;
            margin-left: 28px;
            bottom: 4px;
            width: auto;
            font-family: 'Arial';
            font-weight: 600;
            font-size: 13px;
            border-radius: 10px;
            text-align: center;
            padding: 1px 7px;
            color: white;
            background-color: #ff4d4d; }
          #header-section #header-content .header-log-on .header-notif-mail .header-notification .header-bubble-mailbox {
            position: absolute;
            margin-left: 80px;
            bottom: 4px;
            width: auto;
            font-family: 'Arial';
            font-weight: 600;
            font-size: 13px;
            border-radius: 10px;
            text-align: center;
            padding: 1px 7px;
            color: white;
            background-color: #ff4d4d; }
      #header-section #header-content .header-log-on .header-user2 {
        display: inline-block;
        cursor: pointer;
        padding: 5px 0; }
        #header-section #header-content .header-log-on .header-user2 .header-log-avatar {
          display: inline-block;
          padding: 0px 10px; }
          #header-section #header-content .header-log-on .header-user2 .header-log-avatar img {
            width: 36px;
            height: 36px;
            border-radius: 50%; }
        #header-section #header-content .header-log-on .header-user2 a {
          padding: 10px 0; }
        #header-section #header-content .header-log-on .header-user2 .header-log-dropdown span {
          margin-left: 8px; }
        #header-section #header-content .header-log-on .header-user2 .header-dropdown-menu {
          position: absolute;
          background-color: white;
          right: 0;
          padding: 5px 0px;
          margin-top: 4px;
          margin-right: 20px;
          border-radius: 4px;
          border: 1px solid #e5e5e5; }
          #header-section #header-content .header-log-on .header-user2 .header-dropdown-menu li {
            display: block;
            padding: 5px 40px 5px 20px; }
          #header-section #header-content .header-log-on .header-user2 .header-dropdown-menu a {
            padding: 0;
            color: #999999; }
          #header-section #header-content .header-log-on .header-user2 .header-dropdown-menu a:hover {
            color: #222222; }
      #header-section #header-content .header-log-on .header-user {
        display: inline-block;
        cursor: pointer; }
        #header-section #header-content .header-log-on .header-user .header-log-avatar {
          display: inline-block;
          padding: 0px 10px; }
          #header-section #header-content .header-log-on .header-user .header-log-avatar img {
            width: 36px;
            height: 36px;
            border-radius: 50%; }
        #header-section #header-content .header-log-on .header-user a {
          padding: 10px 0;
          font-family: 'FreigMed';
          font-size: 16px; }
        #header-section #header-content .header-log-on .header-user .header-log-dropdown span {
          margin-left: 8px; }
        #header-section #header-content .header-log-on .header-user .header-dropdown-menu {
          position: absolute;
          background-color: white;
          right: 0;
          padding: 5px 0px;
          margin-top: 4px;
          margin-right: 20px;
          border: 1px solid #e5e5e5;
          border-radius: 4px; }
          #header-section #header-content .header-log-on .header-user .header-dropdown-menu li {
            display: block;
            padding: 5px 40px 5px 20px; }
          #header-section #header-content .header-log-on .header-user .header-dropdown-menu a {
            padding: 0;
            color: #999999; }
          #header-section #header-content .header-log-on .header-user .header-dropdown-menu a:hover {
            color: #222222; }
      #header-section #header-content .header-log-on .header-dropdownBox {
        position: absolute;
        width: 320px;
        height: 442px;
        right: 220px;
        background-color: white;
        border: 1px solid #e5e5e5;
        border-radius: 5px; }
        #header-section #header-content .header-log-on .header-dropdownBox .header-dropdown-head {
          height: 42px;
          padding: 10px; }
          #header-section #header-content .header-log-on .header-dropdownBox .header-dropdown-head h5 {
            display: inline-block;
            margin-top: 3px;
            float: right;
            font-family: 'FreigSem';
            font-size: 14px;
            color: #999999; }
          #header-section #header-content .header-log-on .header-dropdownBox .header-dropdown-head .header-see-all {
            display: inline-block;
            font-family: 'FreigBook';
            font-size: 18px;
            color: #222222;
            position: relative;
            bottom: 2px; }
          #header-section #header-content .header-log-on .header-dropdownBox .header-dropdown-head .header-see-all:hover {
            text-decoration: underline; }
          #header-section #header-content .header-log-on .header-dropdownBox .header-dropdown-head .header-new-message {
            display: inline-block;
            float: right;
            font-family: 'FreigSem';
            font-size: 14px;
            color: #ff4d4d;
            cursor: pointer; }
      #header-section #header-content .header-log-on .header-dropdown-notif a {
        display: inline-block;
        float: right;
        font-family: 'FreigSem';
        font-size: 14px;
        color: #ff4d4d; }
      #header-section #header-content .header-log-on .header-dropdown-notif h4 {
        display: inline-block;
        font-family: 'FreigBook';
        font-size: 18px;
        color: #222222; }
      #header-section #header-content .header-log-on .header-dropdown-notif h5:focus {
        outline: 0; }
      #header-section #header-content .header-log-on .header-dropdown-mailbox {
        right: 165px; }
      #header-section #header-content .header-log-on .header-dropdown-lists {
        height: 400px;
        overflow-y: scroll;
        overflow-x: hidden; }
        #header-section #header-content .header-log-on .header-dropdown-lists h4, #header-section #header-content .header-log-on .header-dropdown-lists h5, #header-section #header-content .header-log-on .header-dropdown-lists p, #header-section #header-content .header-log-on .header-dropdown-lists span, #header-section #header-content .header-log-on .header-dropdown-lists .text-html-header {
          color: #999999; }
        #header-section #header-content .header-log-on .header-dropdown-lists .unread-active {
          background-color: #f5f5f5; }
          #header-section #header-content .header-log-on .header-dropdown-lists .unread-active .header-list-message h4, #header-section #header-content .header-log-on .header-dropdown-lists .unread-active .header-list-message h5, #header-section #header-content .header-log-on .header-dropdown-lists .unread-active .header-list-message p, #header-section #header-content .header-log-on .header-dropdown-lists .unread-active .header-list-message span, #header-section #header-content .header-log-on .header-dropdown-lists .unread-active .header-list-message .text-html-header {
            color: #222222; }
        #header-section #header-content .header-log-on .header-dropdown-lists .header-noMessage-text,
        #header-section #header-content .header-log-on .header-dropdown-lists .header-noNotif-text {
          position: absolute;
          top: 45%;
          width: 100%;
          text-align: center; }
          #header-section #header-content .header-log-on .header-dropdown-lists .header-noMessage-text p,
          #header-section #header-content .header-log-on .header-dropdown-lists .header-noNotif-text p {
            font-family: 'FreigSem';
            font-size: 18px;
            color: #e0e0e0; }
        #header-section #header-content .header-log-on .header-dropdown-lists .header-dropdown-list {
          padding: 10px 0 10px 10px;
          border-top: 1px solid #e5e5e5;
          -webkit-transition: all 200ms linear;
          -o-transition: all 200ms linear;
          -moz-transition: all 200ms linear;
          -ms-transition: all 200ms linear;
          -kthtml-transition: all 200ms linear;
          transition: all 200ms linear; }
          #header-section #header-content .header-log-on .header-dropdown-lists .header-dropdown-list .header-list-picture {
            display: inline-block;
            float: left;
            width: 50px; }
            #header-section #header-content .header-log-on .header-dropdown-lists .header-dropdown-list .header-list-picture img {
              width: 48px;
              height: 48px;
              border-radius: 50%; }
          #header-section #header-content .header-log-on .header-dropdown-lists .header-dropdown-list .header-list-message {
            display: inline-block;
            width: 218px;
            margin-left: 15px; }
            #header-section #header-content .header-log-on .header-dropdown-lists .header-dropdown-list .header-list-message h4 {
              display: inline-block;
              font-family: 'FreigSem';
              font-size: 16px; }
            #header-section #header-content .header-log-on .header-dropdown-lists .header-dropdown-list .header-list-message .hlmspan {
              font-family: 'FreigBook';
              font-size: 15px;
              word-spacing: 1px; }
            #header-section #header-content .header-log-on .header-dropdown-lists .header-dropdown-list .header-list-message .text-html-header {
              font-family: 'FreigBook';
              font-size: 15px;
              line-height: 18px;
              word-wrap: break-word;
              max-height: 36px;
              overflow: hidden;
              margin-bottom: 0px; }
              #header-section #header-content .header-log-on .header-dropdown-lists .header-dropdown-list .header-list-message .text-html-header a {
                color: blue; }
              #header-section #header-content .header-log-on .header-dropdown-lists .header-dropdown-list .header-list-message .text-html-header p {
                margin-bottom: 0; }
            #header-section #header-content .header-log-on .header-dropdown-lists .header-dropdown-list .header-list-message span {
              font-family: 'FreigBook';
              font-size: 14px; }
          #header-section #header-content .header-log-on .header-dropdown-lists .header-dropdown-list .hlm-notif p {
            margin-bottom: 0;
            font-family: 'FreigBook';
            font-size: 14px; }
        #header-section #header-content .header-log-on .header-dropdown-lists .header-dropdown-list:hover {
          background-color: #f5f5f5; }
          #header-section #header-content .header-log-on .header-dropdown-lists .header-dropdown-list:hover h4, #header-section #header-content .header-log-on .header-dropdown-lists .header-dropdown-list:hover h5, #header-section #header-content .header-log-on .header-dropdown-lists .header-dropdown-list:hover p, #header-section #header-content .header-log-on .header-dropdown-lists .header-dropdown-list:hover span, #header-section #header-content .header-log-on .header-dropdown-lists .header-dropdown-list:hover .text-html-header {
            color: #222222; }
  #header-section #header-findField {
    display: none;
    position: absolute;
    z-index: -1;
    width: 660px;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-height: 615px;
    background-color: white;
    border-top: 1px dashed #e5e5e5;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0px 5px 10px #999999;
    overflow: hidden;
    -webkit-animation-duration: 250ms;
    -o-animation-duration: 250ms;
    -moz-animation-duration: 250ms;
    -ms-animation-duration: 250ms;
    -kthtml-animation-duration: 250ms;
    animation-duration: 250ms;
    -webkit-animation-delay: 200ms;
    -o-animation-delay: 200ms;
    -moz-animation-delay: 200ms;
    -ms-animation-delay: 200ms;
    -kthtml-animation-delay: 200ms; }
    #header-section #header-findField .header-notFound {
      text-align: center; }
      #header-section #header-findField .header-notFound h5 {
        font-family: 'FreigLight';
        font-size: 14px;
        font-style: italic;
        color: #C0C0C0; }
    #header-section #header-findField .header-find-title {
      text-align: center;
      padding-bottom: 20px; }
      #header-section #header-findField .header-find-title h1 {
        font-family: 'FreigLight';
        font-size: 32px;
        color: #222222; }
    #header-section #header-findField .header-find-list {
      padding: 15px;
      cursor: pointer; }
      #header-section #header-findField .header-find-list .header-findProject-picture {
        display: inline-block;
        width: 60px;
        height: 60px;
        background-size: auto 60px;
        border-radius: 4px;
        background-position: center center; }
      #header-section #header-findField .header-find-list .header-findPeople-picture {
        display: inline-block;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-size: auto 60px;
        background-position: center center; }
      #header-section #header-findField .header-find-list .header-findPeople-content {
        display: inline-block;
        width: 180px;
        vertical-align: top;
        margin-left: 15px; }
        #header-section #header-findField .header-find-list .header-findPeople-content .header-findPeople-name {
          width: 180px;
          height: 24px;
          overflow: hidden; }
          #header-section #header-findField .header-find-list .header-findPeople-content .header-findPeople-name h4 {
            margin-top: 2px;
            font-family: 'FreigBook';
            font-size: 18px;
            color: #222222; }
        #header-section #header-findField .header-find-list .header-findPeople-content .header-findPeople-location {
          margin-top: 5px; }
          #header-section #header-findField .header-find-list .header-findPeople-content .header-findPeople-location h6 {
            font-family: 'FreigBook';
            font-size: 14px;
            color: #999999; }
      #header-section #header-findField .header-find-list .header-findProject-content {
        display: inline-block;
        float: right;
        margin-right: 15px; }
        #header-section #header-findField .header-find-list .header-findProject-content .header-findProject-title {
          width: 180px;
          height: 24px;
          overflow: hidden; }
          #header-section #header-findField .header-find-list .header-findProject-content .header-findProject-title h2 {
            margin-top: 2px;
            font-family: 'FreigBook';
            font-size: 18px;
            color: #222222; }
        #header-section #header-findField .header-find-list .header-findProject-content .header-findProject-tag {
          background-color: #222222;
          display: inline-block;
          padding: 0 10px 2px 10px;
          border-radius: 4px;
          margin-top: 10px; }
          #header-section #header-findField .header-find-list .header-findProject-content .header-findProject-tag img {
            display: inline-block;
            width: 16px;
            height: 16px; }
          #header-section #header-findField .header-find-list .header-findProject-content .header-findProject-tag h3 {
            display: inline-block;
            font-family: 'FreigSem';
            font-size: 13px;
            text-transform: uppercase;
            color: white; }
    #header-section #header-findField .header-find-list:hover {
      background-color: #f5f5f5;
      border-radius: 5px; }
    #header-section #header-findField .header-find-seemore {
      padding: 15px;
      text-align: center; }
      #header-section #header-findField .header-find-seemore a {
        font-family: 'FreigSem';
        font-size: 14px;
        color: #999999;
        text-decoration: underline; }
      #header-section #header-findField .header-find-seemore a:hover {
        color: #222222;
        text-decoration: none; }
    #header-section #header-findField .header-find-projects {
      display: inline-block;
      padding: 15px;
      float: left;
      border-right: 1px solid #e5e5e5;
      width: 328px;
      margin: 0; }
    #header-section #header-findField .header-find-people {
      display: inline-block;
      padding: 15px;
      width: 328px; }

/*********************** MEDIA QUERIES MOBILE WIDTH \*320px to 736px*\ **************************/
@media only screen and (min-width: 320px) and (max-width: 736px) {
  /* Main start project */
  #header-section {
    position: absolute; }
    #header-section #header-content {
      padding: 12px 20px 0px 20px;
      text-align: center; }
      #header-section #header-content .header-navigation-mobile {
        display: block;
        text-align: left; }
        #header-section #header-content .header-navigation-mobile .header-nav-list {
          padding: 0;
          margin: 0; }
          #header-section #header-content .header-navigation-mobile .header-nav-list li {
            display: inline-block;
            padding: 0;
            float: left;
            width: 25%; }
          #header-section #header-content .header-navigation-mobile .header-nav-list sup {
            padding-left: 5px; }
          #header-section #header-content .header-navigation-mobile .header-nav-list .normal {
            text-align: center; }
          #header-section #header-content .header-navigation-mobile .header-nav-list .left {
            text-align: left; }
          #header-section #header-content .header-navigation-mobile .header-nav-list .right {
            text-align: right; }
      #header-section #header-content .header-searchBar-mobile {
        display: inline-block;
        position: relative;
        float: left;
        top: 8px;
        width: 30px;
        height: 30px; }
      #header-section #header-content .header-brand {
        position: relative;
        float: none;
        left: 0px; }
      #header-section #header-content .header-navigation {
        display: none; }
      #header-section #header-content .header-log-off {
        display: none; }
      #header-section #header-content #hlon {
        display: none; }
      #header-section #header-content .header-log-off-mobile {
        display: inline-block;
        position: relative;
        float: right;
        top: 8px; }
        #header-section #header-content .header-log-off-mobile .header-mobile-bubble {
          position: absolute;
          width: 10px;
          height: 10px;
          background-color: #ff4d4d;
          border-radius: 50%;
          margin-left: 12px;
          margin-top: 4px; }
        #header-section #header-content .header-log-off-mobile img {
          width: 20px; }
      #header-section #header-content .header-log-aside {
        overflow: scroll; }
        #header-section #header-content .header-log-aside .log-on .log-on-list h2 {
          margin-top: 25px;
          font-family: "FreigMed";
          font-size: 21px;
          color: black;
          padding-bottom: 10px; }
        #header-section #header-content .header-log-aside .log-on .log-on-list .header-log-avatar {
          border-radius: 50%;
          width: 90px;
          height: 90px;
          margin-bottom: 20px; }
        #header-section #header-content .header-log-aside .log-on .log-on-list .log-on-notifs {
          margin-bottom: 10px; }
          #header-section #header-content .header-log-aside .log-on .log-on-list .log-on-notifs .log-on-mail,
          #header-section #header-content .header-log-aside .log-on .log-on-list .log-on-notifs .log-on-notif {
            display: inline-block; }
          #header-section #header-content .header-log-aside .log-on .log-on-list .log-on-notifs .log-on-mail {
            padding: 0;
            border: none; }
          #header-section #header-content .header-log-aside .log-on .log-on-list .log-on-notifs .log-mobile-buble {
            position: absolute;
            margin-left: 25px;
            margin-top: -5px;
            font-family: 'Arial';
            font-weight: 600;
            font-size: 12px;
            border-radius: 10px;
            text-align: center;
            padding: 1px 7px;
            color: white;
            background-color: #ff4d4d; }
          #header-section #header-content .header-log-aside .log-on .log-on-list .log-on-notifs img {
            width: 25px;
            height: auto;
            margin: 0 10px; }
        #header-section #header-content .header-log-aside .log-on .log-on-list .header-mobile-menu li {
          display: block; }
      #header-section #header-content #cbp-spmenu-s2 {
        display: inline-block;
        border-left: 1px solid #999999; }
      #header-section #header-content hr {
        display: block;
        width: 85%;
        margin: 10px auto 8px auto;
        color: black;
        border: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.3); }

  /* General styles for all menus */
  .cbp-spmenu {
    background: white;
    position: fixed; }

  .cbp-spmenu h3 {
    color: #222222;
    font-family: 'FreigBook';
    font-size: 1.9em;
    padding: 20px;
    margin: 0;
    font-weight: 300;
    background: #FAFAFA;
    border-bottom: 2px solid #e5e5e5; }

  .cbp-spmenu a {
    display: block;
    color: #999999;
    font-family: 'FreigBook';
    font-size: 16px; }

  .cbp-spmenu a:active {
    background: #FAFAFA;
    color: #999999; }

  /* Orientation-dependent styles for the content of the menu */
  .cbp-spmenu-vertical {
    width: 240px;
    height: 100%;
    top: 0;
    z-index: 1000; }

  .cbp-spmenu-vertical a {
    border-bottom: 1px solid #e5e5e5;
    padding: 1em; }

  /* Vertical menu that slides from the left or right */
  .cbp-spmenu-right {
    right: -240px; }

  .cbp-spmenu-right.cbp-spmenu-open {
    right: 0px; }

  /* Push classes applied to the body */
  .cbp-spmenu-push {
    overflow-x: hidden;
    position: relative;
    left: 0; }

  .cbp-spmenu-push-toleft {
    left: -240px; }

  /* Transitions */
  .cbp-spmenu,
  .cbp-spmenu-push {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease; } }

/*# sourceMappingURL=header.css.map */
