/****** LEARN *******/
#learn-body-page {
  height: auto;
  width: 100%; }
  #learn-body-page .home-video-bg {
    height: 250px;
    /*		background-image: url('images/backgrounds/background-learn.jpg');
    */ }
    #learn-body-page .home-video-bg video {
      position: relative;
      top: -100px;
      background-image: url("images/backgrounds/background-learn.jpg"); }
  #learn-body-page .learn-header-title-video {
    position: absolute;
    left: 0;
    right: 0;
    width: 500px;
    text-align: center;
    margin: 0 auto;
    top: 80px;
    z-index: 100000000; }
    #learn-body-page .learn-header-title-video h1 {
      font-family: 'FreigSem';
      color: white;
      font-size: 42px; }
    #learn-body-page .learn-header-title-video h3 {
      font-family: 'FreigMed';
      color: white;
      font-size: 21px;
      line-height: 28px; }
  #learn-body-page .learn-header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/backgrounds/background-learn-mobile.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 250px; }
    #learn-body-page .learn-header .learn-header-title {
      text-align: center;
      padding-top: 80px;
      max-width: 500px;
      margin: 0 auto; }
      #learn-body-page .learn-header .learn-header-title h1 {
        font-family: 'FreigSem';
        color: white;
        font-size: 42px; }
    #learn-body-page .learn-header .learn-header-text {
      text-align: center;
      max-width: 500px;
      margin: 0 auto 10px auto; }
      #learn-body-page .learn-header .learn-header-text h3 {
        font-family: 'FreigMed';
        color: white;
        font-size: 21px;
        line-height: 28px; }
    #learn-body-page .learn-header .learn-header-tag {
      text-align: center;
      max-width: 500px;
      margin: 0 auto; }
      #learn-body-page .learn-header .learn-header-tag ul li {
        display: inline-block;
        font-family: 'FreigMed';
        color: white;
        font-size: 16px;
        border: 1px solid white;
        opacity: 0.8;
        border-radius: 4px;
        padding: 1px 5px;
        margin: 4px 3px;
        cursor: pointer; }
      #learn-body-page .learn-header .learn-header-tag ul li:hover {
        background-color: white;
        border: 1px solid black;
        color: black; }
  #learn-body-page .learn-corp-article-article {
    margin-bottom: 35px; }
    #learn-body-page .learn-corp-article-article .lcaahead {
      margin-bottom: 25px; }
      #learn-body-page .learn-corp-article-article .lcaahead .lcaaheada {
        display: inline-block; }
        #learn-body-page .learn-corp-article-article .lcaahead .lcaaheada .lcaaheadai {
          display: inline-block;
          margin-right: 10px; }
          #learn-body-page .learn-corp-article-article .lcaahead .lcaaheada .lcaaheadai img {
            border-radius: 50%;
            width: 35px;
            height: auto; }
        #learn-body-page .learn-corp-article-article .lcaahead .lcaaheada .lcaaheadan {
          display: inline-block;
          vertical-align: middle; }
          #learn-body-page .learn-corp-article-article .lcaahead .lcaaheada .lcaaheadan h5 {
            font-family: 'FreigMed';
            font-size: 16px;
            color: black; }
          #learn-body-page .learn-corp-article-article .lcaahead .lcaaheada .lcaaheadan .lcaaheadans span {
            font-family: 'FreigBook';
            font-size: 14px;
            color: black; }
      #learn-body-page .learn-corp-article-article .lcaahead .lcaaheadt {
        display: inline-block;
        float: right;
        text-align: right; }
        #learn-body-page .learn-corp-article-article .lcaahead .lcaaheadt .lcaaheadtt .di {
          display: inline-block; }
        #learn-body-page .learn-corp-article-article .lcaahead .lcaaheadt .lcaaheadtt ul {
          margin-right: 10px; }
          #learn-body-page .learn-corp-article-article .lcaahead .lcaaheadt .lcaaheadtt ul li {
            display: inline-block;
            font-family: 'FreigBook';
            color: #999999;
            font-size: 14px;
            margin-right: 5px; }
        #learn-body-page .learn-corp-article-article .lcaahead .lcaaheadt .lcaaheadtt span {
          font-family: 'FreigBook';
          font-size: 14px;
          /*						margin-right: 15px;
          */ }
        #learn-body-page .learn-corp-article-article .lcaahead .lcaaheadt .lcaaheadtt .fa-heart-red {
          color: rgba(255, 52, 52, 0.9);
          outline: none; }
        #learn-body-page .learn-corp-article-article .lcaahead .lcaaheadt .lcaaheadtt .fa-heart-white {
          color: #999999;
          outline: none; }
        #learn-body-page .learn-corp-article-article .lcaahead .lcaaheadt .lcaaheadtb a {
          font-family: 'FreigBook';
          font-size: 14px;
          color: black; }
        #learn-body-page .learn-corp-article-article .lcaahead .lcaaheadt .lcaaheadtb span {
          font-family: 'FreigBook';
          font-size: 14px;
          /*						margin-right: 15px;
          */ }
    #learn-body-page .learn-corp-article-article .lcaadoc2 h2 {
      font-family: 'FreigSem';
      margin-bottom: 15px;
      cursor: initial !important; }
    #learn-body-page .learn-corp-article-article .lcaadoc2 h2:hover {
      text-decoration: none !important; }
    #learn-body-page .learn-corp-article-article .lcaadoc h2 {
      font-family: 'FreigSem';
      margin-bottom: 15px;
      cursor: pointer; }
    #learn-body-page .learn-corp-article-article .lcaadoc h2:hover {
      text-decoration: underline; }
    #learn-body-page .learn-corp-article-article .lcaadoc img {
      max-width: 600px;
      height: auto; }
    #learn-body-page .learn-corp-article-article .lcaadoc .lcaadocimg {
      height: 350px;
      overflow-y: hidden; }
      #learn-body-page .learn-corp-article-article .lcaadoc .lcaadocimg img {
        width: 100%;
        height: auto; }
    #learn-body-page .learn-corp-article-article .lcaadoc #latext {
      margin-top: 15px; }
      #learn-body-page .learn-corp-article-article .lcaadoc #latext p {
        margin-bottom: 0; }
    #learn-body-page .learn-corp-article-article .lcaadoc .lcaadoctext {
      height: 195px;
      overflow-y: hidden;
      margin-top: 10px;
      margin-bottom: 15px; }
      #learn-body-page .learn-corp-article-article .lcaadoc .lcaadoctext p {
        word-break: break-all;
        text-overflow: ellipsis;
        margin-bottom: 0; }
    #learn-body-page .learn-corp-article-article .lcaadoc h4 {
      font-family: "FreigMed";
      font-size: 21px;
      color: black;
      margin: 15px 0 20px 0; }
    #learn-body-page .learn-corp-article-article .lcaadoc p {
      font-family: 'FreigBook';
      font-size: 19px;
      color: black;
      text-indent: 25px; }
    #learn-body-page .learn-corp-article-article .lcaadoc a {
      font-family: 'FreigMed';
      color: gray;
      font-size: 16px; }
    #learn-body-page .learn-corp-article-article .lcaadoc a:hover {
      color: black; }
  #learn-body-page .learn-corp-aside {
    width: 30%;
    display: inline-block;
    margin-left: 60px; }
    #learn-body-page .learn-corp-aside .learn-corp-aside-title {
      margin-bottom: 45px; }
      #learn-body-page .learn-corp-aside .learn-corp-aside-title h2 {
        padding-left: 20px; }
    #learn-body-page .learn-corp-aside .learn-corp-aside-article {
      padding-left: 20px;
      margin-bottom: 20px; }
      #learn-body-page .learn-corp-aside .learn-corp-aside-article .lcaaimg {
        display: inline-block;
        margin-right: 10px;
        vertical-align: top; }
        #learn-body-page .learn-corp-aside .learn-corp-aside-article .lcaaimg img {
          border-radius: 50%;
          width: 35px;
          height: auto; }
      #learn-body-page .learn-corp-aside .learn-corp-aside-article .lcaainfo {
        display: inline-block; }
        #learn-body-page .learn-corp-aside .learn-corp-aside-article .lcaainfo h5 {
          font-family: 'FreigSem';
          color: black;
          font-size: 14px;
          width: 200px;
          max-height: 32px;
          overflow-y: hidden; }
        #learn-body-page .learn-corp-aside .learn-corp-aside-article .lcaainfo h5:hover {
          text-decoration: underline; }
        #learn-body-page .learn-corp-aside .learn-corp-aside-article .lcaainfo .lcaainfon span {
          font-family: 'FreigBook';
          font-size: 14px;
          margin-right: 15px; }
        #learn-body-page .learn-corp-aside .learn-corp-aside-article .lcaainfo .lcaainfon .fa-heart-red {
          color: rgba(255, 52, 52, 0.9);
          outline: none; }
        #learn-body-page .learn-corp-aside .learn-corp-aside-article .lcaainfo .lcaainfon .fa-heart-white {
          color: #999999;
          outline: none; }
        #learn-body-page .learn-corp-aside .learn-corp-aside-article .lcaainfo .lcaainfot {
          width: 200px; }
          #learn-body-page .learn-corp-aside .learn-corp-aside-article .lcaainfo .lcaainfot ul li {
            display: inline-block;
            font-family: 'FreigBook';
            color: #999999;
            font-size: 14px;
            margin-right: 5px; }
  #learn-body-page #learn-article-page {
    width: 1000px;
    height: auto;
    margin: 35px auto 35px auto; }
    #learn-body-page #learn-article-page h2 {
      font-family: 'FreigBook';
      color: black;
      font-size: 27px; }
    #learn-body-page #learn-article-page .learn-article {
      width: 60%;
      display: inline-block;
      vertical-align: top; }
      #learn-body-page #learn-article-page .learn-article .learn-article-header {
        margin-bottom: 45px; }
        #learn-body-page #learn-article-page .learn-article .learn-article-header button {
          background-color: transparent;
          border: 1px solid black;
          color: black;
          margin-left: 10px; }
        #learn-body-page #learn-article-page .learn-article .learn-article-header a img {
          vertical-align: initial; }
        #learn-body-page #learn-article-page .learn-article .learn-article-header button:hover {
          background-color: black;
          border: 1px solid white;
          color: white; }
        #learn-body-page #learn-article-page .learn-article .learn-article-header h2 {
          display: inline-block;
          margin-left: 10px; }
        #learn-body-page #learn-article-page .learn-article .learn-article-header ul {
          display: inline-block;
          float: right;
          margin-right: 5px; }
          #learn-body-page #learn-article-page .learn-article .learn-article-header ul li {
            display: inline-block;
            margin: 0 6px;
            cursor: pointer; }
            #learn-body-page #learn-article-page .learn-article .learn-article-header ul li i {
              width: 32px;
              height: 32px;
              border-radius: 50%; }
            #learn-body-page #learn-article-page .learn-article .learn-article-header ul li .fa-facebook {
              position: relative;
              color: white;
              font-size: 20px;
              background-color: #3B5998; }
            #learn-body-page #learn-article-page .learn-article .learn-article-header ul li .fa-facebook:hover {
              background-color: #2f4779; }
            #learn-body-page #learn-article-page .learn-article .learn-article-header ul li .fa-facebook:before {
              position: relative;
              left: 10px;
              top: 6px; }
            #learn-body-page #learn-article-page .learn-article .learn-article-header ul li .fa-twitter {
              position: relative;
              color: white;
              font-size: 20px;
              background-color: #1dcaff; }
            #learn-body-page #learn-article-page .learn-article .learn-article-header ul li .fa-twitter:hover {
              background-color: #1ab5e5; }
            #learn-body-page #learn-article-page .learn-article .learn-article-header ul li .fa-twitter:before {
              position: relative;
              left: 7px;
              top: 6px; }
            #learn-body-page #learn-article-page .learn-article .learn-article-header ul li .fa-linkedin {
              position: relative;
              color: white;
              font-size: 20px;
              background-color: #0076B6; }
            #learn-body-page #learn-article-page .learn-article .learn-article-header ul li .fa-linkedin:hover {
              background-color: #005983; }
            #learn-body-page #learn-article-page .learn-article .learn-article-header ul li .fa-linkedin:before {
              position: relative;
              left: 7px;
              top: 5px; }
      #learn-body-page #learn-article-page .learn-article .learn-article-text {
        margin-bottom: 45px; }
        #learn-body-page #learn-article-page .learn-article .learn-article-text h2 {
          font-family: 'FreigSem'; }
        #learn-body-page #learn-article-page .learn-article .learn-article-text .learn-corp-article-event {
          text-align: center;
          margin-bottom: 60px; }
          #learn-body-page #learn-article-page .learn-article .learn-article-text .learn-corp-article-event h3 {
            display: inline-block;
            font-family: 'FreigSem';
            font-size: 21px;
            color: black;
            width: 58%;
            text-align: left;
            vertical-align: middle; }
          #learn-body-page #learn-article-page .learn-article .learn-article-text .learn-corp-article-event img {
            display: inline-block;
            width: 15%;
            border-radius: 50%;
            margin-right: 15px; }
          #learn-body-page #learn-article-page .learn-article .learn-article-text .learn-corp-article-event button {
            display: block;
            margin: 0 auto;
            margin-top: 15px; }
          #learn-body-page #learn-article-page .learn-article .learn-article-text .learn-corp-article-event i {
            margin-right: 10px; }
          #learn-body-page #learn-article-page .learn-article .learn-article-text .learn-corp-article-event p {
            font-family: 'FreigBook';
            font-size: 18px;
            color: black; }
          #learn-body-page #learn-article-page .learn-article .learn-article-text .learn-corp-article-event .lcaefa {
            background-color: #3B5998;
            padding: 10px 15px;
            border: 1px solid #3B5998;
            font-family: 'FreigMed'; }
          #learn-body-page #learn-article-page .learn-article .learn-article-text .learn-corp-article-event .lcaetw {
            background-color: #4099FF;
            padding: 10px 20px;
            border: 1px solid #4099FF;
            font-family: 'FreigMed';
            margin-top: 10px; }
        #learn-body-page #learn-article-page .learn-article .learn-article-text .learn-article-footer h4 {
          display: inline-block;
          font-family: 'FreigBook';
          color: #999999;
          font-size: 18px; }
        #learn-body-page #learn-article-page .learn-article .learn-article-text .learn-article-footer h2 {
          display: inline-block;
          font-family: 'FreigBook';
          float: right; }
          #learn-body-page #learn-article-page .learn-article .learn-article-text .learn-article-footer h2 img {
            margin-right: 10px;
            vertical-align: initial; }
        #learn-body-page #learn-article-page .learn-article .learn-article-text .learn-article-footer .lafcimg {
          display: inline-block;
          margin-right: 15px; }
          #learn-body-page #learn-article-page .learn-article .learn-article-text .learn-article-footer .lafcimg img {
            border-radius: 50%;
            width: 35px;
            height: auto; }
        #learn-body-page #learn-article-page .learn-article .learn-article-text .learn-article-footer .learn-article-footer-comments {
          margin-bottom: 20px; }
          #learn-body-page #learn-article-page .learn-article .learn-article-text .learn-article-footer .learn-article-footer-comments .lafcinfo {
            display: inline-block;
            vertical-align: top;
            max-width: 540px; }
            #learn-body-page #learn-article-page .learn-article .learn-article-text .learn-article-footer .learn-article-footer-comments .lafcinfo .lafcinfot {
              margin-bottom: 10px; }
              #learn-body-page #learn-article-page .learn-article .learn-article-text .learn-article-footer .learn-article-footer-comments .lafcinfo .lafcinfot span {
                font-family: 'FreigBook';
                font-size: 16px;
                color: #999999; }
            #learn-body-page #learn-article-page .learn-article .learn-article-text .learn-article-footer .learn-article-footer-comments .lafcinfo .lafcinfob p {
              font-family: 'FreigBook';
              font-size: 17px; }
        #learn-body-page #learn-article-page .learn-article .learn-article-text .learn-article-footer-textarea .lafta {
          display: inline-block;
          vertical-align: top; }
          #learn-body-page #learn-article-page .learn-article .learn-article-text .learn-article-footer-textarea .lafta .laftacss {
            width: 540px;
            border: 1px solid #e5e5e5;
            border-radius: 4px;
            resize: none;
            outline: none;
            font-family: 'FreigBook';
            font-size: 16px;
            color: black;
            padding: 10px;
            height: auto;
            min-height: 100px; }
        #learn-body-page #learn-article-page .learn-article .learn-article-text .learn-article-footer-textarea .lafbutton {
          text-align: right;
          margin-top: 25px;
          margin-right: 7px; }
    #learn-body-page #learn-article-page .learn-aside {
      width: 30%;
      display: inline-block;
      margin-left: 60px; }
  #learn-body-page .learn-corp {
    width: 1000px;
    height: auto;
    margin: 35px auto 35px auto; }
    #learn-body-page .learn-corp h2 {
      font-family: 'FreigBook';
      color: black;
      font-size: 27px; }
    #learn-body-page .learn-corp .learn-corp-article {
      width: 60%;
      display: inline-block;
      vertical-align: top; }
      #learn-body-page .learn-corp .learn-corp-article .learn-corp-article-title {
        margin-bottom: 45px; }
        #learn-body-page .learn-corp .learn-corp-article .learn-corp-article-title .lcat {
          display: inline-block; }
        #learn-body-page .learn-corp .learn-corp-article .learn-corp-article-title .lcatl h2 {
          display: inline-block; }
        #learn-body-page .learn-corp .learn-corp-article .learn-corp-article-title .lcatl a {
          display: inline-block;
          font-family: 'FreigSem';
          font-size: 18px;
          color: black;
          margin-left: 15px;
          border: 1px solid black;
          border-radius: 4px;
          padding: 3px 10px;
          -webkit-transition: all 100ms linear;
          -o-transition: all 100ms linear;
          -moz-transition: all 100ms linear;
          -ms-transition: all 100ms linear;
          -kthtml-transition: all 100ms linear; }
        #learn-body-page .learn-corp .learn-corp-article .learn-corp-article-title .lcatl a:hover {
          background-color: black;
          color: white; }
        #learn-body-page .learn-corp .learn-corp-article .learn-corp-article-title .lcatr {
          float: right;
          margin-top: 4px;
          cursor: pointer; }
          #learn-body-page .learn-corp .learn-corp-article .learn-corp-article-title .lcatr h4 {
            display: inline-block;
            font-family: 'FreigBook';
            color: black; }
          #learn-body-page .learn-corp .learn-corp-article .learn-corp-article-title .lcatr img {
            display: inline-block;
            margin-left: 2px;
            -webkit-transition: all 150ms linear;
            -o-transition: all 150ms linear;
            -moz-transition: all 150ms linear;
            -ms-transition: all 150ms linear;
            -kthtml-transition: all 150ms linear; }
          #learn-body-page .learn-corp .learn-corp-article .learn-corp-article-title .lcatr .lcatr-dropdown {
            position: absolute;
            background-color: white;
            border: 1px solid #e5e5e5;
            border-radius: 4px; }
            #learn-body-page .learn-corp .learn-corp-article .learn-corp-article-title .lcatr .lcatr-dropdown ul {
              padding: 5px; }
              #learn-body-page .learn-corp .learn-corp-article .learn-corp-article-title .lcatr .lcatr-dropdown ul li {
                font-family: 'FreigBook';
                font-size: 16px;
                padding: 3px 15px 3px 10px; }
              #learn-body-page .learn-corp .learn-corp-article .learn-corp-article-title .lcatr .lcatr-dropdown ul li:hover {
                background-color: #f5f5f5;
                border-radius: 4px; }
  #learn-body-page #learn-new-page {
    background-color: #f5f5f5; }
    #learn-body-page #learn-new-page h2 {
      font-family: 'FreigMed';
      font-size: 27px;
      color: black; }
    #learn-body-page #learn-new-page .learn-new-head {
      width: 900px;
      margin: 0px auto 0px auto;
      padding: 35px 0;
      margin-bottom: 15px; }
    #learn-body-page #learn-new-page .learn-new-field {
      width: 900px;
      margin: 0px auto 0px auto;
      padding-bottom: 35px; }
      #learn-body-page #learn-new-page .learn-new-field label {
        display: block;
        font-family: 'FreigMed';
        font-size: 16px; }
      #learn-body-page #learn-new-page .learn-new-field .lnfm {
        margin-bottom: 15px; }
      #learn-body-page #learn-new-page .learn-new-field input {
        border: 1px solid #999999;
        border-radius: 4px;
        height: 30px;
        width: 300px; }
      #learn-body-page #learn-new-page .learn-new-field select {
        border: 1px solid #999999;
        width: 150px;
        height: 30px; }
      #learn-body-page #learn-new-page .learn-new-field .learn-new-field-picture label {
        display: inline-block; }
      #learn-body-page #learn-new-page .learn-new-field .learn-new-field-picture .learn-nf-picture-add {
        display: inline-block; }
        #learn-body-page #learn-new-page .learn-new-field .learn-new-field-picture .learn-nf-picture-add button {
          margin-left: 15px;
          padding: 3px 10px; }
      #learn-body-page #learn-new-page .learn-new-field .learn-new-field-picture .learn-imgDisplay {
        margin-top: 15px; }
        #learn-body-page #learn-new-page .learn-new-field .learn-new-field-picture .learn-imgDisplay img {
          width: 500px;
          height: auto; }
      #learn-body-page #learn-new-page .learn-new-field .learn-new-field-author {
        /*input {
        	margin-bottom: 15px;
        }*/ }
        #learn-body-page #learn-new-page .learn-new-field .learn-new-field-author input {
          display: block; }
        #learn-body-page #learn-new-page .learn-new-field .learn-new-field-author .lnfadropdown {
          display: none;
          background-color: white;
          width: 300px; }
          #learn-body-page #learn-new-page .learn-new-field .learn-new-field-author .lnfadropdown img {
            width: 36px;
            height: 36px;
            border-radius: 50%;
            margin-right: 10px; }
          #learn-body-page #learn-new-page .learn-new-field .learn-new-field-author .lnfadropdown ul {
            padding: 10px;
            border: 1px solid #e5e5e5;
            border-radius: 4px; }
            #learn-body-page #learn-new-page .learn-new-field .learn-new-field-author .lnfadropdown ul li {
              padding: 5px 15px;
              cursor: pointer; }
            #learn-body-page #learn-new-page .learn-new-field .learn-new-field-author .lnfadropdown ul li:hover {
              background-color: #e5e5e5; }
      #learn-body-page #learn-new-page .learn-new-field .learn-new-field-text .redactor-editor {
        height: 250px; }
        #learn-body-page #learn-new-page .learn-new-field .learn-new-field-text .redactor-editor p {
          margin-bottom: 0; }
      #learn-body-page #learn-new-page .learn-new-field .learn-new-field-button {
        text-align: right; }
      #learn-body-page #learn-new-page .learn-new-field .learn-new-field-button-remove {
        text-align: center; }

@media only screen and (min-width: 1025px) {
  #learn-body-page .learn-header-title-video {
    display: block; }
  #learn-body-page .learn-header {
    display: none; } }
/***** LEARN MOBILE *****/
@media only screen and (max-width: 736px) {
  #learn-body-page .learn-header-title-video {
    display: none; }
  #learn-body-page .learn-header {
    display: block; }
    #learn-body-page .learn-header .learn-header-title {
      padding-top: 100px; }
      #learn-body-page .learn-header .learn-header-title h1 {
        font-size: 28px;
        margin-bottom: 10px; }
    #learn-body-page .learn-header .learn-header-text h3 {
      line-height: 22px;
      font-size: 21px; }
  #learn-body-page .learn-corp {
    width: 100%; }
    #learn-body-page .learn-corp .learn-corp-article {
      display: block;
      width: 100%;
      padding: 0 25px; }
      #learn-body-page .learn-corp .learn-corp-article .learn-corp-article-title .lcatl a {
        display: none; }
      #learn-body-page .learn-corp .learn-corp-article .learn-corp-article-article .lcaahead .lcaaheada {
        display: block;
        margin-bottom: 10px; }
      #learn-body-page .learn-corp .learn-corp-article .learn-corp-article-article .lcaahead .lcaaheadt {
        text-align: left;
        margin-bottom: 10px;
        float: none;
        display: block; }
        #learn-body-page .learn-corp .learn-corp-article .learn-corp-article-article .lcaahead .lcaaheadt .lcaaheadtt {
          float: none;
          /*ul {
          	margin-right: 0;
          }*/ }
          #learn-body-page .learn-corp .learn-corp-article .learn-corp-article-article .lcaahead .lcaaheadt .lcaaheadtt span {
            float: right; }
        #learn-body-page .learn-corp .learn-corp-article .learn-corp-article-article .lcaahead .lcaaheadt .lcaaheadtb {
          display: block;
          text-align: right; }
          #learn-body-page .learn-corp .learn-corp-article .learn-corp-article-article .lcaahead .lcaaheadt .lcaaheadtb a {
            margin: 0; }
      #learn-body-page .learn-corp .learn-corp-article .learn-corp-article-article .lcaadoc h2 {
        font-size: 21px; }
      #learn-body-page .learn-corp .learn-corp-article .learn-corp-article-article .lcaadoc p {
        font-size: 16px; }
      #learn-body-page .learn-corp .learn-corp-article .learn-corp-article-article .lcaadoc .lcaadocimg {
        height: auto; }
      #learn-body-page .learn-corp .learn-corp-article .learn-corp-article-article .lcaadoc .lcaadoctext {
        height: 400px; }
        #learn-body-page .learn-corp .learn-corp-article .learn-corp-article-article .lcaadoc .lcaadoctext p {
          word-break: break-word; }
    #learn-body-page .learn-corp .learn-corp-aside {
      display: none; }
  #learn-body-page #learn-article-page {
    display: block;
    width: 100%;
    padding: 0 25px; }
    #learn-body-page #learn-article-page .learn-aside {
      display: none; }
    #learn-body-page #learn-article-page .learn-article {
      display: block;
      width: 100%; }
      #learn-body-page #learn-article-page .learn-article .learn-article-header button {
        display: none; }
      #learn-body-page #learn-article-page .learn-article .learn-article-header h2 {
        font-size: 21px; }
      #learn-body-page #learn-article-page .learn-article .learn-article-header img {
        height: 12px; }
      #learn-body-page #learn-article-page .learn-article .learn-article-header ul {
        margin-right: 0; }
        #learn-body-page #learn-article-page .learn-article .learn-article-header ul li {
          margin: 0 2px; }
      #learn-body-page #learn-article-page .learn-article .learn-article-text .learn-corp-article-article .lcaahead {
        margin-bottom: 15px; }
        #learn-body-page #learn-article-page .learn-article .learn-article-text .learn-corp-article-article .lcaahead .lcaaheada {
          display: block;
          margin-bottom: 15px; }
        #learn-body-page #learn-article-page .learn-article .learn-article-text .learn-corp-article-article .lcaahead .lcaaheadt {
          display: block;
          text-align: left;
          float: none; }
          #learn-body-page #learn-article-page .learn-article .learn-article-text .learn-corp-article-article .lcaahead .lcaaheadt .lcaaheadtt ul {
            text-align: left;
            width: auto; }
          #learn-body-page #learn-article-page .learn-article .learn-article-text .learn-corp-article-article .lcaahead .lcaaheadt .lcaaheadtt span {
            float: right; }
          #learn-body-page #learn-article-page .learn-article .learn-article-text .learn-corp-article-article .lcaahead .lcaaheadt .lcaaheadtb {
            text-align: right; }
      #learn-body-page #learn-article-page .learn-article .learn-article-text .learn-corp-article-article .lcaadoc h2 {
        font-size: 21px; }
      #learn-body-page #learn-article-page .learn-article .learn-article-text .learn-corp-article-article .lcaadoc .lcaadocimg {
        height: auto; }
      #learn-body-page #learn-article-page .learn-article .learn-article-text .learn-corp-article-article .lcaadoc .lcaadoctext {
        height: 400px; }
        #learn-body-page #learn-article-page .learn-article .learn-article-text .learn-corp-article-article .lcaadoc .lcaadoctext p {
          word-break: break-word; }
      #learn-body-page #learn-article-page .learn-article .learn-article-text .learn-corp-article-article .lcaadoc p {
        font-size: 17px; }
      #learn-body-page #learn-article-page .learn-article .learn-article-text .learn-corp-article-event img {
        display: block;
        width: 80px;
        margin: 0 auto;
        margin-bottom: 20px; }
      #learn-body-page #learn-article-page .learn-article .learn-article-text .learn-corp-article-event h3 {
        width: 100%;
        font-size: 21px;
        margin-bottom: 10px;
        text-align: center; }
      #learn-body-page #learn-article-page .learn-article .learn-article-text .learn-corp-article-event .learnPostProject {
        height: 45px;
        border: none;
        border-radius: 3px;
        background-color: rgba(255, 52, 52, 0.8);
        color: white;
        font-family: 'FreigSem';
        font-size: 16px;
        padding: 5px 15px 5px 15px; }
      #learn-body-page #learn-article-page .learn-article .learn-article-text .learn-corp-article-event .lcaefa, #learn-body-page #learn-article-page .learn-article .learn-article-text .learn-corp-article-event .lcaetw {
        border-radius: 4px;
        color: white; }
        #learn-body-page #learn-article-page .learn-article .learn-article-text .learn-corp-article-event .lcaefa i, #learn-body-page #learn-article-page .learn-article .learn-article-text .learn-corp-article-event .lcaetw i {
          color: white; }
      #learn-body-page #learn-article-page .learn-article .learn-article-text .learn-article-footer h4 {
        font-size: 16px; }
      #learn-body-page #learn-article-page .learn-article .learn-article-text .learn-article-footer h2 {
        font-size: 21px; }
      #learn-body-page #learn-article-page .learn-article .learn-article-text .learn-article-footer img {
        height: 12px; }
      #learn-body-page #learn-article-page .learn-article .learn-article-text .learn-article-footer-textarea .lafcimg {
        display: none; }
      #learn-body-page #learn-article-page .learn-article .learn-article-text .learn-article-footer-textarea .lafta {
        display: block; }
        #learn-body-page #learn-article-page .learn-article .learn-article-text .learn-article-footer-textarea .lafta .laftacss {
          width: 100%; }
      #learn-body-page #learn-article-page .learn-article .learn-article-text .learn-article-footer-textarea .lafbutton button {
        height: 45px;
        border: none;
        border-radius: 3px;
        background-color: rgba(255, 52, 52, 0.8);
        color: white;
        font-family: 'FreigSem';
        font-size: 16px;
        padding: 5px 15px 5px 15px; } }
@media only screen and (max-width: 320px) {
  #learn-body-page #learn-article-page .learn-article .learn-article-text .learn-corp-article-event h3 {
    font-size: 17px; }

  #learn-body-page .learn-corp .learn-corp-article {
    padding: 0 15px; }

  #learn-body-page #learn-article-page {
    padding: 0 15px; } }

/*# sourceMappingURL=learn.css.map */
