@media only screen and (min-width: 736px) {
  /*** MESSAGING MODALS ***/
  #messages-body-page-mobile {
    display: none; }

  #profile-modal-newMessageArea,
  #project-modal-newMessageArea {
    display: none; }

  #messages-modal-newMessageArea,
  #profile-modal-newMessageArea,
  #project-modal-newMessageArea {
    position: fixed;
    background-color: white;
    max-width: 500px;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 20%;
    z-index: 1000000;
    border-radius: 5px;
    box-shadow: 0px 0px 15px #999999;
    background-color: white;
    -webkit-animation-delay: 0.1s;
    -o-animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
    -ms-animation-delay: 0.1s;
    -webkit-animation-duration: 0.3s;
    -o-animation-duration: 0.3s;
    -moz-animation-duration: 0.3s;
    -ms-animation-duration: 0.3s; }
    #messages-modal-newMessageArea .messages-newMessageArea-to,
    #profile-modal-newMessageArea .messages-newMessageArea-to,
    #project-modal-newMessageArea .messages-newMessageArea-to {
      padding: 10px 20px 5px 20px;
      border-bottom: 1px solid #e5e5e5; }
      #messages-modal-newMessageArea .messages-newMessageArea-to label,
      #profile-modal-newMessageArea .messages-newMessageArea-to label,
      #project-modal-newMessageArea .messages-newMessageArea-to label {
        display: inline-block;
        font-family: 'FreigLight';
        font-size: 16px;
        color: #999999; }
      #messages-modal-newMessageArea .messages-newMessageArea-to h5,
      #profile-modal-newMessageArea .messages-newMessageArea-to h5,
      #project-modal-newMessageArea .messages-newMessageArea-to h5 {
        display: inline-block;
        font-family: 'FreigBook';
        font-size: 16px;
        color: #222222; }
    #messages-modal-newMessageArea .messages-newMessageArea-text textarea,
    #profile-modal-newMessageArea .messages-newMessageArea-text textarea,
    #project-modal-newMessageArea .messages-newMessageArea-text textarea {
      padding: 10px 20px;
      width: 100%;
      height: 160px;
      resize: none;
      border: none;
      font-family: 'FreigBook';
      font-size: 16px; }
    #messages-modal-newMessageArea .messages-newMessageArea-text .redactor-editor,
    #profile-modal-newMessageArea .messages-newMessageArea-text .redactor-editor,
    #project-modal-newMessageArea .messages-newMessageArea-text .redactor-editor {
      border: 0;
      padding: 20px;
      min-height: 150px !important;
      max-height: 200px !important; }
      #messages-modal-newMessageArea .messages-newMessageArea-text .redactor-editor p,
      #profile-modal-newMessageArea .messages-newMessageArea-text .redactor-editor p,
      #project-modal-newMessageArea .messages-newMessageArea-text .redactor-editor p {
        font-family: 'FreigBook';
        font-size: 16px;
        margin-bottom: 0; }
    #messages-modal-newMessageArea .messages-newMessageArea-text .redactor-placeholder:after,
    #profile-modal-newMessageArea .messages-newMessageArea-text .redactor-placeholder:after,
    #project-modal-newMessageArea .messages-newMessageArea-text .redactor-placeholder:after {
      font-family: 'FreigBook';
      font-size: 16px; }
    #messages-modal-newMessageArea .messages-newMessageArea-text textarea:focus,
    #profile-modal-newMessageArea .messages-newMessageArea-text textarea:focus,
    #project-modal-newMessageArea .messages-newMessageArea-text textarea:focus {
      outline: 0; }
    #messages-modal-newMessageArea .messages-newMessageArea-send,
    #profile-modal-newMessageArea .messages-newMessageArea-send,
    #project-modal-newMessageArea .messages-newMessageArea-send {
      width: 100%;
      padding: 10px 20px;
      border-top: 1px solid #e5e5e5;
      text-align: right; }
      #messages-modal-newMessageArea .messages-newMessageArea-send button,
      #profile-modal-newMessageArea .messages-newMessageArea-send button,
      #project-modal-newMessageArea .messages-newMessageArea-send button {
        padding: 3px 12px 5px 12px;
        font-size: 15px; }

  #profile-modal-newMessageArea, #project-modal-newMessageArea {
    -webkit-animation-delay: 0s;
    -o-animation-delay: 0s;
    -moz-animation-delay: 0s;
    -ms-animation-delay: 0s;
    -webkit-animation-duration: 0.2s;
    -o-animation-duration: 0.2s;
    -moz-animation-duration: 0.2s;
    -ms-animation-duration: 0.2s; }

  button {
    font-family: 'FreigSem';
    font-size: 16px;
    background-color: #ff4d4d;
    border: 1px solid #ff4d4d;
    border-radius: 4px;
    padding: 6px 15px 8px 15px;
    color: white; }

  #messages-modals {
    position: fixed;
    background-color: white;
    max-width: 500px;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 20%;
    z-index: 99999;
    border-radius: 5px;
    box-shadow: 0px 0px 15px #999999;
    -webkit-animation-duration: 0.3s;
    -o-animation-duration: 0.3s;
    -moz-animation-duration: 0.3s;
    -ms-animation-duration: 0.3s; }
    #messages-modals .messages-modal-header {
      padding: 15px 20px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      background-color: #FAFAFA;
      border-bottom: 1px solid #e5e5e5; }
      #messages-modals .messages-modal-header .messages-modal-title {
        display: inline-block; }
        #messages-modals .messages-modal-header .messages-modal-title h3 {
          font-family: 'FreigBook';
          font-size: 20px;
          color: #222222; }
      #messages-modals .messages-modal-header .messages-modal-cross {
        display: inline-block;
        float: right;
        cursor: pointer; }
        #messages-modals .messages-modal-header .messages-modal-cross img {
          width: 15px;
          height: 15px; }
    #messages-modals .messages-newpost {
      background-color: transparent; }
      #messages-modals .messages-newpost .messages-newpost-search {
        padding: 30px 20px 30px 20px; }
        #messages-modals .messages-newpost .messages-newpost-search input {
          width: 408px;
          font-family: 'FreigBook';
          font-size: 16px;
          color: #222222;
          background-image: url("/images/search-icon-b.svg");
          background-repeat: no-repeat;
          background-position: 4% 50%;
          padding: 7px 5px 8px 45px;
          border-radius: 4px;
          border: 1px solid #e5e5e5; }
        #messages-modals .messages-newpost .messages-newpost-search input:focus {
          border: 1px solid #bebebe; }
      #messages-modals .messages-newpost .messages-newpost-users {
        max-height: 536px;
        overflow-y: hidden; }
        #messages-modals .messages-newpost .messages-newpost-users .messages-newpost-user {
          padding: 15px 20px 15px 20px;
          border-bottom: 1px solid #f5f5f5;
          cursor: pointer; }
          #messages-modals .messages-newpost .messages-newpost-users .messages-newpost-user .messages-newpost-puser {
            display: inline-block; }
            #messages-modals .messages-newpost .messages-newpost-users .messages-newpost-user .messages-newpost-puser img {
              display: inline-block;
              width: 60px;
              height: 60px;
              border-radius: 50%; }
            #messages-modals .messages-newpost .messages-newpost-users .messages-newpost-user .messages-newpost-puser .messages-newpost-iuser {
              display: inline-block;
              position: relative;
              top: 10px;
              padding: 0 10px;
              vertical-align: top; }
              #messages-modals .messages-newpost .messages-newpost-users .messages-newpost-user .messages-newpost-puser .messages-newpost-iuser h3 {
                font-family: 'FreigSem';
                font-size: 18px;
                color: #222222;
                margin-bottom: 3px; }
              #messages-modals .messages-newpost .messages-newpost-users .messages-newpost-user .messages-newpost-puser .messages-newpost-iuser h5 {
                font-family: 'FreigBook';
                font-size: 14px;
                color: #999999; }
          #messages-modals .messages-newpost .messages-newpost-users .messages-newpost-user .messages-newpost-button {
            display: inline-block;
            position: relative;
            float: right;
            top: 10px; }
        #messages-modals .messages-newpost .messages-newpost-users .messages-newpost-user:hover {
          background-color: #f5f5f5; }
      #messages-modals .messages-newpost .messages-newpost-footer {
        text-align: center;
        padding: 20px 0; }
        #messages-modals .messages-newpost .messages-newpost-footer img {
          width: 35px;
          height: 35px; }
    #messages-modals .messages-confirmDelete .messages-cd-body {
      padding: 25px 20px; }
      #messages-modals .messages-confirmDelete .messages-cd-body .messages-cd-text {
        padding-bottom: 10px; }
        #messages-modals .messages-confirmDelete .messages-cd-body .messages-cd-text h5 {
          font-family: 'FreigBook';
          font-size: 18px;
          color: #222222;
          line-height: 26px; }
      #messages-modals .messages-confirmDelete .messages-cd-body .messages-cd-button {
        text-align: center;
        margin-top: 15px; }
        #messages-modals .messages-confirmDelete .messages-cd-body .messages-cd-button p {
          display: inline-block;
          font-family: 'FreigBook';
          font-size: 16px;
          color: #999999;
          margin: 0 10px;
          cursor: pointer; }
        #messages-modals .messages-confirmDelete .messages-cd-body .messages-cd-button button {
          display: inline-block;
          margin: 0 10px; }

  /*** MESSAGING BODY ***/
  #messages-page {
    /**** Message header ****/ }
    #messages-page h4 {
      color: #222222; }
    #messages-page .actives {
      background-color: #e9edf3;
      color: #416299; }
    #messages-page .actives .messages-list-object h4 {
      color: #416299; }
    #messages-page .unread-active {
      color: #416299;
      background-color: #EFF0F3; }
    #messages-page .unread-active h4 {
      color: #416299; }
    #messages-page #messages-header {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 200px; }
      #messages-page #messages-header .filter {
        position: absolute;
        height: 200px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5); }
      #messages-page #messages-header .message-header-component {
        max-width: 1000px;
        margin: 0 auto;
        padding: 110px 20px 40px 20px;
        position: relative;
        z-index: 50; }
        #messages-page #messages-header .message-header-component .messages-header-title,
        #messages-page #messages-header .message-header-component .messages-header-new {
          display: inline-block;
          float: left;
          position: relative;
          top: 2px; }
        #messages-page #messages-header .message-header-component .messages-header-title h1 {
          font-family: 'FreigSem';
          font-size: 42px;
          padding-bottom: 5px; }
        #messages-page #messages-header .message-header-component .messages-header-new {
          position: relative;
          top: 10px;
          float: right;
          padding: 8px 14px;
          border: 2px solid white;
          border-radius: 4px;
          cursor: pointer;
          -webkit-transition: all 100ms linear;
          -o-transition: all 100ms linear;
          -moz-transition: all 100ms linear;
          -ms-transition: all 100ms linear;
          -kthtml-transition: all 100ms linear;
          transition: all 100ms linear; }
          #messages-page #messages-header .message-header-component .messages-header-new img {
            margin-bottom: 6px;
            margin-right: 5px; }
          #messages-page #messages-header .message-header-component .messages-header-new a {
            font-family: 'FreigSem';
            font-size: 16px; }
        #messages-page #messages-header .message-header-component .messages-header-new:hover {
          background-color: white; }
          #messages-page #messages-header .message-header-component .messages-header-new:hover a {
            color: #222222; }
    #messages-page #messages-body {
      /**** Message body ****/
      background-color: #fafafa; }
      #messages-page #messages-body .messages-component {
        max-width: 1000px;
        margin: 0 auto;
        padding: 0 20px; }
        #messages-page #messages-body .messages-component .messages-contact-list {
          display: inline-block;
          float: left;
          width: 35%;
          /*height: 783px;*/ }
          #messages-page #messages-body .messages-component .messages-contact-list .messages-search {
            padding: 24px 20px 24px 0; }
            #messages-page #messages-body .messages-component .messages-contact-list .messages-search input {
              width: 265px;
              font-family: 'FreigBook';
              font-size: 17px;
              color: #999999;
              background-image: url("/images/search-icon-b.svg");
              background-repeat: no-repeat;
              background-position: 4% 50%;
              padding: 8px 5px 8px 45px;
              border-radius: 4px;
              border: 1px solid #e5e5e5; }
            #messages-page #messages-body .messages-component .messages-contact-list .messages-search input:focus {
              border: 1px solid #bebebe; }
          #messages-page #messages-body .messages-component .messages-contact-list .messages-contact::-webkit-scrollbar {
            display: none; }
          #messages-page #messages-body .messages-component .messages-contact-list .messages-contact {
            height: 463px;
            overflow-y: scroll; }
            #messages-page #messages-body .messages-component .messages-contact-list .messages-contact .messages-list {
              width: 100%;
              height: 100px;
              border-top: 1px solid #e5e5e5; }
              #messages-page #messages-body .messages-component .messages-contact-list .messages-contact .messages-list .messages-list-picture {
                display: inline-block;
                float: left;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                overflow: hidden;
                margin: 13px 10px 15px 10px; }
                #messages-page #messages-body .messages-component .messages-contact-list .messages-contact .messages-list .messages-list-picture img {
                  max-width: 100%;
                  max-height: 100%; }
              #messages-page #messages-body .messages-component .messages-contact-list .messages-contact .messages-list .messages-list-object {
                display: inline-block;
                padding: 10px 10px 9px 4px; }
                #messages-page #messages-body .messages-component .messages-contact-list .messages-contact .messages-list .messages-list-object .messages-list-user .online-icon {
                  display: inline-block;
                  width: 10px;
                  height: 10px;
                  background: #57C428;
                  -moz-border-radius: 50px;
                  -webkit-border-radius: 50px;
                  border-radius: 50px;
                  margin-right: 5px; }
                #messages-page #messages-body .messages-component .messages-contact-list .messages-contact .messages-list .messages-list-object .messages-list-user .offline-icon {
                  display: inline-block;
                  position: relative;
                  float: left;
                  top: 5px;
                  width: 10px;
                  height: 10px;
                  background: gray;
                  -moz-border-radius: 50px;
                  -webkit-border-radius: 50px;
                  border-radius: 50px;
                  margin-right: 5px; }
                #messages-page #messages-body .messages-component .messages-contact-list .messages-contact .messages-list .messages-list-object .messages-list-user h4 {
                  display: inline-block;
                  font-family: 'FreigSem';
                  font-size: 16px;
                  max-width: 230px; }
                #messages-page #messages-body .messages-component .messages-contact-list .messages-contact .messages-list .messages-list-object .messages-list-text {
                  max-width: 200px; }
                  #messages-page #messages-body .messages-component .messages-contact-list .messages-contact .messages-list .messages-list-object .messages-list-text .messages-main-text {
                    font-family: 'FreigBook';
                    font-size: 15px;
                    word-wrap: break-word;
                    max-height: 40px;
                    overflow: hidden;
                    margin-bottom: 0px;
                    margin-top: 4px; }
                    #messages-page #messages-body .messages-component .messages-contact-list .messages-contact .messages-list .messages-list-object .messages-list-text .messages-main-text a {
                      color: #0645AD;
                      pointer-events: none;
                      cursor: default; }
                    #messages-page #messages-body .messages-component .messages-contact-list .messages-contact .messages-list .messages-list-object .messages-list-text .messages-main-text h5, #messages-page #messages-body .messages-component .messages-contact-list .messages-contact .messages-list .messages-list-object .messages-list-text .messages-main-text h4 {
                      font-family: 'FreigBook';
                      font-size: 15px;
                      color: black;
                      line-height: 19px;
                      margin-bottom: 5px; }
                  #messages-page #messages-body .messages-component .messages-contact-list .messages-contact .messages-list .messages-list-object .messages-list-text p {
                    color: #222;
                    margin-bottom: 0;
                    line-height: 18px; }
                #messages-page #messages-body .messages-component .messages-contact-list .messages-contact .messages-list .messages-list-object span {
                  font-family: 'FreigBook';
                  font-size: 14px; }
            #messages-page #messages-body .messages-component .messages-contact-list .messages-contact .messages-list:hover {
              background-color: #e9edf3;
              color: #416299; }
              #messages-page #messages-body .messages-component .messages-contact-list .messages-contact .messages-list:hover .messages-list-object h4 {
                color: #416299; } }
        @media only screen and (min-width: 736px) and (min-height: 720px) {
          #messages-page #messages-body .messages-component .messages-contact-list .messages-contact {
            height: 663px; } }
@media only screen and (min-width: 736px) {
        #messages-page #messages-body .messages-component .messages-conversation {
          display: inline-block;
          width: 65%;
          border-left: 1px solid #EBEBEB;
          border-right: 1px solid #EBEBEB; }
          #messages-page #messages-body .messages-component .messages-conversation .messages-conversation-header {
            padding: 20px 20px;
            border-bottom: 1px solid #e5e5e5; }
            #messages-page #messages-body .messages-component .messages-conversation .messages-conversation-header .messages-conversation-left {
              display: inline-table; }
              #messages-page #messages-body .messages-component .messages-conversation .messages-conversation-header .messages-conversation-left .messages-header-picture {
                display: inline-table;
                vertical-align: middle;
                width: 35px;
                height: 35px;
                border-radius: 50%;
                overflow: hidden;
                position: relative;
                top: 2px; }
                #messages-page #messages-body .messages-component .messages-conversation .messages-conversation-header .messages-conversation-left .messages-header-picture img {
                  width: 100%;
                  height: 100%; }
              #messages-page #messages-body .messages-component .messages-conversation .messages-conversation-header .messages-conversation-left .messages-header-title {
                display: inline-table;
                vertical-align: middle;
                padding: 0 15px; }
                #messages-page #messages-body .messages-component .messages-conversation .messages-conversation-header .messages-conversation-left .messages-header-title h4 {
                  font-family: 'FreigSem';
                  font-size: 18px;
                  color: #222222; }
              #messages-page #messages-body .messages-component .messages-conversation .messages-conversation-header .messages-conversation-left .messages-header-newTitle {
                display: inline-table;
                vertical-align: middle; }
                #messages-page #messages-body .messages-component .messages-conversation .messages-conversation-header .messages-conversation-left .messages-header-newTitle h4 {
                  font-family: 'FreigSem';
                  font-size: 18px;
                  color: #222222; }
            #messages-page #messages-body .messages-component .messages-conversation .messages-conversation-header .messages-header-option {
              display: inline-table;
              vertical-align: middle;
              position: relative;
              top: 4px;
              float: right; }
              #messages-page #messages-body .messages-component .messages-conversation .messages-conversation-header .messages-header-option .messages-option-action a {
                font-family: 'FreigBook';
                font-size: 19px;
                color: #999999;
                padding: 0 5px; }
              #messages-page #messages-body .messages-component .messages-conversation .messages-conversation-header .messages-header-option .messages-option-action img {
                margin-bottom: 5px;
                transition: transform 0.2s; }
              #messages-page #messages-body .messages-component .messages-conversation .messages-conversation-header .messages-header-option .messages-option-dropdown {
                position: absolute;
                background-color: white;
                border: 1px solid #e5e5e5;
                padding: 5px 0;
                border-radius: 5px;
                width: 180px; }
                #messages-page #messages-body .messages-component .messages-conversation .messages-conversation-header .messages-header-option .messages-option-dropdown li {
                  padding: 5px 20px 5px 20px;
                  font-family: 'FreigBook';
                  font-size: 16px;
                  color: #999999;
                  cursor: pointer; }
                #messages-page #messages-body .messages-component .messages-conversation .messages-conversation-header .messages-header-option .messages-option-dropdown li:hover {
                  background-color: #fafafa;
                  color: #222222; }
            #messages-page #messages-body .messages-component .messages-conversation .messages-conversation-header .messages-header-option2 {
              display: inline-table;
              position: relative;
              bottom: 2px;
              float: right; }
              #messages-page #messages-body .messages-component .messages-conversation .messages-conversation-header .messages-header-option2 .messages-option-action a {
                font-family: 'FreigBook';
                font-size: 18px;
                color: #999999;
                padding: 0 5px; }
              #messages-page #messages-body .messages-component .messages-conversation .messages-conversation-header .messages-header-option2 .messages-option-action img {
                margin-bottom: 5px;
                transition: transform 0.2s; }
              #messages-page #messages-body .messages-component .messages-conversation .messages-conversation-header .messages-header-option2 .messages-option-dropdown {
                position: absolute;
                background-color: white;
                border: 1px solid #e5e5e5;
                padding: 5px 0;
                border-radius: 5px; }
                #messages-page #messages-body .messages-component .messages-conversation .messages-conversation-header .messages-header-option2 .messages-option-dropdown li {
                  padding: 5px 20px 5px 20px;
                  font-family: 'FreigBook';
                  font-size: 16px;
                  color: #999999;
                  cursor: pointer; }
                #messages-page #messages-body .messages-component .messages-conversation .messages-conversation-header .messages-header-option2 .messages-option-dropdown li:hover {
                  background-color: #fafafa;
                  color: #222222; }
          #messages-page #messages-body .messages-component .messages-conversation .messages-conversation-body {
            background-color: white;
            height: 300px;
            overflow-y: scroll;
            padding-bottom: 25px; }
            #messages-page #messages-body .messages-component .messages-conversation .messages-conversation-body a {
              color: blue; }
            #messages-page #messages-body .messages-component .messages-conversation .messages-conversation-body .messages-cb-texto {
              padding: 25px 15px;
              border-top: 1px solid #f5f5f5; }
              #messages-page #messages-body .messages-component .messages-conversation .messages-conversation-body .messages-cb-texto .messages-texto-picture {
                display: inline-block;
                margin: 5px;
                float: left; }
                #messages-page #messages-body .messages-component .messages-conversation .messages-conversation-body .messages-cb-texto .messages-texto-picture img {
                  border-radius: 50%;
                  width: 50px;
                  height: 50px; }
              #messages-page #messages-body .messages-component .messages-conversation .messages-conversation-body .messages-cb-texto .messages-texto {
                display: inline-block;
                width: 514px;
                padding: 2px 0px 0px 10px; }
                #messages-page #messages-body .messages-component .messages-conversation .messages-conversation-body .messages-cb-texto .messages-texto .messages-texto-name {
                  margin-bottom: 0px;
                  margin-top: 5px; }
                  #messages-page #messages-body .messages-component .messages-conversation .messages-conversation-body .messages-cb-texto .messages-texto .messages-texto-name h4 {
                    display: inline-block;
                    font-family: 'FreigSem';
                    font-size: 16px;
                    color: #222222; }
                  #messages-page #messages-body .messages-component .messages-conversation .messages-conversation-body .messages-cb-texto .messages-texto .messages-texto-name span {
                    font-family: 'FreigBook';
                    font-size: 14px;
                    color: #999999;
                    display: inline-block;
                    float: right;
                    padding: 0 5px; }
                #messages-page #messages-body .messages-component .messages-conversation .messages-conversation-body .messages-cb-texto .messages-texto .messages-texto-text {
                  max-width: 500px; }
                  #messages-page #messages-body .messages-component .messages-conversation .messages-conversation-body .messages-cb-texto .messages-texto .messages-texto-text .messages-text {
                    font-family: 'FreigBook';
                    font-size: 15px;
                    line-height: 25px;
                    word-wrap: break-word;
                    margin-bottom: 0; }
                    #messages-page #messages-body .messages-component .messages-conversation .messages-conversation-body .messages-cb-texto .messages-texto .messages-texto-text .messages-text .profile-message-needs {
                      padding: 25px 0px; }
                      #messages-page #messages-body .messages-component .messages-conversation .messages-conversation-body .messages-cb-texto .messages-texto .messages-texto-text .messages-text .profile-message-needs h5 {
                        font-family: 'FreigBook';
                        font-size: 16px;
                        color: #222;
                        margin-bottom: 15px; }
                      #messages-page #messages-body .messages-component .messages-conversation .messages-conversation-body .messages-cb-texto .messages-texto .messages-texto-text .messages-text .profile-message-needs .profile-message-need .profile-message-need-project-title img {
                        display: inline-block;
                        height: 40px;
                        width: 40px;
                        border-radius: 4px;
                        margin-right: 10px; }
                      #messages-page #messages-body .messages-component .messages-conversation .messages-conversation-body .messages-cb-texto .messages-texto .messages-texto-text .messages-text .profile-message-needs .profile-message-need .profile-message-need-project-title h5 {
                        display: inline-block;
                        font-family: 'FreigSem';
                        font-size: 16px;
                        color: #222;
                        margin-bottom: 5px; }
                      #messages-page #messages-body .messages-component .messages-conversation .messages-conversation-body .messages-cb-texto .messages-texto .messages-texto-text .messages-text .profile-message-needs .profile-message-need p {
                        font-family: 'FreigBook';
                        font-size: 15px;
                        margin-bottom: 5px; }
                      #messages-page #messages-body .messages-component .messages-conversation .messages-conversation-body .messages-cb-texto .messages-texto .messages-texto-text .messages-text .profile-message-needs .profile-message-need u {
                        color: #555D8B; }
                  #messages-page #messages-body .messages-component .messages-conversation .messages-conversation-body .messages-cb-texto .messages-texto .messages-texto-text p {
                    margin-bottom: 0; }
                #messages-page #messages-body .messages-component .messages-conversation .messages-conversation-body .messages-cb-texto .messages-texto .messages-text-help-demand h5 {
                  display: inline-block;
                  font-family: 'FreigBook';
                  font-size: 15px;
                  color: black;
                  margin-bottom: 15px;
                  margin-right: 50px; }
                #messages-page #messages-body .messages-component .messages-conversation .messages-conversation-body .messages-cb-texto .messages-texto .messages-text-help-demand span {
                  font-family: 'FreigBook';
                  font-size: 15px;
                  color: black;
                  margin-bottom: 15px;
                  margin-right: 20px; }
                  #messages-page #messages-body .messages-component .messages-conversation .messages-conversation-body .messages-cb-texto .messages-texto .messages-text-help-demand span .fa-check {
                    color: #7BC087; }
                  #messages-page #messages-body .messages-component .messages-conversation .messages-conversation-body .messages-cb-texto .messages-texto .messages-text-help-demand span .fa-times {
                    color: #BB463F; }
                #messages-page #messages-body .messages-component .messages-conversation .messages-conversation-body .messages-cb-texto .messages-texto .messages-text-help-pending {
                  text-align: left; }
                  #messages-page #messages-body .messages-component .messages-conversation .messages-conversation-body .messages-cb-texto .messages-texto .messages-text-help-pending i {
                    font-family: 'FreigBook'; } }
        @media only screen and (min-width: 736px) and (min-height: 720px) {
          #messages-page #messages-body .messages-component .messages-conversation .messages-conversation-body {
            height: 500px; } }
@media only screen and (min-width: 736px) {
          #messages-page #messages-body .messages-component .messages-conversation .messages-conversation-textarea {
            border-top: 1px solid #e5e5e5; }
            #messages-page #messages-body .messages-component .messages-conversation .messages-conversation-textarea .redactor-placeholder:after {
              font-family: 'FreigBook';
              font-size: 16px; }
            #messages-page #messages-body .messages-component .messages-conversation .messages-conversation-textarea .textarea-box {
              width: 100%;
              padding: 20px; }
              #messages-page #messages-body .messages-component .messages-conversation .messages-conversation-textarea .textarea-box .redactor-editor {
                padding: 10px 15px;
                min-height: 100px !important; }
                #messages-page #messages-body .messages-component .messages-conversation .messages-conversation-textarea .textarea-box .redactor-editor p {
                  font-family: 'FreigBook';
                  margin-bottom: 0; }
              #messages-page #messages-body .messages-component .messages-conversation .messages-conversation-textarea .textarea-box textarea:focus {
                outline: 0; }
              #messages-page #messages-body .messages-component .messages-conversation .messages-conversation-textarea .textarea-box textarea {
                resize: none;
                font-family: 'FreigBook';
                font-size: 16px;
                width: 100%;
                height: 80px;
                border: 1px solid #e5e5e5;
                border-radius: 5px;
                padding: 10px 15px; }
            #messages-page #messages-body .messages-component .messages-conversation .messages-conversation-textarea .textarea-button {
              text-align: right;
              padding: 0 20px 30px 0; }
              #messages-page #messages-body .messages-component .messages-conversation .messages-conversation-textarea .textarea-button button {
                font-family: 'FreigSem';
                font-size: 18px;
                background-color: #ff4d4d;
                border: 1px solid #ff4d4d;
                border-radius: 4px;
                padding: 3px 15px 5px 15px;
                color: white; }
              #messages-page #messages-body .messages-component .messages-conversation .messages-conversation-textarea .textarea-button button:hover {
                border: 1px solid #d94242;
                background-color: #d94242; }

  /*#messages-body {
  	overflow-y: auto;
  	background-color: #fafafa;
  }
  
  a {
  	outline: 0;
  }
  
  a:focus {
  	outline: 0;
  }
  
  textarea:focus {
  	outline: 0;
  }
  
  .messages-body-head {
  	background: url("/images/pexels.jpg") no-repeat center center fixed;
  	width: 100%;
  	height: 130px;
  	-webkit-background-size: cover;
    	-moz-background-size: cover;
    	-o-background-size: cover;
    	background-size: cover;
  }
  
  .messages-body-head-title {
  	position: relative;
  	top: 40px;
  }
  
  .messages-body-head-title h1 {
  	position: relative;
  	float: left;
  	left: 300px;
  }
  
  .messages-body-head-title a {
  	position: relative;
  	padding: 8px 20px 8px 20px;
  	border: 2px solid white;
  	border-radius: 5px;
  	color: white;
  	float: right;
  	right: 300px;
  }
  
  .messages-body-head-title a:hover {
  	color: #222222;
  	background-color: white;
  }
  
  .messages-body-head-title a img {
  	margin: 0px 10px 10px 0px;
  }
  
  .messages-body-contact-info h4 {
  	font-size: 15px;
  	margin-bottom: 3px;
  	color: black;
  }
  
  .messages-body-contact-info p {
  	word-wrap: break-word;
  	max-height: 40px;
  	overflow: hidden;
  	margin-bottom: 0px;
  }
  
  .messages-body-content h4 {
  	color: black;
  }
  
  .messages-body-contact input[type=search] {
  	background-image: url('/images/search-icon.svg');
  	background-repeat: no-repeat;
  	background-position: 2% 50%;
  	margin: 20px 5px 20px 0px;
  	padding: 4px 10px 4px 40px;
  	border: 1px solid #e5e5e5;
  	outline: 0;
  }
  
  .messages-body-contact-list {
  	border-top: 1px solid #e5e5e5;
  	height: 90px;
  	outline: 0;
  }
  
  .messages-body-contact-list:hover {
  	background-color: #e9edf3;
  	color: #416299;
  }
  
  .messages-body-contact-list:hover h4 {
  	color: #416299;
  }
  
  .messages-body-contact-picture {
  	margin-top: 10px;
  }
  
  .messages-body-contact-info {
  	margin-top: 10px;
  }
  
  .messages-body-content {
  	padding: 0;
  	border-left: 1px solid #e5e5e5;
  	border-right: 1px solid #e5e5e5;
  	border-bottom: 1px solid #e5e5e5;
  }
  
  .messages-body-content-title {
  	height: 70px;
  	border-bottom: 1px solid #e5e5e5; 
  }
  
  .messages-body-content-title img {
  	height: 100%;
  	width: 40px;
  	margin-top: 13px;
  	margin-left: 30px;
  }
  
  .messages-body-content-title .title {
  	position: relative;
  	top: 23px;
  }
  
  .messages-body-content-texto {
  	height: 500px;
  	border-bottom: 1px solid #e5e5e5;
  	background-color: white;
  	overflow: scroll;
  }
  
  .messages-body-content-submit {
  	height: 180px;
  	text-align: center;
  }
  
  .messages-body-content-submit textarea {
  	resize: none;
  	margin-top: 22px;
  	padding: 15px 10px 15px 10px;
  	border: 1px solid #e5e5e5;
  }
  
  .messages-body-content-submit button {
  	float: right;
  	margin-right: 23px;
  }
  
  /*.messages-body-content-submit ::-webkit-input-placeholder {
    padding: 5px 10px 5px 10px;
  }*/
  /**** newpost-modal ****/
  /*.newpost-title {
  	height: 60px;
  	border-bottom: 1px solid #e5e5e5;
  }
  .newpost-title h4 {
  	float: left;
  	display: inline;
  	color: gray;
  	padding: 5px 10px 5px 10px;
  	font-size: 20px;
  	margin-top: 10px;
  	margin-left: 5px;
  }
  .newpost-title img {
  	float: right;
  	display: inline;
  	padding: 5px 5px 5px 5px;
  	margin-right: 10px;
  	margin-top: 10px;
  }
  
  .newpost-search {
  	text-align: center;
  }
  
  .newpost-search input {
  	background-image: url('/images/search-icon.svg');
  	background-repeat: no-repeat;
  	background-position: 2% 50%;
  	padding: 4px 10px 4px 40px;
  	margin-top: 40px;
  	margin-bottom: 40px;
  	border: 1px solid #e5e5e5;
  	outline: 0;
  }
  
  .center-modal {
      position: absolute;
      top: 150px;
      left: 18.5%;
      z-index: 1050;
      width: 80%;
      height: 80%;
      margin-left: -10%;
  }
  
  .modal-backdrop.in {
  	opacity: 0;
  }
  
  .newpost-userList button {
  	margin-top: 0;
  	height: 400px;
  	overflow: scroll;
  }
  
  /**** Message Body ****/
  /*.messages-list.row {
  	margin-right: 0;
  }
  
  .messages-body-content-texto li {
  	border-top: 1px solid #f5f5f5;
  }
  
  .message-profile-picture {
  	margin: 20px 0px 0px 20px;
  }
  
  .message-content {
  	margin: 25px 0px 15px 0px;
  }
  
  .message-username {
  	margin-bottom: 8px;
  }
  
  .message-username h4 {
  	display: inline;
  	float: left;
  	font-size: 16px;
  }
  
  .message-username span {
  	display: inline;
  	float: right;
  }
  
  .message-text {
  	word-wrap: break-word;
  }
  
  .online-icon {
  	display: inline-block;
  	width: 10px;
  	height: 10px;
  	background: #57C428;
  	-moz-border-radius: 50px;
  	-webkit-border-radius: 50px;
  	border-radius: 50px;
  	margin-right: 5px;
  }
  
  .offline-icon {
  	display: inline-block;
  	width: 10px;
  	height: 10px;
  	background: gray;
  	-moz-border-radius: 50px;
  	-webkit-border-radius: 50px;
  	border-radius: 50px;
  	margin-right: 5px;
  }
  
  .actives {
  	background-color: #e9edf3;
  	color: #416299;
  }
  
  .actives h4 {
  	color: #416299;
  }
  
  .unread-active {
  	color: #416299;
  	background-color: #EFF0F3;
  }
  
  .unread-active h4 {
  	color: #416299;
  }
  
  /*** Message options ***/
  /*.messages-option {
  	text-align: right;
  	margin-top: 12px;
  	padding: 10px 10px 10px 10px;
  }
  
  .messages-option a {
  	color: gray;
  }
  
  .isCollapsed {
  	position: relative;
  }
  */
  /*** New message modal ***/
  /*.newMessage-to {
  	border-bottom: 1px solid #e5e5e5;
  	border-bottom-width: 90%;
  }
  
  .newMessage-to p {
  	margin-top: 10px;
  	margin-left: 10px;
  	margin-right: 10px;
  	padding: 5px 10px 5px 10px;
  }
  
  .newMessage-message textarea {
  	resize: none;
  	margin-top: 12px;
  	padding: 15px 10px 15px 10px;
  	border: 1px solid #e5e5e5;
  	margin-bottom: 10px;
  	border: none;
  	margin-left: 14px;
  	margin-right: 14px;
  }
  
  .messages-body-content-submit button {
  	float: right;
  	margin-right: 23px;
  }
  
  .new-center-modal {
      position: absolute;
      top: 150px;
      left: 18.5%;
      z-index: 1050;
      width: 80%;
      height: 80%;
      margin-left: -10%;
  }
  
  .newMessage-button {
  	float: right;
  }*/
  /*/*/ }
/*********************** MEDIA QUERIES MOBILE WIDTH \*320px to 736px*\ **************************/
@media only screen and (max-width: 736px) {
  /*	#header-section {
  		display: none;
  	}
  	#footer-page {
  		display: none;
  	}*/
  #messages-body-page {
    display: none; }

  .body-fixed {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: white;
    z-index: 100000;
    overflow: hidden;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden; }

  #messages-body-page-mobile {
    display: block; }
    #messages-body-page-mobile #messages-body-list-mobile {
      width: 100vw;
      /* messages-body-list-mobile */ }
      #messages-body-page-mobile #messages-body-list-mobile .messages-search-list-mobile {
        position: fixed;
        top: 0;
        width: 100%;
        padding: 6px 10px 4px 10px;
        border: 1px solid #e5e5e5;
        background-color: #fafafa;
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-perspective: 1000;
        -moz-perspective: 1000;
        -ms-perspective: 1000;
        -o-perspective: 1000;
        perspective: 1000;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        -o-backface-visibility: hidden;
        backface-visibility: hidden;
        z-index: 100; }
        #messages-body-page-mobile #messages-body-list-mobile .messages-search-list-mobile input {
          display: inline-block;
          width: 77%;
          font-family: 'FreigBook';
          font-size: 16px;
          background-color: white;
          color: #999999;
          background-image: url("/images/search-icon-b.svg");
          background-repeat: no-repeat;
          background-position: 4% 50%;
          padding: 10px 5px 10px 45px;
          border: 1px solid #e5e5e5;
          border-radius: 4px; }
        #messages-body-page-mobile #messages-body-list-mobile .messages-search-list-mobile .new-messages-mobile {
          display: inline-block;
          text-align: center;
          float: right;
          position: fixed;
          top: 14px;
          margin-left: 25px; }
          #messages-body-page-mobile #messages-body-list-mobile .messages-search-list-mobile .new-messages-mobile img {
            background-color: white;
            position: relative;
            bottom: 3px;
            left: 3px;
            width: 20px; }
        #messages-body-page-mobile #messages-body-list-mobile .messages-search-list-mobile .new-messages-home {
          display: inline-block;
          margin-top: 5px;
          margin-right: 10px;
          float: right; }
          #messages-body-page-mobile #messages-body-list-mobile .messages-search-list-mobile .new-messages-home .fa-home {
            color: #999999;
            font-size: 23px; }
      #messages-body-page-mobile #messages-body-list-mobile .messages-convers-list-mobile {
        padding-top: 54px;
        min-height: 574px; }
        #messages-body-page-mobile #messages-body-list-mobile .messages-convers-list-mobile .messages-list {
          width: 100%;
          border-bottom: 1px solid #e5e5e5; }
          #messages-body-page-mobile #messages-body-list-mobile .messages-convers-list-mobile .messages-list .messages-list-picture {
            display: inline-block;
            float: left;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            overflow: hidden;
            margin: 13px 10px 15px 10px; }
            #messages-body-page-mobile #messages-body-list-mobile .messages-convers-list-mobile .messages-list .messages-list-picture img {
              max-width: 100%;
              max-height: 100%; }
          #messages-body-page-mobile #messages-body-list-mobile .messages-convers-list-mobile .messages-list .messages-list-object {
            display: inline-block;
            padding: 10px 10px 9px 4px; }
            #messages-body-page-mobile #messages-body-list-mobile .messages-convers-list-mobile .messages-list .messages-list-object .messages-list-user .online-icon {
              display: inline-block;
              width: 10px;
              height: 10px;
              background: #57C428;
              -moz-border-radius: 50px;
              -webkit-border-radius: 50px;
              border-radius: 50px;
              margin-right: 5px; }
            #messages-body-page-mobile #messages-body-list-mobile .messages-convers-list-mobile .messages-list .messages-list-object .messages-list-user .offline-icon {
              display: inline-block;
              position: relative;
              float: left;
              top: 5px;
              width: 10px;
              height: 10px;
              background: gray;
              -moz-border-radius: 50px;
              -webkit-border-radius: 50px;
              border-radius: 50px;
              margin-right: 5px; }
            #messages-body-page-mobile #messages-body-list-mobile .messages-convers-list-mobile .messages-list .messages-list-object .messages-list-user h4 {
              display: inline-block;
              font-family: 'FreigMed';
              font-size: 16px;
              color: black;
              max-width: 230px; }
            #messages-body-page-mobile #messages-body-list-mobile .messages-convers-list-mobile .messages-list .messages-list-object .messages-list-text {
              max-width: 200px;
              font-family: 'FreigBook';
              font-size: 14px;
              word-wrap: break-word;
              max-height: 40px;
              overflow: hidden;
              line-height: 18px;
              margin-bottom: 0px;
              margin-top: 4px; }
              #messages-body-page-mobile #messages-body-list-mobile .messages-convers-list-mobile .messages-list .messages-list-object .messages-list-text p {
                font-family: 'FreigBook';
                font-size: 14px;
                word-wrap: break-word;
                max-height: 40px;
                overflow: hidden;
                line-height: 18px;
                margin-bottom: 0px; }
            #messages-body-page-mobile #messages-body-list-mobile .messages-convers-list-mobile .messages-list .messages-list-object span {
              font-family: 'FreigBook';
              font-size: 14px; } }
@media only screen and (max-width: 736px) {
  #messages-body-page-mobile #messages-body-list-mobile {
    /* messages-body-list-mobile */ }
    #messages-body-page-mobile #messages-body-list-mobile .messages-search-list-mobile .new-messages-home {
      margin-right: 10px; }
    #messages-body-page-mobile #messages-body-list-mobile .messages-search-list-mobile input {
      width: 76%;
      padding: 5px 10px 5px 65px; }
    #messages-body-page-mobile #messages-body-list-mobile .messages-search-list-mobile .new-messages-mobile {
      margin-left: 20px; } }
@media only screen and (max-width: 667px) {
  #messages-body-page-mobile #messages-body-list-mobile {
    /* messages-body-list-mobile */ }
    #messages-body-page-mobile #messages-body-list-mobile .messages-search-list-mobile .new-messages-home {
      margin-right: 10px; }
    #messages-body-page-mobile #messages-body-list-mobile .messages-search-list-mobile input {
      width: 75%;
      padding: 5px 10px 5px 55px; }
    #messages-body-page-mobile #messages-body-list-mobile .messages-search-list-mobile .new-messages-mobile {
      margin-left: 20px; } }
@media only screen and (max-width: 568px) {
  #messages-body-page-mobile #messages-body-list-mobile {
    /* messages-body-list-mobile */ }
    #messages-body-page-mobile #messages-body-list-mobile .messages-search-list-mobile .new-messages-home {
      margin-right: 10px; }
    #messages-body-page-mobile #messages-body-list-mobile .messages-search-list-mobile input {
      width: 70%;
      padding: 5px 10px 5px 55px; }
    #messages-body-page-mobile #messages-body-list-mobile .messages-search-list-mobile .new-messages-mobile {
      margin-left: 25px; } }
@media only screen and (max-width: 480px) {
  #messages-body-page-mobile #messages-body-list-mobile {
    /* messages-body-list-mobile */ }
    #messages-body-page-mobile #messages-body-list-mobile .messages-search-list-mobile .new-messages-home {
      margin-right: 0px; }
    #messages-body-page-mobile #messages-body-list-mobile .messages-search-list-mobile input {
      width: 71%;
      padding: 5px 10px 5px 50px; }
    #messages-body-page-mobile #messages-body-list-mobile .messages-search-list-mobile .new-messages-mobile {
      margin-left: 15px; } }
@media only screen and (max-width: 414px) {
  #messages-body-page-mobile #messages-body-list-mobile {
    /* messages-body-list-mobile */ }
    #messages-body-page-mobile #messages-body-list-mobile .messages-search-list-mobile .new-messages-home {
      margin-right: 5px; }
    #messages-body-page-mobile #messages-body-list-mobile .messages-search-list-mobile input {
      width: 68%;
      padding: 5px 10px 5px 35px; }
    #messages-body-page-mobile #messages-body-list-mobile .messages-search-list-mobile .new-messages-mobile {
      margin-left: 15px; } }
@media only screen and (max-width: 375px) {
  #messages-body-page-mobile #messages-body-list-mobile {
    /* messages-body-list-mobile */ }
    #messages-body-page-mobile #messages-body-list-mobile .messages-search-list-mobile .new-messages-home {
      margin-right: 5px; }
    #messages-body-page-mobile #messages-body-list-mobile .messages-search-list-mobile input {
      width: 65%;
      padding: 5px 10px 5px 40px; }
    #messages-body-page-mobile #messages-body-list-mobile .messages-search-list-mobile .new-messages-mobile {
      margin-left: 10px; } }
@media only screen and (max-width: 320px) {
  #messages-body-page-mobile #messages-body-list-mobile {
    /* messages-body-list-mobile */ }
    #messages-body-page-mobile #messages-body-list-mobile .messages-search-list-mobile .new-messages-home {
      margin-right: 0px; }
    #messages-body-page-mobile #messages-body-list-mobile .messages-search-list-mobile input {
      width: 60%;
      padding: 5px 10px 5px 35px; }
    #messages-body-page-mobile #messages-body-list-mobile .messages-search-list-mobile .new-messages-mobile {
      margin-left: 15px; } }

/*# sourceMappingURL=messaging.css.map */
