#main-body .md-bottom-sheet-backdrop {
  z-index: 499; }

.custom-popover {
  background-color: rgba(20, 20, 20, 0.9);
  border-style: none;
  color: white;
  position: fixed;
  bottom: 0%;
  z-index: 500; }
  .custom-popover #popover-login {
    padding: 40px 0 55px 0; }
    .custom-popover #popover-login .popover-container {
      max-width: 1000px;
      margin-left: auto;
      margin-right: auto; }
      .custom-popover #popover-login .popover-container .popover-text {
        display: inline-block;
        float: left; }
        .custom-popover #popover-login .popover-container .popover-text h1 {
          font-family: 'FreigBook';
          font-size: 42px;
          margin-bottom: 10px; }
        .custom-popover #popover-login .popover-container .popover-text p {
          font-family: 'FreigBook';
          font-size: 21px;
          line-height: 26px; }
      .custom-popover #popover-login .popover-container .popover-button {
        display: inline-block;
        text-align: center;
        position: relative;
        top: 15px;
        margin-left: 70px; }
        .custom-popover #popover-login .popover-container .popover-button .fb-login {
          margin-bottom: 12px; }
          .custom-popover #popover-login .popover-container .popover-button .fb-login button:hover {
            background-color: #344e7a;
            border: 1px solid #344e7a; }
        .custom-popover #popover-login .popover-container .popover-button .go-login {
          margin-bottom: 10px; }
          .custom-popover #popover-login .popover-container .popover-button .go-login button {
            margin-bottom: 0; }
        .custom-popover #popover-login .popover-container .popover-button .go-login:hover button {
          background-color: #E0E0E0;
          color: #404040; }
        .custom-popover #popover-login .popover-container .popover-button .email-login {
          cursor: pointer; }
          .custom-popover #popover-login .popover-container .popover-button .email-login a {
            font-family: 'FreigSem';
            font-size: 18px; }
          .custom-popover #popover-login .popover-container .popover-button .email-login img {
            width: 21px;
            height: auto;
            margin-right: 5px;
            position: relative;
            bottom: 1px; }
      .custom-popover #popover-login .popover-container .popover-button-involvment {
        display: inline-flex;
        text-align: center;
        position: relative;
        top: 37px;
        margin-left: 70px; }
        .custom-popover #popover-login .popover-container .popover-button-involvment .join {
          margin-bottom: 12px;
          margin-right: 20px; }
          .custom-popover #popover-login .popover-container .popover-button-involvment .join button {
            font-family: 'FreigSem';
            font-size: 18px;
            background-color: #FF4D4D;
            padding: 8px 40px;
            border: 1px solid #FF4D4D;
            border-radius: 4px; }
          .custom-popover #popover-login .popover-container .popover-button-involvment .join button:hover {
            background-color: #D94242;
            border: 1px solid #D94242; }
        .custom-popover #popover-login .popover-container .popover-button-involvment .decline {
          margin-bottom: 10px; }
          .custom-popover #popover-login .popover-container .popover-button-involvment .decline button {
            font-family: 'FreigSem';
            font-size: 18px;
            background-color: transparent;
            padding: 8px 40px;
            border: 1px solid white;
            border-radius: 4px; }
          .custom-popover #popover-login .popover-container .popover-button-involvment .decline button:hover {
            background-color: white;
            color: #222222; }
        .custom-popover #popover-login .popover-container .popover-button-involvment .email-login {
          cursor: pointer; }
          .custom-popover #popover-login .popover-container .popover-button-involvment .email-login a {
            font-family: 'FreigSem';
            font-size: 18px; }
          .custom-popover #popover-login .popover-container .popover-button-involvment .email-login img {
            width: 21px;
            height: auto;
            margin-right: 5px;
            position: relative;
            bottom: 1px; }
    .custom-popover #popover-login .involvment-popover img {
      display: inline; }
    .custom-popover #popover-login .involvment-popover p {
      display: inline; }

/*# sourceMappingURL=popover.css.map */
