a:hover {
  color: white; }

#profile-header {
  position: relative;
  height: 410px;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }
  #profile-header h2 {
    font-family: 'FreigSem';
    font-size: 36px; }
  #profile-header h5 {
    font-family: 'FreigBook';
    font-size: 17px; }
  #profile-header .filter {
    position: absolute;
    height: 410px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); }
  #profile-header #profile-modal-newMessageArea .profile-message-needs {
    padding: 25px;
    border-bottom: 1px solid #e5e5e5; }
    #profile-header #profile-modal-newMessageArea .profile-message-needs h5 {
      color: black;
      margin-bottom: 20px; }
    #profile-header #profile-modal-newMessageArea .profile-message-needs .profile-message-need .profile-message-need-project-title img {
      display: inline-block;
      height: 36px;
      width: 36px;
      border-radius: 4px;
      margin-right: 10px; }
    #profile-header #profile-modal-newMessageArea .profile-message-needs .profile-message-need .profile-message-need-project-title h5 {
      display: inline-block;
      font-family: 'FreigSem'; }
    #profile-header #profile-modal-newMessageArea .profile-message-needs .profile-message-need p {
      font-family: 'FreigBook';
      font-size: 16px; }
    #profile-header #profile-modal-newMessageArea .profile-message-needs .profile-message-need li {
      display: inline-block; }
  #profile-header .profile-help-project {
    position: absolute;
    display: inline-block;
    margin: 100px auto;
    max-width: 1000px;
    text-align: center;
    background-color: white;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    box-shadow: 0px 0px 15px #999999;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000000; }
    #profile-header .profile-help-project .profile-help-project-title {
      border-bottom: 1px solid #e5e5e5; }
      #profile-header .profile-help-project .profile-help-project-title h4 {
        display: inline-block;
        font-family: 'FreigBook';
        font-size: 18px;
        color: black;
        padding: 12px; }
    #profile-header .profile-help-project .profile-help-project-needs {
      text-align: center;
      padding: 30px 30px 0px 30px; }
      #profile-header .profile-help-project .profile-help-project-needs .profile-help-project-add-need {
        width: 210px;
        display: inline-block;
        padding: 100px 40px;
        border: dashed 2px #e5e5e5;
        border-radius: 4px;
        margin: 0 10px 20px 10px;
        -webkit-transition: all 200ms linear;
        -o-transition: all 200ms linear;
        -moz-transition: all 200ms linear;
        -ms-transition: all 200ms linear;
        -kthtml-transition: all 200ms linear;
        transition: all 200ms linear; }
        #profile-header .profile-help-project .profile-help-project-needs .profile-help-project-add-need img {
          margin-bottom: 10px; }
        #profile-header .profile-help-project .profile-help-project-needs .profile-help-project-add-need h5 {
          font-family: 'FreigSem';
          color: #FF4D4D;
          margin-bottom: 5px; }
        #profile-header .profile-help-project .profile-help-project-needs .profile-help-project-add-need p {
          font-family: 'FreigMed';
          color: #999999;
          font-size: 14px; }
      #profile-header .profile-help-project .profile-help-project-needs .profile-help-project-add-need:hover {
        border: dashed 2px #999999; }
    #profile-header .profile-help-project .profile-help-project-need-card {
      display: inline-block;
      width: 210px;
      border: 1px solid #e5e5e5;
      border-radius: 4px;
      margin: 0 10px 20px 10px;
      min-height: 328px;
      vertical-align: top; }
      #profile-header .profile-help-project .profile-help-project-need-card .phpnc-picture {
        /*				border-bottom: 1px solid #e5e5e5;
        */
        text-align: left; }
        #profile-header .profile-help-project .profile-help-project-need-card .phpnc-picture .filter_needs_cards {
          background-color: rgba(0, 0, 0, 0.6);
          position: absolute;
          width: 208px;
          height: 97px; }
        #profile-header .profile-help-project .profile-help-project-need-card .phpnc-picture h5 {
          padding: 0px 20px;
          font-family: 'FreigSem';
          color: white;
          margin-bottom: 5px;
          position: relative;
          z-index: 10000000; }
          #profile-header .profile-help-project .profile-help-project-need-card .phpnc-picture h5 span {
            font-family: 'FreigBook';
            font-size: 16px; }
      #profile-header .profile-help-project .profile-help-project-need-card .phpnc-body {
        padding: 25px 20px;
        margin-top: 25px;
        text-align: left; }
        #profile-header .profile-help-project .profile-help-project-need-card .phpnc-body p {
          font-family: 'FreigBook';
          font-size: 14px;
          color: black; }
        #profile-header .profile-help-project .profile-help-project-need-card .phpnc-body ul li {
          display: inline-block;
          background-color: black;
          padding: 2px 5px;
          margin-bottom: 4px;
          margin-right: 5px;
          border-radius: 4px;
          font-family: 'FreigSem';
          font-size: 14px;
          color: white; }
    #profile-header .profile-help-project .profile-help-project-need-card:hover {
      border: 2px solid #C0C0C0; }
    #profile-header .profile-help-project .selected-card {
      border: 2px solid #C0C0C0; }
    #profile-header .profile-help-project .profile-help-project-need-button {
      margin-bottom: 20px; }
      #profile-header .profile-help-project .profile-help-project-need-button button {
        padding: 5px 10px; }
      #profile-header .profile-help-project .profile-help-project-need-button button:hover {
        border: 1px solid #d94242;
        background-color: #d94242; }
      #profile-header .profile-help-project .profile-help-project-need-button .disabled-button {
        opacity: 0.3;
        cursor: default; }
  #profile-header .profile-cover-first {
    position: absolute;
    width: 280px;
    left: 0;
    right: 0;
    top: 25%;
    margin: 0 auto;
    text-align: center;
    z-index: 50; }
    #profile-header .profile-cover-first p {
      font-family: 'FreigBook';
      font-size: 21px;
      color: white;
      margin-bottom: 15px; }
    #profile-header .profile-cover-first a {
      font-family: 'FreigSem';
      font-size: 15px;
      color: white;
      padding: 8px 15px;
      background-color: #ff4d4d;
      border-radius: 4px;
      cursor: pointer;
      -webkit-transition: all 200ms linear;
      -o-transition: all 200ms linear;
      -moz-transition: all 200ms linear;
      -ms-transition: all 200ms linear;
      -kthtml-transition: all 200ms linear;
      transition: all 200ms linear; }
      #profile-header .profile-cover-first a .fa-camera {
        font-size: 16px;
        margin-right: 5px; }
    #profile-header .profile-cover-first a:hover {
      background-color: #d94242; }
  #profile-header .profile-contents {
    position: relative;
    top: 140px;
    z-index: 49;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto; }
    #profile-header .profile-contents .profile-upload-cover {
      position: relative;
      top: -50px;
      display: none;
      float: right;
      cursor: pointer;
      margin-right: 15px;
      background-color: rgba(0, 0, 0, 0.3);
      padding: 5px 10px;
      border-radius: 4px; }
      #profile-header .profile-contents .profile-upload-cover p {
        display: inline-block;
        font-family: 'FreigBook';
        font-size: 16px;
        color: white;
        margin: 0; }
      #profile-header .profile-contents .profile-upload-cover i {
        display: inline-block;
        margin-right: 10px; }
      #profile-header .profile-contents .profile-upload-cover .fa-camera {
        color: white;
        font-size: 18px;
        -webkit-transition: all 150ms linear;
        -o-transition: all 150ms linear;
        -moz-transition: all 150ms linear;
        -ms-transition: all 150ms linear;
        -kthtml-transition: all 150ms linear;
        transition: all 150ms linear; }
    #profile-header .profile-contents .profile-upload-cover:hover {
      background-color: rgba(0, 0, 0, 0.5); }
      #profile-header .profile-contents .profile-upload-cover:hover .fa-camera {
        transform: scale(0.9, 0.9); }
    #profile-header .profile-contents .profile-info {
      display: inline-block; }
      #profile-header .profile-contents .profile-info .tooltipw:before {
        bottom: -20px;
        content: " ";
        display: block;
        height: 20px;
        left: 0;
        position: absolute; }
      #profile-header .profile-contents .profile-info .tooltipw:after {
        border-left: solid transparent 6px;
        border-right: solid transparent 6px;
        border-bottom: solid black 6px;
        top: -5px;
        content: " ";
        height: 0;
        left: 50%;
        margin-left: -7px;
        position: absolute; }
      #profile-header .profile-contents .profile-info .spinner-item {
        height: 9px;
        width: 9px; }
      #profile-header .profile-contents .profile-info .profile-update-picture {
        position: absolute;
        height: inherit;
        width: 100%;
        cursor: pointer;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.5);
        display: none; }
        #profile-header .profile-contents .profile-info .profile-update-picture .fa-camera {
          position: absolute;
          top: 47%;
          left: 45%;
          color: #e5e5e5;
          -webkit-transition: all 100ms linear;
          -o-transition: all 100ms linear;
          -moz-transition: all 100ms linear;
          -ms-transition: all 100ms linear;
          -kthtml-transition: all 100ms linear;
          transition: all 100ms linear;
          font-size: 20px; }
      #profile-header .profile-contents .profile-info .profile-info-picture {
        display: inline-block;
        position: relative;
        margin: 0px 10px;
        border-radius: 50%;
        width: 154px;
        height: 154px; }
        #profile-header .profile-contents .profile-info .profile-info-picture img {
          width: auto;
          height: 154px;
          border-radius: 50%; }
      #profile-header .profile-contents .profile-info .profile-info-picture2 {
        display: inline-block;
        position: relative;
        margin: 0px 10px;
        border: 3px solid white;
        border-radius: 50%;
        overflow: hidden;
        width: 154px;
        height: 154px; }
        #profile-header .profile-contents .profile-info .profile-info-picture2 img {
          width: auto;
          height: 154px; }
      #profile-header .profile-contents .profile-info .profile-info-top-rank {
        position: absolute;
        right: -5px;
        background-color: white;
        border-radius: 10px;
        bottom: 10px; }
        #profile-header .profile-contents .profile-info .profile-info-top-rank .tooltipw {
          display: block;
          background: black;
          /*					bottom: 38px;
          				left: -7.5px;*/
          left: -90px;
          top: 55px;
          font-family: 'FreigSem';
          font-size: 13px;
          color: #fff;
          opacity: 0;
          min-width: 220px;
          z-index: 10000000;
          padding: 3px 5px;
          border-radius: 4px;
          pointer-events: none;
          position: absolute;
          margin-top: -25px;
          -webkit-transform: translateY(10px);
          -moz-transform: translateY(10px);
          -ms-transform: translateY(10px);
          -o-transform: translateY(10px);
          transform: translateY(10px);
          -webkit-transition: all .25s ease-out;
          -moz-transition: all .25s ease-out;
          -ms-transition: all .25s ease-out;
          -o-transition: all .25s ease-out;
          transition: all .25s ease-out;
          /*-webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
          -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
          -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
          -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
          box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);*/ }
          #profile-header .profile-contents .profile-info .profile-info-top-rank .tooltipw p {
            text-align: center; }
        #profile-header .profile-contents .profile-info .profile-info-top-rank h5 {
          color: black;
          padding: 2px 8px 4px 8px;
          font-size: 14px;
          font-family: 'FreigMed'; }
      #profile-header .profile-contents .profile-info .profile-info-top-rank:hover .tooltipw {
        opacity: 1;
        pointer-events: auto;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px); }
      #profile-header .profile-contents .profile-info .profile-upload-picture {
        width: 154px;
        height: auto; }
      #profile-header .profile-contents .profile-info .profile-info-cv {
        display: inline-block;
        position: relative;
        /*				float: right;
        */
        top: 55px;
        vertical-align: top;
        margin: 0 10px; }
        #profile-header .profile-contents .profile-info .profile-info-cv .info-line {
          /*					margin-bottom: 5px;
          */ }
        #profile-header .profile-contents .profile-info .profile-info-cv .info-about {
          display: none; }
        #profile-header .profile-contents .profile-info .profile-info-cv .profile-influencer {
          margin-top: 15px; }
          #profile-header .profile-contents .profile-info .profile-info-cv .profile-influencer p {
            font-family: 'FreigSem';
            font-size: 16px;
            display: inline-block;
            background-color: white;
            border-radius: 4px;
            padding: 2px 10px; }
        #profile-header .profile-contents .profile-info .profile-info-cv #location-input-mobile {
          display: none; }
        #profile-header .profile-contents .profile-info .profile-info-cv .location .location-name-city {
          display: inline-block; }
        #profile-header .profile-contents .profile-info .profile-info-cv .location h5 {
          display: inline-block; }
        #profile-header .profile-contents .profile-info .profile-info-cv .location img {
          display: inline-block;
          width: auto;
          height: 16px;
          outline: 0; }
        #profile-header .profile-contents .profile-info .profile-info-cv .location input {
          position: relative;
          bottom: 3px;
          width: 100%;
          padding: 4px 10px;
          border: 1px solid #e5e5e5;
          border-radius: 4px;
          font-family: 'FreigBook';
          font-size: 16px;
          color: #222222; }
        #profile-header .profile-contents .profile-info .profile-info-cv .location .location-name {
          display: inline-block;
          position: relative;
          margin: 0px 10px 0px 5px;
          top: 2px; }
          #profile-header .profile-contents .profile-info .profile-info-cv .location .location-name h5 {
            top: 10px;
            font-size: 16px; }
          #profile-header .profile-contents .profile-info .profile-info-cv .location .location-name input {
            background-color: transparent;
            border-bottom: 1px solid white;
            border-top: none;
            border-left: none;
            border-right: none;
            border-radius: 0;
            color: white; }
        #profile-header .profile-contents .profile-info .profile-info-cv .location .profile-info-rank {
          display: inline-block; }
          #profile-header .profile-contents .profile-info .profile-info-cv .location .profile-info-rank .tooltipw {
            display: block;
            background: black;
            /*					bottom: 38px;
            				left: -7.5px;*/
            margin-left: -90px;
            top: 95px;
            font-family: 'FreigSem';
            font-size: 13px;
            color: #fff;
            opacity: 0;
            width: 210px;
            z-index: 10000000;
            padding: 3px 5px;
            border-radius: 4px;
            pointer-events: none;
            position: absolute;
            margin-top: -25px;
            -webkit-transform: translateY(10px);
            -moz-transform: translateY(10px);
            -ms-transform: translateY(10px);
            -o-transform: translateY(10px);
            transform: translateY(10px);
            -webkit-transition: all .25s ease-out;
            -moz-transition: all .25s ease-out;
            -ms-transition: all .25s ease-out;
            -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
            /*-webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
            -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
            -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
            -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
            box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);*/ }
          #profile-header .profile-contents .profile-info .profile-info-cv .location .profile-info-rank h4 {
            position: relative;
            display: inline-block;
            font-family: 'FreigBook';
            color: white;
            font-size: 21px;
            top: 2px; }
          #profile-header .profile-contents .profile-info .profile-info-cv .location .profile-info-rank img {
            display: inline-block;
            width: 8px; }
        #profile-header .profile-contents .profile-info .profile-info-cv .location .profile-info-rank:hover .tooltipw {
          opacity: 1;
          pointer-events: auto;
          -webkit-transform: translateY(0px);
          -moz-transform: translateY(0px);
          -ms-transform: translateY(0px);
          -o-transform: translateY(0px);
          transform: translateY(0px); }
        #profile-header .profile-contents .profile-info .profile-info-cv .location .location-social {
          display: inline-block;
          float: right;
          margin: 0 20px; }
          #profile-header .profile-contents .profile-info .profile-info-cv .location .location-social li {
            display: inline-block; }
            #profile-header .profile-contents .profile-info .profile-info-cv .location .location-social li a {
              width: 20px;
              height: 20px;
              margin: 0 4px; }
            #profile-header .profile-contents .profile-info .profile-info-cv .location .location-social li a.website {
              display: block;
              background-image: url("/images/social_media/website-logo.png");
              background-position: center;
              background-repeat: no-repeat;
              background-size: 100%; }
            #profile-header .profile-contents .profile-info .profile-info-cv .location .location-social li a.fb {
              display: block;
              background-image: url("/images/social_media/facebook-logo.png");
              background-position: center;
              background-repeat: no-repeat;
              background-size: 9px; }
            #profile-header .profile-contents .profile-info .profile-info-cv .location .location-social li a.tw {
              display: block;
              background-image: url("/images/social_media/twitter-logo.png");
              background-position: center;
              background-repeat: no-repeat;
              background-size: 100%; }
            #profile-header .profile-contents .profile-info .profile-info-cv .location .location-social li a.gp {
              display: block;
              background-image: url("/images/social_media/googleplus-logo.png");
              background-position: center;
              background-repeat: no-repeat;
              background-size: 100%; }
            #profile-header .profile-contents .profile-info .profile-info-cv .location .location-social li a.ln {
              display: block;
              background-image: url("/images/social_media/linkedin-logo.png");
              background-position: center;
              background-repeat: no-repeat;
              background-size: 100%; }
      #profile-header .profile-contents .profile-info .profile-mobile-user-options {
        display: none; }
      #profile-header .profile-contents .profile-info .profile-follow-mobile {
        display: none; }
      #profile-header .profile-contents .profile-info .profile-edit-mobile {
        display: none; }
  #profile-header .profile-bottom {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 72px;
    background-color: rgba(0, 0, 0, 0.5); }
    #profile-header .profile-bottom .profile-bottom-info {
      margin-left: auto;
      margin-right: auto;
      max-width: 1000px;
      height: inherit; }
      #profile-header .profile-bottom .profile-bottom-info .profile-follow {
        display: inline-block;
        position: relative;
        margin-left: 15px;
        padding: 0 10px;
        top: 8px; }
        #profile-header .profile-bottom .profile-bottom-info .profile-follow .follower {
          display: inline-block;
          position: relative;
          padding: 0 8px;
          text-align: center;
          cursor: pointer; }
          #profile-header .profile-bottom .profile-bottom-info .profile-follow .follower h2 {
            font-family: 'FreigSem';
            font-size: 19px; }
          #profile-header .profile-bottom .profile-bottom-info .profile-follow .follower h5 {
            font-size: 14px; }
        #profile-header .profile-bottom .profile-bottom-info .profile-follow .follow,
        #profile-header .profile-bottom .profile-bottom-info .profile-follow .followed {
          position: relative;
          bottom: 14px;
          text-align: center;
          height: 50px;
          cursor: pointer; }
        #profile-header .profile-bottom .profile-bottom-info .profile-follow .profile-follow-dropdown2 {
          margin-top: 14px; }
        #profile-header .profile-bottom .profile-bottom-info .profile-follow .profile-follow-dropdown {
          position: absolute;
          max-height: 290px;
          width: 250px;
          background-color: white;
          border: 1px solid #e5e5e5;
          border-radius: 4px;
          padding: 5px;
          overflow: scroll;
          z-index: 1000; }
          #profile-header .profile-bottom .profile-bottom-info .profile-follow .profile-follow-dropdown h4 {
            font-family: 'FreigBook';
            font-size: 16px;
            color: black;
            word-break: break-all; }
          #profile-header .profile-bottom .profile-bottom-info .profile-follow .profile-follow-dropdown span {
            font-family: 'FreigBook';
            font-size: 14px;
            color: #999999; }
          #profile-header .profile-bottom .profile-bottom-info .profile-follow .profile-follow-dropdown h4 {
            font-family: 'FreigBook';
            font-size: 16px;
            color: black;
            word-break: break-all; }
          #profile-header .profile-bottom .profile-bottom-info .profile-follow .profile-follow-dropdown span {
            font-family: 'FreigBook';
            font-size: 14px;
            color: #999999; }
          #profile-header .profile-bottom .profile-bottom-info .profile-follow .profile-follow-dropdown .profile-pfollow-list {
            width: 100%; }
            #profile-header .profile-bottom .profile-bottom-info .profile-follow .profile-follow-dropdown .profile-pfollow-list .profile-pfollow-picture {
              display: inline-block;
              background-repeat: no-repeat;
              background-size: cover;
              background-position: center center;
              width: 36px;
              height: 36px;
              border-radius: 4px;
              margin: 5px 0; }
            #profile-header .profile-bottom .profile-bottom-info .profile-follow .profile-follow-dropdown .profile-pfollow-list .profile-pfollow-info {
              display: inline-block;
              width: 170px;
              min-height: 36px;
              margin-top: 5px;
              margin-left: 5px;
              padding-left: 5px;
              vertical-align: top;
              text-align: left;
              overflow: hidden;
              -webkit-transition: all 250ms linear;
              -o-transition: all 250ms linear;
              -moz-transition: all 250ms linear;
              -ms-transition: all 250ms linear;
              -kthtml-transition: all 250ms linear;
              transition: all 250ms linear; }
            #profile-header .profile-bottom .profile-bottom-info .profile-follow .profile-follow-dropdown .profile-pfollow-list .profile-pfollow-info:hover {
              background-color: #fafafa;
              border-radius: 4px; }
          #profile-header .profile-bottom .profile-bottom-info .profile-follow .profile-follow-dropdown .follow-list-dd .profile-followed-picture {
            display: inline-block;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            width: 36px;
            height: 36px;
            border-radius: 50%;
            margin: 5px 0; }
          #profile-header .profile-bottom .profile-bottom-info .profile-follow .profile-follow-dropdown .follow-list-dd .profile-follow-info {
            display: inline-block;
            width: 170px;
            min-height: 36px;
            margin-top: 5px;
            margin-left: 5px;
            padding-left: 5px;
            vertical-align: top;
            text-align: left;
            overflow: hidden;
            -webkit-transition: all 250ms linear;
            -o-transition: all 250ms linear;
            -moz-transition: all 250ms linear;
            -ms-transition: all 250ms linear;
            -kthtml-transition: all 250ms linear;
            transition: all 250ms linear; }
          #profile-header .profile-bottom .profile-bottom-info .profile-follow .profile-follow-dropdown .follow-list-dd .profile-follow-info:hover {
            background-color: #fafafa;
            border-radius: 4px; }
      #profile-header .profile-bottom .profile-bottom-info .profile-user-projects {
        display: inline-block;
        position: relative;
        bottom: 5px;
        cursor: pointer;
        margin-left: 109px;
        height: inherit; }
        #profile-header .profile-bottom .profile-bottom-info .profile-user-projects .profile-projects-text {
          display: inline-block;
          margin-right: 5px;
          padding: 27px 0; }
          #profile-header .profile-bottom .profile-bottom-info .profile-user-projects .profile-projects-text h6 {
            font-family: 'FreigBook';
            font-size: 15px; }
        #profile-header .profile-bottom .profile-bottom-info .profile-user-projects .profile-projects-picture {
          display: inline-block;
          height: inherit;
          float: right;
          padding: 15px 0; }
          #profile-header .profile-bottom .profile-bottom-info .profile-user-projects .profile-projects-picture .profile-pp {
            display: inline-block;
            width: 40px;
            height: 40px;
            border-radius: 5px;
            margin: 0 4px;
            overflow: hidden; }
            #profile-header .profile-bottom .profile-bottom-info .profile-user-projects .profile-projects-picture .profile-pp img {
              width: auto;
              height: 40px; }
          #profile-header .profile-bottom .profile-bottom-info .profile-user-projects .profile-projects-picture .profile-arrow {
            display: inline-block;
            float: right;
            padding: 11px 0; }
            #profile-header .profile-bottom .profile-bottom-info .profile-user-projects .profile-projects-picture .profile-arrow img {
              margin-left: 5px;
              width: 15px;
              -webkit-transition: all 150ms linear;
              -o-transition: all 150ms linear;
              -moz-transition: all 150ms linear;
              -ms-transition: all 150ms linear;
              -kthtml-transition: all 150ms linear;
              transition: all 150ms linear; }
      #profile-header .profile-bottom .profile-bottom-info .profile-user-options {
        display: inline-block;
        float: right;
        padding: 0px 0px 0px 40px;
        position: relative;
        height: 70px;
        position: relative;
        top: 0; }
        #profile-header .profile-bottom .profile-bottom-info .profile-user-options a {
          font-family: 'FreigBook';
          font-size: 16px;
          cursor: pointer; }
        #profile-header .profile-bottom .profile-bottom-info .profile-user-options .profile-text-link {
          display: inline-block;
          padding: 23px 7px; }
          #profile-header .profile-bottom .profile-bottom-info .profile-user-options .profile-text-link .ptl-ask {
            position: absolute;
            background-color: white;
            border: 1px solid #e5e5e5;
            border-radius: 4px;
            z-index: 100000;
            padding: 5px 15px;
            margin-top: 15px;
            left: 20px; }
            #profile-header .profile-bottom .profile-bottom-info .profile-user-options .profile-text-link .ptl-ask li {
              padding: 5px 0; }
              #profile-header .profile-bottom .profile-bottom-info .profile-user-options .profile-text-link .ptl-ask li img {
                height: 36px;
                width: 36px;
                margin-right: 10px;
                border-radius: 4px; }
            #profile-header .profile-bottom .profile-bottom-info .profile-user-options .profile-text-link .ptl-ask h4 {
              display: inline-block;
              font-family: 'FreigBook';
              font-size: 16px;
              color: black; }
        #profile-header .profile-bottom .profile-bottom-info .profile-user-options .profile-follow-link {
          display: inline-block;
          background-color: transparent;
          margin: 17px 7px 0 7px;
          border: 1px solid white;
          border-radius: 4px;
          padding: 6px 15px 7px 15px;
          color: white;
          font-family: 'FreigSem';
          font-size: 16px;
          float: right;
          -webkit-transition: all 200ms linear;
          -o-transition: all 200ms linear;
          -moz-transition: all 200ms linear;
          -ms-transition: all 200ms linear;
          -kthtml-transition: all 200ms linear;
          transition: all 200ms linear; }
          #profile-header .profile-bottom .profile-bottom-info .profile-user-options .profile-follow-link .fa-plus {
            font-size: 14px;
            margin-right: 10px; }
          #profile-header .profile-bottom .profile-bottom-info .profile-user-options .profile-follow-link .fa-check {
            font-size: 14px;
            margin-right: 10px; }
        #profile-header .profile-bottom .profile-bottom-info .profile-user-options .profile-follow-link:hover {
          background-color: white;
          color: black; }

.profile-bottom-mobile {
  display: none; }

.profile-save-mobile {
  display: none; }

#profile-mobile-slideDown {
  display: none; }

#profile-slideDown .profile-slideDown-container .profile-slideDown-project {
  max-width: 1000px;
  padding: 70px 15px 0px 15px;
  margin: 0 auto; }
  #profile-slideDown .profile-slideDown-container .profile-slideDown-project .profile-slideDown-article {
    display: inline-block;
    text-align: center; }
    #profile-slideDown .profile-slideDown-container .profile-slideDown-project .profile-slideDown-article .profile-slideDown-card {
      margin: 0 16px 0 16px;
      display: inline-block;
      width: 287px;
      height: 418px;
      border: 1px solid #E5E5E5;
      border-radius: 5px;
      overflow: hidden; }
      #profile-slideDown .profile-slideDown-container .profile-slideDown-project .profile-slideDown-article .profile-slideDown-card .card-tag .card-tag-content {
        z-index: 0; }
    #profile-slideDown .profile-slideDown-container .profile-slideDown-project .profile-slideDown-article .profile-slideDown-text p {
      font-family: 'FreigBook';
      font-size: 15px;
      color: #999999;
      padding: 15px 0; }
#profile-slideDown .profile-slideDown-container .profile-slideDown-close {
  text-align: center;
  margin-top: 30px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 2px solid #e5e5e5;
  background-color: #FAFAFA;
  cursor: pointer; }
  #profile-slideDown .profile-slideDown-container .profile-slideDown-close p {
    font-family: 'FreigSem';
    font-size: 18px;
    color: #222222;
    margin: 15px 0; }

.profile-mobile-edit-photos {
  display: none; }

#profile-corps {
  position: relative;
  z-index: 1; }
  #profile-corps h2 {
    display: inline-block;
    font-family: 'FreigLight';
    font-size: 36px;
    color: #222222;
    padding-bottom: 10px; }
  #profile-corps .profile-mobile-contents {
    display: none; }
  #profile-corps .profile-contents {
    max-width: 1024px;
    margin: 0 auto;
    background-color: white; }
    #profile-corps .profile-contents .profile-aside {
      display: inline-block;
      float: left;
      padding: 40px 40px;
      width: 370px; }
      #profile-corps .profile-contents .profile-aside .profile-no-data {
        font-family: 'FreigBook';
        font-size: 18px;
        line-height: 28px;
        color: #ccc !important;
        margin: 40px 0 70px 40px !important;
        margin-bottom: 0; }
      #profile-corps .profile-contents .profile-aside li {
        display: inline-block;
        font-family: 'FreigSem';
        font-size: 13px;
        text-transform: uppercase;
        padding: 2px 4px;
        border-radius: 4px;
        margin-bottom: 5px;
        margin-right: 4px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-transition: all 100ms linear;
        -o-transition: all 100ms linear;
        -moz-transition: all 100ms linear;
        -ms-transition: all 100ms linear;
        -kthtml-transition: all 100ms linear;
        transition: all 100ms linear; }
      #profile-corps .profile-contents .profile-aside .profile-first-aside {
        margin: 20px 0; }
        #profile-corps .profile-contents .profile-aside .profile-first-aside .profile-edit-skills {
          display: inline-block;
          position: relative;
          bottom: 6px;
          margin-left: 10px;
          outline: 0; }
        #profile-corps .profile-contents .profile-aside .profile-first-aside .profile-aside-skills {
          padding-left: 5px;
          padding-top: 4px; }
          #profile-corps .profile-contents .profile-aside .profile-first-aside .profile-aside-skills li {
            background-color: #222222;
            color: white;
            cursor: pointer; }
          #profile-corps .profile-contents .profile-aside .profile-first-aside .profile-aside-skills li:hover {
            background-color: #999999; }
      #profile-corps .profile-contents .profile-aside .profile-second-aside {
        margin: 20px 0; }
        #profile-corps .profile-contents .profile-aside .profile-second-aside img {
          display: inline-block;
          position: relative;
          bottom: 5px;
          margin-left: 10px;
          outline: 0; }
        #profile-corps .profile-contents .profile-aside .profile-second-aside .profile-aside-interests {
          padding-left: 5px;
          padding-top: 4px; }
          #profile-corps .profile-contents .profile-aside .profile-second-aside .profile-aside-interests li {
            background-color: #999999;
            color: white; }
          #profile-corps .profile-contents .profile-aside .profile-second-aside .profile-aside-interests li:hover {
            background-color: #222222; }
    #profile-corps .profile-contents .profile-main {
      display: inline-block;
      width: 630px;
      padding-top: 40px;
      padding-right: 20px;
      padding-bottom: 200px;
      min-height: 800px; }
      #profile-corps .profile-contents .profile-main .profile-no-data {
        font-family: 'FreigBook';
        font-size: 18px;
        line-height: 28px;
        text-align: center;
        color: #ccc !important;
        margin: 70px 0 !important;
        margin-bottom: 0; }
      #profile-corps .profile-contents .profile-main .profile-main-about {
        margin-top: 20px;
        margin-bottom: 20px; }
        #profile-corps .profile-contents .profile-main .profile-main-about img {
          display: inline-block;
          position: relative;
          bottom: 5px;
          margin-left: 10px;
          outline: 0; }
        #profile-corps .profile-contents .profile-main .profile-main-about p {
          font-family: 'FreigBook';
          font-size: 18px;
          color: #222222;
          margin-bottom: 0px;
          line-height: 26px; }
        #profile-corps .profile-contents .profile-main .profile-main-about a {
          color: blue; }
      #profile-corps .profile-contents .profile-main .profile-main-experience {
        margin-top: 60px; }
        #profile-corps .profile-contents .profile-main .profile-main-experience .fa-plus {
          display: inline-block;
          position: relative;
          bottom: 2px;
          margin-left: 10px;
          outline: 0;
          font-size: 15px;
          color: #999999; }
          #profile-corps .profile-contents .profile-main .profile-main-experience .fa-plus span {
            position: relative;
            font-family: 'FreigSem';
            font-size: 15px;
            margin-left: 2px;
            bottom: 1px; }
        #profile-corps .profile-contents .profile-main .profile-main-experience .profile-exp-list .profile-exp {
          padding-bottom: 10px;
          border-bottom: 1px solid #E5E5E5; }
          #profile-corps .profile-contents .profile-main .profile-main-experience .profile-exp-list .profile-exp .profile-exp-post {
            padding-top: 10px; }
            #profile-corps .profile-contents .profile-main .profile-main-experience .profile-exp-list .profile-exp .profile-exp-post h3 {
              display: inline-block;
              font-family: 'FreigSem';
              color: #222222;
              font-size: 18px;
              padding-right: 8px;
              padding-top: 2px;
              padding-bottom: 2px;
              border-right: 1px solid black; }
            #profile-corps .profile-contents .profile-main .profile-main-experience .profile-exp-list .profile-exp .profile-exp-post h4 {
              display: inline-block;
              font-family: 'FreigBook';
              color: #222222;
              font-size: 18px;
              padding-left: 8px; }
            #profile-corps .profile-contents .profile-main .profile-main-experience .profile-exp-list .profile-exp .profile-exp-post .profile-exp-option {
              float: right;
              position: relative;
              top: 2px;
              margin-right: 10px; }
              #profile-corps .profile-contents .profile-main .profile-main-experience .profile-exp-list .profile-exp .profile-exp-post .profile-exp-option img {
                width: 16px;
                height: 16px;
                outline: 0; }
              #profile-corps .profile-contents .profile-main .profile-main-experience .profile-exp-list .profile-exp .profile-exp-post .profile-exp-option .fa-trash {
                color: #999999;
                font-size: 16px;
                outline: 0; }
          #profile-corps .profile-contents .profile-main .profile-main-experience .profile-exp-list .profile-exp .profile-exp-period {
            margin-top: 3px; }
            #profile-corps .profile-contents .profile-main .profile-main-experience .profile-exp-list .profile-exp .profile-exp-period span {
              font-family: 'FreigBook';
              font-size: 14px;
              color: #999999; }
            #profile-corps .profile-contents .profile-main .profile-main-experience .profile-exp-list .profile-exp .profile-exp-period .exp-location {
              margin-left: 10px; }
          #profile-corps .profile-contents .profile-main .profile-main-experience .profile-exp-list .profile-exp .profile-exp-description {
            margin-top: 4px; }
          #profile-corps .profile-contents .profile-main .profile-main-experience .profile-exp-list .profile-exp p {
            font-family: 'FreigBook';
            font-size: 16px;
            color: #222222;
            line-height: 18px;
            margin-bottom: 0; }
            #profile-corps .profile-contents .profile-main .profile-main-experience .profile-exp-list .profile-exp p a {
              color: blue; }
      #profile-corps .profile-contents .profile-main .profile-main-portfolio {
        margin-top: 20px; }

/*********************** MEDIA QUERIES MOBILE WIDTH \*320px to 736px*\ **************************/
@media only screen and (max-width: 736px) {
  #profile-header {
    height: 480px; }
    #profile-header .filter {
      height: inherit; }
    #profile-header .profile-cover-first {
      display: none; }
    #profile-header .profile-contents {
      position: static;
      padding-top: 105px;
      text-align: center; }
      #profile-header .profile-contents .profile-upload-cover {
        display: none; }
      #profile-header .profile-contents .profile-info {
        display: block;
        /*				.profile-edit-mobile {
        					display: block;
        					position: relative;
        
        					button {
        						background-image: url('/images/picto-edit-w.svg');
        						background-repeat: no-repeat;;
        						background-position: 8% 50%;
        						font-family: "FreigBook";
        						font-size: 16px;
        						color: white;
        						background-color: transparent;
        						border: 2px solid white;
        						border-radius: 4px;
        						padding: 5px 10px 5px 35px;
        					}
        				}*/ }
        #profile-header .profile-contents .profile-info .profile-update-picture {
          display: none; }
        #profile-header .profile-contents .profile-info .profile-info-picture {
          display: block;
          margin: 0px auto;
          width: 110px;
          height: 110px;
          /*					border: 2px solid white;
          */ }
          #profile-header .profile-contents .profile-info .profile-info-picture img {
            width: auto;
            height: 110px;
            border-radius: 50%; }
        #profile-header .profile-contents .profile-info .profile-info-cv {
          display: block;
          top: 0;
          float: none;
          margin: 10px 0px 6px 0px; }
          #profile-header .profile-contents .profile-info .profile-info-cv .info-line {
            margin-bottom: 5px;
            padding: 0 20px; }
            #profile-header .profile-contents .profile-info .profile-info-cv .info-line h1 {
              font-size: 27px; }
          #profile-header .profile-contents .profile-info .profile-info-cv .info-about {
            display: block;
            padding: 0 20px;
            margin-bottom: 5px; }
            #profile-header .profile-contents .profile-info .profile-info-cv .info-about h3 {
              font-family: 'FreigBook';
              font-size: 16px; }
          #profile-header .profile-contents .profile-info .profile-info-cv #location-input {
            display: none;
            -webkit-transition: all 200ms linear;
            -o-transition: all 200ms linear;
            -moz-transition: all 200ms linear;
            -ms-transition: all 200ms linear;
            -kthtml-transition: all 200ms linear;
            transition: all 200ms linear; }
          #profile-header .profile-contents .profile-info .profile-info-cv #location-input-mobile {
            display: block;
            margin-bottom: 10px; }
        #profile-header .profile-contents .profile-info .profile-follow-mobile {
          display: block;
          position: relative;
          margin-bottom: 12px; }
          #profile-header .profile-contents .profile-info .profile-follow-mobile h2 {
            font-family: "FreigMed";
            font-size: 24px; }
          #profile-header .profile-contents .profile-info .profile-follow-mobile h5 {
            font-size: 14px; }
          #profile-header .profile-contents .profile-info .profile-follow-mobile .follower {
            display: inline-block;
            vertical-align: top;
            margin: 0 10px; }
        #profile-header .profile-contents .profile-info .profile-mobile-user-options {
          display: inline-block;
          position: relative; }
          #profile-header .profile-contents .profile-info .profile-mobile-user-options .profile-mobile-connect .profile-text-link {
            margin: 0 5px;
            display: inline-block;
            border: 1px solid white;
            border-radius: 4px;
            padding: 4px 20px 6px 20px; }
            #profile-header .profile-contents .profile-info .profile-mobile-user-options .profile-mobile-connect .profile-text-link a {
              font-family: 'FreigBook';
              font-size: 16px;
              color: white; }
          #profile-header .profile-contents .profile-info .profile-mobile-user-options .profile-mobile-connect .profile-follow-link {
            margin: 0 5px;
            display: inline-block;
            font-family: 'FreigSem';
            font-size: 16px;
            color: white;
            padding: 4px 12px 6px 12px;
            border: 1px solid #416299;
            border-radius: 4px;
            background-color: #416299; }
            #profile-header .profile-contents .profile-info .profile-mobile-user-options .profile-mobile-connect .profile-follow-link i {
              margin-right: 8px;
              position: relative;
              top: 1px; }
          #profile-header .profile-contents .profile-info .profile-mobile-user-options button {
            padding: 4px 15px 6px 15px;
            background-color: transparent;
            border: 1px solid white;
            border-radius: 4px;
            font-family: 'FreigBook';
            font-size: 18px;
            color: white; }
            #profile-header .profile-contents .profile-info .profile-mobile-user-options button i {
              margin-right: 8px; }
    #profile-header .profile-bottom {
      display: none; }
    #profile-header .profile-bottom-mobile {
      display: block;
      position: absolute;
      width: 100%;
      bottom: 0;
      padding: 5px 0;
      background-color: rgba(0, 0, 0, 0.5); }
      #profile-header .profile-bottom-mobile h5 {
        font-family: "FreigBook";
        font-size: 14px;
        color: white; }
      #profile-header .profile-bottom-mobile .profile-mobile-user-projects {
        display: inline-block;
        vertical-align: top;
        padding-top: 12px;
        margin-left: 20px; }
      #profile-header .profile-bottom-mobile .profile-mobile-projects-picture {
        display: inline-block;
        float: right; }
        #profile-header .profile-bottom-mobile .profile-mobile-projects-picture .profile-pp {
          display: inline-block;
          position: relative;
          top: 2px;
          width: 35px;
          height: 35px;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center center;
          border-radius: 4px;
          margin: 0px 2px;
          overflow: hidden; }
        #profile-header .profile-bottom-mobile .profile-mobile-projects-picture .profile-pp-arrow {
          display: inline-block;
          width: 20px;
          height: 35px;
          background-image: url("/images/arrow-down-icon-w.svg");
          background-repeat: no-repeat;
          background-size: 13px;
          background-position: center center;
          margin-right: 10px; }

  #profile-slideDown {
    display: none; }

  #profile-mobile-slideDown {
    display: none; }
    #profile-mobile-slideDown .profile-mobile-cardProject {
      margin-top: 20px; }
      #profile-mobile-slideDown .profile-mobile-cardProject .profile-slideDown-card {
        display: inline-block;
        margin-left: 30px;
        margin-right: 30px;
        width: 287px !important;
        height: 418px;
        border: 1px solid #E5E5E5;
        border-radius: 5px;
        overflow: hidden; }
    #profile-mobile-slideDown .profile-mobile-slideDown-close {
      text-align: center;
      margin-top: 60px;
      border-top: 1px solid #e5e5e5;
      border-bottom: 2px solid #e5e5e5;
      background-color: #FAFAFA;
      cursor: pointer; }
      #profile-mobile-slideDown .profile-mobile-slideDown-close p {
        font-family: 'FreigSem';
        font-size: 18px;
        color: #222222;
        margin: 15px 0; }

  #profile-corps .profile-contents {
    display: none; }
  #profile-corps .profile-mobile-contents {
    display: block;
    padding: 20px; }
    #profile-corps .profile-mobile-contents p {
      font-family: 'FreigBook';
      font-size: 18px;
      color: #222222;
      margin-bottom: 20px;
      line-height: 24px; }
    #profile-corps .profile-mobile-contents li {
      display: inline-block;
      font-family: 'FreigSem';
      font-size: 13px;
      text-transform: uppercase;
      padding: 2px 4px;
      border-radius: 4px;
      margin-bottom: 5px;
      margin-right: 4px;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      -webkit-transition: all 100ms linear;
      -o-transition: all 100ms linear;
      -moz-transition: all 100ms linear;
      -ms-transition: all 100ms linear;
      -kthtml-transition: all 100ms linear;
      transition: all 100ms linear; }
    #profile-corps .profile-mobile-contents img {
      float: right;
      position: relative;
      top: 15px; }
    #profile-corps .profile-mobile-contents img:focus {
      outline: 0; }
    #profile-corps .profile-mobile-contents .profile-mobile-skills {
      margin-bottom: 15px; }
      #profile-corps .profile-mobile-contents .profile-mobile-skills .profile-mobile-skills-list li {
        background-color: #222222;
        color: white;
        cursor: pointer; }
    #profile-corps .profile-mobile-contents .profile-mobile-interests {
      margin-bottom: 15px; }
      #profile-corps .profile-mobile-contents .profile-mobile-interests .profile-mobile-interests-list li {
        background-color: #999999;
        color: white;
        cursor: pointer; }
    #profile-corps .profile-mobile-contents .profile-mobile-experience {
      margin-top: 20px;
      margin-bottom: 25px; }
      #profile-corps .profile-mobile-contents .profile-mobile-experience .fa-plus {
        display: inline-block;
        position: relative;
        bottom: 2px;
        margin-left: 10px;
        outline: 0;
        font-size: 15px;
        color: #999999; }
        #profile-corps .profile-mobile-contents .profile-mobile-experience .fa-plus span {
          position: relative;
          font-family: 'FreigSem';
          font-size: 15px;
          margin-left: 2px;
          bottom: 1px; }
      #profile-corps .profile-mobile-contents .profile-mobile-experience .profile-exp-list .profile-exp {
        padding-bottom: 10px;
        border-bottom: 1px solid #E5E5E5; }
        #profile-corps .profile-mobile-contents .profile-mobile-experience .profile-exp-list .profile-exp img {
          float: none;
          top: 0; }
        #profile-corps .profile-mobile-contents .profile-mobile-experience .profile-exp-list .profile-exp .profile-exp-post {
          padding-top: 10px; }
          #profile-corps .profile-mobile-contents .profile-mobile-experience .profile-exp-list .profile-exp .profile-exp-post h3 {
            display: inline-block;
            font-family: 'FreigSem';
            color: #222222;
            font-size: 18px;
            padding-right: 8px;
            padding-top: 2px;
            padding-bottom: 2px; }
          #profile-corps .profile-mobile-contents .profile-mobile-experience .profile-exp-list .profile-exp .profile-exp-post span {
            display: inline-block;
            font-family: 'FreigBook';
            color: #222222;
            font-size: 18px;
            padding-left: 8px; }
          #profile-corps .profile-mobile-contents .profile-mobile-experience .profile-exp-list .profile-exp .profile-exp-post .profile-exp-option {
            float: right;
            position: relative;
            top: 2px;
            margin-right: 10px; }
            #profile-corps .profile-mobile-contents .profile-mobile-experience .profile-exp-list .profile-exp .profile-exp-post .profile-exp-option img {
              width: 16px;
              height: 16px;
              outline: 0; }
            #profile-corps .profile-mobile-contents .profile-mobile-experience .profile-exp-list .profile-exp .profile-exp-post .profile-exp-option .fa-trash {
              color: #999999;
              font-size: 16px;
              outline: 0; }
        #profile-corps .profile-mobile-contents .profile-mobile-experience .profile-exp-list .profile-exp .profile-exp-period {
          margin-top: 3px; }
          #profile-corps .profile-mobile-contents .profile-mobile-experience .profile-exp-list .profile-exp .profile-exp-period span {
            font-family: 'FreigBook';
            font-size: 14px;
            color: #999999; }
          #profile-corps .profile-mobile-contents .profile-mobile-experience .profile-exp-list .profile-exp .profile-exp-period .exp-location {
            margin-left: 10px; }
        #profile-corps .profile-mobile-contents .profile-mobile-experience .profile-exp-list .profile-exp .profile-exp-description {
          margin-top: 4px; }
          #profile-corps .profile-mobile-contents .profile-mobile-experience .profile-exp-list .profile-exp .profile-exp-description h6 {
            font-family: 'FreigBook';
            font-size: 15px;
            color: #222222;
            line-height: 18px; }

  /*	.profile-save-mobile {
  		display: none;
  		position: fixed;
  		width: 100%;
  		text-align: center;
  		background-color: white;
  		z-index: 99999;
  		border-top: 1px solid #e5e5e5;
  		-webkit-transform: translateZ(0);
  		-moz-transform: translateZ(0);
  		-ms-transform: translateZ(0);
  		-o-transform: translateZ(0);
  		transform: translateZ(0);
  		-webkit-perspective: 1000;
  		-moz-perspective: 1000;
  		-ms-perspective: 1000;
  		-o-perspective: 1000;
  		perspective: 1000;
  		-webkit-backface-visibility: hidden;
  		-moz-backface-visibility: hidden;
  		-ms-backface-visibility: hidden;
  		-o-backface-visibility: hidden;
  		backface-visibility: hidden;
  
  		span {
  			font-family: "FreigBook";
  			font-size: 16px;
  			color: #999999;
  			margin-right: 10px;
  			margin-left: 30px;
  		}
  
  		span:focus {
  			outline: 0;
  		}
  
  		button {
  			font-family: "FreigMed";
  			font-size: 16px;
  			color: white;
  			background-color: #FF4D4D;
  			border: none;
  			border-radius: 4px;
  			padding: 6px 8px 8px 8px;
  			margin: 12px 0;
  
  			i {
  				margin-right: 5px;
  			}
  		}
  	}*/
  .profile-mobile-edit-photos {
    display: none;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 99999;
    text-align: center;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden; }
    .profile-mobile-edit-photos .profile-mobile-edit-cover {
      font-family: 'FreigBook';
      font-size: 18px;
      color: #999999;
      padding: 20px 0 10px 0;
      border-top: 1px solid #e5e5e5; }
    .profile-mobile-edit-photos hr {
      margin: 15px 0; }
    .profile-mobile-edit-photos .profile-mobile-edit-profile {
      font-family: 'FreigBook';
      font-size: 18px;
      color: #999999;
      padding: 10px 0 20px 0; }

  .profile-edit-mobile:active {
    background-color: white; } }
.animate-pmep-open {
  display: block;
  -webkit-animation: downToUp 0.1s;
  animation: downToUp 0.1s;
  bottom: 0px; }

.animate-pmep-close {
  display: block;
  bottom: -160px;
  -webkit-animation: UpToDown 0.2s;
  animation: UpToDown 0.2s; }

@-webkit-keyframes downToUp {
  0% {
    bottom: -130px; }
  25% {
    bottom: -100px; }
  50% {
    bottom: -60px; }
  100% {
    bottom: 0px; } }
@-webkit-keyframes UpToDown {
  0% {
    bottom: 0px; }
  100% {
    bottom: -160px; } }
@media only screen and (max-width: 320px) {
  #profile-mobile-slideDown .profile-mobile-cardProject .profile-slideDown-card {
    margin-left: 30px;
    margin-right: 30px;
    width: 260px !important; } }

/*# sourceMappingURL=profiles.css.map */
