.tempo3-class, .tempo4-class {
  display: inline-block; }

#formNewAskTextarea .redactor-editor,
#textareaAskReply .redactor-editor,
#textareaQuestionReply .redactor-editor {
  font-family: 'FreigBook';
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 4px;
  border: 1px solid #e5e5e5;
  color: black;
  line-height: 26px;
  height: 160px; }

.tempo3-class {
  margin: 15px 10px 5px 30px; }

.tempo4-class {
  width: 80%;
  margin-top: 15px;
  vertical-align: top; }

.circle_number {
  position: relative;
  margin-left: 5px;
  width: auto;
  font-family: 'Arial';
  font-weight: 600;
  font-size: 11px;
  border-radius: 10px;
  text-align: center;
  padding: 1px 7px;
  color: white;
  background-color: #ff4d4d;
  display: inline-block; }

.text-number {
  padding: 10px 0px !important;
  font-family: 'Arial';
  font-weight: 700;
  font-size: 50%; }

.header-project-2 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background: rgba(0, 0, 0, 0.1);
  margin-top: -80px;
  height: 220px;
  position: relative;
  z-index: 10 !important; }
  .header-project-2 .header-name {
    padding-top: 100px; }
    .header-project-2 .header-name h1 {
      font-family: FreigMed;
      font-size: 36px; }
    .header-project-2 .header-name h5 {
      padding-top: 10px;
      font-family: FreigLight;
      color: white;
      font-size: 15px; }

#footer-projects {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  height: auto;
  width: 100%;
  position: absolute;
  bottom: 0 !important; }
  #footer-projects .discover-button {
    width: auto;
    height: auto;
    font-family: FreigSem;
    font-size: 15px;
    background-color: transparent;
    padding: 10px 20px;
    border-style: solid;
    border-color: white;
    border-radius: 4px;
    border-width: 3px;
    margin: 17px 0px;
    -webkit-transition: all 100ms linear;
    -o-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    -ms-transition: all 100ms linear;
    -kthtml-transition: all 100ms linear;
    transition: all 100ms linear; }
    #footer-projects .discover-button i {
      margin-right: 5px; }
  #footer-projects .discover-button:hover {
    color: black;
    background-color: white; }
  #footer-projects .nav-project .li-hovered:hover {
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-transition: all 100ms linear;
    -o-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    -ms-transition: all 100ms linear;
    -kthtml-transition: all 100ms linear;
    transition: all 100ms linear; }
  #footer-projects .nav-project a:hover {
    color: #fff;
    background-color: transparent;
    cursor: pointer; }
  #footer-projects .link-footer {
    color: #fafafa;
    width: auto;
    height: auto;
    font-family: FreigLight;
    font-size: 19px;
    margin: 17px 0px; }
  #footer-projects .link-footer-left {
    color: #fff;
    width: auto;
    height: auto;
    font-family: FreigSem;
    font-size: 19px;
    margin: 17px 0px; }
  #footer-projects .link-footer-left:visited {
    background-color: inherit; }
  #footer-projects .vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none; }

.row-cards {
  width: 1300px; }

.cards-project {
  padding: 0px;
  width: 318px;
  margin: 20px 5px;
  border: solid 1px #ddd;
  border-radius: 5px;
  margin-right: 20px; }
  .cards-project .info {
    padding: 15px;
    background-color: white; }
    .cards-project .info .desc {
      height: 50px; }

.pdt-tp-bt-75 .col-md-11 {
  padding-left: 0; }

.container-projects {
  max-width: 1000px; }

#normal_container {
  background-color: white;
  padding: 60px 0px;
  border-bottom: 1px solid #eee; }

#followed_container {
  background-color: #fafafa;
  padding: 60px 0px;
  border-bottom: 1px solid #eee; }

.title-myprojects {
  font-family: FreigLight;
  font-size: 100%;
  color: #222;
  font-size: 40px; }

.subtitle {
  color: #999;
  font-size: 13px; }

.filter-banner {
  background-color: rgba(0, 0, 0, 0.2);
  height: inherit; }

.tets1 {
  height: 180px;
  width: 316px;
  background-repeat: no-repeat;
  background-size: cover; }

.tets1:hover {
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer; }

.category_tag {
  position: absolute;
  background-color: #222;
  color: white;
  padding: 5px 10px;
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 4px;
  font-family: FreigSem;
  font-size: 13px; }

.category_tag:hover {
  transform: scale(1.03);
  font-size: 13px; }

.rounded-img-history {
  width: 60px;
  height: 60px;
  border-radius: 5px; }

.row-project-history {
  padding: 30px 20px;
  border-bottom: 1px solid #ddd;
  -webkit-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  -ms-transition: all 400ms linear;
  -kthtml-transition: all 400ms linear;
  transition: all 400ms linear; }

.row-project-history:hover {
  background-color: #f6f6f6;
  cursor: pointer; }

.rounded-bg {
  width: 60px;
  height: 60px;
  border-radius: 4px;
  background-size: cover; }

.history-text-title {
  font-family: FreigSem;
  font-size: 17px;
  color: #999;
  font-weight: 600;
  -webkit-transition: all 100ms linear;
  -o-transition: all 100ms linear;
  -moz-transition: all 100ms linear;
  -ms-transition: all 100ms linear;
  -kthtml-transition: all 100ms linear;
  transition: all 100ms linear; }

.history-text-title:hover {
  color: #416299; }

.history-text-date {
  font-family: FreigSem;
  font-size: 18px;
  color: #999; }

.category_tag_history {
  position: absolute;
  background-color: #222;
  color: white;
  padding: 5px 10px;
  margin-top: 10px;
  margin-left: 0px;
  margin-bottom: 20px;
  border-radius: 4px;
  font-family: FreigSem;
  font-size: 13px;
  /*-webkit-transition: all 100ms scale;
  -o-transition: all 100ms scale;
  -moz-transition: all 100ms scale;
  -ms-transition: all 100ms scale;
  -kthtml-transition: all 100ms scale;
  transition: all 100ms scale;*/
  transition: all .200ms ease-in-out; }

.category_tag_history:hover {
  transform: scale(1.03);
  font-size: 13px; }

.projects-container {
  background-color: #fafafa; }

.subtitle-feedbacks {
  color: #999;
  font-family: FreigLight;
  font-size: 36px;
  font-weight: 200; }

.project-post-nodetail h2 {
  padding: 30px 0 170px 0;
  font-family: "FreigBook";
  color: #999999; }

.project-post-container {
  text-align: center;
  min-height: 200px;
  padding: 20px 0px 40px 0; }
  .project-post-container .project-contributor-show {
    width: 740px;
    text-align: left;
    margin: 0 auto;
    margin-bottom: 20px; }
    .project-post-container .project-contributor-show h4 {
      display: inline-block;
      font-family: 'FreigBook';
      font-size: 16px;
      color: black;
      margin-right: 10px;
      vertical-align: top;
      margin-top: 8px; }
    .project-post-container .project-contributor-show ul {
      display: inline-block;
      width: 600px; }
      .project-post-container .project-contributor-show ul li {
        display: inline-block;
        margin-right: 5px;
        margin-bottom: 5px; }
        .project-post-container .project-contributor-show ul li img {
          width: 34px;
          border-radius: 50%; }
  .project-post-container .video-container iframe {
    width: 738px;
    height: 416px; }

/*.project-post-video {
  max-width: 800px;
  margin: 0px auto;
  padding: 30px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
}
*/
.project-post-video {
  border: none !important;
  background-color: transparent !important;
  padding: 0 2px !important; }

.project-post-box,
.project-post-video {
  max-width: 740px;
  padding: 0 2px;
  margin: 0px auto;
  margin-bottom: 40px;
  background-color: white;
  overflow: hidden; }
  .project-post-box .video-js,
  .project-post-video .video-js {
    width: 736px;
    height: 414px;
    margin: 0 auto; }
    .project-post-box .video-js .vjs-big-play-button,
    .project-post-video .video-js .vjs-big-play-button {
      left: 0;
      right: 0;
      margin: 0 auto;
      top: 45%;
      border: none;
      border-radius: 4px; }
    .project-post-box .video-js .vjs-control:before,
    .project-post-video .video-js .vjs-control:before {
      font-size: 2.3em; }
    .project-post-box .video-js .vjs-control-bar,
    .project-post-video .video-js .vjs-control-bar {
      height: 4.0em; }
    .project-post-box .video-js .vjs-time-control,
    .project-post-video .video-js .vjs-time-control {
      font-size: 1.3em; }
    .project-post-box .video-js .vjs-remaining-time,
    .project-post-video .video-js .vjs-remaining-time {
      top: 1px; }
    .project-post-box .video-js .vjs-volume-bar,
    .project-post-video .video-js .vjs-volume-bar {
      margin: 1.8em 1em; }
    .project-post-box .video-js .vjs-volume-menu-button,
    .project-post-video .video-js .vjs-volume-menu-button {
      right: 7px; }
    .project-post-box .video-js .vjs-slider,
    .project-post-video .video-js .vjs-slider {
      margin-bottom: 2px; }
    .project-post-box .video-js .vjs-progress-holder,
    .project-post-video .video-js .vjs-progress-holder {
      transition: all 80ms; }
    .project-post-box .video-js .vjs-control-bar,
    .project-post-video .video-js .vjs-control-bar {
      background-color: rgba(0, 0, 0, 0.4); }
  .project-post-box vg-overlay-play .play,
  .project-post-video vg-overlay-play .play {
    font-size: 50px;
    color: #999999; }
  .project-post-box videogular,
  .project-post-video videogular {
    background-color: transparent; }
  .project-post-box videogular vg-controls,
  .project-post-box [videogular] vg-controls,
  .project-post-video videogular vg-controls,
  .project-post-video [videogular] vg-controls {
    height: 55px !important; }
  .project-post-box videogular vg-overlay-play, .project-post-box [videogular] vg-overlay-play,
  .project-post-video videogular vg-overlay-play,
  .project-post-video [videogular] vg-overlay-play {
    left: 0; }
  .project-post-box videogular,
  .project-post-video videogular {
    height: 419px;
    margin-bottom: 40px; }
    .project-post-box videogular vg-time-display,
    .project-post-video videogular vg-time-display {
      font-size: 14px; }
  .project-post-box videogular .iconButton:focus, .project-post-box [videogular] .iconButton:focus,
  .project-post-video videogular .iconButton:focus,
  .project-post-video [videogular] .iconButton:focus {
    border: none; }
  .project-post-box videogular vg-volume-bar .verticalVolumeBar, .project-post-box [videogular] vg-volume-bar .verticalVolumeBar,
  .project-post-video videogular vg-volume-bar .verticalVolumeBar,
  .project-post-video [videogular] vg-volume-bar .verticalVolumeBar {
    background-color: transparent; }
  .project-post-box videogular vg-scrub-bar-current-time, .project-post-box [videogular] vg-scrub-bar-current-time,
  .project-post-video videogular vg-scrub-bar-current-time,
  .project-post-video [videogular] vg-scrub-bar-current-time {
    transition: all 100ms linear; }
  .project-post-box pre,
  .project-post-video pre {
    text-align: left; }
  .project-post-box blockquote,
  .project-post-video blockquote {
    font-family: 'FreigLightIt';
    font-size: 18px;
    text-align: left;
    color: #646964;
    border-left: 1px solid #ddd; }
  .project-post-box ul,
  .project-post-video ul {
    list-style: circle;
    list-style-type: disc;
    margin-left: 20px; }
    .project-post-box ul li,
    .project-post-video ul li {
      list-style-type: disc;
      font-family: 'FreigBook';
      font-size: 18px;
      line-height: 27px;
      color: #222;
      text-align: left; }

.custom-project-post {
  width: inherit; }
  .custom-project-post ul {
    margin-bottom: 10px;
    font-family: 'FreigBook';
    font-size: 18px;
    text-align: left; }
  .custom-project-post ul, .custom-project-post li {
    list-style-type: none !important; }
  .custom-project-post figure {
    width: inherit; }
  .custom-project-post img {
    width: 100%;
    height: auto; }
  .custom-project-post p {
    font-family: 'FreigBook';
    font-size: 19px;
    line-height: 24px;
    color: #222;
    text-align: left;
    word-spacing: 1px;
    margin-bottom: 0; }
  .custom-project-post h1 {
    font-size: 28px; }
  .custom-project-post h1, .custom-project-post h2, .custom-project-post h3, .custom-project-post h4, .custom-project-post h5, .custom-project-post h6 {
    font-family: 'FreigSem';
    color: #222;
    margin-bottom: 25px;
    text-align: left; }
  .custom-project-post a {
    font-family: 'FreigBook';
    font-size: 16px;
    color: #256bc9; }
  .custom-project-post a:hover {
    color: #999999; }

.nomargin {
  margin: 0px;
  padding: 0px; }

#feedback_project .cards_openings {
  width: 33%;
  margin-bottom: 30px;
  border-radius: 4px;
  overflow: hidden; }
#feedback_project .cards_openings_body {
  border: 1px solid #eee;
  border-radius: 4px;
  overflow: hidden; }
#feedback_project .project-card .card-picture {
  height: 100px;
  border-top-right-radius: 4px;
  overflow: hidden; }
#feedback_project .project-card .card-info .card-description-text {
  height: auto;
  margin-bottom: 0; }
#feedback_project .need_tags .tag_text {
  background-color: #222;
  width: auto;
  display: inline-block;
  padding: 2px 4px;
  font-family: 'FreigSem';
  font-size: 13px;
  text-transform: uppercase;
  color: white;
  border-radius: 4px;
  margin-right: 4px;
  margin-bottom: 5px; }
#feedback_project .cards_openings_footer {
  padding: 15px 0px;
  background-color: #f9f9f9;
  border-top: 1px dashed #ddd; }
  #feedback_project .cards_openings_footer .no_padding {
    padding: 0px; }
  #feedback_project .cards_openings_footer .footer_text {
    font-family: 'FreigSem';
    color: #6e6e6e;
    margin: 0px;
    cursor: pointer; }
  #feedback_project .cards_openings_footer .footer_text:hover {
    text-decoration: underline;
    color: #555555; }
  #feedback_project .cards_openings_footer .icon_footer {
    cursor: pointer;
    color: #bbb;
    font-size: 18px;
    position: relative;
    bottom: 1px;
    outline: none;
    -webkit-transition: all 100ms linear;
    -o-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    -ms-transition: all 100ms linear;
    -kthtml-transition: all 100ms linear;
    transition: all 100ms linear; }
  #feedback_project .cards_openings_footer .icon_footer:hover {
    color: #FF4D4D;
    -webkit-transition: all 100ms linear;
    -o-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    -ms-transition: all 100ms linear;
    -kthtml-transition: all 100ms linear;
    transition: all 100ms linear; }
  #feedback_project .cards_openings_footer .icon_footer_2 {
    cursor: pointer;
    color: #bbb;
    font-size: 17px;
    outline: none;
    -webkit-transition: all 100ms linear;
    -o-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    -ms-transition: all 100ms linear;
    -kthtml-transition: all 100ms linear;
    transition: all 100ms linear; }
  #feedback_project .cards_openings_footer .icon_footer_2:hover {
    color: #FF4D4D;
    -webkit-transition: all 100ms linear;
    -o-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    -ms-transition: all 100ms linear;
    -kthtml-transition: all 100ms linear;
    transition: all 100ms linear; }
  #feedback_project .cards_openings_footer .showMess {
    color: #ccc;
    font-family: 'FreigSem';
    font-size: 16px;
    margin: 0px; }
#feedback_project .mgr-bt-20 {
  margin-bottom: 20px; }
#feedback_project .mgr-bt-40 {
  margin-bottom: 80px !important; }
#feedback_project .mgr-tp-40 {
  margin-top: 40px !important; }
#feedback_project .container_header_question {
  padding: 0px;
  margin: 0px;
  width: 100%; }
#feedback_project .no_feedbacks {
  margin: 50px 0px; }
  #feedback_project .no_feedbacks .title_no_comments {
    font-family: 'FreigBook';
    font-size: 24px;
    color: #999999; }
  #feedback_project .no_feedbacks .text_no_comments {
    font-family: 'FreigBook';
    font-size: 18px;
    color: #999999; }
#feedback_project .number_replies {
  font-size: 14px; }
#feedback_project p {
  outline: none; }
#feedback_project .feedback_textarea_question {
  margin: 15px 15px 0px 0px; }
  #feedback_project .feedback_textarea_question .pd-20 {
    padding: 15px; }
  #feedback_project .feedback_textarea_question .col-md-11 {
    padding: 0; }
#feedback_project .view-project-feedback-ask {
  display: inline-block;
  width: 85%; }
#feedback_project .feedback_description {
  margin: 0px;
  cursor: default; }
  #feedback_project .feedback_description .mgr-bt-20 {
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px; }
  #feedback_project .feedback_description .pd-20 {
    padding: 15px; }
  #feedback_project .feedback_description .col-md-11 {
    padding-left: 47px; }
  #feedback_project .feedback_description .feedback-reply-field {
    /*      border: 1px solid #e5e5e5;
    */
    border-radius: 4px;
    padding: 15px 15px 5px 65px; }
#feedback_project .feedback_textarea {
  margin-top: 15px; }
  #feedback_project .feedback_textarea .mgr-bt-20 {
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px; }
  #feedback_project .feedback_textarea .pd-20 {
    padding: 15px; }
  #feedback_project .feedback_textarea .col-md-11 {
    padding-left: 15px; }
#feedback_project .cards-feedbacks-two p {
  font-size: 16px;
  font-family: 'FreigBook';
  color: #222222;
  margin-bottom: 5px;
  /*    a {
        font-family: 'FreigBook';
        color: #256bc9;
      }*/ }
#feedback_project .title {
  color: #999999;
  font-size: 14px;
  margin-bottom: 5px;
  font-family: 'FreigBook'; }
#feedback_project .row-custom-feed {
  margin: 0px; }
  #feedback_project .row-custom-feed .replies_container {
    width: inherit; }
  #feedback_project .row-custom-feed .nested_replies {
    width: 91%;
    margin-left: 70px;
    height: auto;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 4px; }
    #feedback_project .row-custom-feed .nested_replies .try-lol {
      height: auto;
      border-left: 3px solid #ddd; }
  #feedback_project .row-custom-feed .nested_replies_2 {
    background-color: #fafafa;
    padding: 15px 0;
    border-radius: 4px;
    border: 1px solid #e5e5e5; }
    #feedback_project .row-custom-feed .nested_replies_2 .col-md-1 {
      padding: 0; }
#feedback_project .animate-if.ng-enter, #feedback_project .animate-if.ng-leave {
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s; }
#feedback_project .animate-if.ng-enter,
#feedback_project .animate-if.ng-leave.ng-leave-active {
  opacity: 0; }
#feedback_project .animate-if.ng-leave,
#feedback_project .animate-if.ng-enter.ng-enter-active {
  opacity: 1; }
#feedback_project .text_description_feed p {
  font-family: 'FreigBook';
  color: #222222;
  font-size: 16px; }
#feedback_project .textarea_new_reply {
  width: 100%;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  resize: none;
  outline: none;
  font-family: 'FreigBook';
  font-size: 16px;
  color: black;
  padding: 10px;
  height: auto;
  min-height: 100px; }
#feedback_project .button_post_comment {
  font-family: 'FreigSem';
  font-size: 16px;
  color: white;
  background-color: #FF4D4D;
  padding: 6px 10px;
  border: 1px solid #FF4D4D;
  border-radius: 4px; }
#feedback_project .post_comment_reply {
  font-family: 'FreigSem';
  font-size: 16px;
  color: white;
  background-color: #FF4D4D;
  padding: 6px 10px;
  border: 1px solid #FF4D4D;
  border-radius: 4px;
  margin: 20px 0; }
#feedback_project .button_ask {
  margin: 20px 0; }
#feedback_project .button_post_comment:hover {
  background-color: #D94242;
  border: 1px solid #D94242; }
#feedback_project .replies_title {
  color: #1a1a1a;
  text-decoration: underline; }
#feedback_project .container-custom-project {
  max-width: 780px;
  padding: 0 20px;
  float: none;
  margin: 0 auto; }
#feedback_project .feedback_container {
  max-width: 780px;
  padding: 0 20px; }
#feedback_project h3 {
  margin-bottom: 20px; }
#feedback_project .link_top {
  font-family: 'FreigMed';
  font-size: 16px;
  padding-top: 10px;
  color: #FF4D4D;
  cursor: pointer; }
  #feedback_project .link_top .fa-plus {
    position: relative;
    font-size: 14px;
    top: 1px;
    margin-right: 2px; }
#feedback_project .link_top:hover {
  color: #D94242; }
#feedback_project .cards-feedbacks-two {
  padding: 10px 10px 0 0;
  padding-bottom: 10px;
  background-color: white !important;
  border-radius: 5px;
  margin-bottom: 10px;
  height: auto;
  -webkit-transition: all 100ms linear;
  -moz-transition: all 100ms linear;
  -o-transition: all 100ms linear;
  -ms-transition: all 100ms linear;
  transition: all 100ms linear; }
  #feedback_project .cards-feedbacks-two .from_text {
    font-family: 'FreigBook' !important;
    margin-bottom: 5px; }
    #feedback_project .cards-feedbacks-two .from_text span {
      font-size: 14px; }
  #feedback_project .cards-feedbacks-two .underline_user {
    color: #999999;
    font-size: 16px;
    cursor: pointer;
    text-decoration: underline;
    -moz-text-decoration-style: dotted;
    -webkit-text-decoration-style: dotted;
    text-decoration-style: dotted; }
  #feedback_project .cards-feedbacks-two .underline_user:hover {
    color: black; }
  #feedback_project .cards-feedbacks-two .img-feedback {
    display: inline-block;
    padding: 10px 10px 10px 15px;
    float: left; }
  #feedback_project .cards-feedbacks-two .text-feedback {
    display: inline-block;
    width: 80%; }
  #feedback_project .cards-feedbacks-two .tempo-class, #feedback_project .cards-feedbacks-two .tempo2-class {
    display: inline-block;
    margin-right: 10px; }
  #feedback_project .cards-feedbacks-two .tempo2-class {
    width: 80%;
    vertical-align: top; }
  #feedback_project .cards-feedbacks-two .tempo-class, #feedback_project .cards-feedbacks-two .tempo2-class {
    display: inline-block;
    margin-right: 10px; }
  #feedback_project .cards-feedbacks-two .img-responsive {
    margin: 0 auto; }
  #feedback_project .cards-feedbacks-two .picto_delete {
    text-align: right;
    padding-top: 20px;
    outline: none; }
  #feedback_project .cards-feedbacks-two .feedback_badge {
    font-family: 'FreigSem' !important;
    font-size: 10px !important;
    background-color: #999999;
    color: white;
    padding: 0px 5px;
    border: 1px solid #999999;
    border-radius: 3px;
    margin-left: 5px; }
  #feedback_project .cards-feedbacks-two .delete_icon {
    color: #ddd;
    font-size: 20px;
    outline: none;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear; }
  #feedback_project .cards-feedbacks-two .delete_icon:hover {
    color: #FF4D4D;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear; }
  #feedback_project .cards-feedbacks-two .fadein,
  #feedback_project .cards-feedbacks-two .fadeout {
    -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 300ms;
    -moz-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 300ms;
    -o-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 300ms;
    transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 300ms; }
  #feedback_project .cards-feedbacks-two .fadein.ng-hide-remove,
  #feedback_project .cards-feedbacks-two .fadeout.ng-hide-add.ng-hide-add-active {
    opacity: 0;
    display: block !important; }
  #feedback_project .cards-feedbacks-two .fadeout.ng-hide-add,
  #feedback_project .cards-feedbacks-two .fadein.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
    display: block !important; }
#feedback_project .cards-feedbacks-two:hover {
  cursor: pointer;
  border-color: #C9C9C9; }
#feedback_project #asks .input_new_ask {
  padding: 7px 15px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-family: 'FreigBook';
  font-size: 16px;
  color: black; }
#feedback_project #asks .mgr-bt-20 {
  margin-bottom: 20px;
  margin-top: 20px; }
#feedback_project #asks .no-padding {
  padding-right: 0px; }

@media only screen and (max-width: 736px) {
  .project-post-box, .project-post-video {
    border: none; }

  .project-post-container {
    text-align: center;
    padding: 40px 20px; }

  #feedback_project .cards-feedbacks-two .img-responsive {
    margin: 0; }

  #feedback_project .cards-feedbacks-two {
    padding: 0;
    border: none; }

  #feedback_project .feedback_description {
    border-radius: 4px; }

  #feedback_project .cards-feedbacks-two {
    border-radius: 4px; }

  #feedback_project .feedback_reply_text {
    font-family: 'FreigMed'; }

  #feedback_project .text_description_feed p {
    font-family: 'FreigMed'; }

  #feedback_project .feedback_description .feedback-reply-field {
    border: none;
    padding-right: 0; }

  #feedback_project .feedback_description .feedback-reply-field .col-md-1 {
    padding: 0 15px 0 10px;
    display: inline-block; }

  #feedback_project .feedback_description .col-md-11 {
    padding-right: 0;
    display: inline-block;
    padding-top: 0; }

  #feedback_project .feedback_description .mgr-bt-20 {
    margin-bottom: 0; }

  #feedback_project .text_description_feed {
    margin-left: 10px; }

  #feedback_project #asks .mgr-bt-20 {
    margin: 0; }

  #feedback_project #asks .mgr-bt-20 {
    padding-left: 15px; }

  #feedback_project .cards_openings {
    width: 100%; }

  #feedback_project .pdt-tp-bt-75 {
    padding: 30px 10px 50px 10px; }
  #feedback_project h3 {
    font-size: 27px; }
  #feedback_project h4 {
    font-size: 21px; }
  #feedback_project .feedback_container {
    padding: 0 0px; }
  #feedback_project .no_feedbacks {
    margin: 20px 0; }
    #feedback_project .no_feedbacks .title_no_comments {
      font-size: 21px;
      margin-bottom: 6px; }
    #feedback_project .no_feedbacks .text_no_comments {
      font-size: 16px; }
  #feedback_project .link_top {
    font-family: 'FreigMed';
    font-size: 14px;
    padding-top: 0px;
    color: #FF4D4D;
    cursor: pointer; }
    #feedback_project .link_top .fa-plus {
      position: relative;
      font-size: 14px;
      top: 1px;
      margin-right: 5px; }
  #feedback_project .link_top:hover {
    color: #FF4D4D; }
  #feedback_project .cards_openings_body {
    width: 260px;
    margin: 0 auto; }
  #feedback_project .cards_openings_footer .footer_text {
    display: none; }
  #feedback_project .mgr-bt-40 {
    margin-bottom: 0 !important; } }
@media only screen and (max-width: 736px) {
  .project-post-box .video-js,
  .project-post-video .video-js {
    width: 100%;
    height: 250px; } }
@media only screen and (max-width: 320px) {
  #feedback_project .pdt-tp-bt-75 {
    padding: 30px 10px 30px 15px; }
  #feedback_project .cards_openings_body {
    width: 240px;
    margin: 0 auto; }
  #feedback_project .cards_openings_footer .footer_text {
    display: none; }

  .project-post-box .video-js,
  .project-post-video .video-js {
    width: 100%;
    height: 250px; } }

/*# sourceMappingURL=projects.css.map */
