#setting-page {
  /**** Header body *****/ }
  #setting-page button {
    margin-top: 35px;
    font-family: 'FreigSem';
    font-size: 18px;
    background-color: #ff4d4d;
    border: 1px solid #ff4d4d;
    border-radius: 4px;
    padding: 6px 15px 8px 15px;
    color: white; }
    #setting-page button i {
      font-size: 16px; }
  #setting-page button:hover {
    border: 1px solid #d94242;
    background-color: #d94242; }
  #setting-page .statistics-suggestion-new .suggestion-box {
    position: absolute;
    padding: 5px 15px;
    z-index: 5000;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
    margin-top: 60px;
    border-radius: 4px; }
    #setting-page .statistics-suggestion-new .suggestion-box .fa-question-circle {
      color: white; }
    #setting-page .statistics-suggestion-new .suggestion-box .fa {
      background-color: black !important; }
    #setting-page .statistics-suggestion-new .suggestion-box span {
      font-family: 'FreigBook';
      font-size: 14px;
      color: white; }
  #setting-page .statistics-suggestion-new .suggestion-about-profile {
    right: 0;
    margin-right: 15px;
    max-width: 160px;
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    animation-delay: 12s; }
  #setting-page .statistics-suggestion-new .suggestion-discover-meet {
    margin-left: 50px;
    max-width: 190px;
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    animation-delay: 2s; }
  #setting-page .statistics-suggestion-new .suggestion-post-project {
    margin-left: 270px;
    max-width: 240px;
    -webkit-animation-delay: 7s;
    -moz-animation-delay: 7s;
    animation-delay: 7s; }
  #setting-page .statistics-suggestion-new .suggestion-post-project-nodelay {
    margin-left: 270px;
    max-width: 240px;
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    animation-delay: 2s; }
  #setting-page .statistics-suggestion-new .suggestion-about-profile-nodelay {
    right: 0;
    margin-right: 15px;
    max-width: 160px;
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    animation-delay: 2s; }
  #setting-page .setting-filter {
    position: absolute;
    width: 100%;
    height: 220px;
    background-color: rgba(0, 0, 0, 0.5); }
  #setting-page #setting-header {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 220px; }
    #setting-page #setting-header .setting-header-title {
      position: relative;
      max-width: 500px;
      margin: 0 auto;
      text-align: center;
      padding: 70px 60px 40px 60px; }
      #setting-page #setting-header .setting-header-title h1 {
        font-family: 'FreigSem';
        font-size: 42px;
        color: white; }
      #setting-page #setting-header .setting-header-title h5 {
        font-family: 'FreigBook';
        font-size: 16px;
        color: white;
        margin: 7px 0; }
    #setting-page #setting-header .setting-navbar {
      background-color: rgba(0, 0, 0, 0.5); }
      #setting-page #setting-header .setting-navbar .setting-navbar-list {
        max-width: 1000px;
        margin: 0 auto; }
        #setting-page #setting-header .setting-navbar .setting-navbar-list li {
          position: relative;
          display: inline-block;
          font-family: 'FreigSem';
          font-size: 17px;
          padding: 20px 20px;
          color: #999999;
          z-index: 100; }
          #setting-page #setting-header .setting-navbar .setting-navbar-list li sup {
            font-family: 'FreigLight'; }
        #setting-page #setting-header .setting-navbar .setting-navbar-list .setting-navbar-general {
          color: white;
          background-color: rgba(0, 0, 0, 0.5); }
        #setting-page #setting-header .setting-navbar .setting-navbar-list li:hover {
          color: white;
          background-color: rgba(0, 0, 0, 0.5);
          cursor: pointer; }
  #setting-page .setting-invite-modal {
    position: fixed;
    max-width: 1000px;
    margin: 0 auto;
    top: 12%;
    right: 0;
    left: 0;
    text-align: center; }
    #setting-page .setting-invite-modal .setting-invite-modal-block {
      display: inline-block;
      min-width: 400px;
      background-color: white;
      border: 1px solid #e5e5e5;
      border-radius: 4px; }
      #setting-page .setting-invite-modal .setting-invite-modal-block .setting-invite-modal-head {
        background-color: #fafafa; }
        #setting-page .setting-invite-modal .setting-invite-modal-block .setting-invite-modal-head h4 {
          font-family: 'FreigMed';
          font-size: 16px;
          color: black;
          padding: 10px 0;
          border-bottom: 1px solid #e5e5e5; }
      #setting-page .setting-invite-modal .setting-invite-modal-block .setting-invite-modal-body {
        padding: 25px 20px; }
        #setting-page .setting-invite-modal .setting-invite-modal-block .setting-invite-modal-body input {
          width: 100%;
          padding: 6px 10px;
          border-radius: 4px;
          border: 1px solid #e5e5e5;
          font-family: 'FreigBook';
          font-size: 16px; }
        #setting-page .setting-invite-modal .setting-invite-modal-block .setting-invite-modal-body p {
          font-family: 'FreigBook';
          color: red;
          font-size: 15px;
          margin-top: 10px;
          margin-bottom: 0; }
        #setting-page .setting-invite-modal .setting-invite-modal-block .setting-invite-modal-body .simbpress {
          font-style: italic;
          color: #999999; }
      #setting-page .setting-invite-modal .setting-invite-modal-block .setting-invite-modal-list {
        padding: 25px 0px 0px 0px;
        margin: 0 20px;
        border-top: 1px solid #e5e5e5;
        text-align: center;
        max-height: 300px;
        overflow-y: scroll; }
        #setting-page .setting-invite-modal .setting-invite-modal-block .setting-invite-modal-list .setting-invite-modal-list-email {
          text-align: left; }
          #setting-page .setting-invite-modal .setting-invite-modal-block .setting-invite-modal-list .setting-invite-modal-list-email li {
            font-family: 'FreigBook';
            font-size: 16px;
            padding: 5px 5px 5px 5px;
            margin-bottom: 10px;
            background-color: #f7f7f7;
            border-radius: 4px; }
            #setting-page .setting-invite-modal .setting-invite-modal-block .setting-invite-modal-list .setting-invite-modal-list-email li img {
              float: right;
              position: relative;
              top: 5px;
              margin-right: 5px;
              width: 12px; }
      #setting-page .setting-invite-modal .setting-invite-modal-block button {
        margin-top: 15px;
        margin-bottom: 30px;
        font-size: 15px;
        padding: 5px 12px 6px 12px; }
  #setting-page #setting-body {
    /*background-color: #f5f5f5;*/
    /**** General body *****/
    /**** Password body *****/
    /***** Notification body *****/ }
    #setting-page #setting-body label {
      font-family: 'FreigMed';
      font-size: 16px;
      color: #222222;
      width: 150px; }
    #setting-page #setting-body input {
      width: 80%;
      border: 1px solid #E5e5e5;
      border-radius: 5px;
      font-family: 'FreigBook';
      font-size: 17px;
      padding: 6px 0 6px 15px; }
    #setting-page #setting-body .setting-box {
      max-width: 1000px;
      margin: 0 auto;
      padding: 50px 20px 90px 20px;
      text-align: center; }
    #setting-page #setting-body .sg-field {
      text-align: left;
      padding: 10px 0px; }
    #setting-page #setting-body .setting-general span {
      display: block;
      margin-left: 153px; }
    #setting-page #setting-body .setting-general h5 {
      display: inline-block;
      font-family: 'FreigSem';
      font-size: 14px;
      color: #999999; }
    #setting-page #setting-body .setting-general h6 {
      display: inline-block;
      font-family: 'FreigBook';
      font-size: 14px;
      color: #999999; }
    #setting-page #setting-body .setting-general .setting-general-firstname p,
    #setting-page #setting-body .setting-general .setting-general-lastname p,
    #setting-page #setting-body .setting-general .setting-general-email p,
    #setting-page #setting-body .setting-general .setting-general-username p {
      position: relative;
      left: 155px;
      font-family: 'FreigBook';
      color: red;
      margin-bottom: 0; }
    #setting-page #setting-body .setting-password label {
      width: 200px; }
    #setting-page #setting-body .setting-password input {
      width: 75%; }
    #setting-page #setting-body .setting-password .setting-password-current h5,
    #setting-page #setting-body .setting-password .setting-password-new h5,
    #setting-page #setting-body .setting-password .setting-password-confirm h5 {
      position: relative;
      left: 205px;
      font-family: 'FreigBook';
      color: red; }
    #setting-page #setting-body .setting-notification {
      background-color: white; }
      #setting-page #setting-body .setting-notification .setting-notification-center {
        background-color: white;
        padding-top: 30px;
        border-top: 1px solid #e5e5e5; }
        #setting-page #setting-body .setting-notification .setting-notification-center .setting-notification-body {
          max-width: 1000px;
          margin: 0 auto;
          padding: 0px 20px 90px 20px; }
          #setting-page #setting-body .setting-notification .setting-notification-center .setting-notification-body li {
            padding: 15px 0; }
          #setting-page #setting-body .setting-notification .setting-notification-center .setting-notification-body .li-top {
            font-family: 'FreigMed';
            font-size: 16px;
            color: #999999; }
          #setting-page #setting-body .setting-notification .setting-notification-center .setting-notification-body .li-body {
            font-family: 'FreigSem';
            font-size: 16px;
            color: black; }
            #setting-page #setting-body .setting-notification .setting-notification-center .setting-notification-body .li-body span {
              font-family: 'FreigBook';
              margin-left: 10px; }
            #setting-page #setting-body .setting-notification .setting-notification-center .setting-notification-body .li-body p {
              display: inline-block;
              min-width: 350px;
              padding-right: 15px; }
            #setting-page #setting-body .setting-notification .setting-notification-center .setting-notification-body .li-body .checkbox-notif {
              position: relative;
              top: 3px;
              display: inline-block;
              vertical-align: top;
              height: 18px;
              width: 18px;
              border: 1px solid black;
              border-radius: 4px;
              cursor: pointer; }
              #setting-page #setting-body .setting-notification .setting-notification-center .setting-notification-body .li-body .checkbox-notif .fa-check {
                position: relative;
                bottom: 2px; }
  #setting-page #setting-delete {
    background-color: #f5f5f5;
    border-top: 1px solid #e5e5e5; }
    #setting-page #setting-delete .setting-delete-box {
      max-width: 1000px;
      margin: 0 auto;
      text-align: center;
      padding: 60px 20px; }
      #setting-page #setting-delete .setting-delete-box h5 {
        font-family: 'FreigBook';
        font-size: 14px;
        color: #999999;
        margin-bottom: 4px; }
      #setting-page #setting-delete .setting-delete-box h4 {
        font-family: 'FreigSem';
        font-size: 14px;
        color: #999999;
        margin-bottom: 4px; }
      #setting-page #setting-delete .setting-delete-box button {
        margin: 15px 10px 17px 10px;
        background-color: #999999;
        border: 1px solid #999999; }
      #setting-page #setting-delete .setting-delete-box button:hover {
        background-color: #999999;
        border: 1px solid #999999; }

/**** General body *****/
.general_body_setting {
  text-align: center; }

.general_body_setting form {
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto; }

.general_body_setting label {
  padding: 15px 40px 15px 15px; }

.general_body_setting input {
  padding: 8px 10px 8px 10px;
  margin-left: 30px;
  border: 1px solid #DBDBDB;
  border-radius: 5px;
  margin-bottom: 20px; }

.general_body_setting input:focus {
  outline: 0; }

.setting_email {
  margin-right: 31px; }

.general_body_setting .setting_url {
  position: relative;
  text-align: left;
  left: 355px;
  bottom: 10px;
  width: 823px; }

/**** Password body *****/
.password-body-setting form {
  margin-top: 60px;
  margin-bottom: 60px; }

.password-body-setting label {
  padding: 15px 10px 15px 15px; }

.password-body-setting input {
  padding: 7px 10px 7px 10px;
  margin-top: 5px;
  border: 1px solid #DBDBDB;
  border-radius: 5px; }

.password-body-setting .password-button {
  text-align: center; }

/**** Ranking body *****/
.setting-ranking hr {
  margin-top: 50px; }
.setting-ranking h3 {
  font-family: 'FreigBook';
  font-size: 18px;
  color: black;
  margin-bottom: 50px; }
.setting-ranking .srpsi-text {
  width: 170px;
  display: inline-block;
  font-family: 'FreigLight';
  font-size: 18px; }
.setting-ranking .srpsi-number {
  display: inline-block;
  font-family: 'FreigBook';
  font-weight: bold;
  font-size: 18px; }
  .setting-ranking .srpsi-number .srpsi-number-est {
    display: inline-block;
    font-family: 'FreigBook';
    font-weight: normal; }
.setting-ranking .setting-ranking-up {
  text-align: left;
  padding-left: 80px;
  padding-right: 80px;
  margin-bottom: 50px; }
  .setting-ranking .setting-ranking-up .setting-ranking-graph-mobile {
    display: none; }
  .setting-ranking .setting-ranking-up .setting-ranking-psi {
    display: inline-block;
    width: 45%;
    margin-bottom: 20px; }
    .setting-ranking .setting-ranking-up .setting-ranking-psi .tooltipw {
      display: block;
      background: black;
      /*					bottom: 38px;
      				left: -7.5px;*/
      font-family: 'FreigSem';
      font-size: 13px;
      color: #fff;
      opacity: 0;
      /*					width: 80px;
      */
      padding: 3px 5px;
      border-radius: 4px;
      pointer-events: none;
      position: absolute;
      z-index: 1000000;
      /*				margin-top: -25px;
      */
      -webkit-transform: translateY(10px);
      -moz-transform: translateY(10px);
      -ms-transform: translateY(10px);
      -o-transform: translateY(10px);
      transform: translateY(10px);
      -webkit-transition: all .25s ease-out;
      -moz-transition: all .25s ease-out;
      -ms-transition: all .25s ease-out;
      -o-transition: all .25s ease-out;
      transition: all .25s ease-out;
      /*-webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
      -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
      -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
      -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
      box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);*/ }
    .setting-ranking .setting-ranking-up .setting-ranking-psi .tooltipw:before {
      bottom: -20px;
      content: " ";
      display: block;
      height: 20px;
      left: 0;
      position: absolute; }
    .setting-ranking .setting-ranking-up .setting-ranking-psi .tooltipw:after {
      border-left: solid transparent 6px;
      border-right: solid transparent 6px;
      border-bottom: solid black 6px;
      bottom: 24px;
      content: " ";
      height: 0;
      left: 50%;
      margin-left: -7px;
      position: absolute; }
    .setting-ranking .setting-ranking-up .setting-ranking-psi .setting-ranking-profile:hover .tooltipw {
      opacity: 1;
      pointer-events: auto;
      -webkit-transform: translateY(30px);
      -moz-transform: translateY(30px);
      -ms-transform: translateY(30px);
      -o-transform: translateY(30px);
      transform: translateY(30px); }
    .setting-ranking .setting-ranking-up .setting-ranking-psi .setting-ranking-share {
      margin-bottom: 35px; }
      .setting-ranking .setting-ranking-up .setting-ranking-psi .setting-ranking-share .fb-share {
        display: inline-block;
        margin-bottom: 15px;
        margin-right: 15px; }
        .setting-ranking .setting-ranking-up .setting-ranking-psi .setting-ranking-share .fb-share button {
          margin-top: 15px !important;
          background-color: #46629E !important;
          font-family: 'FreigSem' !important;
          font-size: 14px !important;
          color: white !important;
          padding: 10px 10px 10px 5px !important;
          border: 1px solid #46629E !important;
          border-radius: 4px !important; }
          .setting-ranking .setting-ranking-up .setting-ranking-psi .setting-ranking-share .fb-share button i {
            padding: 0 10px 0 5px !important; }
        .setting-ranking .setting-ranking-up .setting-ranking-psi .setting-ranking-share .fb-share button:hover {
          background-color: #344e7a !important;
          border: 1px solid #344e7a !important; }
      .setting-ranking .setting-ranking-up .setting-ranking-psi .setting-ranking-share .tw-share {
        display: inline-block;
        margin-bottom: 15px; }
        .setting-ranking .setting-ranking-up .setting-ranking-psi .setting-ranking-share .tw-share button {
          margin-top: 15px !important;
          text-align: left  !important;
          background-color: #4099FF  !important;
          font-family: 'FreigSem'  !important;
          font-size: 14px  !important;
          color: white;
          padding: 10px 20px 10px 13px  !important;
          border: 1px solid #4099FF  !important;
          border-radius: 4px  !important;
          margin: 0  !important; }
        .setting-ranking .setting-ranking-up .setting-ranking-psi .setting-ranking-share .tw-share i {
          margin-right: 5px  !important;
          margin-left: 0px  !important; }
        .setting-ranking .setting-ranking-up .setting-ranking-psi .setting-ranking-share .tw-share button:hover {
          background-color: #0077FF  !important;
          border: 1px solid #0077FF  !important; }
    .setting-ranking .setting-ranking-up .setting-ranking-psi .setting-ranking-social:hover .tooltipw {
      opacity: 1;
      pointer-events: auto;
      -webkit-transform: translateY(30px);
      -moz-transform: translateY(30px);
      -ms-transform: translateY(30px);
      -o-transform: translateY(30px);
      transform: translateY(30px); }
  .setting-ranking .setting-ranking-up .setting-ranking-invitation .sri-title {
    margin-bottom: 15px; }
  .setting-ranking .setting-ranking-up .setting-ranking-invitation .sri-title:hover .tooltipw {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px); }
  .setting-ranking .setting-ranking-up .setting-ranking-invitation .sri-box .sri-box-illustre-img {
    display: inline-block;
    margin-right: 25px;
    width: 144px; }
    .setting-ranking .setting-ranking-up .setting-ranking-invitation .sri-box .sri-box-illustre-img img {
      border-radius: 50%;
      height: 34px;
      width: 34px; }
  .setting-ranking .setting-ranking-up .setting-ranking-invitation .sri-box .srpsi-button {
    display: inline-block;
    vertical-align: top;
    padding: 8px 15px;
    border: 1px solid black;
    border-radius: 4px;
    font-family: 'FreigMed';
    font-size: 16px;
    color: black;
    cursor: pointer;
    webkit-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    -kthtml-transition: all 200ms linear;
    transition: all 200ms linear; }
    .setting-ranking .setting-ranking-up .setting-ranking-invitation .sri-box .srpsi-button img {
      position: relative;
      bottom: 1px;
      margin-right: 10px;
      webkit-transition: all 200ms linear;
      -o-transition: all 200ms linear;
      -moz-transition: all 200ms linear;
      -ms-transition: all 200ms linear;
      -kthtml-transition: all 200ms linear;
      transition: all 200ms linear; }
  .setting-ranking .setting-ranking-up .setting-ranking-invitation .sri-box .srpsi-button:hover {
    background-color: black;
    border: 1px solid white;
    color: white; }
  .setting-ranking .setting-ranking-up .setting-ranking-graph {
    display: inline-block;
    width: 50%;
    text-align: center;
    margin-left: 30px; }
    .setting-ranking .setting-ranking-up .setting-ranking-graph #myCanvas {
      position: relative;
      right: 10px;
      margin-left: 30px; }
    .setting-ranking .setting-ranking-up .setting-ranking-graph h2 {
      position: relative;
      top: 10px;
      font-family: 'FreigLight';
      font-size: 28px;
      color: black; }
      .setting-ranking .setting-ranking-up .setting-ranking-graph h2 .srg-myrank {
        font-family: 'FreigSem';
        font-size: 32px; }
      .setting-ranking .setting-ranking-up .setting-ranking-graph h2 .srg-compare {
        position: relative;
        font-family: 'FreigLight';
        font-size: 21px;
        bottom: 2px; }
    .setting-ranking .setting-ranking-up .setting-ranking-graph h5 {
      font-family: 'FreigBook';
      color: #999999;
      margin-top: 10px; }
.setting-ranking .setting-ranking-down {
  text-align: center;
  padding-left: 30px;
  margin-bottom: 30px; }
  .setting-ranking .setting-ranking-down h4 {
    font-family: 'FreigBook';
    font-size: 18px;
    color: black;
    margin-bottom: 30px; }
  .setting-ranking .setting-ranking-down .srd-ul {
    display: inline-block;
    padding-right: 30px; }
  .setting-ranking .setting-ranking-down ul {
    text-align: left; }
    .setting-ranking .setting-ranking-down ul li {
      margin-bottom: 2px; }
      .setting-ranking .setting-ranking-down ul li .tooltipw {
        display: block;
        background: black;
        /*					bottom: 38px;
        					left: -7.5px;*/
        font-family: 'FreigSem';
        font-size: 13px;
        color: #fff;
        opacity: 0;
        /*					width: 80px;
        */
        padding: 3px 5px;
        border-radius: 4px;
        pointer-events: none;
        position: absolute;
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        -o-transform: translateY(10px);
        transform: translateY(10px);
        -webkit-transition: all .25s ease-out;
        -moz-transition: all .25s ease-out;
        -ms-transition: all .25s ease-out;
        -o-transition: all .25s ease-out;
        transition: all .25s ease-out;
        /*-webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
        -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
        -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
        -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
        box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);*/ }
      .setting-ranking .setting-ranking-down ul li .tooltipw:before {
        bottom: -20px;
        content: " ";
        display: block;
        height: 20px;
        left: 0;
        position: absolute; }
      .setting-ranking .setting-ranking-down ul li .tooltipw:after {
        border-left: solid transparent 6px;
        border-right: solid transparent 6px;
        border-bottom: solid black 6px;
        bottom: 24px;
        content: " ";
        height: 0;
        left: 50%;
        margin-left: -7px;
        position: absolute; }
    .setting-ranking .setting-ranking-down ul li:hover .tooltipw {
      opacity: 1;
      pointer-events: auto;
      -webkit-transform: translateY(30px);
      -moz-transform: translateY(30px);
      -ms-transform: translateY(30px);
      -o-transform: translateY(30px);
      transform: translateY(30px); }
    .setting-ranking .setting-ranking-down ul span {
      margin-right: 20px; }

@media screen and (max-width: 736px) {
  #setting-page button {
    margin-top: 20px;
    margin-bottom: 10px; }
  #setting-page .setting-filter {
    height: 160px; }
  #setting-page #setting-header {
    height: 160px; }
    #setting-page #setting-header .setting-header-title {
      display: none; }
    #setting-page #setting-header .setting-navbar {
      position: relative;
      top: 115px; }
      #setting-page #setting-header .setting-navbar .setting-navbar-list {
        text-align: center; }
        #setting-page #setting-header .setting-navbar .setting-navbar-list .setting-navbar-notif {
          display: none; }
        #setting-page #setting-header .setting-navbar .setting-navbar-list li {
          padding: 10px 30px; }
  #setting-page #setting-body .setting-box {
    padding: 15px 20px; }
  #setting-page #setting-body .sg-field {
    padding: 5px 0; }
    #setting-page #setting-body .sg-field input {
      width: 100%; }
  #setting-page #setting-body .setting-general-username span {
    margin-left: 0; }
  #setting-page #setting-body .setting-general .setting-general-firstname p,
  #setting-page #setting-body .setting-general .setting-general-lastname p,
  #setting-page #setting-body .setting-general .setting-general-email p,
  #setting-page #setting-body .setting-general .setting-general-username p {
    position: relative;
    left: 0px;
    font-family: 'FreigBook';
    color: red;
    margin-bottom: 0; }
  #setting-page #setting-body .setting-password .setting-password-current h5,
  #setting-page #setting-body .setting-password .setting-password-new h5,
  #setting-page #setting-body .setting-password .setting-password-confirm h5 {
    position: relative;
    left: 0px;
    font-family: 'FreigBook';
    color: red; }

  .setting-ranking h3 {
    line-height: 24px;
    margin-bottom: 25px; }
  .setting-ranking .setting-ranking-down {
    padding-left: 0; }
    .setting-ranking .setting-ranking-down .srd-ul {
      display: block;
      padding: 0;
      width: 260px;
      margin: 0 auto; }
    .setting-ranking .setting-ranking-down .srpsi-number {
      float: right; }
  .setting-ranking .setting-ranking-up {
    padding: 0; }
    .setting-ranking .setting-ranking-up .setting-ranking-graph-mobile {
      display: block;
      text-align: center; }
      .setting-ranking .setting-ranking-up .setting-ranking-graph-mobile h2 {
        font-family: 'FreigBook';
        color: black;
        font-size: 24px; }
    .setting-ranking .setting-ranking-up .setting-ranking-graph {
      display: none; }
    .setting-ranking .setting-ranking-up .setting-ranking-psi {
      display: block;
      width: 100%; }
      .setting-ranking .setting-ranking-up .setting-ranking-psi .setting-ranking-share {
        margin-bottom: 0; }
        .setting-ranking .setting-ranking-up .setting-ranking-psi .setting-ranking-share .fb-share {
          margin-bottom: 0; } }

/*# sourceMappingURL=setting.css.map */
