/*** SIGN UP PAGE ***/
#signup-page {
  position: relative;
  z-index: 10000;
  height: 795px;
  background-image: url("/images/poster/poster_home_signup.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  text-align: center;
  /*** BASIC PART ***/
  /*** ABOUT PART ***/
  /*** SKILL PART ***/
  /*** INTEREST PART ***/
  /*** EXPERIENCE PART ***/
  /*** EXPERIENCE MODAL PART ***/ }
  #signup-page .filter {
    position: absolute;
    height: 795px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); }
  #signup-page h1 {
    font-family: 'FreigLight';
    color: white; }
  #signup-page #signup-page-header {
    position: relative;
    padding: 0 20px;
    top: 100px; }
  #signup-page .signup-body-nav {
    border-bottom: 1px solid #e5e5e5; }
    #signup-page .signup-body-nav li {
      display: inline-block;
      font-family: 'FreigBook';
      font-size: 16px;
      padding: 15px 20px;
      color: #999999;
      cursor: pointer; }
    #signup-page .signup-body-nav li:hover {
      background-color: #fafafa; }
  #signup-page button {
    font-family: 'FreigSem';
    font-size: 17px;
    background-color: #ff4d4d;
    border: 1px solid #ff4d4d;
    border-radius: 4px;
    padding: 6px 15px 8px 15px;
    color: white; }
  #signup-page button:hover {
    border: 1px solid #d94242;
    background-color: #d94242; }
  #signup-page .disabled-button {
    opacity: 0.3;
    cursor: default; }
  #signup-page #signup-basic-body {
    position: absolute;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    max-width: 900px;
    top: 130px;
    border-radius: 4px;
    -webkit-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    -ms-animation-duration: 0.5s;
    -kthtml-animation-duration: 0.5s;
    animation-duration: 0.5s; }
    #signup-page #signup-basic-body .signup-body-info {
      padding: 25px 30px; }
      #signup-page #signup-basic-body .signup-body-info .signup-info-picture {
        display: inline-block;
        position: relative;
        width: 49%;
        padding: 0 20px 0 0;
        border-right: 1px solid #e5e5e5; }
        #signup-page #signup-basic-body .signup-body-info .signup-info-picture h1 {
          font-family: 'FreigSem';
          color: #222222; }
        #signup-page #signup-basic-body .signup-body-info .signup-info-picture .spinner-load {
          width: 200px;
          height: 200px;
          border-radius: 50%; }
          #signup-page #signup-basic-body .signup-body-info .signup-info-picture .spinner-load .spinner-item {
            width: 10px;
            height: 10px; }
        #signup-page #signup-basic-body .signup-body-info .signup-info-picture .signup-dd-picture {
          margin: 30px auto;
          border: 2px dashed #999999;
          border-radius: 50%;
          height: 200px;
          width: 200px;
          overflow: hidden;
          -webkit-transition-duration: 0.2s;
          -o-transition-duration: 0.2s;
          -moz-transition-duration: 0.2s;
          -ms-transition-duration: 0.2s;
          -kthtml-transition-duration: 0.2s;
          transition-duration: 0.2s; }
          #signup-page #signup-basic-body .signup-body-info .signup-info-picture .signup-dd-picture img {
            width: auto;
            height: 200px; }
        #signup-page #signup-basic-body .signup-body-info .signup-info-picture .signup-dd-picture:hover {
          border: 2px dashed #808080; }
        #signup-page #signup-basic-body .signup-body-info .signup-info-picture .signup-dd-picture-2 {
          margin: 30px auto;
          border-radius: 50%;
          height: 200px;
          width: 200px;
          overflow: hidden;
          background-image: url("/images/default-picture.svg");
          background-repeat: no-repeat;
          background-position: center bottom;
          background-size: 145px;
          cursor: pointer;
          -webkit-transition-duration: 0.2s;
          -o-transition-duration: 0.2s;
          -moz-transition-duration: 0.2s;
          -ms-transition-duration: 0.2s;
          -kthtml-transition-duration: 0.2s;
          transition-duration: 0.2s; }
          #signup-page #signup-basic-body .signup-body-info .signup-info-picture .signup-dd-picture-2 img {
            width: auto;
            height: 200px; }
        #signup-page #signup-basic-body .signup-body-info .signup-info-picture .signup-dd-picture-2:hover {
          border: 2px dashed #222222; }
        #signup-page #signup-basic-body .signup-body-info .signup-info-picture .signup-dd-text h4,
        #signup-page #signup-basic-body .signup-body-info .signup-info-picture .signup-dd-text-mobile h4 {
          font-family: 'FreigSem';
          font-size: 17px;
          color: #ff4d4d;
          cursor: pointer; }
        #signup-page #signup-basic-body .signup-body-info .signup-info-picture .signup-dd-text h4:hover,
        #signup-page #signup-basic-body .signup-body-info .signup-info-picture .signup-dd-text-mobile h4:hover {
          color: #D94242; }
        #signup-page #signup-basic-body .signup-body-info .signup-info-picture .signup-dd-text p,
        #signup-page #signup-basic-body .signup-body-info .signup-info-picture .signup-dd-text-mobile p {
          font-family: 'FreigBook';
          font-size: 16px;
          color: #999999; }
      #signup-page #signup-basic-body .signup-body-info .signup-info-info {
        display: inline-block;
        width: 49%;
        padding: 20px 15px 20px 25px;
        text-align: left;
        vertical-align: top; }
        #signup-page #signup-basic-body .signup-body-info .signup-info-info label {
          font-family: 'FreigSem';
          font-size: 16px;
          color: #222222;
          margin-bottom: 5px; }
        #signup-page #signup-basic-body .signup-body-info .signup-info-info .signup-info-gender {
          margin-bottom: 30px;
          height: 52px; }
          #signup-page #signup-basic-body .signup-body-info .signup-info-info .signup-info-gender h5 {
            display: inline-block;
            font-family: 'FreigBook';
            font-size: 16px;
            color: #999999;
            float: right;
            position: relative;
            top: 2px; }
          #signup-page #signup-basic-body .signup-body-info .signup-info-info .signup-info-gender .signup-radio-male {
            float: left;
            display: inline-block;
            margin-right: 20px;
            font-family: 'FreigBook';
            font-size: 17px;
            color: #999999; }
          #signup-page #signup-basic-body .signup-body-info .signup-info-info .signup-info-gender .signup-radio-female {
            display: inline-block;
            font-family: 'FreigBook';
            font-size: 17px;
            color: #999999; }
          #signup-page #signup-basic-body .signup-body-info .signup-info-info .signup-info-gender .signup-radio {
            display: inline-block;
            text-align: center;
            border-radius: 50%;
            border: 1px solid #e5e5e5;
            height: 22px;
            width: 23px;
            margin-right: 5px;
            cursor: pointer; }
            #signup-page #signup-basic-body .signup-body-info .signup-info-info .signup-info-gender .signup-radio .fa-check {
              font-weight: lighter;
              position: relative;
              bottom: 1px;
              color: #ff4d4d; }
          #signup-page #signup-basic-body .signup-body-info .signup-info-info .signup-info-gender p {
            font-family: 'FreigBook';
            font-size: 16px;
            color: #999999;
            margin-top: 5px; }
      #signup-page #signup-basic-body .signup-body-info .signup-info-bd {
        margin-bottom: 25px; }
        #signup-page #signup-basic-body .signup-body-info .signup-info-bd .signup-bd-box {
          display: inline-block; }
          #signup-page #signup-basic-body .signup-body-info .signup-info-bd .signup-bd-box .bd-box {
            padding: 10px 15px;
            border: 1px solid #e5e5e5;
            border-radius: 4px;
            background-image: url("/images/arrow-down-icon-b.svg");
            background-repeat: no-repeat;
            background-position: 92% 51%;
            cursor: pointer; }
            #signup-page #signup-basic-body .signup-body-info .signup-info-bd .signup-bd-box .bd-box h4 {
              font-family: 'FreigBook';
              font-size: 17px;
              color: #999999; }
          #signup-page #signup-basic-body .signup-body-info .signup-info-bd .signup-bd-box .signup-bd-day {
            width: 100px;
            margin-right: 5px; }
          #signup-page #signup-basic-body .signup-body-info .signup-info-bd .signup-bd-box .signup-bd-dropdown {
            display: none;
            position: absolute;
            background-color: white;
            border: 1px solid #e5e5e5;
            border-radius: 4px;
            width: 100px;
            height: 172px;
            z-index: 100;
            overflow-y: scroll;
            overflow-x: hidden;
            text-align: center; }
            #signup-page #signup-basic-body .signup-body-info .signup-info-bd .signup-bd-box .signup-bd-dropdown li {
              font-family: 'FreigBook';
              font-size: 17px;
              color: #999999;
              padding: 5px 20px;
              cursor: pointer; }
            #signup-page #signup-basic-body .signup-body-info .signup-info-bd .signup-bd-box .signup-bd-dropdown li:hover {
              background-color: #f5f5f5; }
          #signup-page #signup-basic-body .signup-body-info .signup-info-bd .signup-bd-box .signup-bd-dropdownM {
            display: none;
            position: absolute;
            background-color: white;
            border: 1px solid #e5e5e5;
            border-radius: 4px;
            width: 153px;
            height: 172px;
            z-index: 100;
            overflow: scroll;
            text-align: center; }
            #signup-page #signup-basic-body .signup-body-info .signup-info-bd .signup-bd-box .signup-bd-dropdownM li {
              font-family: 'FreigBook';
              font-size: 17px;
              color: #999999;
              padding: 5px 20px;
              cursor: pointer; }
            #signup-page #signup-basic-body .signup-body-info .signup-info-bd .signup-bd-box .signup-bd-dropdownM li:hover {
              background-color: #f5f5f5; }
          #signup-page #signup-basic-body .signup-body-info .signup-info-bd .signup-bd-box .signup-bd-month {
            width: 153px;
            margin-right: 5px; }
          #signup-page #signup-basic-body .signup-body-info .signup-info-bd .signup-bd-box .signup-bd-year {
            width: 100px; }
      #signup-page #signup-basic-body .signup-body-info .signup-info-location {
        margin-bottom: 40px; }
        #signup-page #signup-basic-body .signup-body-info .signup-info-location input {
          padding: 10px 40px;
          width: 100%;
          border: 1px solid #e5e5e5;
          border-radius: 4px;
          background-image: url("/images/location-picto.svg");
          background-repeat: no-repeat;
          background-position: 15px 50%;
          font-family: 'FreigBook';
          font-size: 17px;
          color: #222222; }
      #signup-page #signup-basic-body .signup-body-info .signup-info-button {
        text-align: center; }
  #signup-page #signup-about-body {
    position: absolute;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    max-width: 800px;
    top: 130px;
    border-radius: 4px;
    display: none;
    -webkit-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    -ms-animation-duration: 0.5s;
    -kthtml-animation-duration: 0.5s;
    animation-duration: 0.5s; }
    #signup-page #signup-about-body h4 {
      font-family: 'FreigBook';
      font-size: 18px;
      color: #222222; }
    #signup-page #signup-about-body .signup-about-status {
      padding: 25px 30px;
      text-align: left; }
      #signup-page #signup-about-body .signup-about-status .signup-status-general {
        padding: 0 15px;
        text-align: center; }
        #signup-page #signup-about-body .signup-about-status .signup-status-general .ssa {
          display: inline-block; }
          #signup-page #signup-about-body .signup-about-status .signup-status-general .ssa h1 {
            font-family: 'FreigLight';
            font-size: 36px;
            color: #222222; }
        #signup-page #signup-about-body .signup-about-status .signup-status-general .ssa2 {
          margin-left: 5px;
          cursor: pointer; }
          #signup-page #signup-about-body .signup-about-status .signup-status-general .ssa2 h1 {
            display: inline-block;
            border-bottom: 1px solid #416299;
            color: #416299; }
          #signup-page #signup-about-body .signup-about-status .signup-status-general .ssa2 img {
            display: inline-block;
            position: relative;
            margin-left: 4px;
            bottom: 3px;
            width: 15px;
            height: auto;
            -webkit-transition-duration: 0.2s;
            -o-transition-duration: 0.2s;
            -moz-transition-duration: 0.2s;
            -ms-transition-duration: 0.2s;
            -kthtml-transition-duration: 0.2s;
            transition-duration: 0.2s; }
        #signup-page #signup-about-body .signup-about-status .signup-status-general .signup-status-dropdown {
          display: inline-block; }
          #signup-page #signup-about-body .signup-about-status .signup-status-general .signup-status-dropdown .ssa2-dropdown {
            position: absolute;
            display: none;
            margin-left: 10px;
            margin-top: 4px;
            background-color: white;
            border-radius: 8px;
            box-shadow: 0px 2px 8px #e5e5e5;
            text-align: left;
            z-index: 99999; }
            #signup-page #signup-about-body .signup-about-status .signup-status-general .signup-status-dropdown .ssa2-dropdown li {
              border-radius: 4px;
              padding: 5px 20px;
              font-family: 'FreigBook';
              font-size: 18px;
              color: #999999;
              cursor: pointer; }
            #signup-page #signup-about-body .signup-about-status .signup-status-general .signup-status-dropdown .ssa2-dropdown li:hover {
              background-color: #f5f5f5; }
        #signup-page #signup-about-body .signup-about-status .signup-status-general .signup-status-area1 {
          margin-top: 15px; }
        #signup-page #signup-about-body .signup-about-status .signup-status-general .signup-status-area2 {
          margin-top: 10px; }
    #signup-page #signup-about-body .signup-about-aboutarea {
      text-align: left;
      padding: 10px 30px; }
      #signup-page #signup-about-body .signup-about-aboutarea h4 {
        margin: 0 15px; }
      #signup-page #signup-about-body .signup-about-aboutarea .signup-aboutarea-text {
        padding: 0 15px;
        margin-top: 20px; }
        #signup-page #signup-about-body .signup-about-aboutarea .signup-aboutarea-text .redactor-editor {
          padding: 10px 15px;
          border-radius: 4px;
          min-height: 150px !important;
          max-height: 300px !important; }
          #signup-page #signup-about-body .signup-about-aboutarea .signup-aboutarea-text .redactor-editor p {
            font-family: 'FreigBook';
            font-size: 16px;
            margin-bottom: 0; }
        #signup-page #signup-about-body .signup-about-aboutarea .signup-aboutarea-text .redactor-placeholder:after {
          font-family: 'FreigBook';
          font-size: 16px; }
        #signup-page #signup-about-body .signup-about-aboutarea .signup-aboutarea-text textarea {
          width: 100%;
          height: 150px;
          border: 1px solid #e5e5e5;
          border-radius: 4px;
          padding: 10px 15px;
          resize: none;
          font-family: 'FreigBook';
          font-size: 16px; }
        #signup-page #signup-about-body .signup-about-aboutarea .signup-aboutarea-text textarea:focus {
          outline: none; }
    #signup-page #signup-about-body .signup-about-button {
      padding: 10px 30px 20px 30px; }
      #signup-page #signup-about-body .signup-about-button button {
        display: inline-block; }
      #signup-page #signup-about-body .signup-about-button span {
        margin-right: 20px;
        font-family: 'FreigBook';
        font-size: 18px;
        color: #999999;
        cursor: pointer; }
  #signup-page #signup-skill-body {
    position: absolute;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    max-width: 900px;
    top: 130px;
    border-radius: 4px;
    overflow: hidden;
    display: none;
    -webkit-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    -ms-animation-duration: 0.5s;
    -kthtml-animation-duration: 0.5s;
    animation-duration: 0.5s; }
    #signup-page #signup-skill-body .signup-skill-search {
      padding: 20px 50px 20px 50px; }
      #signup-page #signup-skill-body .signup-skill-search .signup-skill-header {
        margin-bottom: 20px;
        text-align: left; }
        #signup-page #signup-skill-body .signup-skill-search .signup-skill-header h4 {
          font-family: 'FreigBook';
          font-size: 18px;
          color: #222222; }
      #signup-page #signup-skill-body .signup-skill-search .signup-skill-inSearch {
        text-align: left;
        border-top: 1px solid #e5e5e5;
        padding: 20px 0; }
        #signup-page #signup-skill-body .signup-skill-search .signup-skill-inSearch input {
          width: 710px;
          border: 1px solid #999999;
          border-radius: 4px;
          font-family: 'FreigBook';
          font-size: 16px;
          color: #222222;
          padding: 5px 45px;
          background-image: url("/images/search-icon-b.svg");
          background-repeat: no-repeat;
          background-size: 16px;
          background-position: 2% 50%; }
      #signup-page #signup-skill-body .signup-skill-search .signup-skill-select {
        padding-bottom: 10px; }
        #signup-page #signup-skill-body .signup-skill-search .signup-skill-select li {
          background-color: #222222; }
        #signup-page #signup-skill-body .signup-skill-search .signup-skill-select li:hover {
          background-color: #999999; }
        #signup-page #signup-skill-body .signup-skill-search .signup-skill-select .fa-times {
          margin-left: 5px; }
        #signup-page #signup-skill-body .signup-skill-search .signup-skill-select .fa-times:focus {
          outline: 0; }
      #signup-page #signup-skill-body .signup-skill-search .signup-skill-list {
        max-height: 240px;
        overflow: hidden; }
        #signup-page #signup-skill-body .signup-skill-search .signup-skill-list li {
          background-color: #999999; }
        #signup-page #signup-skill-body .signup-skill-search .signup-skill-list li:hover {
          background-color: #222222; }
      #signup-page #signup-skill-body .signup-skill-search .sss {
        text-align: left;
        -webkit-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        -moz-transition-duration: 0.3s;
        -ms-transition-duration: 0.3s;
        -kthtml-transition-duration: 0.3s;
        transition-duration: 0.3s; }
        #signup-page #signup-skill-body .signup-skill-search .sss li {
          display: inline-block;
          padding: 5px 10px;
          margin-right: 10px;
          margin-bottom: 10px;
          border-radius: 4px;
          text-transform: uppercase;
          cursor: pointer;
          -webkit-transition-duration: 0.3s;
          -o-transition-duration: 0.3s;
          -moz-transition-duration: 0.3s;
          -ms-transition-duration: 0.3s;
          -kthtml-transition-duration: 0.3s;
          transition-duration: 0.3s; }
          #signup-page #signup-skill-body .signup-skill-search .sss li h4 {
            font-family: 'FreigSem';
            font-size: 14px;
            color: white; }
      #signup-page #signup-skill-body .signup-skill-search .signup-skill-button {
        padding: 20px 30px 10px 30px;
        /*button {
        	display: inline-block;
        	padding: 6px 30px 8px 30px;
        }*/ }
        #signup-page #signup-skill-body .signup-skill-search .signup-skill-button span {
          margin-right: 20px;
          font-family: 'FreigBook';
          font-size: 18px;
          color: #999999;
          cursor: pointer; }
  #signup-page #signup-interest-body {
    position: absolute;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    max-width: 900px;
    top: 130px;
    border-radius: 4px;
    overflow: hidden;
    display: none;
    -webkit-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    -ms-animation-duration: 0.5s;
    -kthtml-animation-duration: 0.5s;
    animation-duration: 0.5s; }
    #signup-page #signup-interest-body .signup-interest-search {
      padding: 20px 50px 20px 50px; }
      #signup-page #signup-interest-body .signup-interest-search .signup-interest-header {
        margin-bottom: 20px;
        text-align: left; }
        #signup-page #signup-interest-body .signup-interest-search .signup-interest-header h4 {
          font-family: 'FreigBook';
          font-size: 18px;
          color: #222222; }
      #signup-page #signup-interest-body .signup-interest-search .signup-interest-inSearch {
        text-align: left;
        border-top: 1px solid #e5e5e5;
        padding: 20px 0; }
        #signup-page #signup-interest-body .signup-interest-search .signup-interest-inSearch input {
          width: 710px;
          border: 1px solid #999999;
          border-radius: 4px;
          font-family: 'FreigBook';
          font-size: 16px;
          color: #222222;
          padding: 5px 45px;
          background-image: url("/images/search-icon-b.svg");
          background-repeat: no-repeat;
          background-size: 16px;
          background-position: 2% 50%; }
      #signup-page #signup-interest-body .signup-interest-search .signup-interest-select {
        padding-bottom: 10px; }
        #signup-page #signup-interest-body .signup-interest-search .signup-interest-select li {
          background-color: #222222; }
        #signup-page #signup-interest-body .signup-interest-search .signup-interest-select li:hover {
          background-color: #999999; }
        #signup-page #signup-interest-body .signup-interest-search .signup-interest-select .fa-times {
          margin-left: 5px; }
        #signup-page #signup-interest-body .signup-interest-search .signup-interest-select .fa-times:focus {
          outline: 0; }
      #signup-page #signup-interest-body .signup-interest-search .signup-interest-list {
        max-height: 250px;
        overflow: hidden; }
        #signup-page #signup-interest-body .signup-interest-search .signup-interest-list li {
          background-color: white;
          border: 1px solid #999999; }
          #signup-page #signup-interest-body .signup-interest-search .signup-interest-list li h4 {
            color: #999999; }
        #signup-page #signup-interest-body .signup-interest-search .signup-interest-list li:hover {
          background-color: #999999; }
          #signup-page #signup-interest-body .signup-interest-search .signup-interest-list li:hover h4 {
            color: white; }
      #signup-page #signup-interest-body .signup-interest-search .sss {
        text-align: left;
        -webkit-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        -moz-transition-duration: 0.3s;
        -ms-transition-duration: 0.3s;
        -kthtml-transition-duration: 0.3s;
        transition-duration: 0.3s; }
        #signup-page #signup-interest-body .signup-interest-search .sss li {
          display: inline-block;
          padding: 5px 10px;
          margin-right: 10px;
          margin-bottom: 10px;
          border-radius: 4px;
          text-transform: uppercase;
          cursor: pointer;
          -webkit-transition-duration: 0.3s;
          -o-transition-duration: 0.3s;
          -moz-transition-duration: 0.3s;
          -ms-transition-duration: 0.3s;
          -kthtml-transition-duration: 0.3s;
          transition-duration: 0.3s; }
          #signup-page #signup-interest-body .signup-interest-search .sss li h4 {
            font-family: 'FreigSem';
            font-size: 14px; }
      #signup-page #signup-interest-body .signup-interest-search .signup-interest-button {
        padding: 20px 30px 10px 30px;
        /*				button {
        					display: inline-block;
        					padding: 6px 30px 8px 30px;
        				}*/ }
        #signup-page #signup-interest-body .signup-interest-search .signup-interest-button span {
          margin-right: 20px;
          font-family: 'FreigBook';
          font-size: 18px;
          color: #999999;
          cursor: pointer; }
  #signup-page #signup-experience-body {
    position: absolute;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    max-width: 700px;
    top: 130px;
    border-radius: 4px;
    display: none;
    z-index: 1000;
    -webkit-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    -ms-animation-duration: 0.5s;
    -kthtml-animation-duration: 0.5s;
    animation-duration: 0.5s; }
    #signup-page #signup-experience-body .signup-experience-add .signup-experience-title {
      display: inline-block;
      padding: 15px 30px;
      border-bottom: 1px solid #e5e5e5; }
      #signup-page #signup-experience-body .signup-experience-add .signup-experience-title h3 {
        font-family: 'FreigBook';
        font-size: 18px;
        color: #222222; }
    #signup-page #signup-experience-body .signup-experience-add .signup-experience-linkedin {
      margin-top: 20px; }
      #signup-page #signup-experience-body .signup-experience-add .signup-experience-linkedin button {
        background-color: #0077b5;
        border: none;
        padding: 6px 15px 10px 15px;
        width: 248px;
        height: 41px; }
        #signup-page #signup-experience-body .signup-experience-add .signup-experience-linkedin button img {
          margin-right: 8px; }
        #signup-page #signup-experience-body .signup-experience-add .signup-experience-linkedin button span {
          position: relative;
          font-family: 'FreigSem';
          top: 3px; }
        #signup-page #signup-experience-body .signup-experience-add .signup-experience-linkedin button .spinner-load {
          width: initial;
          height: initial;
          left: 46%;
          margin-top: -12px;
          background-color: transparent; }
      #signup-page #signup-experience-body .signup-experience-add .signup-experience-linkedin button:hover {
        background-color: #016da3; }
    #signup-page #signup-experience-body .signup-experience-add .signup-experience-new {
      max-width: 500px;
      margin: 20px auto 10px auto;
      padding: 15px 20px;
      border: 2px dashed #e5e5e5;
      border-radius: 5px;
      cursor: pointer;
      -webkit-transition-duration: 0.5s;
      -o-transition-duration: 0.5s;
      -moz-transition-duration: 0.5s;
      -ms-transition-duration: 0.5s;
      -kthtml-transition-duration: 0.5s;
      transition-duration: 0.5s; }
      #signup-page #signup-experience-body .signup-experience-add .signup-experience-new h4 {
        margin-bottom: 5px;
        font-family: 'FreigSem';
        font-size: 16px;
        color: #ff4d4d; }
      #signup-page #signup-experience-body .signup-experience-add .signup-experience-new .fa-plus {
        margin-right: 5px; }
      #signup-page #signup-experience-body .signup-experience-add .signup-experience-new h5 {
        font-family: 'FreigBook';
        font-size: 15px;
        color: #999999; }
    #signup-page #signup-experience-body .signup-experience-add .signup-experience-new:hover {
      border: 2px dashed #999999; }
    #signup-page #signup-experience-body .signup-experience-add .signup-main-experience {
      max-width: 500px;
      margin: 20px auto 0 auto; }
      #signup-page #signup-experience-body .signup-experience-add .signup-main-experience .signup-exp-list {
        text-align: left; }
        #signup-page #signup-experience-body .signup-experience-add .signup-main-experience .signup-exp-list .signup-exp {
          padding-bottom: 20px;
          border-bottom: 1px solid #E5E5E5; }
          #signup-page #signup-experience-body .signup-experience-add .signup-main-experience .signup-exp-list .signup-exp .signup-exp-post h3 {
            display: inline-block;
            font-family: 'FreigSem';
            color: #222222;
            font-size: 18px;
            padding-right: 8px;
            padding-top: 2px;
            padding-bottom: 2px;
            border-right: 1px solid black; }
          #signup-page #signup-experience-body .signup-experience-add .signup-main-experience .signup-exp-list .signup-exp .signup-exp-post h4 {
            display: inline-block;
            font-family: 'FreigBook';
            color: #222222;
            font-size: 18px;
            padding-left: 8px; }
          #signup-page #signup-experience-body .signup-experience-add .signup-main-experience .signup-exp-list .signup-exp .signup-exp-post .signup-exp-param {
            display: inline-block;
            float: right; }
            #signup-page #signup-experience-body .signup-experience-add .signup-main-experience .signup-exp-list .signup-exp .signup-exp-post .signup-exp-param img {
              display: inline-block;
              outline: 0; }
            #signup-page #signup-experience-body .signup-experience-add .signup-main-experience .signup-exp-list .signup-exp .signup-exp-post .signup-exp-param i {
              outline: 0; }
            #signup-page #signup-experience-body .signup-experience-add .signup-main-experience .signup-exp-list .signup-exp .signup-exp-post .signup-exp-param .fa-trash {
              position: relative;
              top: 2px;
              color: #FF6363;
              font-size: 18px; }
          #signup-page #signup-experience-body .signup-experience-add .signup-main-experience .signup-exp-list .signup-exp .signup-exp-period {
            margin-top: 3px; }
            #signup-page #signup-experience-body .signup-experience-add .signup-main-experience .signup-exp-list .signup-exp .signup-exp-period span {
              font-family: 'FreigBook';
              font-size: 14px;
              color: #999999; }
            #signup-page #signup-experience-body .signup-experience-add .signup-main-experience .signup-exp-list .signup-exp .signup-exp-period .exp-period {
              margin-right: 10px; }
            #signup-page #signup-experience-body .signup-experience-add .signup-main-experience .signup-exp-list .signup-exp .signup-exp-period .exp-location img {
              position: relative;
              bottom: 2px; }
          #signup-page #signup-experience-body .signup-experience-add .signup-main-experience .signup-exp-list .signup-exp .signup-exp-description {
            margin-top: 4px; }
            #signup-page #signup-experience-body .signup-experience-add .signup-main-experience .signup-exp-list .signup-exp .signup-exp-description p {
              font-family: 'FreigBook';
              font-size: 15px;
              color: #222222;
              margin-bottom: 0; }
            #signup-page #signup-experience-body .signup-experience-add .signup-main-experience .signup-exp-list .signup-exp .signup-exp-description a {
              color: blue; }
    #signup-page #signup-experience-body .signup-experience-add .signup-experience-button {
      padding: 0 30px 30px 30px;
      margin-top: 20px; }
      #signup-page #signup-experience-body .signup-experience-add .signup-experience-button button {
        display: inline-block;
        padding: 6px 30px 8px 30px; }
      #signup-page #signup-experience-body .signup-experience-add .signup-experience-button span {
        margin-right: 20px;
        font-family: 'FreigBook';
        font-size: 18px;
        color: #999999;
        cursor: pointer; }
  #signup-page #signup-experience-modal {
    position: absolute;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    max-width: 500px;
    top: 110px;
    border-radius: 4px;
    z-index: 100;
    display: none; }
    #signup-page #signup-experience-modal p {
      margin-top: 6px;
      font-family: 'FreigBook';
      font-size: 14px;
      color: red; }
    #signup-page #signup-experience-modal .signup-modal-title {
      background-color: #fafafa;
      text-align: left;
      padding: 15px 20px;
      border-bottom: 1px solid #e5e5e5;
      border-radius: 4px; }
      #signup-page #signup-experience-modal .signup-modal-title h3 {
        display: inline-block;
        font-family: "FreigBook";
        font-size: 18px;
        color: #222222; }
      #signup-page #signup-experience-modal .signup-modal-title img {
        display: inline-block;
        width: 16px;
        float: right;
        margin-top: 4px;
        cursor: pointer; }
    #signup-page #signup-experience-modal .signup-modal-body {
      padding: 0 20px;
      text-align: left; }
      #signup-page #signup-experience-modal .signup-modal-body label {
        font-family: "FreigSem";
        font-size: 14px;
        color: #222222; }
      #signup-page #signup-experience-modal .signup-modal-body .sminput {
        margin: 20px 0; }
        #signup-page #signup-experience-modal .signup-modal-body .sminput input {
          width: 100%;
          padding: 8px 15px;
          border: 1px solid #e5e5e5;
          border-radius: 4px;
          font-family: 'FreigBook';
          font-size: 16px;
          color: #222222; }
      #signup-page #signup-experience-modal .signup-modal-body .signup-modal-period {
        margin: 20px 0; }
        #signup-page #signup-experience-modal .signup-modal-body .signup-modal-period h4 {
          font-family: 'FreigBook';
          font-size: 17px;
          color: #999999; }
        #signup-page #signup-experience-modal .signup-modal-body .signup-modal-period .time-period .time-period-dropdown {
          display: inline-block; }
          #signup-page #signup-experience-modal .signup-modal-body .signup-modal-period .time-period .time-period-dropdown .tp-month {
            display: inline-block;
            width: 120px;
            margin-right: 10px;
            padding: 10px 15px;
            border: 1px solid #e5e5e5;
            border-radius: 4px;
            background-image: url("/images/arrow-down-icon-b.svg");
            background-repeat: no-repeat;
            background-position: 90% 51%;
            cursor: pointer; }
          #signup-page #signup-experience-modal .signup-modal-body .signup-modal-period .time-period .time-period-dropdown .time-month-dropdown {
            position: absolute;
            height: 172px;
            width: 120px;
            background-color: white;
            overflow: scroll;
            border: 1px solid #e5e5e5;
            border-radius: 4px;
            text-align: center;
            display: none;
            z-index: 99999; }
            #signup-page #signup-experience-modal .signup-modal-body .signup-modal-period .time-period .time-period-dropdown .time-month-dropdown li {
              font-family: 'FreigBook';
              font-size: 17px;
              color: #999999;
              padding: 5px 20px;
              cursor: pointer; }
            #signup-page #signup-experience-modal .signup-modal-body .signup-modal-period .time-period .time-period-dropdown .time-month-dropdown li:hover {
              background-color: #f5f5f5; }
        #signup-page #signup-experience-modal .signup-modal-body .signup-modal-period .time-period .time-period-dropdown {
          display: inline-block; }
          #signup-page #signup-experience-modal .signup-modal-body .signup-modal-period .time-period .time-period-dropdown .tp-year {
            display: inline-block;
            width: 80px;
            padding: 10px 15px;
            border: 1px solid #e5e5e5;
            border-radius: 4px;
            background-image: url("/images/arrow-down-icon-b.svg");
            background-repeat: no-repeat;
            background-position: 90% 51%;
            cursor: pointer; }
          #signup-page #signup-experience-modal .signup-modal-body .signup-modal-period .time-period .time-period-dropdown .time-year-dropdown {
            position: absolute;
            height: 172px;
            width: 80px;
            background-color: white;
            overflow: scroll;
            border: 1px solid #e5e5e5;
            border-radius: 4px;
            display: none;
            text-align: center;
            z-index: 99999; }
            #signup-page #signup-experience-modal .signup-modal-body .signup-modal-period .time-period .time-period-dropdown .time-year-dropdown li {
              font-family: 'FreigBook';
              font-size: 17px;
              color: #999999;
              padding: 5px 20px;
              cursor: pointer; }
            #signup-page #signup-experience-modal .signup-modal-body .signup-modal-period .time-period .time-period-dropdown .time-year-dropdown li:hover {
              background-color: #f5f5f5; }
        #signup-page #signup-experience-modal .signup-modal-body .signup-modal-period .time-period .tp-dash {
          display: inline-block;
          height: 4px;
          width: 12px;
          border-top: 1px solid #e5e5e5;
          margin: 0 6px; }
        #signup-page #signup-experience-modal .signup-modal-body .signup-modal-period .time-period p {
          display: inline-block; }
        #signup-page #signup-experience-modal .signup-modal-body .signup-modal-period .time-period .tp-checkbox {
          margin-top: 5px;
          float: right;
          margin-right: 60px; }
          #signup-page #signup-experience-modal .signup-modal-body .signup-modal-period .time-period .tp-checkbox input[type='checkbox'] {
            display: inline-block;
            background-color: white;
            border-radius: 4px;
            border: 1px solid #999999; }
          #signup-page #signup-experience-modal .signup-modal-body .signup-modal-period .time-period .tp-checkbox input[type='checkbox']:checked {
            background-color: black; }
          #signup-page #signup-experience-modal .signup-modal-body .signup-modal-period .time-period .tp-checkbox h5 {
            display: inline-block;
            font-family: 'FreigBook';
            font-size: 14px;
            color: #999999; }
      #signup-page #signup-experience-modal .signup-modal-body .signup-modal-description {
        margin: 30px 0; }
        #signup-page #signup-experience-modal .signup-modal-body .signup-modal-description .redactor-placeholder:after {
          font-family: 'FreigBook';
          font-size: 16px; }
        #signup-page #signup-experience-modal .signup-modal-body .signup-modal-description .redactor-editor {
          padding: 10px 15px;
          height: 120px !important; }
          #signup-page #signup-experience-modal .signup-modal-body .signup-modal-description .redactor-editor p {
            font-family: 'FreigBook';
            font-size: 16px;
            margin-bottom: 0;
            color: black;
            margin-top: 0; }
        #signup-page #signup-experience-modal .signup-modal-body .signup-modal-description textarea {
          width: 100%;
          height: 100px;
          padding: 10px 15px;
          font-family: 'FreigBook';
          font-size: 16px;
          color: #222222;
          border: 1px solid #e5e5e5;
          border-radius: 4px;
          resize: none; }
        #signup-page #signup-experience-modal .signup-modal-body .signup-modal-description textarea:focus {
          outline: 0; }
      #signup-page #signup-experience-modal .signup-modal-body .signup-modal-button {
        text-align: center;
        margin-bottom: 30px; }
        #signup-page #signup-experience-modal .signup-modal-body .signup-modal-button button {
          padding: 6px 20px 8px 20px; }

/*********************** MEDIA QUERIES MOBILE WIDTH \*320px to 736px*\ **************************/
@media only screen and (max-width: 736px) {
  #signup-page {
    height: auto;
    background-image: none;
    background-color: #fafafa; }
    #signup-page .filter {
      display: none; }
    #signup-page .signup-body-nav li {
      padding: 5px 15px; }
    #signup-page #signup-basic-body {
      position: static;
      top: 0;
      border-radius: 0;
      background-color: #fafafa; }
      #signup-page #signup-basic-body .signup-body-info {
        padding: 20px; }
        #signup-page #signup-basic-body .signup-body-info .signup-info-picture {
          display: block;
          width: 100%;
          border-right: none;
          padding: 0;
          margin-bottom: 20px; }
          #signup-page #signup-basic-body .signup-body-info .signup-info-picture .signup-dd-text p {
            display: none; }
          #signup-page #signup-basic-body .signup-body-info .signup-info-picture .spinner-load {
            width: 149px;
            height: 149px;
            border-radius: 50%; }
            #signup-page #signup-basic-body .signup-body-info .signup-info-picture .spinner-load .spinner-item {
              width: 10px;
              height: 10px; }
          #signup-page #signup-basic-body .signup-body-info .signup-info-picture .signup-dd-picture-2 {
            margin: 10px auto;
            height: 150px;
            width: 150px;
            background-size: 110px;
            background-position: center top; }
            #signup-page #signup-basic-body .signup-body-info .signup-info-picture .signup-dd-picture-2 img {
              width: auto;
              height: 150px;
              display: none; }
        #signup-page #signup-basic-body .signup-body-info .signup-info-info {
          display: block;
          width: 100%;
          padding: 0; }
          #signup-page #signup-basic-body .signup-body-info .signup-info-info label {
            margin-bottom: 10px; }
          #signup-page #signup-basic-body .signup-body-info .signup-info-info .signup-info-gender .signup-radio {
            background-color: white; }
        #signup-page #signup-basic-body .signup-body-info .signup-info-bd .signup-bd-box .signup-bd-day {
          margin-right: 10px;
          margin-bottom: 15px; }
        #signup-page #signup-basic-body .signup-body-info .signup-info-bd .bd-box {
          background-color: white; }
          #signup-page #signup-basic-body .signup-body-info .signup-info-bd .bd-box h4 {
            font-size: 16px; }
    #signup-page #signup-about-body {
      position: static;
      top: 0;
      border-radius: 0;
      background-color: #fafafa; }
      #signup-page #signup-about-body .signup-about-status {
        padding: 20px 10px; }
        #signup-page #signup-about-body .signup-about-status .signup-status-general {
          text-align: left; }
          #signup-page #signup-about-body .signup-about-status .signup-status-general .ssa h1 {
            font-size: 32px; }
          #signup-page #signup-about-body .signup-about-status .signup-status-general .ssa2 {
            margin-left: 0; }
      #signup-page #signup-about-body .signup-about-aboutarea {
        padding: 20px 10px; }
    #signup-page #signup-skill-body {
      position: static;
      top: 0;
      border-radius: 0;
      background-color: #fafafa; }
      #signup-page #signup-skill-body .signup-skill-search {
        padding: 10px 20px; }
        #signup-page #signup-skill-body .signup-skill-search .sss li {
          padding: 5px 8px; }
          #signup-page #signup-skill-body .signup-skill-search .sss li h4 {
            font-size: 13px; }
        #signup-page #signup-skill-body .signup-skill-search .signup-skill-header {
          margin-bottom: 10px; }
        #signup-page #signup-skill-body .signup-skill-search .signup-skill-select li {
          margin-right: 5px;
          margin-bottom: 5px; }
        #signup-page #signup-skill-body .signup-skill-search .signup-skill-inSearch {
          padding: 15px 15px 15px 0; }
          #signup-page #signup-skill-body .signup-skill-search .signup-skill-inSearch input {
            width: 89%;
            padding-left: 80px;
            padding-right: 10px;
            background-position: 5% 50%; }
        #signup-page #signup-skill-body .signup-skill-search .signup-skill-list {
          overflow-y: scroll;
          overflow-x: hidden;
          -webkit-overflow-scrolling: touch; }
          #signup-page #signup-skill-body .signup-skill-search .signup-skill-list li {
            margin-right: 5px;
            margin-bottom: 5px; }
        #signup-page #signup-skill-body .signup-skill-search .signup-skill-button span {
          display: inline-block; }
    #signup-page #signup-interest-body {
      position: static;
      top: 0;
      border-radius: 0;
      background-color: #fafafa; }
      #signup-page #signup-interest-body .signup-interest-search {
        padding: 10px 20px; }
        #signup-page #signup-interest-body .signup-interest-search .sss li {
          padding: 5px 8px; }
          #signup-page #signup-interest-body .signup-interest-search .sss li h4 {
            font-size: 13px; }
        #signup-page #signup-interest-body .signup-interest-search .signup-interest-header {
          margin-bottom: 10px; }
        #signup-page #signup-interest-body .signup-interest-search .signup-interest-select li {
          margin-right: 5px;
          margin-bottom: 5px; }
        #signup-page #signup-interest-body .signup-interest-search .signup-interest-inSearch {
          padding: 15px 15px 15px 0; }
          #signup-page #signup-interest-body .signup-interest-search .signup-interest-inSearch input {
            width: 89%;
            padding-left: 80px;
            padding-right: 10px;
            background-position: 5% 50%; }
        #signup-page #signup-interest-body .signup-interest-search .signup-interest-list {
          overflow-y: scroll;
          overflow-x: hidden;
          -webkit-overflow-scrolling: touch; }
          #signup-page #signup-interest-body .signup-interest-search .signup-interest-list li {
            margin-right: 5px;
            margin-bottom: 5px; }
        #signup-page #signup-interest-body .signup-interest-search .signup-interest-button span {
          display: inline-block; }
    #signup-page #signup-experience-body {
      position: static;
      top: 0;
      border-radius: 0;
      background-color: #fafafa; }
      #signup-page #signup-experience-body .signup-experience-add .signup-experience-title {
        padding: 20px 20px 10px 20px; }
      #signup-page #signup-experience-body .signup-experience-add .signup-main-experience {
        padding: 0px 20px; }
        #signup-page #signup-experience-body .signup-experience-add .signup-main-experience .signup-exp-list .signup-exp .signup-exp-post h3 {
          border-right: 0; }
    #signup-page #signup-experience-modal {
      position: static;
      top: 0;
      border-radius: 0;
      -webkit-animation-duration: 0.2s;
      -o-animation-duration: 0.2s;
      -moz-animation-duration: 0.2s;
      -ms-animation-duration: 0.2s;
      -webkit-transform: translateZ(0);
      -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
      -o-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-perspective: 1000;
      -moz-perspective: 1000;
      -ms-perspective: 1000;
      -o-perspective: 1000;
      perspective: 1000;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
      -o-backface-visibility: hidden;
      backface-visibility: hidden; }
      #signup-page #signup-experience-modal .signup-modal-title {
        padding: 10px 20px; }
      #signup-page #signup-experience-modal .signup-modal-body .sminput {
        margin: 15px 0; }
      #signup-page #signup-experience-modal .signup-modal-body .signup-modal-period .time-period .time-period-dropdown {
        margin-bottom: 10px; }
      #signup-page #signup-experience-modal .signup-modal-body .signup-modal-period .time-period .tp-checkbox {
        margin: 0; }
      #signup-page #signup-experience-modal .signup-modal-body .signup-modal-description {
        margin-bottom: 10px; }
      #signup-page #signup-experience-modal .signup-modal-body .signup-modal-button {
        margin-bottom: 0;
        padding-bottom: 20px; } }
@media only screen and (max-width: 667px) {
  #signup-page #signup-skill-body .signup-skill-search .signup-skill-inSearch input {
    width: 90%;
    padding-left: 65px; }
  #signup-page #signup-interest-body .signup-interest-search .signup-interest-inSearch input {
    width: 90%;
    padding-left: 65px; } }
@media only screen and (max-width: 640px) {
  #signup-page #signup-skill-body .signup-skill-search .signup-skill-inSearch input {
    width: 90%;
    padding-left: 60px; }
  #signup-page #signup-interest-body .signup-interest-search .signup-interest-inSearch input {
    width: 90%;
    padding-left: 60px; } }
@media only screen and (max-width: 480px) {
  #signup-page #signup-skill-body .signup-skill-search .signup-skill-inSearch input {
    width: 87%;
    padding-left: 55px; }
  #signup-page #signup-interest-body .signup-interest-search .signup-interest-inSearch input {
    width: 87%;
    padding-left: 55px; } }
@media only screen and (max-width: 375px) {
  #signup-page #signup-skill-body .signup-skill-search .signup-skill-inSearch input {
    width: 87%;
    padding-left: 45px; }
  #signup-page #signup-interest-body .signup-interest-search .signup-interest-inSearch input {
    width: 87%;
    padding-left: 45px; } }
@media only screen and (max-width: 360px) {
  #signup-page #signup-skill-body .signup-skill-search .signup-skill-inSearch input {
    width: 87%;
    padding-left: 45px; }
  #signup-page #signup-interest-body .signup-interest-search .signup-interest-inSearch input {
    width: 87%;
    padding-left: 45px; } }
@media only screen and (max-width: 320px) {
  #signup-page #signup-skill-body .signup-skill-search .signup-skill-inSearch input {
    width: 87%;
    padding-left: 35px; }
  #signup-page #signup-interest-body .signup-interest-search .signup-interest-inSearch input {
    width: 87%;
    padding-left: 35px; } }

/*# sourceMappingURL=signup.css.map */
