<section id="viewProject-page" >
	<div project-message-modal></div>
	<header id="viewProject-header" data-ng-style="{'background-image': 'url(' + resizePic(vm.project.picture, 1200, 410) + ')', 'background-position': vm.project.picture_position}">
		<div class="viewProject-filter"></div>
		<div class="viewProject-title">
			<div class="viewProject-title-info">
				<h1 data-ng-bind="::vm.project.title"></h1>
				<h4 data-ng-bind="::vm.project.description"></h4>
			</div>
			<div class="viewProject-info">
				<li class="stickers-icon">
					<img src="/images/stickers-icon-white.png" alt="icon-category">
					<h5 data-ng-bind="::vm.category.name"></h5>
				</li>
				<li class="location-icon">
					<img src="/images/location-picto-w.svg" alt="icon-location">
					<h5 data-ng-bind="(vm.project.location_city) + ', ' + (vm.project.location_country)"></h5>
				</li>
				<li class="user-icon" style="margin-bottom: 20px; margin-right: 0">
					<h5 ng-repeat="network in vm.project.networks" style="margin-right: 10px">#{{network.network | removeSpace}}</h5>
				</li>
				<li class="ng-cloak">
					<h5><span data-ng-bind="vm.project.status"></span> by 

						<img data-ng-click="vm.goToProfile(vm.project.creator_user_id)" class="img-circle" height="30px" width="30px" data-ng-src="{{vm.project.user.profile_picture}}">

						<img data-ng-click="vm.goToProfile(user.user_id)" class="img-circle" height="30px" width="30px" data-ng-repeat="user in vm.involved_users" data-ng-src="{{user.profile_picture}}" />

					</h5>
				</li>
			</div>
			<div class="viewProject-mobile-options">
				<button id="editButton" type="submit" ui-sref="updateproject.basics({public_id: vm.project.public_id})" data-ng-if="vm.editable || editable || moderator"><img src="images/picto-edit-w.svg"  alt="edit-picto" /> Edit</button>
					<div class="project-vote" data-ng-if="!vm.editable && editable === false" ng-click="vm.voteProjectCard(vm.project.public_id)">
						<img ng-if="!vm.followCheck" class="project-vote-image" src="/images/Upvote_Icon_w.svg" />
						<img ng-if="vm.followCheck" class="project-vote-image" src="/images/Upvote_Icon.svg" />
						<span ng-bind="vm.followNumber"></span>
					</div>
			</div>
		</div>
		<div class="viewProject-bottom">
			<div class="viewProject-nav">
				<ul class="viewProject-category">
					<li data-ui-sref="viewproject({public_id: vm.project.public_id, title: vm.encodeUrl(vm.project.title)})">About</li>
					<li data-ui-sref=".feedback">Feedback <div class="circle_number" data-ng-bind="vm.discussions.length" data-ng-if="vm.discussions.length"></div></li>
					<li class="last-li" data-ui-sref=".openings">Get involved <div class="circle_number" data-ng-bind="vm.openings.length" data-ng-if="vm.openings.length > 0"></div></li>
				</ul>

				<ul class="viewProject-option">
					<li id="shareSocial" class="shareSocialProject">Share
						<div id="iconSS" style="z-index: 1; display: none" class="icon-share-social" ng-controller="PopUpCtrl">
							<ul>
								<li ng-click="facebookShare(vm.project.title, vm.currentUrl, vm.project.picture, vm.project.description)"><i class="fa fa-facebook"></i><span>Share on Facebook</span></li>
								<a ng-href="https://twitter.com/intent/tweet?text={{vm.project.title}} is now live on @wittycircle, where the world meets entrepreneurs&hashtags={{vm.project.title}} {{vm.currentShortUrl}}"><li>
						  <i class="fa fa-twitter"></i><span>Share on Twitter</span></li></a>
							</ul>
							<!-- <div class="icon-share">
								<span class="fa-stack fa-lg"
								socialshare
								socialshare-provider="facebook"
								socialshare-text="{{vm.project.title}}"
								socialshare-hashtags="wittycircle, projects"
								socialshare-url="{{::vm.currentUrl}}"
								socialshare-description="{{vm.project.description}}"
								socialshare-media="{{ resizePic(vm.project.picture, 450, 300)}}"
								socialshare-via="487284094736758"
								socialshare-display="popup"
								socialshare-source="https://www.wittycircle.com"
								socialshare-type="feed">
								  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
								</span>Share on Facebook
							</div>
							<div class="icon-share">
								<span class="fa-stack fa-lg"
								socialshare
								socialshare-provider="twitter"
								socialshare-url="{{::vm.currentShortUrl}}"
								socialshare-text="{{vm.project.title}} is now live on @Wittycircle, Where the world meets entrepreneurs"
								socialshare-hashtags="{{vm.project.title}}, meet, entrepreneurs"
								socialshare-trigger="click"
								socialshare-popup-height="400"
								socialshare-popup-width="800">
									<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
								Share on Twitter</span>
							</div> -->
						</div>
					</li>
					<li id="pnm" data-ng-if="!vm.editable || vm.editable" data-ng-click="vm.goToMessage(vm.project.creator_user_id)">Contact</li>
					<!-- <li id="sharer">
						Share
						<div class="icon-share animated ">
								<span class="fa-stack fa-lg"
								socialshare
								socialshare-provider="facebook"
								socialshare-text="{{vm.project.title}}"
								socialshare-hashtags="wittycircle, projects"
								socialshare-url="{{::vm.currentUrl}}"
								socialshare-description="{{vm.project.description}}"
								socialshare-media="{{ resizePic(vm.project.picture, 450, 300)}}"
								socialshare-via="487284094736758"
								socialshare-ref="wittycircle, project, creator, marketplace"
								socialshare-display="popup"
								socialshare-source="https://www.wittycircle.com"
								socialshare-type="feed">
								  <i class="fa fa-circle fa-stack-1x"></i>
								  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
								</span>
								<span class="fa-stack fa-lg"
								socialshare
								socialshare-provider="twitter"
								socialshare-url="{{::vm.currentUrl}}"
								socialshare-text="{{vm.project.title}} is now live on @Wittycircle, the creators marketplace."
								socialshare-hashtags="{{vm.project.title}}, projects, creators"
								socialshare-trigger="click"
								socialshare-popup-height="400"
								socialshare-popup-width="800">
									<i class="fa fa-circle fa-circle-twitter fa-stack-1x"></i>
									<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
								</span>
						</div>
					</li> -->
					<button id="editButton" type="submit" ui-sref="updateproject.basics({public_id: vm.project.public_id})" data-ng-if="vm.editable || editable || moderator"><img src="images/picto-edit-w.svg"  alt="edit-picto" /> Edit</button>
					<!-- <button type="submit" data-ng-if="vm.loggedUser && !vm.editable && editable === false" data-ng-click="vm.followProject()"><span><i data-ng-if="vm.followText === 'Follow'" class="fa fa-plus"></i><i data-ng-if="vm.followText !== 'Follow'" class="fa fa-check"></i></span>{{vm.followText}}</button> -->
					<div class="project-vote" data-ng-if="!vm.editable && editable === false" ng-click="vm.voteProjectCard(vm.project.public_id)">
						<div ng-if="!vm.followCheck" class="tooltipw">Upvotes help us to rank projects.</div>
						<img ng-if="!vm.followCheck" class="project-vote-image" src="/images/Upvote_Icon_w.svg" />
						<img ng-if="vm.followCheck" class="project-vote-image" src="/images/Upvote_Icon.svg" />
						<span ng-bind="vm.followNumber"></span>
					</div>
					<!-- <button type="submit" data-ng-if="!vm.loggedUser" ng-click="vm.showbottomAl($event)"><span><i class="fa fa-plus"></i></span>Follow</button> -->
				</ul>
			</div>
		</div>
	</header>

	<div ui-view>
	  <link rel="stylesheet" href="https://vjs.zencdn.net/5.10.7/video-js.css" />
		<div class="project-post-container">
		  <!-- <div class="project-contributor-show" ng-if="projectContributor.length">
                                <h4>Contributors: </h4>
                                <ul>
                                        <li ng-repeat="contribut in projectContributor"><a ng-href="{{contribut.username}}"><img ng-src="{{contribut.profile_picture}}" /></a></li>
                                </ul>
                        </div> -->
			<div ng-if="!vm.project.post && !vm.config.sources" class="project-post-nodetail">
				<h2>No more details yet.</h2>
			</div>
			<div class="project-post-video">
				<!-- <videogular vg-theme="vm.config.theme.url" class="video_custom animated fadeIn" ng-if="vm.config.sources">
					<vg-media vg-src="vm.config.sources" class="animated fadeIn">
					</vg-media>
					<vg-controls ng-if="itsOk == 3" vg-autohide="vm.config.plugins.controls.autoHide" vg-autohide-time="vm.config.plugins.controls.autoHideTime">
							<vg-play-pause-button></vg-play-pause-button>
							<vg-time-display>{{ currentTime | date:'mm:ss':'+0000' }}</vg-time-display>
							<vg-scrub-bar>
								<vg-scrub-bar-current-time></vg-scrub-bar-current-time>
							</vg-scrub-bar>
							<vg-time-display>{{ totalTime | date:'mm:ss':'+0000' }}</vg-time-display>
							<vg-volume>
								<vg-mute-button></vg-mute-button>
								<vg-volume-bar></vg-volume-bar>
							</vg-volume>
							<vg-fullscreen-button></vg-fullscreen-button>
					</vg-controls>
					<vg-overlay-play ng-click="itsOk = 3"></vg-overlay-play>
					<vg-poster vg-url='vm.config.plugins.poster'></vg-poster>
				</videogular> -->

				<video id="my-video" class="video-js" data-setup='{ "controls": true, "autoplay": true, "preload": "auto" }' poster="{{vm.config.plugins.poster}}" ng-if="vm.config.sources">
					<source src="{{vm.config.sources}}" type='video/mp4' />
<!-- 					<source src="MY_VIDEO.webm" type='video/webm'>
 -->					<p class="vjs-no-js">
						<a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
					</p>
				</video>
			</div>
			<div class="project-post-box">
				<div class="custom-project-post" ng-bind-html="vm.project.post">
				</div>
			</div>
		</div>
		<script src="https://vjs.zencdn.net/5.10.8/video.js"></script>
	</div>
<script>
	   // function changeEditPictoB() {
	   // 		$("#editButton").find('img').attr("src", '/images/picto-edit-vb.svg');
	   // };
	   // function changeEditPictoW() {
	   // 		$("#editButton").find('img').attr("src", '/images/picto-edit-w.svg');
	   // };

		$(document).ready(function() {
			document.getElementById('footer-page').style.visibility = "visible";
			$(this).click(function(e) {

				if ($('#project-modal-newMessageArea').css('display') === "none") {
					var target = e.target.id;
							                       
					if (target === "pnm" || target === "pnmn") {
						$('#project-modal-newMessageArea').fadeIn(100);
						return ;
					}
				}

				if (e.target.id === "shareSocial") {
					if ($('#iconSS').css('display') === "none") {
						$('#iconSS').fadeIn(200);
					} else
						$('#iconSS').fadeOut(200);
				} else 
					$('#iconSS').fadeOut(200);
			});
		});
</script>
</section>
