<section id="feedback_project">
  <div class="pdt-tp-bt-75">
    <div  class="container-custom-project mgr-bt-40">
      <div class="row mgr-bt-20">
        <div class="col-md-8">
          <h3 class="subtitle-feedbacks">The team is currently looking for </h3>
        </div>
        <div class="col-md-4">
          <a class="link_top pull-right" data-ng-if="vm.editable" data-ui-sref="updateproject.needs({public_id: vm.project.public_id})"><i class="fa fa-plus"></i> Add/Delete a need</a>
        </div>
      </div>

      <div class="row" >
        <div class="cards_openings col-md-3" ng-repeat="open in vm.openings">
          <div class="discover-body-card project-card cards_openings_body animated fadeIn">
            <div class="card-tag">
              <div class="card-tag-content title_needs_cards">
                <span data-ng-if="open.status === 'Teammate' || open.status === 'Mentor'">A</span> <span data-ng-bind="open.status"></span> <span class="muted" data-ng-if="open.status === 'Teammate' || open.status == 'Mentor'">skilled in<br></span> <span class="muted" data-ng-if="open.status != 'Teammate' && open.status != 'Mentor'"> in<br></span> <span data-ng-bind="open.skill"></span>
              </div>
            </div>
            <div class="card-picture" data-ng-style="{'background-image': 'url(' + vm.project.picture_card + ')'}">
            <div class="filter_needs_cards">
            </div>
            </div>
            <div class="card-info card-info-needs">
              <div class="card-description-text">
                <p class="text_cards_needs">{{open.description}}</p>
              </div>
              <div class="need_tags" data-ng-if="open.taggs != false">
                <span class="tag_text" data-ng-repeat="tag in open.taggs" ng-bind="tag"></span>
              </div>
            </div>
            <div class="cards_openings_footer" data-ng-if="!vm.editable || vm.editable === false">
              <div class="row">
                <div class="col-md-12 text-center">
                  <div class="col-md-1">
                  </div>
                  <div class="col-md-2 no_padding">
                      <img class="img_footer" src="images/mailbox-icon-b-2.svg" alt="mailbox-icon">
                  </div>
                  <div class="col-md-8 no_padding">
                    <p id="pnmn" class="footer_text pull-left" data-ng-click="vm.goToMessage(vm.project.creator_user_id)">
                      Contact the team
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div data-ng-if="vm.openings.length === 0">
          <div class="no_feedbacks center-block" ng-if="vm.editable && vm.editable === true">
            <h4 class="text-center title_no_comments">Haven't created a need yet ?</h4>
            <p class="text-center text_no_comments">
              Needs will be displayed here.
            </p>
            <button class="text-center button_post_comment center-block" ui-sref="updateproject.needs({public_id: vm.project.public_id})">Add a need</button>
          </div>
        </div>

      </div>


    </div>
  </div>
</section>
