<div id="form-project-1" >
    <div class="container-fluid container-custom-project">
        <div class="row pdt-tp update-project-story" ng-init='uploadVideo()'>
            <div class="col-md-3">
                <h5>Project video</h5>
                <p>
                    <b>Optional, but highly recommended.</b> <br />
                    Projects with video get a lot more attention.
                </p>
            </div>
            <div class="col-md-9 update-project-video">
                <input id="file" type="file" name="file" ng-model="file" class="cloudinary_fileupload" />
                <label ng-class="{ 'drop-box-cover-video': !config.sources }" for="file">
                    <div class="video-text" ng-if="!config.sources">
                        <h5><i class="fa fa-cloud-upload"></i> Upload a video</h5>
                        <p>
                            100 Mb max, AVI, MPEG or MP4 format
                        </p>
                        <span ng-bind="status"></span>
                    </div>
                </label>
                <!-- <videogular ng-if="videoproject || project.main_video" vg-theme="config.theme.url" class="video_custom animated fadeIn">
                    <vg-media vg-src="config.sources" class="animated fadeIn">
                    </vg-media>


                    <vg-controls ng-if="itsOk == 3" vg-autohide="config.plugins.controls.autoHide" vg-autohide-time="config.plugins.controls.autoHideTime">
                        <vg-play-pause-button></vg-play-pause-button>
                        <vg-time-display>{{ currentTime | date:'mm:ss':'+0000' }}</vg-time-display>
                        <vg-scrub-bar>
                            <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                        </vg-scrub-bar>
                        <vg-time-display>{{ totalTime | date:'mm:ss':'+0000' }}</vg-time-display>
                        <vg-volume>
                            <vg-mute-button></vg-mute-button>
                            <vg-volume-bar></vg-volume-bar>
                        </vg-volume>
                        <vg-fullscreen-button></vg-fullscreen-button>
                    </vg-controls>
                    <vg-overlay-play ng-click="itsOk = 3"></vg-overlay-play>
                    <vg-poster class="video-poster-update" vg-url='config.plugins.poster'></vg-poster>
                </videogular> -->
                <div class="video-project" ng-if="config.sources">
                <video id="my-video" class="video-js" controls="true" preload="auto" data-setup={} poster="{{config.video_poster}}">
                    <source src="{{config.sources | trustUrl}}" type='video/mp4' />
<!--                    <source src="{{config.sources}}" type='video/mov'>
 -->                    <p class="vjs-no-js">
                        <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                    </p>
                </video>
            </div>
            <div ng-if="config.sources" style="text-align:center; margin-top: 20px;">
                <p class="text_delete" style="display: inline; margin-right: 20px;" data-ng-click="uploadPoster()">
                    Update video poster <i class="fa fa-picture-o"></i>
                </p>
                <p class="text_delete" style="display: inline;" ng-click="deleteVideo()">
                    Delete <i class="fa fa-trash-o"></i>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid container-custom-project">
    <div class="row pdt-tp update-project-story">
        <div class="col-md-3">
            <h5>Story</h5>
            <p>
                You will find here a suggestion of structure but feel free to adapt it to your project.
            </p>
        </div>
        <div class="col-md-9">
            <textarea ng-model="project.post" redactor></textarea>
        </div>
    </div>
</div>


<!--redactor="{buttons: ['formatting', '|', 'bold', 'italic', 'unorderedlist', 'outdent', 'indent', 'link', 'horizontalerule', 'image']
,plugins: [imagemanager]
}" cols="30" rows="60""-->
