<div id="mobile-modals">
    <section id="hsfmobile" data-ng-controller="HeaderCtrl">
        <div class="home-searchHeader-mobile">
    	   <div id="scmobile" class="searchCrossMobile"></div>
    	   <input class="home-searchField-mobile" type="search" placeholder="Search for projects and people..." ng-model="searchNameM" />
        </div>
    	<div class="home-findField-mobile">
    		<div class="home-find-list animated fadeIn" ng-repeat="resultHit in resultHits | limitTo : limitM" >

    			<a ng-if="resultHit.title && resultHit.project_visibility" class="result-project" ng-href="/project/{{ resultHit.public_id }}/{{ encodeUrl(resultHit.title) }}" onclick="getBack('hsf')">
    				<div class="home-findProject-picture" ng-style="{'background-image': 'url({{ resizePic(resultHit.picture_card, 60, 60, 'fill') }})'}"></div>
    				<div class="home-findProject-content">
    		            <div class="home-findProject-title">
    		                <h3>{{resultHit.title}}</h3>
    		            </div>
    		            <div class='home-findProject-tag'>
    		                <img src="https://res.cloudinary.com/dqpkpmrgk/image/upload/v1457892593/tag-icon_ruk5r2.png" alt="tag-icon" />
    		                <h4>{{resultHit.category_name}}</h4>
    		            </div>
    		        </div>
    		    </a>

    		    <div ng-if="!resultHit.title" class="result-people" onclick="getBack('hsf')" ng-click="goToProfile(resultHit.id)">
    		        <div class="home-findPeople-picture" ng-style="{'background-image': 'url({{ resizePic(resultHit.profile_picture_icon, 60, 60, 'fill') }})'}"></div>
    	            <div class="home-findPeople-content">
    	                <div class="home-findPeople-name">
    	                    <h4>{{resultHit.first_name}} {{resultHit.last_name}}</h4>
    	                </div>
    	                <div class="home-findPeople-location">
    	                    <h6>{{resultHit.location_city}}<i ng-hide="!resultHit.location_country">,</i> {{resultHit.location_country}}</h6>
    	                </div>
    	            </div>
    	        </div>

    	    </div>
    	    <div ng-if="resultHits.length > 5" class="home-find-showmore-mobile">
    	    	<button type="submit" ng-click="moreMobile()">Show more</button>
    	    </div>
    	</div>
    </section>


    <section id="hmmobile" data-ng-controller="HeaderCtrl">
    	<div class="header-dropdown-head">
            <h4 onclick="BackTo('mail')">Back</h4>
            <img id="newmnm" src="/images/write-icon-g.svg" alt="new message" />
        </div>
        <div id="hddownlistm" class="header-dropdown-lists">
            <div ng-if="!dialogues.length" class="header-noMessage-text">
                <p>No message yet</p>
            </div>
            <div class="header-dropdown-list" ng-click="showMessageMobile(dialogue)" class='mnd-all' ng-class="{ 'unread-active' : !dialogue.read && dialogue.sender != currentUsername }" ng-repeat="dialogue in dialogues track by $index">
                <div class="header-list-picture">
                    <img ng-if="dialogue.pic" ng-src="{{ resizePic(dialogue.pic, 48, 48, 'fill') }}" alt="header-message-avatar">
                </div>
                <div class="header-list-message">
                    <h4>{{dialogue.to_username}}</h4>
                    <p>{{dialogue.last_message}}</p>
                    <span>{{dialogue.date}}</span>
                </div>
            </div>
        </div>

        <div class="header-message-footer-mobile" ng-click="showMessagePageMobile()">
            <h4>See all messages</h4>
        </div>
    </section>


    <section id="hnmobile" data-ng-controller="HeaderCtrl">
    	<div class="header-dropdown-head">
            <h4 onclick="BackTo()">Back</h4>
            <h5 id="hmaar" ng-click="getAllRead()">Mark As All Read <i ng-if="checkRead" class="fa fa-check"></i></h5>
        </div>
        <div class="header-dropdown-lists">
            <div ng-if="!listNotifs.length" class="header-noNotif-text">
                <p>Nothing happened yet</p>
            </div>
            <div class="header-dropdown-list" href="" onclick="getBack()" ng-click="showUserProfile(listNotif.user_notif_id, listNotif.user_followed_id, listNotif.type_notif, listNotif.project_id, listNotif.n_read)" ng-repeat="listNotif in listNotifs" ng-class="{ 'unread-active' : !listNotif.n_read }">
                <div class="header-list-picture">
                    <img ng-src="{{ resizePic(listNotif.pic, 48, 48, 'fill') }}" alt="header-notif-avatar">
                </div>
                <div class="header-list-message">
                    <h4>{{listNotif.user_notif_username}}</h4>
                    <h5 ng-if="listNotif.type_notif === 'u_follow'">is now following you.</h5>
                    <h5 ng-if="listNotif.type_notif === 'view'">viewed your profile.</h5>
                    <h5 ng-if="listNotif.type_notif === 'p_follow'">followed <strong>{{listNotif.project_title}}</strong></h5>
                    <h5 ng-if="listNotif.type_notif === 'p_user_follow'">followed <strong>{{listNotif.project_title}}</strong> </h5>
                    <h5 ng-if="listNotif.type_notif === 'u_user_follow'">is now following <strong>{{listNotif.user_followed_name}}</strong></h5>
                    <h5 ng-if="listNotif.type_notif === 'p_involve'">invited you to join <strong>{{listNotif.project_title}}</strong></h5>
                    <h5 class="hlmspan" ng-if="listNotif.type_notif === 'p_discuss'">asked a question about <strong>{{listNotif.project_title}}</strong></h5>
                    <h5 class="hlmspan" ng-if="listNotif.type_notif === 'p_discuss_reply'">commented on <strong>{{listNotif.project_title}}</strong> question</h5>
                    <p>{{listNotif.date_of_view}}<p>
                </div>
            </div>
        </div>
    </section>

    <script>
        /*** MOBILE MODAL ***/
        var body        = document.body;

        $(document).ready(function(){
            var scmobile    = $('#scmobile'),
                nmcmobile   = $('#nmcmobile'),
                ncmobile    = $('#ncmobile'),
                hsfmobile   = $('#hsfmobile'),
                hmmobile    = $('#hmmobile'),
                hnmobile    = $('#hnmobile'),
                hseeallmm   = $('#hseeallmm'),
                newmnm      = $('#newmnm');

            //* Search modal
            scmobile.on('click', function() {
                $('#body-section').show();
                hsfmobile.hide();
            });

            //* Mail Modal  
            nmcmobile.on('click', function() {
                $('#body-section').show();
                hmmobile.hide();
            });

            //* Notif Modal 
            ncmobile.on('click', function() {
                $('#body-section').show();
                hnmobile.hide();
            });

            //* New message
            newmnm.on('click', function() {
                console.log("OJ");
                console.log($('.new-messages-modal-mobile'));
                $('#nmmmobile').show();
                hmmobile.hide();
            });


            $('#hddownlistm').click(function() {
                classie.remove( document.getElementById('messages-body-messages-mobile'), 'left-to-right-message');
                classie.add( document.getElementById('messages-body-messages-mobile'), 'right-to-left-message');
                $('#messages-body-messages-mobile').show();
                hmmobile.hide();
            });

        });

        function BackTo(value) {
            $('#body-section').show();
            if (value === "mail")
                $('#hmmobile').hide();
            else
                $('#hnmobile').hide();

            classie.toggle( body, 'body-push-right' );
            setTimeout(function() {
                classie.toggle( body, 'body-push-right' );
            }, 200)
        };

        function getBack(value) {
            $('#body-section').show();
            if (value === "hsf") 
                $('#hsfmobile').hide();
            else
                $('#hnmobile').hide();
        };
    </script>
</div>
