<section id="message-modal-mobile">
	<section id="nmmmobile" class="new-messages-modal-mobile animated fadeIn">
		<div class="new-messages-modal-header">
			<div class="closeMessage"><img src="/images/cross-icon.svg" /></div>
		</div>

		<div class="new-messages-search-mobile">
			<input type="search" placeholder="Search a username" ng-model="searchNameM">
		</div>

		<div id="mprofilef" class="messages-users-mobile-found">
			<div ng-if="checkId != profile.id" class="messages-newpost-user" ng-repeat="profile in profiles | filter : searchNameM | limitTo : 20" ng-click="showMessage(profile)">
				<div class="messages-newpost-puser">
					<img ng-src="{{ profile.profile[0].profile_picture}}" alt="witty-userpicture">
					<div class="messages-newpost-iuser">
						<h3>{{profile.profile[0].first_name}} {{profile.profile[0].last_name}}</h3>
						<h5 >{{profile.profile[0].location_city}}<span ng-if="profile.profile[0].location_country">,</span> {{profile.profile[0].location_country}}</h5>
					</div>
				</div>
			</div>
		</div>
		<div class="messages-newpost-footer">
			<img src="/images/witty-logo-icon-b.svg">
		</div>
	</section>

	<section id="messages-body-messages-mobile">
		<div id="mbom" class="messages-body-option-mobile">
			<div class="messages-backTo-mobile">
				<h3><i class="fa fa-chevron-left"></i> All conversations</h3>
			</div>
			<div class="messages-option-action-mobile">
				<a href="">Actions</a>
				<span><img src="/images/arrow-down-icon-b.svg"></span>
			</div>
		</div>

		<div class="messages-body-conversation-mobile">
			<div class="messages-body-textos">
				<div class="messages-cb-texto" ng-repeat="message in $parent.messages ">
					<div class="messages-texto-picture">
						<img ng-if="my_id === message.from_user_id" ng-src="{{profile_my_picture}}">
						<img ng-if="my_id !== message.from_user_id" ng-src="{{profile_user_picture}}">
					</div>
					<div class="messages-texto">
						<div class="messages-texto-name">
							<h4>{{message.from_username}}</h4>
						</div>
						<div class="messages-texto-text">
							<div ng-bind-html="transformHtml(message.message)"></div>
							<span>{{message.creation_date}}</span>
						</div>
					</div>
				</div>

				<div class="messages-cb-texto" ng-repeat="liveMessage in $parent.liveMessages track by $index">
					<div class="messages-texto-picture">
						<img ng-src="{{liveMessage.from_picture}}">
					</div>
					<div class="messages-texto">
						<div class="messages-texto-name">
							<h4>{{liveMessage.from_username}}</h4>
						</div>
						<div class="messages-texto-text">
							<div ng-bind-html="transformHtml(liveMessage.message)"></div>
							<span>{{liveMessage.date}}</span>
						</div>
					</div>
				</div>

				<div class="messages-cb-texto" ng-repeat="offMessage in $parent.offMessages track by $index">
					<div class="messages-texto-picture">
						<img ng-src="{{offMessage.from_picture}}">
					</div>
					<div class="messages-texto">
						<div class="messages-texto-name">
							<h4>{{offMessage.from_username}}</h4>
						</div>
						<div class="messages-texto-text">
							<div ng-bind-html="transformHtml(offMessage.message)"></div>
							<span>{{offMessage.date}</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="messages-conversation-textarea">
			<div class="textarea-box">
				<textarea placeholder="Reply to {{$parent.name}}..." ng-keyup="keyPress($event.keyCode, $parent.username, $parent.nameuser)" ng-model="socket.message"></textarea>
			</div>
			<div id="textbtn" class="textarea-button">
				<button type="submit" ng-click="socket($parent.username, $parent.nameuser)">Send</button>
			</div>
		</div>
	</section>

	<script>
		$(document).ready(function() {
			var mif 			= $('#mprofilef'),
				nmmmobile 		= $('#nmmmobile'),
				nmmwmobile 		= $('#nmmwmobile'),
				hmmobile 		= $('#hmmobile'),
				messagesScroll 	= $('.messages-body-conversation-mobile'),
				currentUrl 		= window.location.href,
				mbmm 			= document.getElementById('messages-body-messages-mobile'),
				closeMessage 	= $('.closeMessage');

			closeMessage.click(function() {
				$('#body-section').show()
				$('.new-messages-modal-mobile').hide();
			});

			$('#mbom').on('click', function() {
				classie.remove( mbmm, 'right-to-left-message');
				classie.add( mbmm, 'left-to-right-message');
				if (currentUrl.indexOf('messages'))
					$('#body-section').show();
				else
					$('#hmmobile').show();
			});

			$('#mprofilef').click(function() {
				classie.remove( mbmm, 'left-to-right-message');
				classie.add( mbmm, 'right-to-left-message');
				$('#messages-body-messages-mobile').show()
				nmmmobile.hide();
			});
		});
	</script>
</section>
