<div class="password-body-setting">
	<form method="POST"> 
	<span ng-if="password">
		<div class='row'>
			<div class="col-md-2 col-md-offset-2">
				<label>Current password</label>
			</div>
			<div class="col-md-8">
				<input type="password" ng-model="newPass.currentPass" style="width: 70%;"/><br />
			</div>
		</div>
	</span>
		<div class='row'>
			<div class="col-md-2 col-md-offset-2">
				<label>New password</label>
			</div>
			<div class="col-md-8">
				<input type="password" placeholder="Minimum 8 characters" ng-model="newPass.password" style="width: 70%;"/><br />
			</div>
		</div>
		<div class='row'>
			<div class="col-md-2 col-md-offset-2">
				<label >Confirm new password</label>
			</div>
			<div class="col-md-8">
				<input type="password" placeholder="Must match your new password" ng-model="
				newPass.confirmPass" style="width: 70%; margin-bottom: 0;"/><br />
			</div>
		</div>
		<div class='container password-button'>
			<button type="submit" ng-click="passwordUpdate()">Save new password</button>
		</div>
	</form>
</div>