<section id="messages-modals">

	<article id="messages-modal-newMessageArea" class="animated fadeIn" style="display: none;">
			<div class="messages-newMessageArea-to">
				<label>To : </label>
				<h5>{{newMessageArea.first_name}} {{newMessageArea.last_name}}</h5>
			</div>
			<div class="messages-newMessageArea-text">
				<textarea id="header-m-texa" ng-model="newMessageArea.message" placeholder="Write a message..." redactor></textarea>
			</div>
			<div class="messages-newMessageArea-send">
				<button type="submit" ng-click="createNewMessage(true)">Send</button>
			</div>
		</article>
	<div id="messages-newpost-modal" class="messages-newpost" style="display: none">
		<div class="messages-modal-header">
			<div class="messages-modal-title">
				<h3>New message</h3>
			</div>
			<div class="messages-modal-cross" alt="witty-crosspicture">
				<img id="mmcimg" src="/images/cross-icon.svg">
			</div>
		</div>
		<article id="messages-modal-searchArea" style="display: block;">
			<div class="messages-newpost-search">
				<input id="mmoinput" type="search" placeholder="Search a username" ng-model="searchName">
			</div>
			<div id="mmolist" class="messages-newpost-users">
				<div ng-if="checkId != profile.profile[0].id" class="messages-newpost-user" ng-repeat="profile in profiles | filter : searchName | limitTo : 5" ng-click="searchArea(profile.profile[0], profile.id, profile.username)">
					<div class="messages-newpost-puser">
						<img ng-src="{{ resizePic(profile.profile[0].profile_picture, 60, 60, 'fill') }}" alt="witty-userpicture">
						<div class="messages-newpost-iuser">
							<h3>{{profile.profile[0].first_name}} {{profile.profile[0].last_name}}</h3>
							<h5 >{{profile.profile[0].location_city}} <span ng-if="profile.profile[0].location_country">,</span> {{profile.profile[0].location_country}}</h5>
						</div>
					</div>
				</div>
			</div>
			<div class="messages-newpost-footer">
				<img src="/images/witty-logo-icon-b.svg">
			</div>
		</article>
	</div>
	<div id="messages-confirmDelete-modal" class="messages-confirmDelete" style="display: none;">
		<div id="mcdm" class="messages-modal-header">
			<div id="mcdm" class="messages-modal-title">
				<h3 id="mcdm" >Delete conversation</h3>
			</div>
			<div class="messages-modal-cross" alt="witty-crosspicture">
				<img src="/images/cross-icon.svg">
			</div>
		</div>
		<div id="mcdm" class="messages-cd-body">
			<div id="mcdm" class="messages-cd-text">
				<h5 id="mcdm">Are you sure you want to delete this conversation ? <br />
					This action cannot be undone.
				</h5>
			</div>
			<div id="mcdm" class="messages-cd-button">
				<p>Cancel</p>
				<button type="submit" ng-click="deleteMessage()">Yes, delete it</button>
			</div>
		</div>
	</div>
</section>
<script>
		$(document).ready(function() {
			$('body').on('click', function(e) {

					if ($('#messages-newpost-modal').css('display') === "block" && e.target.id != "hnmmopen") {
						var container = $('#messages-newpost-modal')

		               	if (!container.is(e.target) && container.has(e.target).length === 0) {
		               		if ($('#header-m-texa').val()) {
			               		var r = confirm("You haven't finished your message yet. Do you want to leave without finishing?");
			               		if (r == true) {
				               		$('#messages-newpost-modal').hide();
				               		$('#messages-modal-newMessageArea').hide();
				               		$('#header-m-texa').val("");
				               	}
				            } else {
				            	$('#messages-newpost-modal').hide();
				               	$('#messages-modal-newMessageArea').hide();
				            }
		               	}
	            	}

	            	if ($('#messages-modal-newMessageArea').css('display') === "block") {
	            		if (!$('#messages-modal-newMessageArea').is(e.target) && $('#messages-modal-newMessageArea').has(e.target).length === 0 && !$('#messages-modal-searchArea').is(e.target) && $('#messages-modal-searchArea').has(e.target).length === 0) {
	            			$('#messages-modal-newMessageArea').hide();
	            		}
	            	}

	            	if (e.target.id === "mmcimg") {
	               		$('#messages-modal-searchArea').hide();
	               		$('#messages-newpost-modal').hide();
	               	}
			});

			$("#messages-newpost-modal").on('click', function(e) {
				var eTarget = e.target.id;

				if (eTarget === "mhop" && document.getElementById('mobox')) {
					document.getElementById('mobox').style.display = "block";
					document.getElementById('mhop-i').style.transform = "rotate(180deg)";
				} else {
					if (document.getElementById('mobox')) {
						document.getElementById('mobox').style.display = "none";
						document.getElementById('mhop-i').style.transform = "rotate(0)";
					}
				}

				/*** section messaging modal ***/

               	var container = $('#mmolist');
				if (container.is(e.target) || container.has(e.target).length > 0) {
					$('#messages-modal-searchArea').hide();
					$('#messages-modal-newMessageArea').show();
					$('#messages-newpost-modal').hide();
				}


                  // confirm delete modal
                  if (eTarget === 'mcdm' || eTarget === 'mcdc' && document.getElementById('messages-confirmDelete-modal')) {
                  	document.getElementById('messages-confirmDelete-modal').style.display = "block";
                  } else {
                  	if (document.getElementById('messages-confirmDelete-modal'))
                  		document.getElementById('messages-confirmDelete-modal').style.display = "none";
                  }
              });

		});

		// function showUserList() {
		// 	var x = document.getElementById('mmoinput').value;

		// 	if (x) {
		// 		document.getElementById('mmolist').style.display = "block";
		// 		document.getElementById('messages-modals').style.top = "15%";
		// 		document.getElementsByClassName('messages-newpost-search')[0].style.padding = "30px 20px 5px 20px";
		// 	} else {
		// 		document.getElementById('mmolist').style.display = "none";
		// 		document.getElementById('messages-modals').style.top = "30%";
		// 		document.getElementsByClassName('messages-newpost-search')[0].style.padding = "30px 20px 30px 20px";
		// 	}
		// }

		// function showNewMessageArea() {
		// 	document.getElementById('messages-modal-searchArea').style.display = "none";
		// 	document.getElementById('messages-modal-newMessageArea').style.display = "block";
		// }
	</script>