<section id="bfooter-1">
	<div class="bf-filter"></div>
	<div class="bf-info">
		<div class="bf-component bf-network">
			<h4>Meet our community</h4>
			<h6>We gather on the same place entrepreneurs, designers, developers, creators, artists, product lovers, engineers and many more. Need a helping hand for your project? Go have a look.</h6>
			<button class="bf-button" href data-ui-sref="meet">Meet our community</button>
		</div>
		<div class="bf-component bf-projects">
			<h4>Explore our projects</h4>
			<h6>Our projects all need feedback, visibility and skilled teammates to grow. They can be products, services, hardware, software, cool startups or simple ideas. They are waiting for your help.</h6>
			<button class="bf-button" href data-ui-sref="discover">Explore our projects</button>
		</div>
		<div class="bf-component bf-work" ng-controller="HeaderCtrl">
			<h4>Start a project</h4>
			<h6>Create a project page to explain what you are doing and why. Add your project details, post your needs, ask for feedback and we will promote your project to the people that could help you.</h6>
			<button ng-click="bfGoToStart()">Start a project</button>
		</div>
	</div>
</section>
