
<div class="bf-filter"></div>
<section id="bfooter-1">
	<div class="bf-info">
		<div class="bf-component bf-network">
			<h4>Explore, everyday</h4>
			<h6>Inspiration can sometimes give a decisive impulse. Browse projects from the simple idea to the red hot startup in the category that best fits your interests.</h6>
			<button class="bf-button" href data-ui-sref="meet">Meet</button>
		</div>
		<div class="bf-component bf-projects">
			<h4>Enlarge your network</h4>
			<h6>Alone we can do so little, together we can do so much. Get access to entrepreneurs, creators, designers, developers, product lovers and many more.</h6>
			<button class="bf-button" href data-ui-sref="discover">Discover</button>
		</div>
		<div class="bf-component bf-work" ng-controller="HeaderCtrl">
			<h4>Start something</h4>
			<h6>Showcase your idea and share your needs & challengers to our community. Why are you still reading? You should already be remaking the world.</h6>
			<button ng-click="bfGoToStart()">Start</button>
		</div>
	</div>
</section>